Repository magma/magma, pull requests merged in 2020-08, with the labels that each got.

#2142 [NMS] Small refactor in lte dashboard
  nms/app/fbcnms-projects/magmalte/app/components/DashboardAlertTable.js
  nms/app/fbcnms-projects/magmalte/app/components/lte/LteDashboard.js
  nms/app/fbcnms-projects/magmalte/app/views/equipment/EquipmentEnodeb.js
  nms/app/fbcnms-projects/magmalte/app/views/equipment/EquipmentGateway.js
  nms/app/fbcnms-projects/magmalte/app/views/subscriber/SubscriberOverview.js
Labels: component: nms

#2100 [orc8r][sev_fix][migration_required] Add default APN configurator migration
  orc8r/cloud/go/services/state/indexer/reindex/reindexer.go
  orc8r/cloud/go/tools/migrations/datastore_to_blobstore.go
  orc8r/cloud/go/tools/migrations/m005_certifier_to_blobstore/main.go
  orc8r/cloud/go/tools/migrations/m008_accessd_to_blobstore/main.go
  orc8r/cloud/go/tools/migrations/m009_directoryd_to_blobstore/main.go
  orc8r/cloud/go/tools/migrations/m010_default_apns/main.go
  orc8r/cloud/go/tools/migrations/m010_default_apns/types/apn.go
  orc8r/cloud/go/tools/migrations/sql_operations.go
Labels: breaking change, component: orc8r

#2098 [NMS] Event component improvements
  nms/app/fbcnms-packages/fbcnms-magma-api/__generated__/MagmaAPIBindings.js
  nms/app/fbcnms-packages/fbcnms-magma-api/bin/generateAPIFromSwagger.sh
  nms/app/fbcnms-projects/magmalte/app/components/ActionTable.js
  nms/app/fbcnms-projects/magmalte/app/components/lte/LteDashboard.js
  nms/app/fbcnms-projects/magmalte/app/views/equipment/GatewayDetailMain.js
  nms/app/fbcnms-projects/magmalte/app/views/events/EventChart.js
  nms/app/fbcnms-projects/magmalte/app/views/events/EventsTable.js
  nms/app/fbcnms-projects/magmalte/app/views/subscriber/SubscriberDetail.js
  nms/app/fbcnms-projects/magmalte/package.json
  nms/app/yarn.lock
Labels: component: nms

#2126 [NMS] Add gateway upgrade component changes
  nms/app/fbcnms-projects/magmalte/app/components/context/GatewayTierContext.js
  nms/app/fbcnms-projects/magmalte/app/views/equipment/EquipmentDashboard.js
  nms/app/fbcnms-projects/magmalte/app/views/equipment/EquipmentGateway.js
  nms/app/fbcnms-projects/magmalte/app/views/equipment/UpgradeTiersDialog.js
Labels: component: nms

#2118 [docs][proposal] Scaled Prometheus Pipeline
  docs/proposals/scaled-prometheus-pipeline/currentMetricsPipeline.png
  docs/proposals/scaled-prometheus-pipeline/image.png
  docs/proposals/scaled-prometheus-pipeline/proposedMetricsPipeline.png
  docs/proposals/scaled-prometheus-pipeline/scaled-prometheus-pipeline.md
Labels: type: proposal

#2127 [orc8r][service_registry] Add GetAnnotationFields method to simplify retrieving strings annotations
  cwf/cloud/go/go.mod
  cwf/cloud/go/go.sum
  cwf/gateway/go.sum
  cwf/k8s/cwf_operator/go.sum
  devmand/cloud/go/go.sum
  fbinternal/cloud/go/go.mod
  fbinternal/cloud/go/go.sum
  feg/cloud/go/go.sum
  feg/gateway/go.mod
  feg/gateway/go.sum
  lte/cloud/go/go.mod
  lte/cloud/go/go.sum
  lte/cloud/go/services/lte/test_init/test_service_init.go
  orc8r/cloud/go/go.mod
  orc8r/cloud/go/go.sum
  orc8r/cloud/go/obsidian/reverse_proxy/reverse_proxy.go
  orc8r/cloud/go/orc8r/const.go
  orc8r/cloud/go/services/state/indexer/registry.go
  orc8r/cloud/go/services/state/test_init/test_indexer_servicer.go
  orc8r/cloud/go/services/streamer/providers/registry.go
  orc8r/gateway/go/go.sum
  orc8r/lib/go/go.mod
  orc8r/lib/go/go.sum
  orc8r/lib/go/registry/global_registry.go
  orc8r/lib/go/registry/registry.go
  orc8r/lib/go/registry/registry_test.go
  wifi/cloud/go/go.mod
  wifi/cloud/go/go.sum
Labels: component: orc8r

#2207 [NMS] Add ability to add network from network selector
  nms/app/fbcnms-projects/magmalte/app/components/NetworkSelector.js
  nms/app/fbcnms-projects/magmalte/app/views/network/NetworkEdit.js
  nms/app/fbcnms-projects/magmalte/app/views/network/NetworkInfo.js
Labels: component: nms

#2169 [lte] Add per-APN static IP configuration to subscribers on API
  cwf/cloud/go/go.sum
  cwf/gateway/go.sum
  fbinternal/cloud/go/go.sum
  fbinternal/cloud/go/services/testcontroller/statemachines/enodebd.go
  fbinternal/cloud/go/services/testcontroller/statemachines/enodebd_test.go
  feg/cloud/go/go.sum
  feg/gateway/go.sum
  lte/cloud/go/go.sum
  lte/cloud/go/plugin/plugin.go
  lte/cloud/go/services/lte/servicers/provider_servicer_test.go
  lte/cloud/go/services/subscriberdb/obsidian/handlers/handlers.go
  lte/cloud/go/services/subscriberdb/obsidian/handlers/handlers_test.go
  lte/cloud/go/services/subscriberdb/obsidian/models/conversion.go
  lte/cloud/go/services/subscriberdb/obsidian/models/mutable_subscriber_swaggergen.go
  lte/cloud/go/services/subscriberdb/obsidian/models/subscriber_config_swaggergen.go
  lte/cloud/go/services/subscriberdb/obsidian/models/subscriber_static_ips_swaggergen.go
  lte/cloud/go/services/subscriberdb/obsidian/models/subscriber_swaggergen.go
  lte/cloud/go/services/subscriberdb/obsidian/models/swagger.v1.yml
  lte/cloud/go/services/subscriberdb/obsidian/models/validate.go
  lte/cloud/go/services/subscriberdb/streamer/providers.go
  lte/cloud/go/services/subscriberdb/streamer/providers_test.go
  lte/cloud/go/tools/migrations/m011_subscriber_config/main.go
  orc8r/cloud/go/tools/migrations/sql_operations.go
Labels: breaking change

#2166 [PolicyDB][FeG][SessionProxy] Migrate CreateSessionRequest to use bundled rat specific fields
  cwf/gateway/go.sum
  feg/gateway/go.sum
  feg/gateway/services/session_proxy/servicers/credits.go
  feg/gateway/services/session_proxy/servicers/multiple_session_controller.go
  feg/gateway/services/session_proxy/servicers/policy.go
  feg/gateway/services/session_proxy/servicers/session_controller.go
  feg/gateway/services/session_proxy/servicers/session_controller_test.go
  lte/cloud/go/protos/session_manager.pb.go
  lte/gateway/c/session_manager/LocalSessionManagerHandler.cpp
  lte/gateway/c/session_manager/test/test_session_manager_handler.cpp
  lte/gateway/c/session_manager/test/test_sessiond_integ.cpp
  lte/gateway/python/magma/policydb/servicers/session_servicer.py
  lte/gateway/python/magma/policydb/tests/test_session_servicer.py
  lte/protos/session_manager.proto
Labels: breaking change

#2241 [NMS][minor] Fix metric label used for querying subscriber usage
  nms/app/packages/magmalte/app/views/subscriber/SubscriberDetail.js
Labels: component: nms

#2232 [NMS] Minor fixes in Gateway overview page
  nms/app/packages/magmalte/app/views/equipment/EquipmentEnodeb.js
  nms/app/packages/magmalte/app/views/equipment/EquipmentGateway.js
  nms/app/packages/magmalte/app/views/equipment/GatewayDetailEnodebs.js
  nms/app/packages/magmalte/app/views/subscriber/SubscriberOverview.js
Labels: component: nms

#2224 Refactored CardTitleRow into single component
  nms/app/packages/magmalte/app/components/ActionTable.js
  nms/app/packages/magmalte/app/components/DashboardAlertTable.js
  nms/app/packages/magmalte/app/components/DashboardKPIs.js
  nms/app/packages/magmalte/app/components/DateTimeMetricChart.js
  nms/app/packages/magmalte/app/components/layout/CardTitleRow.js
  nms/app/packages/magmalte/app/views/equipment/EnodebDetailConfig.js
  nms/app/packages/magmalte/app/views/equipment/EnodebDetailMain.js
  nms/app/packages/magmalte/app/views/equipment/EquipmentGateway.js
  nms/app/packages/magmalte/app/views/equipment/GatewayCheckinChart.js
  nms/app/packages/magmalte/app/views/equipment/GatewayDetailConfig.js
  nms/app/packages/magmalte/app/views/equipment/GatewayDetailMain.js
  nms/app/packages/magmalte/app/views/equipment/GatewayLogs.js
  nms/app/packages/magmalte/app/views/events/EventsTable.js
  nms/app/packages/magmalte/app/views/network/NetworkDashboard.js
  nms/app/packages/magmalte/app/views/subscriber/SubscriberDetail.js
  nms/app/packages/magmalte/app/views/subscriber/SubscriberDetailConfig.js
  nms/app/packages/magmalte/app/views/subscriber/SubscriberOverview.js
  nms/app/yarn.lock
Labels: component: nms

#2231 [orc8r][docs] Document the api.* endpoint in orc8r deploy doc
  docs/readmes/orc8r/deploy_install.md
Labels: accept2ship

#2253 [NMS] Add reboot button to gateway detail component
  nms/app/packages/magmalte/app/state/EquipmentState.js
  nms/app/packages/magmalte/app/views/equipment/GatewayDetailMain.js
Labels: component: nms

#2204 [SessionD] Fix terminate handling logic to be per-session not IMSI
  lte/gateway/c/session_manager/EnumToString.cpp
  lte/gateway/c/session_manager/EnumToString.h
  lte/gateway/c/session_manager/LocalEnforcer.cpp
  lte/gateway/c/session_manager/LocalEnforcer.h
  lte/gateway/c/session_manager/LocalSessionManagerHandler.cpp
  lte/gateway/c/session_manager/ServiceAction.h
  lte/gateway/c/session_manager/SessionState.cpp
  lte/gateway/c/session_manager/test/test_local_enforcer.cpp
Labels: component: agw

#2226 Began a quick-start guide for NMS dev
  docs/readmes/nms/developer.md
Labels: component: nms

#2279 [orc8r][docs] Add context for installing pinned release
  docs/readmes/orc8r/deploy_install.md
  docs/readmes/orc8r/deploy_intro.md
Labels: accept2ship, component: orc8r

#2245 [SessionD] Fix potential redirect flow install bug + light weight refactor on sessiond_main
  lte/gateway/c/session_manager/LocalEnforcer.cpp
  lte/gateway/c/session_manager/LocalEnforcer.h
  lte/gateway/c/session_manager/RedisStoreClient.cpp
  lte/gateway/c/session_manager/sessiond_main.cpp
Labels: bug-fix, component: agw

#2198 [SessionD] Migrate reads of non-RAT specific session context from CommonSessionContext
  lte/gateway/c/session_manager/AAAClient.cpp
  lte/gateway/c/session_manager/LocalEnforcer.cpp
  lte/gateway/c/session_manager/LocalSessionManagerHandler.cpp
  lte/gateway/c/session_manager/SessionEvents.cpp
  lte/gateway/c/session_manager/SessionState.cpp
  lte/gateway/c/session_manager/StoredState.cpp
  lte/gateway/c/session_manager/StoredState.h
  lte/gateway/c/session_manager/test/ProtobufCreators.cpp
  lte/gateway/c/session_manager/test/ProtobufCreators.h
  lte/gateway/c/session_manager/test/SessionStateTester.h
  lte/gateway/c/session_manager/test/test_local_enforcer.cpp
  lte/gateway/c/session_manager/test/test_local_enforcer_wallet_exhaust.cpp
  lte/gateway/c/session_manager/test/test_proxy_responder_handler.cpp
  lte/gateway/c/session_manager/test/test_session_manager_handler.cpp
  lte/gateway/c/session_manager/test/test_session_store.cpp
  lte/gateway/c/session_manager/test/test_store_client.cpp
  lte/gateway/c/session_manager/test/test_stored_state.cpp
Labels: component: agw

#2238 [SessionD] Deprecate lte specific configuration to use the new bundled fields
  lte/gateway/c/session_manager/LocalEnforcer.cpp
  lte/gateway/c/session_manager/LocalSessionManagerHandler.cpp
  lte/gateway/c/session_manager/SessionState.cpp
  lte/gateway/c/session_manager/StoredState.cpp
  lte/gateway/c/session_manager/StoredState.h
  lte/gateway/c/session_manager/test/ProtobufCreators.cpp
  lte/gateway/c/session_manager/test/ProtobufCreators.h
  lte/gateway/c/session_manager/test/SessionStateTester.h
  lte/gateway/c/session_manager/test/test_local_enforcer.cpp
  lte/gateway/c/session_manager/test/test_proxy_responder_handler.cpp
  lte/gateway/c/session_manager/test/test_session_manager_handler.cpp
  lte/gateway/c/session_manager/test/test_session_store.cpp
  lte/gateway/c/session_manager/test/test_store_client.cpp
  lte/gateway/c/session_manager/test/test_stored_state.cpp
Labels: component: agw

#2252 [feg] Add GxGy disable and Charging for Omnipresent rules
  cwf/gateway/integ_tests/gateway.mconfig
  cwf/gateway/integ_tests/gateway.mconfig.idle_timer
  cwf/gateway/integ_tests/gateway.mconfig.multi_session_proxy
  cwf/gateway/integ_tests/gy_enforcement_test.go
  cwf/gateway/integ_tests/omni_rules_test.go
  feg/cloud/go/plugin/mconfig.go
  feg/cloud/go/plugin/mconfig_test.go
  feg/cloud/go/protos/mconfig/mconfigs.pb.go
  feg/cloud/go/services/controller/protos/defaults.go
  feg/cloud/go/services/controller/protos/feg_config.pb.go
  feg/cloud/go/services/controller/protos/feg_config.proto
  feg/cloud/go/services/controller/test_utils/defaults.go
  feg/cloud/go/services/feg/obsidian/models/gx_swaggergen.go
  feg/cloud/go/services/feg/obsidian/models/gy_swaggergen.go
  feg/cloud/go/services/feg/obsidian/models/swagger.v1.yml
  feg/gateway/mconfig_test/mconfig_test.go
  feg/gateway/services/s6a_proxy/test_init/test_service_init.go
  feg/gateway/services/session_proxy/credit_control/gx/config.go
  feg/gateway/services/session_proxy/credit_control/gx/gx_client.go
  feg/gateway/services/session_proxy/credit_control/gx/model_conversion.go
  feg/gateway/services/session_proxy/credit_control/gy/config.go
  feg/gateway/services/session_proxy/credit_control/gy/gy_client.go
  feg/gateway/services/session_proxy/metrics/metrics.go
  feg/gateway/services/session_proxy/servicers/policy.go
  feg/gateway/services/session_proxy/servicers/session_controller.go
  feg/gateway/services/session_proxy/servicers/session_controller_test.go
  feg/gateway/services/session_proxy/session_proxy/main.go
  feg/protos/mconfig/mconfigs.proto
Labels: component: feg, type: enhancement

#2289 [MME] Include bearer_id as part of the LTESessionContext sent to SessionD
  lte/gateway/c/oai/lib/pcef/pcef_handlers.cpp
Labels: accept2ship, bug-fix, component: agw

#2239 [SessionD] Deprecate core session id from SessionState
  lte/gateway/c/session_manager/LocalEnforcer.cpp
  lte/gateway/c/session_manager/SessionState.cpp
  lte/gateway/c/session_manager/SessionState.h
  lte/gateway/c/session_manager/StoredState.cpp
  lte/gateway/c/session_manager/StoredState.h
  lte/gateway/c/session_manager/test/SessionStateTester.h
  lte/gateway/c/session_manager/test/test_local_enforcer.cpp
  lte/gateway/c/session_manager/test/test_proxy_responder_handler.cpp
  lte/gateway/c/session_manager/test/test_session_store.cpp
  lte/gateway/c/session_manager/test/test_store_client.cpp
  lte/gateway/c/session_manager/test/test_stored_state.cpp
Labels: accept2ship, component: agw

#2291 xwfm - remove app from docker-compose services
  xwf/docker/docker-compose.override.yml
  xwf/docker/docker-compose.yml
Labels: component: ci

#2309 [NMS] NMS lte section cleanup
  nms/app/packages/magmalte/app/components/layout/__tests__/useSections-test.js
  nms/app/packages/magmalte/app/components/layout/useSections.js
  nms/app/packages/magmalte/app/components/lte/LteMetrics.js
  nms/app/packages/magmalte/app/components/lte/LteSections.js
  nms/app/packages/magmalte/package.json
  nms/app/yarn.lock
Labels: component: nms

#2321 [NMS] Fix the AsyncMetric chart colors
  nms/app/packages/magmalte/app/components/DateTimeMetricChart.js
  nms/app/packages/magmalte/app/components/EventAlertChart.js
  nms/app/packages/magmalte/package.json
Labels: component: nms

#2102 [docs][proposal] Magma QoS Policy and Federation API Cleanup
  docs/proposals/policy-feg-api-cleanup/qos_enforcement.md
Labels: type: proposal

#2007 [docs] Adding proposal for VPN configuration from API
  docs/docusaurus/sidebars.json
  docs/readmes/proposals/vpn_config_from_api.md
Labels: type: proposal

#2288 [SessionD] Deprecate WLAN specific SessionConfig fields and migrate to using the RatSpecific bundled fields
  lte/gateway/c/session_manager/AAAClient.cpp
  lte/gateway/c/session_manager/ChargingGrant.cpp
  lte/gateway/c/session_manager/LocalEnforcer.cpp
  lte/gateway/c/session_manager/LocalSessionManagerHandler.cpp
  lte/gateway/c/session_manager/LocalSessionManagerHandler.h
  lte/gateway/c/session_manager/SessionEvents.cpp
  lte/gateway/c/session_manager/SessionEvents.h
  lte/gateway/c/session_manager/SessionState.cpp
  lte/gateway/c/session_manager/StoredState.cpp
  lte/gateway/c/session_manager/StoredState.h
  lte/gateway/c/session_manager/test/ProtobufCreators.cpp
  lte/gateway/c/session_manager/test/ProtobufCreators.h
  lte/gateway/c/session_manager/test/SessiondMocks.h
  lte/gateway/c/session_manager/test/test_local_enforcer.cpp
  lte/gateway/c/session_manager/test/test_local_enforcer_wallet_exhaust.cpp
  lte/gateway/c/session_manager/test/test_proxy_responder_handler.cpp
  lte/gateway/c/session_manager/test/test_session_manager_handler.cpp
  lte/gateway/c/session_manager/test/test_session_store.cpp
  lte/gateway/c/session_manager/test/test_sessiond_integ.cpp
  lte/gateway/c/session_manager/test/test_store_client.cpp
  lte/gateway/c/session_manager/test/test_stored_state.cpp
Labels: component: agw

#2338 [NMS] Add custom line chart to custom metrics
  nms/app/packages/magmalte/app/components/CustomMetrics.js
  nms/app/packages/magmalte/app/components/EventAlertChart.js
  nms/app/packages/magmalte/app/components/__tests__/EventAlertChartTest.js
  nms/app/packages/magmalte/app/views/equipment/GatewayLogChart.js
  nms/app/packages/magmalte/app/views/equipment/GatewayLogs.js
  nms/app/packages/magmalte/app/views/equipment/__tests__/GatewayLogsTest.js
  nms/app/packages/magmalte/app/views/events/EventChart.js
  nms/app/packages/magmalte/app/views/events/EventsTable.js
Labels: component: nms

#2360 [DOCS] update discord -> slack channel
  README.md
Labels: component: docs, easy

#2339 [agw] Add systemd commands for stateless sctpd
  lte/gateway/deploy/roles/magma/files/config_stateless_agw.sh
  lte/gateway/deploy/roles/magma/files/config_stateless_sctpd.sh
Labels: component: agw

#2315 [SessionD] Add AggregatedMaximumBitrate to ActivateFlowsRequest
  lte/cloud/go/protos/pipelined.pb.go
  lte/gateway/c/session_manager/LocalEnforcer.cpp
  lte/gateway/c/session_manager/LocalEnforcer.h
  lte/gateway/c/session_manager/PipelinedClient.cpp
  lte/gateway/c/session_manager/PipelinedClient.h
  lte/gateway/c/session_manager/ServiceAction.h
  lte/gateway/c/session_manager/SessionState.cpp
  lte/gateway/c/session_manager/SessionState.h
  lte/gateway/c/session_manager/StoredState.cpp
  lte/gateway/c/session_manager/StoredState.h
  lte/gateway/c/session_manager/test/CMakeLists.txt
  lte/gateway/c/session_manager/test/Matchers.h
  lte/gateway/c/session_manager/test/SessiondMocks.h
  lte/gateway/c/session_manager/test/test_local_enforcer.cpp
  lte/gateway/c/session_manager/test/test_proxy_responder_handler.cpp
  lte/protos/pipelined.proto
Labels: component: agw

#2332 [orc8r][easy] Clarify LTE's configurator entity graph
  fbinternal/cloud/go/services/testcontroller/statemachines/enodebd.go
  fbinternal/cloud/go/services/testcontroller/statemachines/enodebd_test.go
  feg/cloud/go/services/feg/obsidian/handlers/handlers_test.go
  feg/cloud/go/services/feg/obsidian/models/conversion.go
  lte/cloud/go/lte/const.go
  lte/cloud/go/plugin/plugin.go
  lte/cloud/go/services/lte/obsidian/handlers/handlers.go
  lte/cloud/go/services/lte/obsidian/handlers/handlers_test.go
  lte/cloud/go/services/lte/obsidian/models/conversion.go
  lte/cloud/go/services/lte/servicers/builder_servicer.go
  lte/cloud/go/services/lte/servicers/builder_servicer_test.go
  lte/cloud/go/services/lte/servicers/provider_servicer_test.go
  lte/cloud/go/services/policydb/servicers/assignments_test.go
  lte/cloud/go/services/subscriberdb/obsidian/handlers/handlers.go
  lte/cloud/go/services/subscriberdb/obsidian/handlers/handlers_test.go
  lte/cloud/go/services/subscriberdb/obsidian/models/conversion.go
  lte/cloud/go/services/subscriberdb/streamer/providers.go
  lte/cloud/go/services/subscriberdb/streamer/providers_test.go
  orc8r/cloud/go/services/configurator/doc.go
  orc8r/cloud/go/services/metricsd/doc.go
  orc8r/cloud/go/services/state/indexer/doc.go
Labels: accept2ship, component: orc8r, easy

#2303 [SessionD] Deprecate unused session_map_ variable from LocalEnforcer
  lte/gateway/c/session_manager/LocalEnforcer.h
Labels: accept2ship, easy

#2317 [NMS] Cleanup subscriber component
  nms/app/packages/magmalte/app/components/CustomMetrics.js
  nms/app/packages/magmalte/app/components/DataGrid.js
  nms/app/packages/magmalte/app/components/DateTimeMetricChart.js
  nms/app/packages/magmalte/app/components/EventAlertChart.js
  nms/app/packages/magmalte/app/components/TopBar.js
  nms/app/packages/magmalte/app/components/__tests__/EventAlertChartTest.js
  nms/app/packages/magmalte/app/components/context/SubscriberContext.js
  nms/app/packages/magmalte/app/views/equipment/GatewayLogChart.js
  nms/app/packages/magmalte/app/views/events/EventChart.js
  nms/app/packages/magmalte/app/views/subscriber/SubscriberChart.js
  nms/app/packages/magmalte/app/views/subscriber/SubscriberDetail.js
  nms/app/packages/magmalte/app/views/subscriber/SubscriberDetailConfig.js
  nms/app/packages/magmalte/app/views/subscriber/SubscriberOverview.js
  nms/app/packages/magmalte/app/views/subscriber/SubscriberUtils.js
Labels: component: nms

#2412 [NMS] Fix minor nms issues
  nms/app/packages/magmalte/app/components/CustomMetrics.js
  nms/app/packages/magmalte/app/components/lte/LteSections.js
Labels: component: nms, easy

#2451 [lte][agw] Pass created dedicated bearer context to sessiond
  feg/gateway/services/aaa/test/mock_sessiond/services.go
  lte/cloud/go/protos/session_manager.pb.go
  lte/gateway/c/oai/lib/pcef/PCEFClient.cpp
  lte/gateway/c/oai/lib/pcef/PCEFClient.h
  lte/gateway/c/oai/lib/pcef/pcef_handlers.cpp
  lte/gateway/c/oai/lib/pcef/pcef_handlers.h
  lte/gateway/c/oai/tasks/sgw/pgw_handlers.c
  lte/gateway/c/oai/tasks/sgw/sgw_handlers.c
  lte/gateway/c/session_manager/LocalSessionManagerHandler.cpp
  lte/gateway/c/session_manager/LocalSessionManagerHandler.h
  lte/gateway/c/session_manager/SessionManagerServer.cpp
  lte/gateway/c/session_manager/SessionManagerServer.h
  lte/protos/session_manager.proto
Labels: SessionD, component: agw

#2320 [SessionD] Create PolicyID->BearerID mapping for bearer lifecycle management
  lte/gateway/c/session_manager/LocalEnforcer.cpp
  lte/gateway/c/session_manager/LocalEnforcer.h
  lte/gateway/c/session_manager/SessionState.cpp
  lte/gateway/c/session_manager/SessionState.h
  lte/gateway/c/session_manager/SpgwServiceClient.cpp
  lte/gateway/c/session_manager/SpgwServiceClient.h
  lte/gateway/c/session_manager/StoredState.cpp
  lte/gateway/c/session_manager/StoredState.h
  lte/gateway/c/session_manager/test/Matchers.h
  lte/gateway/c/session_manager/test/SessiondMocks.h
  lte/gateway/c/session_manager/test/test_local_enforcer.cpp
  lte/gateway/c/session_manager/test/test_stored_state.cpp
Labels: SessionD, component: agw

#2457 [SessionD] Define Proto for PolicyDB to send active rules for sessions
  feg/gateway/go.sum
  feg/gateway/services/aaa/test/mock_sessiond/services.go
  lte/cloud/go/protos/session_manager.pb.go
  lte/gateway/c/session_manager/LocalSessionManagerHandler.cpp
  lte/gateway/c/session_manager/LocalSessionManagerHandler.h
  lte/protos/session_manager.proto
  orc8r/lib/go/protos/go.mod
Labels: SessionD, accept2ship, component: agw

#2304 [AGW][pipelined] Add support for APN AMBR
  lte/gateway/python/magma/pipelined/app/arp.py
  lte/gateway/python/magma/pipelined/app/enforcement.py
  lte/gateway/python/magma/pipelined/app/enforcement_stats.py
  lte/gateway/python/magma/pipelined/app/gy.py
  lte/gateway/python/magma/pipelined/app/policy_mixin.py
  lte/gateway/python/magma/pipelined/qos/common.py
  lte/gateway/python/magma/pipelined/qos/qos_meter_impl.py
  lte/gateway/python/magma/pipelined/qos/qos_tc_impl.py
  lte/gateway/python/magma/pipelined/qos/types.py
  lte/gateway/python/magma/pipelined/qos/utils.py
  lte/gateway/python/magma/pipelined/rpc_servicer.py
  lte/gateway/python/magma/pipelined/tests/test_qos.py
Labels: component: agw

#2369 WIP:[AGW][Deployment] Installation process timing out
  lte/gateway/deploy/agw_install.sh
Labels: component: agw, deployment

#2472 [SessionD] Handle set interface from PolicyDB to update session rules
  lte/gateway/c/session_manager/LocalEnforcer.cpp
  lte/gateway/c/session_manager/LocalEnforcer.h
  lte/gateway/c/session_manager/LocalSessionManagerHandler.cpp
  lte/gateway/c/session_manager/LocalSessionManagerHandler.h
  lte/gateway/c/session_manager/SessionState.cpp
  lte/gateway/c/session_manager/SessionState.h
  lte/gateway/c/session_manager/test/ProtobufCreators.cpp
  lte/gateway/c/session_manager/test/ProtobufCreators.h
  lte/gateway/c/session_manager/test/SessionStateTester.h
  lte/gateway/c/session_manager/test/test_local_enforcer.cpp
  lte/gateway/c/session_manager/test/test_session_state.cpp
Labels: SessionD, component: agw

#2476 [SessionD] Handle Policy->BearerID bindings from MME
  lte/gateway/c/session_manager/LocalEnforcer.cpp
  lte/gateway/c/session_manager/LocalEnforcer.h
  lte/gateway/c/session_manager/LocalSessionManagerHandler.cpp
  lte/gateway/c/session_manager/SessionState.cpp
  lte/gateway/c/session_manager/SessionState.h
  lte/gateway/c/session_manager/test/Matchers.h
  lte/gateway/c/session_manager/test/ProtobufCreators.cpp
  lte/gateway/c/session_manager/test/ProtobufCreators.h
  lte/gateway/c/session_manager/test/test_local_enforcer.cpp
Labels: SessionD, component: agw

#2348 [SessionD][AAA][MME] Deprecate CreateSession fields that are no longer used
  feg/gateway/go.sum
  feg/gateway/services/aaa/servicers/accounting.go
  feg/gateway/services/aaa/test/mock_sessiond/services.go
  lte/cloud/go/protos/session_manager.pb.go
  lte/gateway/c/oai/lib/pcef/pcef_handlers.cpp
  lte/gateway/c/session_manager/LocalSessionManagerHandler.cpp
  lte/gateway/c/session_manager/LocalSessionManagerHandler.h
  lte/gateway/c/session_manager/test/test_async_service.cpp
  lte/gateway/c/session_manager/test/test_session_manager_handler.cpp
  lte/gateway/c/session_manager/test/test_sessiond_integ.cpp
  lte/protos/session_manager.proto
  orc8r/lib/go/go.mod
  orc8r/lib/go/go.sum
Labels: SessionD, component: agw

#2479 [orc8r][migrations] Update migration for QoS changes
  lte/cloud/go/tools/migrations/m010_default_apns/main.go
  lte/cloud/go/tools/migrations/m010_default_apns/types/types.go
  lte/cloud/go/tools/migrations/m011_subscriber_config/main.go
  lte/cloud/go/tools/migrations/m012_policy_edge/main.go
  lte/cloud/go/tools/migrations/m012_policy_qos/main.go
  lte/cloud/go/tools/migrations/m012_policy_qos/types/new.go
  lte/cloud/go/tools/migrations/m012_policy_qos/types/old.go
  orc8r/cloud/go/tools/migrations/configurator.go
  orc8r/cloud/go/tools/migrations/doc.go
Labels: accept2ship, component: orc8r

#2495 Fix CWF IntegTest build failure
  cwf/gateway/go.mod
  cwf/gateway/go.sum
  cwf/gateway/integ_tests/gx_qos_enforcement_test.go
  cwf/gateway/integ_tests/gx_qos_restart_test.go
Labels: accept2ship

#2511 [NMS] Move alarm component to the end
  nms/app/packages/magmalte/app/components/lte/LteSections.js
Labels: component: nms, easy

#2504 [NMS] Add subscriber deletion code
  nms/app/packages/magmalte/app/components/context/SubscriberContext.js
  nms/app/packages/magmalte/app/components/lte/__tests__/useLteContext-test.js
  nms/app/packages/magmalte/app/state/SubscriberState.js
  nms/app/packages/magmalte/app/views/subscriber/SubscriberOverview.js
Labels: component: nms

#2500 [NMS] Upgrade the fbcnms packages to get loading spinner for grafana dashboard
  nms/app/flow-typed/npm/@material-ui/icons_v4.x.x.js
  nms/app/package.json
  nms/app/packages/magmalte/app/components/ActionTable.js
  nms/app/packages/magmalte/app/components/DataGrid.js
  nms/app/packages/magmalte/app/components/TopBar.js
  nms/app/packages/magmalte/app/components/layout/CardTitleRow.js
  nms/app/packages/magmalte/package.json
  nms/app/yarn.lock
Labels: component: nms

#2533 [orc8r][obsidian] Fix QoS dangling apn_policy_profile ent
  lte/cloud/go/services/policydb/obsidian/handlers/policy_handlers.go
  lte/cloud/go/services/policydb/obsidian/handlers/policy_handlers_test.go
  lte/cloud/go/services/policydb/obsidian/models/conversion.go
  lte/cloud/go/services/subscriberdb/obsidian/handlers/handlers_test.go
  lte/cloud/go/services/subscriberdb/obsidian/models/conversion.go
Labels: accept2ship, component: orc8r
