Repository magma/magma, pull requests merged in 2022-05, with the labels that each got.

#12553 feat(ci): consolidate linter implementations to use reviewdog for better Github integration
  .github/workflows/reviewdog-workflow.yml
  .github/workflows/terraform-lint.yml
Labels: component: ci, size/M

#12557 docs(dp): Updated Domain Proxy docs
  docs/readmes/assets/dp/dp_enb_tr069.pcap.tar.xz
  docs/readmes/assets/dp/dp_enb_tr069_flow.tar.xz
  docs/readmes/assets/dp/dp_logs_agw_enodebd.png
  docs/readmes/assets/dp/dp_logs_sas.png
  docs/readmes/dp/architecture_overview.md
  docs/readmes/dp/debug_logs.md
Labels: component: docs, size/L

#12396 test(mme): Add injection of state loaded in S1AP state manager
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
  lte/gateway/c/core/oai/test/s1ap_task/CMakeLists.txt
  lte/gateway/c/core/oai/test/s1ap_task/data/IMSI001010000000001_S1AP_ATTACHED
  lte/gateway/c/core/oai/test/s1ap_task/data/IMSI001010000000002_S1AP_ATTACHED
  lte/gateway/c/core/oai/test/s1ap_task/data/data_list.txt
  lte/gateway/c/core/oai/test/s1ap_task/data/s1ap_state_ATTACHED_encoded
  lte/gateway/c/core/oai/test/s1ap_task/mock_s1ap_op.cpp
  lte/gateway/c/core/oai/test/s1ap_task/mock_s1ap_op.h
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers_with_injected_state.cpp
Labels: component: agw, size/L

#12609 docs: Fix s1ap federated integ test (missing build)
  docs/docusaurus/versioned_docs/version-1.7.0/feg/s1ap_federated_test.md
  docs/readmes/feg/s1ap_federated_test.md
Labels: component: docs, size/XS

#12607 test(dp): Retain DB state in orc8r integration tests
  dp/cloud/python/magma/db_service/tests/alembic_testcase.py
  dp/cloud/python/magma/db_service/tests/db_testcase.py
  dp/cloud/python/magma/db_service/tests/local_db_test_case.py
  dp/cloud/python/magma/test_runner/tests/test_active_mode_controller.py
  dp/cloud/python/magma/test_runner/tests/test_dp_with_orc8r.py
Labels: size/L

#12604 docs: Update how to start postgres in minikube
  docs/docusaurus/versioned_docs/version-1.4.X/orc8r/dev_minikube_deployment.md
  docs/docusaurus/versioned_docs/version-1.5.X/orc8r/dev_minikube.md
  docs/docusaurus/versioned_docs/version-1.6.X/orc8r/dev_minikube.md
  docs/docusaurus/versioned_docs/version-1.7.0/orc8r/dev_minikube.md
  docs/readmes/orc8r/dev_minikube.md
Labels: component: docs, size/S

#12417 fix(nms): Fix insecure randomness
  nms/fbc_js_core/auth/express.js
  nms/fbc_js_core/auth/strategies/OrganizationOIDCStrategy.js
  nms/fbc_js_core/auth/strategies/OrganizationSamlStrategy.js
  nms/fbc_js_core/platform_server/host/routes.js
Labels: component: nms, size/S, ready2merge

#12541 feat(nms): Move network switcher into topbar
  nms/app/components/MenuButton.js
  nms/app/components/NetworkSelector.js
  nms/app/components/TopBar.js
  nms/app/components/__tests__/NetworkSelector-test.js
  nms/app/e2e/__tests__/FegLte-test.js
  nms/app/views/equipment/GatewayDetailMain.js
  nms/app/views/equipment/__tests__/EnodebDetailMainTest.js
  nms/app/views/network/__tests__/NetworkTest.js
  nms/app/views/subscriber/SubscriberTable.js
  nms/app/views/subscriber/__tests__/SubscriberAddEditTest.js
  nms/app/views/subscriber/__tests__/SubscriberTest.js
  nms/app/views/traffic/TrafficOverview.js
  nms/app/views/traffic/__tests__/ApnAddTest.js
  nms/app/views/traffic/__tests__/PolicyAddEditTest.js
  nms/app/views/traffic/__tests__/TrafficOverviewTest.js
  nms/fbc_js_core/ui/components/layout/AppSideBar.js
Labels: component: nms, size/XL

#12616 fix(ci): Allow deps-dev PR scope for dependabot
  .github/workflows/semantic-pr.yml
Labels: component: ci, size/XS

#12625 chore: add some documentation for IWYU toolling
  docs/readmes/lte/dev_unit_testing.md
Labels: component: docs, size/S

#12611 chore(dp): Improve skaffold orc8r image building stage
  dp/skaffold.yaml
  dp/tools/skaffold_hooks/hooks.sh
Labels: size/M

#12550 docs: fix misspelling
  docs/docusaurus/i18n/en.json
  docs/readmes/proposals/p026_magma_inbound_roaming_extensions.md
Labels: component: docs, size/XS

#12610 docs: fix mini-typo for path
  docs/docusaurus/versioned_docs/version-1.7.0/feg/s1ap_federated_test.md
  docs/readmes/feg/s1ap_federated_test.md
Labels: component: docs, size/XS, ready2merge

#12572 fix(agw): Format lte/gateway/python with clang-format-11
  .github/workflows/agw-workflow.yml
  lte/gateway/Makefile
  lte/gateway/python/magma/kernsnoopd/ebpf/byte_count.bpf.c
  lte/gateway/python/magma/kernsnoopd/ebpf/common.bpf.h
  lte/gateway/python/magma/pipelined/ebpf/ebpf_dl_handler.c
  lte/gateway/python/magma/pipelined/ebpf/ebpf_ul_handler.c
Labels: component: agw, component: ci, size/L

#12406 feat: Add support for grpc configuration for mock HSS at federated integ test
  feg/cloud/configs/service_registry.yml
  feg/gateway/configs/hss.yml
  lte/gateway/python/integ_tests/common/subscriber_db_client.py
  lte/gateway/python/integ_tests/federated_tests/configs/hss.yml
  lte/gateway/python/integ_tests/federated_tests/docker/docker-compose.override.yml
  lte/gateway/python/integ_tests/federated_tests/docker/docker-compose.yml
  lte/gateway/python/integ_tests/federated_tests/s1aptests/test_attach_detach.py
  lte/gateway/python/integ_tests/gateway/rpc.py
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/integ_tests/s1aptests/s1ap_wrapper.py
Labels: component: agw, component: feg, size/L

#12620 feat(agw): Disable SysRq key
  lte/gateway/deploy/roles/magma/files/99-magma.conf
Labels: component: agw, size/XS

#12485 fix(amf): Decoding issue due to 0 length security capability
  lte/gateway/c/core/oai/tasks/nas5g/src/ies/M5GUESecurityCapability.cpp
  lte/gateway/c/core/oai/test/amf/test_amf_encode_decode.cpp
  lte/gateway/c/core/oai/test/amf/util_nas5g_pkt.hpp
Labels: type: bug, component: agw, size/S, product: 5g sa, ready2merge

#12613 feat(dp): Add desired state to cbsd orc8r API
  dp/cloud/go/protos/cbsd.pb.go
  dp/cloud/go/services/dp/obsidian/cbsd/handlers_test.go
  dp/cloud/go/services/dp/obsidian/models/cbsd_swaggergen.go
  dp/cloud/go/services/dp/obsidian/models/components_swaggergen.go
  dp/cloud/go/services/dp/obsidian/models/conversion.go
  dp/cloud/go/services/dp/obsidian/models/conversion_test.go
  dp/cloud/go/services/dp/obsidian/models/mutable_cbsd_swaggergen.go
  dp/cloud/go/services/dp/obsidian/models/swagger.v1.yml
  dp/cloud/go/services/dp/servicers/cbsd_manager.go
  dp/cloud/go/services/dp/servicers/cbsd_manager_test.go
  dp/cloud/go/services/dp/storage/cbsd_manager.go
  dp/cloud/go/services/dp/storage/cbsd_manager_test.go
  dp/cloud/python/magma/test_runner/tests/test_dp_with_orc8r.py
  dp/protos/cbsd.proto
  nms/generated/MagmaAPIBindings.js
  orc8r/cloud/go/obsidian/swagger/v1/swagger.yml
Labels: component: orc8r, component: nms, size/XL

#12615 docs(dp): Fix 1.7.0 Domain Proxy Documentation
  docs/docusaurus/i18n/en.json
  docs/docusaurus/versioned_docs/version-1.7.0/dp/architecture_overview.md
  docs/docusaurus/versioned_docs/version-1.7.0/dp/debug_logs.md
  docs/docusaurus/versioned_docs/version-1.7.0/dp/deploy_build.md
  docs/readmes/dp/architecture_overview.md
  docs/readmes/dp/debug_logs.md
  docs/readmes/dp/deploy_build.md
Labels: component: docs, size/L

#12582 fix(agw): Added flaky testcase iteration count
  lte/gateway/python/integ_tests/s1aptests/s1ap_wrapper.py
  lte/gateway/python/integ_tests/s1aptests/test_s1setup_failure_incorrect_plmn.py
  lte/gateway/python/integ_tests/s1aptests/test_s1setup_failure_incorrect_tac.py
Labels: component: agw, size/S

#12623 chore(agw): Clean up unused variables
  lte/gateway/python/integ_tests/s1aptests/test_attach_asr.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_dedicated_deactivation_timer_expiry.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_dedicated_looped.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_maxbearers_twopdns.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_nw_triggered_delete_last_pdn.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_secondary_pdn_disconnect_dedicated_bearer.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_secondary_pdn_with_dedicated_bearer.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_secondary_pdn_with_dedicated_bearer_deactivate.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_secondary_pdn_with_dedicated_bearer_looped.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_with_he_policy.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_esm_information_timerexpiration.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_mme_restart_detach_multi_ue.py
  lte/gateway/python/magma/mobilityd/tests/test_static_ip_alloc.py
  lte/gateway/python/magma/mobilityd/tests/test_static_ipv6_alloc.py
  lte/gateway/python/magma/pipelined/ebpf/ebpf_manager.py
  lte/gateway/python/magma/pipelined/tests/pipelined_test_util.py
  lte/gateway/python/magma/pipelined/tests/test_he.py
  lte/gateway/python/magma/pipelined/tests/test_qos.py
  lte/gateway/python/magma/pipelined/tests/test_restart_resilience.py
  lte/gateway/python/magma/pipelined/tests/test_uplink_bridge.py
Labels: component: agw, size/M

#12631 feat(dp): changed python CBSD model
  dp/cloud/python/magma/db_service/migrations/versions/00d77c9f7532_.py
  dp/cloud/python/magma/db_service/models.py
  dp/cloud/python/magma/db_service/tests/alembic_testcase.py
  dp/cloud/python/magma/db_service/tests/unit/test_00d77c9f7532.py
  dp/cloud/python/magma/db_service/tests/unit/test_b0cad5321c88.py
Labels: size/L

#12634 docs(nms): Fix broken link in Quick Start Guide
  docs/readmes/basics/quick_start_guide.md
Labels: component: docs, size/XS

#12636 chore(agw): Delete unused class MobilityServiceRest
  lte/gateway/python/integ_tests/common/mobility_service_client.py
Labels: component: agw, size/L

#12581 fix(agw): Added flaky tests back to sanity list
  lte/gateway/python/integ_tests/defs.mk
Labels: component: agw, size/S

#12470 refactor(orc8r): Move node_identifier to GatewayEPCConfigs
  lte/cloud/go/services/ha/servicers/southbound/servicer_test.go
  lte/cloud/go/services/lte/obsidian/handlers/handlers_test.go
  lte/cloud/go/services/lte/obsidian/models/defaults.go
  lte/cloud/go/services/lte/obsidian/models/gateway_epc_configs_swaggergen.go
  lte/cloud/go/services/lte/obsidian/models/network_epc_configs_swaggergen.go
  lte/cloud/go/services/lte/obsidian/models/swagger.v1.yml
  lte/cloud/go/services/lte/servicers/protected/builder_servicer.go
  lte/cloud/go/services/lte/servicers/protected/builder_servicer_test.go
  lte/cloud/go/services/policydb/servicers/southbound/assignments_test.go
  lte/cloud/go/services/subscriberdb/servicers/southbound/subscriberdb_servicer_test.go
  nms/generated/MagmaAPIBindings.js
  orc8r/cloud/go/obsidian/swagger/v1/swagger.yml
Labels: component: orc8r, component: nms, breaking change, size/L

#10556 feat(pipelined): QFI support in OVS.
  third_party/gtp_ovs/ovs-gtp-patches/2.15/0024-QFI-support-in-OVS.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.15/dev.sh
Labels: component: agw, size/XL, product: 5g sa

#12651 fix(nms): Cannot add user after editing an organisation
  nms/fbc_js_core/ui/host/OrganizationDialog.js
  nms/fbc_js_core/ui/host/OrganizationInfoDialog.js
Labels: component: nms, size/XS

#12645 fix(orc8r): Fix grpc_internal port for smsd service
  lte/cloud/helm/lte-orc8r/templates/smsd.service.yaml
Labels: component: orc8r, size/XS

#12606 refactor(nms): Remove legacy dashboard
  nms/.env.example
  nms/.flowconfig
  nms/app/components/ImportSubscribersDialog.js
  nms/app/components/ListFields.js
  nms/app/components/Subscribers.js
  nms/app/components/VersionTooltip.js
  nms/app/components/__tests__/ImportSubscribers-test.js
  nms/app/components/__tests__/Main-test.js
  nms/app/components/cwf/CWFSections.js
  nms/app/components/feg/FEGSections.js
  nms/app/components/insights/GatewayMapMarker.js
  nms/app/components/insights/GatewayMapMarkerPopup.js
  nms/app/components/insights/Insights.js
  nms/app/components/insights/logs/Logs.js
  nms/app/components/insights/map/GeoJSON.js
  nms/app/components/insights/map/MapTypes.js
  nms/app/components/insights/map/MapView.js
  nms/app/components/insights/map/styles.js
  nms/app/components/layout/__tests__/useSections-test.js
  nms/app/components/layout/useSections.js
  nms/app/components/lte/AddEditEnodebDialog.js
  nms/app/components/lte/AddEditSubscriberDialog.js
  nms/app/components/lte/EnodebPropertySelector.js
  nms/app/components/lte/Enodebs.js
  nms/app/components/lte/LteSections.js
  nms/app/components/network/PolicyQosFields.js
  nms/app/components/rhino/MultiMetrics.js
  nms/app/components/rhino/RhinoMetrics.js
  nms/app/components/rhino/RhinoSections.js
  nms/app/components/rhino/RhinoUtils.js
  nms/app/views/traffic/PolicySubscribers.js
  nms/docker-compose-e2e.yml
  nms/docker-compose.yml
  nms/fbc_js_core/platform_server/config.js
  nms/fbc_js_core/projects/projects.js
  nms/fbc_js_core/ui/components/design-system/FormField/FormField.js
  nms/fbc_js_core/ui/components/design-system/hooks/useVerticalScrollingEffect.js
  nms/fbc_js_core/ui/components/layout/AppDrawerProjectNavigation.js
  nms/fbc_js_core/ui/icons/ActiveConsumerEndpointIcon.js
  nms/fbc_js_core/ui/icons/ActiveEquipmentIcon.js
  nms/fbc_js_core/ui/icons/ActiveEquipmentInLocationIcon.js
  nms/fbc_js_core/ui/icons/ActiveProviderEndpointIcon.js
  nms/fbc_js_core/ui/icons/DragIndicatorIcon.js
  nms/fbc_js_core/ui/icons/EndpointIcon.js
  nms/fbc_js_core/ui/icons/EquipmentIcon.js
  nms/fbc_js_core/ui/icons/ProfileIcon.js
  nms/fbc_js_core/ui/icons/ProjectsIcon.js
  nms/fbc_js_core/ui/utils/displayUtils.js
  nms/package.json
  nms/server/main/routes.js
  nms/yarn.lock
  orc8r/cloud/helm/orc8r/charts/nms/README.md
  orc8r/cloud/helm/orc8r/charts/nms/templates/magmalte-deployment.yaml
  orc8r/cloud/helm/orc8r/charts/nms/values.yaml
  orc8r/cloud/helm/orc8r/examples/minikube.values.yaml
Labels: component: nms, size/XXL

#12457 docs: Update references to Go version from 1.13 to 1.18
  docs/readmes/basics/prerequisites.md
Labels: component: docs, DONOTLAND, size/S

#12614 refactor(nms): Remove fbc-js-core select component
  nms/babel.config.js
  nms/fbc_js_core/ui/components/auth/EditUserDialog.js
  nms/fbc_js_core/ui/components/design-system/Button.js
  nms/fbc_js_core/ui/components/design-system/Checkbox/Checkbox.js
  nms/fbc_js_core/ui/components/design-system/ContexualLayer/BaseContexualLayer.js
  nms/fbc_js_core/ui/components/design-system/ContexualLayer/BasePopoverTrigger.js
  nms/fbc_js_core/ui/components/design-system/ContexualLayer/HideOnEsc.js
  nms/fbc_js_core/ui/components/design-system/ContexualLayer/OnOutsideClickNode.js
  nms/fbc_js_core/ui/components/design-system/Core/Portal.js
  nms/fbc_js_core/ui/components/design-system/Form/FormAction.js
  nms/fbc_js_core/ui/components/design-system/Form/FormAlertsContext.js
  nms/fbc_js_core/ui/components/design-system/Form/FormElementContext.js
  nms/fbc_js_core/ui/components/design-system/Input/InputAffix.js
  nms/fbc_js_core/ui/components/design-system/Input/InputContext.js
  nms/fbc_js_core/ui/components/design-system/Input/TextInput.js
  nms/fbc_js_core/ui/components/design-system/Select/MenuBase.js
  nms/fbc_js_core/ui/components/design-system/Select/MenuContext.js
  nms/fbc_js_core/ui/components/design-system/Select/Select.js
  nms/fbc_js_core/ui/components/design-system/Select/SelectMenu.js
  nms/fbc_js_core/ui/components/design-system/Select/SelectMenuItem.js
  nms/fbc_js_core/ui/components/design-system/Select/SelectSearchInput.js
  nms/fbc_js_core/ui/components/design-system/helpers/TextPairingContainer.js
  nms/fbc_js_core/util/strings.js
  nms/flow-typed/npm/fbt_v0.x.x.js
  nms/package.json
  nms/yarn.lock
Labels: component: nms, size/XXL

#12629 refactor(nms): Remove obsolete network types
  nms/app/components/admin/GenericNetworkDialog.js
  nms/fbc_js_core/platform_server/apicontroller/__tests__/proxy-test.js
  nms/fbc_js_core/platform_server/apicontroller/auditLoggingDecorator.js
  nms/fbc_js_core/platform_server/apicontroller/routes.js
  nms/fbc_js_core/types/network.js
  nms/server/apicontroller/routes.js
  nms/server/network/routes.js
Labels: component: nms, size/XL

#12621 refactor(nms): Remove fbc-js-core checkbox component
  nms/fbc_js_core/ui/components/Alert/Alert.js
  nms/fbc_js_core/ui/components/Alert/withAlert.js
  nms/fbc_js_core/ui/components/design-system/Checkbox/Checkbox.js
  nms/fbc_js_core/ui/components/design-system/helpers/TextPairingContainer.js
Labels: component: nms, size/L

#12656 refactor(nms): fbc js core auth
  nms/.eslintrc.js
  nms/alerts/routes.js
  nms/alerts/sync.js
  nms/app/components/ApplicationMain.js
  nms/app/components/UsersSettings.js
  nms/app/components/admin/userManagement/UsersSettings.js
  nms/fbc_js_core/platform_server/admin/routes.js
  nms/fbc_js_core/platform_server/features.js
  nms/fbc_js_core/platform_server/host/middleware.js
  nms/fbc_js_core/platform_server/host/routes.js
  nms/fbc_js_core/sequelize_models/models/user.js
  nms/fbc_js_core/ui/components/auth/EditUserDialog.js
  nms/fbc_js_core/ui/host/OrganizationDialog.js
  nms/fbc_js_core/ui/host/OrganizationUserDialog.js
  nms/fbc_js_core/ui/host/OrganizationUsersTable.js
  nms/grafana/handlers.js
  nms/grafana/routes.js
  nms/scripts/setPassword.js
  nms/server/admin/routes.js
  nms/server/apicontroller/auditLoggingDecorator.js
  nms/server/apicontroller/routes.js
  nms/server/app.js
  nms/server/auth/access.js
  nms/server/auth/express.js
  nms/server/auth/expressOnboarding.js
  nms/server/auth/oidc/client.js
  nms/server/auth/oidc/middleware.js
  nms/server/auth/openRoutes.js
  nms/server/auth/organization.js
  nms/server/auth/passport.js
  nms/server/auth/strategies/BearerStrategy.js
  nms/server/auth/strategies/DynamicStrategy.js
  nms/server/auth/strategies/OrganizationBasicLocalStrategy.js
  nms/server/auth/strategies/OrganizationLocalStrategy.js
  nms/server/auth/strategies/OrganizationOIDCStrategy.js
  nms/server/auth/strategies/OrganizationSamlStrategy.js
  nms/server/auth/strategies/StubStrategy.js
  nms/server/auth/strategies/__tests__/DynamicStrategy-test.js
  nms/server/auth/util.js
  nms/server/main/routes.js
  nms/server/network/routes.js
  nms/shared/errorCodes.js
  nms/shared/roles.js
  nms/shared/types.js
Labels: component: nms, size/L

#12480 ci(dp): Run integration tests once and improve logging from them
  dp/Makefile
  dp/cloud/helm/dp/charts/domain-proxy/templates/db_service/job.yaml
  dp/cloud/python/magma/test_runner/tests/integration_testcase.py
  dp/cloud/python/magma/test_runner/tests/test_active_mode_controller.py
  dp/cloud/python/magma/test_runner/tests/test_dp_with_orc8r.py
  dp/skaffold.yaml
  dp/tools/deployment/tests/test_runner_deployment.yml
  dp/tools/deployment/tests/test_runner_deployment_orc8r.yml
Labels: component: orc8r, size/L

#12654 chore(health): Bazelify health service
  lte/gateway/python/magma/health/BUILD.bazel
  lte/gateway/python/magma/health/tests/BUILD.bazel
  lte/gateway/python/magma/health/tests/test_state_recovery.py
Labels: component: agw, size/L, bazel

#12617 refactor(nms): Unify button styling
  nms/app/components/AccountSettings.js
  nms/app/components/AddGatewayDialog.js
  nms/app/components/EditGatewayDialog.js
  nms/app/components/GatewayCellularFields.js
  nms/app/components/GatewayCommandFields.js
  nms/app/components/GatewayMagmadFields.js
  nms/app/components/GatewaySummaryFields.js
  nms/app/components/Gateways.js
  nms/app/components/UsersSettings.js
  nms/app/components/__tests__/Gateways-test.js
  nms/app/components/admin/AddNetworkDialog.js
  nms/app/components/admin/GenericNetworkDialog.js
  nms/app/components/admin/Networks.js
  nms/app/components/admin/userManagement/UsersSettings.js
  nms/app/components/cwf/CWFEditGatewayDialog.js
  nms/app/components/cwf/CWFGateways.js
  nms/app/components/network/Apn.js
  nms/app/components/network/ApnEditDialog.js
  nms/app/components/network/DataPlanConfig.js
  nms/app/components/network/DataPlanEditDialog.js
  nms/app/components/network/NetworkConfig.js
  nms/app/components/network/PoliciesConfig.js
  nms/app/components/network/PolicyBaseNameDialog.js
  nms/app/components/network/PolicyRuleEditDialog.js
  nms/app/components/network/UpgradeConfig.js
  nms/app/components/network/UpgradeTierEditDialog.js
  nms/app/login.js
  nms/app/views/equipment/EnodebDetailConfigEdit.js
  nms/app/views/equipment/GatewayDetailConfigEdit.js
  nms/app/views/equipment/GatewayPoolConfigEdit.js
  nms/app/views/equipment/GatewayPoolGatewaysEdit.js
  nms/app/views/network/NetworkEpc.js
  nms/app/views/network/NetworkInfo.js
  nms/app/views/network/NetworkRanConfig.js
  nms/app/views/subscriber/SubscriberEditDialog.js
  nms/app/views/traffic/ApnEdit.js
  nms/app/views/traffic/BaseNameEdit.js
  nms/app/views/traffic/DataPlanEdit.js
  nms/app/views/traffic/PolicyEdit.js
  nms/app/views/traffic/ProfileEdit.js
  nms/app/views/traffic/RatingGroupEdit.js
  nms/fbc_js_core/ui/components/Alert/Alert.js
  nms/fbc_js_core/ui/components/Alert/withAlert.js
  nms/fbc_js_core/ui/components/auth/LoginForm.js
  nms/fbc_js_core/ui/components/design-system/Button.js
  nms/fbc_js_core/ui/host/FeatureFlagsDialog.js
  nms/fbc_js_core/ui/host/OrganizationDialog.js
  nms/fbc_js_core/ui/host/OrganizationEdit.js
  nms/fbc_js_core/ui/host/OrganizationInfoDialog.js
  nms/fbc_js_core/ui/host/Organizations.js
Labels: component: nms, size/XXL

#12668 refactor(nms): move fbc lib logging
  nms/fbc_js_core/express_middleware/appMiddleware.js
  nms/fbc_js_core/express_middleware/webpackSmartMiddleware.js
  nms/fbc_js_core/platform_server/config.js
  nms/fbc_js_core/platform_server/host/routes.js
  nms/fbc_js_core/sequelize_models/sequelizeConfig.js
  nms/grafana/handlers.js
  nms/scripts/migrate.js
  nms/scripts/runMigrations.js
  nms/scripts/server.js
  nms/server/apicontroller/auditLoggingDecorator.js
  nms/server/app.js
  nms/server/auth/access.js
  nms/server/auth/express.js
  nms/server/auth/strategies/OrganizationOIDCStrategy.js
  nms/server/auth/strategies/OrganizationSamlStrategy.js
  nms/server/network/routes.js
  nms/shared/logging.js
Labels: component: nms, size/M

#12641 refactor: Download jar of swagger codegen instead of building it
  .devcontainer/Dockerfile
  feg/gateway/docker/python/Dockerfile
  lte/gateway/deploy/roles/dev_common/defaults/main.yml
  lte/gateway/deploy/roles/dev_common/files/build_swagger_codegen.sh
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
  lte/gateway/docker/services/python/Dockerfile
Labels: component: agw, component: ci, component: feg, size/L

#12424 chore: upgrade Go installation in DevContainer
  .devcontainer/Dockerfile
Labels: size/S, ready2merge

#12665 fix(orc8r): Fix automated running of S1AP Federated Integ Test
  orc8r/tools/fab/vagrant.py
Labels: component: orc8r, size/XS, ready2merge

#12410 fix(amf): "Code refactoring and fix errors"
  lte/gateway/c/core/oai/lib/3gpp/3gpp_24.501.h
  lte/gateway/c/core/oai/tasks/amf/amf_cn.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_config.c
  lte/gateway/c/core/oai/test/amf/CMakeLists.txt
  lte/gateway/c/core/oai/test/amf/amf_app_test_util.cpp
  lte/gateway/c/core/oai/test/amf/amf_app_test_util.h
  lte/gateway/c/core/oai/test/amf/test_amf.cpp
  lte/gateway/c/core/oai/test/amf/test_amf_procedures.cpp
Labels: component: agw, priority: low, size/L, product: 5g sa, ready2merge

#11417 feat(sessiond): Handling Network/PCF initiated session modification f…
  lte/cloud/go/protos/pipelined.pb.go
  lte/cloud/go/protos/session_manager.pb.go
  lte/gateway/c/core/oai/tasks/grpc_service/AmfServiceImpl.cpp
  lte/gateway/c/session_manager/AmfServiceClient.cpp
  lte/gateway/c/session_manager/BUILD.bazel
  lte/gateway/c/session_manager/SessionProxyResponderHandler.cpp
  lte/gateway/c/session_manager/SessionProxyResponderHandler.hpp
  lte/gateway/c/session_manager/SessionState.cpp
  lte/gateway/c/session_manager/SessionState.hpp
  lte/gateway/c/session_manager/SessionStateEnforcer.cpp
  lte/gateway/c/session_manager/SessionStateEnforcer.hpp
  lte/gateway/c/session_manager/SetMessageManagerHandler.cpp
  lte/gateway/c/session_manager/SetMessageManagerHandler.hpp
  lte/gateway/c/session_manager/sessiond_main.cpp
  lte/gateway/c/session_manager/test/test_proxy_responder_handler.cpp
  lte/gateway/c/session_manager/test/test_session_state_5g.cpp
  lte/gateway/c/session_manager/test/test_set_session_manager_handler.cpp
  lte/gateway/python/magma/pipelined/rpc_servicer.py
  lte/gateway/python/scripts/policydb_cli.py
  lte/gateway/python/scripts/session_manager_cli.py
  lte/gateway/python/scripts/smf_upf_integration_cli.py
  lte/protos/pipelined.proto
  lte/protos/session_manager.proto
Labels: component: orc8r, component: agw, size/XXL, product: 5g sa

#12647 docs: include access to orc8r swagger on s1ap federated integ test
  docs/docusaurus/versioned_docs/version-1.7.0/feg/s1ap_federated_test.md
  docs/readmes/feg/s1ap_federated_test.md
Labels: component: docs, size/S

#12666 refactor(orc8r): Omit nil-checks for multierror.Append calls
  lte/cloud/go/services/subscriberdb/obsidian/models/validate.go
  lte/cloud/go/services/subscriberdb_cache/worker.go
  orc8r/cloud/go/obsidian/swagger/spec/combine.go
  orc8r/cloud/go/parallel/map.go
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_singleton.go
  orc8r/cloud/go/syncstore/store_writer.go
Labels: component: orc8r, size/M

#12657 docs: Update S1AP Federated Integ Test page
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/docusaurus/versioned_docs/version-1.7.0/feg/s1ap_federated_test.md
  docs/docusaurus/versioned_sidebars/version-1.7.0-sidebars.json
  docs/readmes/feg/s1ap_federated_test.md
Labels: component: docs, size/L

#12662 refactor(nms): Move babel-register out of fbc_js_core
  nms/.eslintrc.js
  nms/.flowconfig
  nms/README.md
  nms/app/common/UserModel.js
  nms/app/common/polyfill.js
  nms/app/host.js
  nms/app/login.js
  nms/app/main.js
  nms/babelRegister.js
  nms/fbc_js_core/sequelize_models/dbDataMigration.js
  nms/fbc_js_core/sequelize_models/sequelizerc.js
  nms/nodemon.json
  nms/package.json
Labels: component: nms, size/M

#12630 chore(agw): Clean up unused imports
  lte/gateway/python/integ_tests/common/mobility_service_client.py
  lte/gateway/python/integ_tests/common/subscriber_db_client.py
  lte/gateway/python/integ_tests/federated_tests/fabfile.py
  lte/gateway/python/integ_tests/gateway/rpc.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_asr.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_ipv6.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_with_he_policy.py
  lte/gateway/python/load_tests/common.py
  lte/gateway/python/magma/mobilityd/tests/BUILD.bazel
  lte/gateway/python/magma/mobilityd/tests/ip_alloc_dhcp_test.py
  lte/gateway/python/magma/mobilityd/tests/ip_allocator_tests.py
  lte/gateway/python/magma/mobilityd/tests/rpc_servicer_tests.py
  lte/gateway/python/magma/pipelined/ebpf/ebpf_manager.py
  lte/gateway/python/magma/pipelined/tests/BUILD.bazel
  lte/gateway/python/magma/pipelined/tests/app/flow_query.py
  lte/gateway/python/magma/pipelined/tests/app/subscriber.py
  lte/gateway/python/magma/pipelined/tests/app/table_isolation.py
  lte/gateway/python/magma/pipelined/tests/script/gtp-packet.py
  lte/gateway/python/magma/pipelined/tests/script/ip-packet.py
  lte/gateway/python/magma/pipelined/tests/test_arp.py
  lte/gateway/python/magma/pipelined/tests/test_classifier_traffic.py
  lte/gateway/python/magma/pipelined/tests/test_ebpf_ul_dp.py
  lte/gateway/python/magma/pipelined/tests/test_inout_non_nat.py
  lte/gateway/python/magma/pipelined/tests/test_paging.py
  lte/gateway/python/magma/pipelined/tests/test_rpc_servicer.py
  lte/gateway/python/magma/pipelined/tests/test_uplink_bridge.py
  lte/gateway/python/scripts/generate_oai_config.py
  lte/gateway/python/scripts/policydb_cli.py
  orc8r/gateway/python/scripts/ctraced_cli.py
Labels: component: orc8r, component: agw, size/M, ready2merge

#12686 chore: Add size attribute to all bazel test targets
  lte/gateway/c/core/oai/test/gtpv2-c/BUILD.bazel
  lte/gateway/c/core/oai/test/itti/BUILD.bazel
  lte/gateway/c/core/oai/test/lib/BUILD.bazel
  lte/gateway/c/core/oai/test/mme_app_task/BUILD.bazel
  lte/gateway/c/core/oai/test/n11/BUILD.bazel
  lte/gateway/c/core/oai/test/nas/BUILD.bazel
  lte/gateway/c/core/oai/test/openflow/BUILD.bazel
  lte/gateway/c/core/oai/test/pipelined_client/BUILD.bazel
  lte/gateway/c/core/oai/test/sgw_s8_task/BUILD.bazel
  src/go/agwd/config/BUILD.bazel
  src/go/agwd/config/internal/grpcutil/BUILD.bazel
  src/go/agwd/server/BUILD.bazel
  src/go/capture/BUILD.bazel
  src/go/crash/BUILD.bazel
  src/go/crash/sentry/BUILD.bazel
  src/go/log/BUILD.bazel
  src/go/log/zap/BUILD.bazel
  src/go/service/BUILD.bazel
  src/go/service/capture/BUILD.bazel
  src/go/service/config/BUILD.bazel
  src/go/service/pipelined/BUILD.bazel
  src/go/service/sctpd/BUILD.bazel
Labels: component: agw, size/M, bazel

#12566 refactor(pipelined): ARP handling is separated from the mandatory apps
  lte/gateway/python/magma/pipelined/BUILD.bazel
  lte/gateway/python/magma/pipelined/app/BUILD.bazel
  lte/gateway/python/magma/pipelined/app/egress.py
  lte/gateway/python/magma/pipelined/gw_mac_address.py
  lte/gateway/python/magma/pipelined/tests/test_inout_non_nat.py
Labels: component: agw, size/L, ready2merge

#12663 refactor(nms): Move fbc_js_core middleware into server
  nms/.eslintrc.js
  nms/server/app.js
  nms/server/auth/oidc/client.js
  nms/server/auth/organization.js
  nms/server/auth/passport.js
  nms/server/auth/strategies/BearerStrategy.js
  nms/server/auth/strategies/DynamicStrategy.js
  nms/server/auth/strategies/OrganizationLocalStrategy.js
  nms/server/auth/util.js
  nms/server/middleware/appMiddleware.js
  nms/server/middleware/csrfMiddleware.js
  nms/server/middleware/index.js
  nms/server/middleware/organizationMiddleware.js
  nms/server/middleware/sessionMiddleware.js
  nms/server/middleware/webpackSmartMiddleware.js
Labels: component: nms, size/S

#12693 chore: Bazelify the configuration module
  orc8r/gateway/python/magma/configuration/BUILD.bazel
  orc8r/gateway/python/magma/configuration/tests/BUILD.bazel
Labels: component: orc8r, size/M, bazel

#12691 chore: Clean up dead code.
  lte/gateway/docker/services/pkt_tester/Dockerfile
  lte/gateway/python/defs.mk
  lte/gateway/python/magma/pkt_tester/__init__.py
  lte/gateway/python/magma/pkt_tester/tests/test_ovs_gtp.py
  lte/gateway/python/magma/pkt_tester/tests/test_topology_builder.py
  lte/gateway/python/magma/pkt_tester/topology_builder.py
  lte/gateway/python/setup.py
Labels: component: agw, component: ci, size/XL, bazel-cleanup

#12474 fix(agw): Provides the fixes for the issue #12364
  lte/gateway/c/core/oai/tasks/async_grpc_service/grpc_async_service_task.cpp
  lte/gateway/c/core/oai/tasks/async_grpc_service/grpc_async_service_task.hpp
Labels: component: agw, size/M

#12670 refactor(nms): Ingerate fbc_js_core utils
  nms/app/components/EditUserDialog.js
  nms/app/components/UsersSettings.js
  nms/app/components/admin/userManagement/UsersSettings.js
  nms/app/components/context/AppContext.js
  nms/app/components/network/NetworkConfig.js
  nms/app/components/network/PolicyRuleEditDialog.js
  nms/app/util/renderList.js
  nms/app/util/strings.js
  nms/app/views/features/Features.js
  nms/app/views/subscriber/SubscriberEditDialog.js
  nms/app/views/subscriber/SubscriberTable.js
  nms/app/views/subscriber/SubscriberUtils.js
  nms/app/views/traffic/PolicyTracking.js
  nms/fbc_js_core/util/emptyFunction.js
  nms/server/admin/routes.js
  nms/server/host/middleware.js
  nms/server/host/routes.js
  nms/server/main/routes.js
  nms/server/network/routes.js
  nms/server/util/asyncHandler.js
Labels: component: nms, size/M

#12664 refactor(nms): Move projects out of fbc_js_core
  nms/app/components/host/Index.js
  nms/scripts/createOrganization.js
  nms/shared/projects/projects.js
Labels: component: nms, size/XS

#12672 refactor(nms): Move config out of fbc_js_core
  nms/config/paths.js
  nms/config/staticDist.js
  nms/fbc_js_core/webpack_config/paths.js
  nms/server/auth/express.js
  nms/server/auth/expressOnboarding.js
  nms/server/main/routes.js
Labels: component: nms, size/M

#12684 fix(nms): Sidebar version number overlaps with profile button
  nms/app/components/AppSideBar.js
Labels: component: nms, size/XS

#12698 chore(ci): Update codecov-action to v2
  .github/workflows/agw-workflow.yml
  .github/workflows/cloud-workflow.yml
  .github/workflows/dp-workflow.yml
  .github/workflows/feg-workflow.yml
Labels: component: ci, size/S, ready2merge

#12702 refactor(nms): consolidate fbc js core action tables
  nms/app/components/ActionTable.js
  nms/app/components/ActionTableLegacy.js
  nms/app/views/organizations/OrganizationUsersTable.js
  nms/app/views/organizations/Organizations.js
Labels: component: nms, size/L

#12669 refactor(nms): Move types out of fbc_js_core
  nms/alerts/sync.js
  nms/app/components/EditUserDialog.js
  nms/app/components/NetworkSelector.js
  nms/app/components/UsersSettings.js
  nms/app/components/__tests__/NetworkSelector-test.js
  nms/app/components/admin/AddNetworkDialog.js
  nms/app/components/admin/EditNetworkDialog.js
  nms/app/components/admin/userManagement/UsersSettings.js
  nms/app/components/context/AppContext.js
  nms/app/components/layout/__tests__/useSections-test.js
  nms/app/components/layout/useSections.js
  nms/app/components/lte/LteContext.js
  nms/app/components/main/Index.js
  nms/app/components/network/PolicyRuleEditDialog.js
  nms/app/views/network/NetworkInfo.js
  nms/app/views/organizations/OrganizationDialog.js
  nms/app/views/organizations/OrganizationEdit.js
  nms/app/views/organizations/OrganizationUserDialog.js
  nms/app/views/organizations/OrganizationUsersTable.js
  nms/app/views/traffic/__tests__/ApnAddTest.js
  nms/app/views/traffic/__tests__/PolicyAddEditTest.js
  nms/fbc_js_core/sequelize_models/models/organization.js
  nms/grafana/handlers.js
  nms/scripts/createOrganization.js
  nms/server/features.js
  nms/server/host/routes.js
  nms/server/main/routes.js
  nms/server/network/routes.js
  nms/shared/projects/projects.js
  nms/shared/roles.js
  nms/shared/types.js
  nms/shared/types/auth.js
  nms/shared/types/embeddedData.js
  nms/shared/types/features.js
  nms/shared/types/network.js
  nms/shared/types/tabs.js
Labels: component: nms, size/L

#12685 ci(dp): DP Makefile and Actions Workflow improvements
  .github/workflows/dp-workflow.yml
  dp/Makefile
  dp/README.md
  dp/tools/deployment/vendor/elasticsearch.yml
Labels: component: ci, size/M

#12627 refactor(orc8r): Replace multi.go with hashicorp/go-multierror module
  cwf/cloud/go/go.mod
  cwf/cloud/go/go.sum
  cwf/gateway/go.mod
  cwf/gateway/go.sum
  cwf/k8s/cwf_operator/go.sum
  dp/cloud/go/go.mod
  dp/cloud/go/go.sum
  feg/cloud/go/go.mod
  feg/cloud/go/go.sum
  feg/gateway/go.mod
  feg/gateway/go.sum
  feg/gateway/services/session_proxy/servicers/multiple_session_controller.go
  feg/gateway/services/session_proxy/servicers/session_controller.go
  feg/gateway/services/swx_proxy/servicers/multiple_swx_proxy.go
  lte/cloud/go/go.mod
  lte/cloud/go/go.sum
  orc8r/cloud/go/go.mod
  orc8r/cloud/go/go.sum
  orc8r/cloud/go/services/certifier/servicers/protected/certifier.go
  orc8r/cloud/go/services/orchestrator/servicers/protected/indexer_servicer.go
  orc8r/cloud/test/go.mod
  orc8r/cloud/test/go.sum
  orc8r/gateway/go/go.mod
  orc8r/gateway/go/go.sum
  orc8r/gateway/go/services/magmad/service/magmad.go
  orc8r/lib/go/merrors/grpc_to_http.go
  orc8r/lib/go/merrors/multi.go
  orc8r/lib/go/merrors/multi_error_test.go
Labels: component: orc8r, component: feg, size/L, component: cwf

#12667 refactor(nms): Move sequelize-models out of fbc_js_core
  nms/.eslintrc.js
  nms/app/views/organizations/OrganizationDialog.js
  nms/app/views/organizations/Organizations.js
  nms/grafana/handlers.js
  nms/scripts/createOrganization.js
  nms/scripts/enableAllNetworkIDsForOrganization.js
  nms/scripts/runMigrations.js
  nms/scripts/setPassword.js
  nms/server/admin/routes.js
  nms/server/apicontroller/auditLoggingDecorator.js
  nms/server/app.js
  nms/server/auth/express.js
  nms/server/auth/expressOnboarding.js
  nms/server/auth/passport.js
  nms/server/auth/strategies/OrganizationLocalStrategy.js
  nms/server/auth/strategies/OrganizationOIDCStrategy.js
  nms/server/auth/strategies/OrganizationSamlStrategy.js
  nms/server/auth/util.js
  nms/server/features.js
  nms/server/host/routes.js
  nms/server/middleware/organizationMiddleware.js
  nms/shared/sequelize_models/README.md
  nms/shared/sequelize_models/dbDataMigration.js
  nms/shared/sequelize_models/index.js
  nms/shared/sequelize_models/migrations/20180824030303-create-user.js
  nms/shared/sequelize_models/migrations/20181009191125-add-network-ids-user.js
  nms/shared/sequelize_models/migrations/20181129155300-create-user.js
  nms/shared/sequelize_models/migrations/20181203215100-create-user.js
  nms/shared/sequelize_models/migrations/20190105000000-create-user.js
  nms/shared/sequelize_models/migrations/20190211030303-create-organization.js
  nms/shared/sequelize_models/migrations/20190211030304-populate-default-organization.js
  nms/shared/sequelize_models/migrations/20190225030305-make-organization-networkIDs-required.js
  nms/shared/sequelize_models/migrations/20190417000000-create-feature-flag.js
  nms/shared/sequelize_models/migrations/20190424161229-add_sso_to_organization.js
  nms/shared/sequelize_models/migrations/20190509000000-make-organization-unique.js
  nms/shared/sequelize_models/migrations/20190523000000-create-audit-log-entry.js
  nms/shared/sequelize_models/migrations/20190814020200-add-tabs-to-user.js
  nms/shared/sequelize_models/migrations/20190814020500-populate-default-user.js
  nms/shared/sequelize_models/migrations/20191029161229-add_csv_charset_to_organization.js
  nms/shared/sequelize_models/migrations/20200312041255-add_sso_oidc.js
  nms/shared/sequelize_models/migrations/20210427134100-user-tabs-default.js
  nms/shared/sequelize_models/migrations/20210616000000-pg-set-id-seq.js
  nms/shared/sequelize_models/migrations/20210621000000-orgs-name-lowercase.js
  nms/shared/sequelize_models/migrations/20220202000000-master-to-org.js
  nms/shared/sequelize_models/models/AssociateTypes.flow.js
  nms/shared/sequelize_models/models/audit_log_entry.js
  nms/shared/sequelize_models/models/featureflag.js
  nms/shared/sequelize_models/models/organization.js
  nms/shared/sequelize_models/models/user.js
  nms/shared/sequelize_models/sequelizeConfig.js
  nms/shared/sequelize_models/sequelizerc.js
Labels: component: nms, size/M

#12714 fix(nms): allow todate in the copyright
  nms/.eslintrc.js
Labels: component: nms, size/XS

#12710 refactor(nms): remove `afterEach(cleanup);`
  nms/app/components/__tests__/AccountSettings-test.js
  nms/app/components/__tests__/DashboardAlertTableTest.js
  nms/app/components/__tests__/DataGrid-test.js
  nms/app/components/__tests__/EventAlertChartTest.js
  nms/app/components/__tests__/GatewayCommandTest.js
  nms/app/components/__tests__/KPI-test.js
  nms/app/components/__tests__/Main-test.js
  nms/app/components/__tests__/ProfileButton-test.js
  nms/app/components/cwf/__tests__/CWFGateways-test.js
  nms/app/components/feg/__tests__/FEGGatewaysTest.js
  nms/app/views/alarms/legacy/__tests__/Alarms-test.js
  nms/app/views/equipment/__tests__/EnodebConfigTest.js
  nms/app/views/equipment/__tests__/EnodebDetailMainTest.js
  nms/app/views/equipment/__tests__/EquipmentEnodebTest.js
  nms/app/views/equipment/__tests__/EquipmentGatewayPoolTest.js
  nms/app/views/equipment/__tests__/EquipmentGatewayTest.js
  nms/app/views/equipment/__tests__/FEGEquipmentGatewayTest.js
  nms/app/views/equipment/__tests__/FEGGatewayConnectionStatusTest.js
  nms/app/views/equipment/__tests__/FEGGatewayDetailConfigTest.js
  nms/app/views/equipment/__tests__/FEGGatewayDetailStatusTest.js
  nms/app/views/equipment/__tests__/FEGGatewayDetailSubscribersTest.js
  nms/app/views/equipment/__tests__/FEGGatewaySummaryTest.js
  nms/app/views/equipment/__tests__/GatewayConfigTest.js
  nms/app/views/equipment/__tests__/GatewayLogsTest.js
  nms/app/views/equipment/__tests__/GatewaySummaryTest.js
  nms/app/views/events/__tests__/EventsTableTest.js
  nms/app/views/network/__tests__/FEGServicingAccessGatewayTableTest.js
  nms/app/views/network/__tests__/NetworkTest.js
  nms/app/views/subscriber/__tests__/SubscriberAddEditTest.js
  nms/app/views/subscriber/__tests__/SubscriberChartTest.js
  nms/app/views/subscriber/__tests__/SubscriberTest.js
  nms/app/views/traffic/__tests__/ApnAddTest.js
  nms/app/views/traffic/__tests__/PolicyAddEditTest.js
  nms/app/views/traffic/__tests__/TrafficOverviewTest.js
Labels: component: nms, size/L

#12716 ci(dp): Add autolabeling PRs for DP component
  .github/workflows/autolabel-pullrequests.yml
Labels: component: ci, size/XS

#12638 chore(ci): merge bazel base and devcontainer - first pr
  .devcontainer/Dockerfile
  .devcontainer/bazel-base/Dockerfile
  .devcontainer/bazel-base/README.md
  .devcontainer/bazel-base/bazelrcs/devcontainer.bazelrc
  .devcontainer/bazel-base/bazelrcs/docker.bazelrc
  .devcontainer/bazel-base/bazelrcs/vm.bazelrc
  .devcontainer/bazel-base/docker-compose.yml
  .github/workflows/composite/docker-builder/action.yml
  .github/workflows/docker-builder-bazel-base.yml
  .github/workflows/docker-builder-devcontainer.yml
  experimental/bazel-base/Dockerfile
Labels: component: ci, size/XL, bazel

#12715 refactor(nms): configure `import 'jest-dom/extend-expect'` globally
  nms/app/components/__tests__/AccountSettings-test.js
  nms/app/components/__tests__/AppSideBar-test.js
  nms/app/components/__tests__/DashboardAlertTableTest.js
  nms/app/components/__tests__/DataGrid-test.js
  nms/app/components/__tests__/EventAlertChartTest.js
  nms/app/components/__tests__/GatewayCommandTest.js
  nms/app/components/__tests__/KPI-test.js
  nms/app/components/__tests__/Main-test.js
  nms/app/components/__tests__/NetworkSelector-test.js
  nms/app/components/__tests__/ProfileButton-test.js
  nms/app/components/cwf/__tests__/CWFGateways-test.js
  nms/app/components/feg/__tests__/FEGGatewaysTest.js
  nms/app/views/alarms/components/alertmanager/AlertDetails/__tests__/AlertDetailsPane-test.js
  nms/app/views/alarms/components/alertmanager/Receivers/__tests__/AddEditReceiver-test.js
  nms/app/views/alarms/components/alertmanager/Receivers/__tests__/GlobalConfig-test.js
  nms/app/views/alarms/components/alertmanager/Receivers/__tests__/Receivers-test.js
  nms/app/views/alarms/components/alertmanager/__tests__/FiringAlerts-test.js
  nms/app/views/alarms/components/rules/PrometheusEditor/__tests__/PrometheusEditor-test.js
  nms/app/views/alarms/components/table/__tests__/SimpleTable-test.js
  nms/app/views/alarms/legacy/__tests__/Alarms-test.js
  nms/app/views/equipment/__tests__/EnodebConfigTest.js
  nms/app/views/equipment/__tests__/EnodebDetailMainTest.js
  nms/app/views/equipment/__tests__/EquipmentEnodebTest.js
  nms/app/views/equipment/__tests__/EquipmentGatewayPoolTest.js
  nms/app/views/equipment/__tests__/EquipmentGatewayTest.js
  nms/app/views/equipment/__tests__/FEGEquipmentGatewayTest.js
  nms/app/views/equipment/__tests__/FEGGatewayConnectionStatusTest.js
  nms/app/views/equipment/__tests__/FEGGatewayDetailConfigTest.js
  nms/app/views/equipment/__tests__/FEGGatewayDetailStatusTest.js
  nms/app/views/equipment/__tests__/FEGGatewayDetailSubscribersTest.js
  nms/app/views/equipment/__tests__/FEGGatewaySummaryTest.js
  nms/app/views/equipment/__tests__/GatewayConfigTest.js
  nms/app/views/equipment/__tests__/GatewayLogsTest.js
  nms/app/views/equipment/__tests__/GatewaySummaryTest.js
  nms/app/views/events/__tests__/EventsTableTest.js
  nms/app/views/network/__tests__/FEGServicingAccessGatewayTableTest.js
  nms/app/views/network/__tests__/NetworkTest.js
  nms/app/views/subscriber/__tests__/SubscriberAddEditTest.js
  nms/app/views/subscriber/__tests__/SubscriberChartTest.js
  nms/app/views/subscriber/__tests__/SubscriberTest.js
  nms/app/views/traffic/__tests__/ApnAddTest.js
  nms/app/views/traffic/__tests__/PolicyAddEditTest.js
  nms/app/views/traffic/__tests__/TrafficOverviewTest.js
  nms/jest.config.js
  nms/jest.setup.app.js
Labels: component: nms, size/M

#12701 chore(ci): Bazel ci py file check
  .github/workflows/bazel.yml
  bazel/scripts/check_py_bazel.sh
Labels: component: ci, size/L, bazel

#12703 feat(dp): Support single step registration without CPI in AMC
  dp/cloud/go/active_mode_controller/internal/app/app_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/message_generator_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/deregistration.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/deregistration_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/grant.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/grant_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/heartbeat.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/heartbeat_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/registration.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/registration_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/relinquishment.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/relinquishment_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/spectrum_inquiry.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/spectrum_inquiry_test.go
  dp/cloud/go/active_mode_controller/protos/active_mode/active_mode.pb.go
  dp/cloud/python/magma/radio_controller/services/active_mode_controller/service.py
  dp/cloud/python/magma/radio_controller/tests/test_utils/active_mode_cbsd_builder.py
  dp/cloud/python/magma/radio_controller/tests/test_utils/db_cbsd_builder.py
  dp/cloud/python/magma/radio_controller/tests/unit/test_active_mode_controller_service.py
  dp/protos/active_mode.proto
Labels: component: orc8r, size/XXL, component: dp

#12731 chore(ci): workflows are using the updated bazel base and devcontainer images
  .bazelrc
  .github/workflows/agw-workflow.yml
  .github/workflows/bazel.yml
  .github/workflows/gcc-problems.yml
Labels: component: ci, size/M

#12380 test(mme): Running time unittest
  docs/readmes/lte/dev_notes.md
  lte/gateway/Makefile
  lte/gateway/python/scripts/runtime_report.py
Labels: component: agw, component: docs, size/L

#12681 chore: docs: Add more details for debugging datapath packet loss.
  docs/readmes/howtos/troubleshooting/datapath_connectivity.md
Labels: component: docs, size/S

#12637 fix(amf): Malformed session accept message issue
  lte/gateway/c/core/oai/tasks/amf/amf_app_handler.cpp
Labels: type: bug, component: agw, size/XS, product: 5g sa

#12740 fix(agw): Disabled segfault testcase
  lte/gateway/python/integ_tests/defs.mk
Labels: component: agw, size/XS

#12743 chore(ci): Modify the bazel workflow to use remote caching
  .bazelrc
  .github/workflows/bazel.yml
  bazel/bazelrcs/remote_caching_ro.bazelrc
  bazel/bazelrcs/remote_caching_rw.bazelrc
  bazel/scripts/remote_cache_bazelrc_setup.sh
Labels: component: ci, size/L, bazel

#12730 chore: drop fbinternal leftover, that came in via merge error
  fbinternal/cloud/go/services/testcontroller/e2e_client_api.go
  fbinternal/cloud/go/services/testcontroller/node_client_api.go
  fbinternal/cloud/go/services/vpnservice/client_api.go
Labels: size/L

#12758 chore(cwg): Remove commented-out function calls
  cwf/gateway/integ_tests/gy_reauth_test.go
  cwf/gateway/services/uesim/client_api.go
  cwf/gateway/services/uesim/servicers/uesim.go
Labels: size/XS, component: cwf

#12696 fix(pipelined): use precise match filter for searching dhclient process.
  lte/gateway/python/magma/pipelined/app/uplink_bridge.py
Labels: component: agw, size/XS

#12760 chore(ci): remove unused ARG
  .devcontainer/Dockerfile
Labels: size/XS

#12727 refactor(dp): replace deprecated errors module
  dp/cloud/go/go.mod
  dp/cloud/go/services/dp/servicers/cbsd_manager.go
Labels: component: orc8r, size/XS, ready2merge

#12749 feat(ci): Add cwag formatting to ci and apply formatting changes
  .github/workflows/cwag-workflow.yml
  cwf/gateway/integ_tests/gy_enforcement_test.go
  cwf/gateway/integ_tests/gy_reauth_test.go
  cwf/gateway/integ_tests/test_runner.go
  cwf/gateway/services/uesim/client_api.go
  cwf/gateway/services/uesim/servicers/uesim.go
Labels: component: ci, size/M, ready2merge, component: cwf

#12766 chore: Track all non bazelified AGW Python files
  bazel/scripts/check_py_bazel.sh
Labels: size/M, bazel-cleanup, bazel

#12585 chore(orc8r): Protobuf upgrade clean up
  lte/cloud/go/services/subscriberdb/servicers/protected/lookup_test.go
  lte/cloud/go/services/subscriberdb/storage/ip_lookup_test.go
  orc8r/cloud/go/test_utils/unit_test_proto_utils.go
  orc8r/cloud/go/test_utils/unit_test_proto_utils_test.go
Labels: component: orc8r, size/L, ready2merge

#12770 chore: Bazelify the remaining 2 LTE Python service tests
  bazel/scripts/check_py_bazel.sh
  lte/gateway/python/magma/enodebd/tr069/tests/BUILD.bazel
  lte/gateway/python/magma/mobilityd/tests/BUILD.bazel
Labels: component: agw, size/M, bazel

#12711 refactor(nms): Remove remaining traces of fbc_js_core
  nms/.eslintrc.js
  nms/.flowconfig
  nms/.sequelizerc
  nms/docker-compose-e2e.yml
  nms/docker-compose.yml
  nms/fbc_js_core/README.md
Labels: component: nms, size/S

#12688 feat(cleanup):bump ubuntu from 18(bionic) to 20(focal)
  cwf/gateway/docker/go/Dockerfile
  feg/gateway/docker/go/Dockerfile
Labels: component: feg, size/S, component: cwf

#12798 fix(ci): remove old registries before uupdate apt
  orc8r/tools/ansible/roles/pkgrepo/tasks/main.yml
Labels: component: orc8r, size/S

#12799 Revert "Revert "Revert "Revert "fix(deps): Fixing CPU architecture ha…
  lte/gateway/docker/services/c/Dockerfile
  lte/gateway/docker/services/python/Dockerfile
  third_party/build/lib/util.sh
Labels: component: ci, size/M

#12088 fix(amf): PDU session establishment reject with cause DNN not supported
  lte/gateway/c/core/oai/tasks/amf/Registration.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_Security_Mode.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_authentication.hpp
  lte/gateway/c/core/oai/tasks/amf/amf_recv.hpp
  lte/gateway/c/core/oai/tasks/amf/nas_proc.cpp
  lte/gateway/c/core/oai/test/amf/test_amf_procedures.cpp
  lte/gateway/c/core/oai/test/amf/test_amf_stateless.cpp
Labels: component: agw, priority: medium, size/L, product: 5g sa, ready2merge

#12786 fix(ci): fix problems with switch from fb to magma artifactory #12687
  .devcontainer/Dockerfile
  cwf/gateway/docker/c/Dockerfile
  experimental/bazel-base/Dockerfile
  lte/gateway/docker/services/c/Dockerfile
  lte/gateway/docker/services/python/Dockerfile
Labels: component: ci, size/L, component: cwf

#12778 chore(orc8r): Switch LTE EPS Authenticator service to magma's milenag version
  .github/workflows/semantic-pr.yml
  cwf/cloud/go/go.mod
  cwf/cloud/go/go.sum
  cwf/gateway/go.mod
  cwf/gateway/go.sum
  cwf/k8s/cwf_operator/go.mod
  cwf/k8s/cwf_operator/go.sum
  feg/cloud/go/go.mod
  feg/cloud/go/go.sum
  feg/gateway/go.mod
  feg/gateway/go.sum
  lte/cloud/go/go.mod
  lte/cloud/go/go.sum
  lte/cloud/go/services/eps_authentication/servicers/ai.go
  lte/cloud/go/services/eps_authentication/servicers/ai_test.go
  lte/cloud/go/services/eps_authentication/servicers/auth.go
  lte/cloud/go/services/eps_authentication/servicers/auth_test.go
  lte/cloud/go/services/eps_authentication/servicers/ul.go
Labels: component: orc8r, component: ci, component: feg, size/S, component: cwf

#12809 chore(lte): Remove unused lte crypto & switch to magma/milenage pkg
  cwf/gateway/go.mod
  cwf/gateway/go.sum
  cwf/gateway/integ_tests/test_runner.go
  cwf/gateway/services/gateway_health/servicers/health_servicer_test.go
  cwf/gateway/services/uesim/client_api_test.go
  cwf/gateway/services/uesim/servicers/eap_aka.go
  cwf/gateway/tools/uesim_cli/main.go
  feg/gateway/go.mod
  feg/gateway/go.sum
  feg/gateway/services/testcore/hss/servicers/hss_s6a_proxy_integration_test.go
  feg/gateway/services/testcore/hss/servicers/hss_swx_proxy_integration_test.go
  feg/gateway/services/testcore/hss/servicers/ma_test.go
  lte/cloud/go/crypto/milenage.go
  lte/cloud/go/crypto/milenage_mock.go
  lte/cloud/go/crypto/milenage_test.go
  lte/cloud/go/services/eps_authentication/servicers/auth_test.go
Labels: component: orc8r, component: feg, size/XXL, component: cwf

#12774 chore(agw): Remove dead Python code
  bazel/scripts/check_py_bazel.sh
  lte/gateway/python/magma/enodebd/state_machines/enb_acs_pointer.py
  lte/gateway/python/magma/pipelined/openflow/events.py
Labels: component: agw, size/M, bazel-cleanup

#12789 chore(dp): Add timestamps to DP logs
  .github/workflows/dp-workflow.yml
  dp/cloud/go/services/dp/obsidian/log/handlers.go
  dp/cloud/go/services/dp/obsidian/log/handlers_test.go
  dp/cloud/python/magma/configuration_controller/tests/requirements.txt
  dp/cloud/python/magma/configuration_controller/tests/unit/test_dp_logs.py
  dp/cloud/python/magma/fluentd_client/client.py
  dp/cloud/python/magma/fluentd_client/dp_logs.py
  dp/cloud/python/magma/radio_controller/tests/requirements.txt
  dp/cloud/python/magma/radio_controller/tests/unit/test_dp_logs.py
Labels: component: orc8r, component: ci, size/M

#12744 refactor(orc8r): Remove unary package from orc8r lib
  orc8r/cloud/go/service/middleware/unary/identity_decorator.go
  orc8r/cloud/go/services/certifier/servicers/protected/certifier.go
  orc8r/lib/go/registry/interceptors.go
  orc8r/lib/go/service/middleware/unary/client_identity.go
Labels: component: orc8r, size/M, ready2merge

#12772 refactor(orc8r): Remove NewServiceWithOptionsImpl
  orc8r/cloud/go/service/service.go
  orc8r/lib/go/service/service.go
Labels: component: orc8r, size/S, ready2merge

#12791 refactor(pipelined): Simplify treatment of default parameters
  lte/gateway/python/magma/pipelined/app/ipfix.py
  lte/gateway/python/magma/pipelined/qos/qos_tc_impl.py
  lte/gateway/python/magma/pipelined/rpc_servicer.py
  lte/gateway/python/magma/pipelined/tests/test_internal_pkt_ipfix_export.py
  lte/gateway/python/magma/pipelined/tests/test_qos.py
Labels: component: agw, size/M

#12757 feat(nms): generate swagger api for typescript
  nms/app/views/equipment/GatewayDetailConfigEdit.js
  nms/generated/MagmaAPIBindings.js
  nms/scripts/generateAPIFromSwaggerForTypeScript.sh
  orc8r/cloud/Makefile
  orc8r/cloud/go/obsidian/swagger/v1/swagger.yml
  orc8r/cloud/go/services/orchestrator/obsidian/models/defaults.go
  orc8r/cloud/go/services/orchestrator/obsidian/models/distribution_package_swaggergen.go
  orc8r/cloud/go/services/orchestrator/obsidian/models/platform_info_swaggergen.go
  orc8r/cloud/go/services/orchestrator/obsidian/models/swagger.v1.yml
Labels: component: orc8r, component: nms, size/L

#12790 chore(orc8r): delete two unused functions in config package of lib/go
  orc8r/lib/go/service/config/service_config.go
Labels: component: orc8r, size/S

#12576 feat: adopt codeowners to include groups instead of persons
  CODEOWNERS
Labels: size/XS

#12780 fix(agw): Disabled failing test case
  lte/gateway/python/integ_tests/defs.mk
Labels: component: agw, size/S

#12782 fix(agw): Added sctpd restart for continuous random attach scenario
  lte/gateway/python/integ_tests/s1aptests/test_continuous_random_attach.py
Labels: component: agw, size/M

#12769 chore(ci): new images are created with latest tag
  .devcontainer/Dockerfile
  .github/workflows/composite/docker-builder/action.yml
Labels: component: ci, size/S, bazel

#12704 refactor(nms): Remove tabs from organization and user entities
  nms/shared/sequelize_models/index.js
  nms/shared/sequelize_models/migrations/20220512000000-drop-tabs.js
  nms/shared/sequelize_models/models/organization.js
  nms/shared/sequelize_models/models/user.js
Labels: component: nms, size/M

#12773 chore(agw): Move script-only dependencies to scripts folders
  bazel/scripts/check_py_bazel.sh
  lte/gateway/python/scripts/__init__.py
  lte/gateway/python/scripts/agw_health_cli.py
  lte/gateway/python/scripts/cpe_monitoring_cli.py
  lte/gateway/python/scripts/lte_health_entities.py
  lte/gateway/python/scripts/lte_health_service.py
  lte/gateway/python/scripts/pg_set_session_msg.py
  lte/gateway/python/scripts/pipelined_cli.py
  orc8r/gateway/python/scripts/__init__.py
  orc8r/gateway/python/scripts/docker_health_service.py
  orc8r/gateway/python/scripts/health_cli.py
  orc8r/gateway/python/scripts/orc8r_health_entities.py
  orc8r/gateway/python/scripts/orc8r_health_service.py
  orc8r/gateway/python/scripts/traffic_cli.py
Labels: component: orc8r, component: agw, size/M, bazel-cleanup

#12831 chore(orc8r): duplicate entries in setup.py are removed
  orc8r/gateway/python/setup.py
Labels: component: orc8r, size/S

#12832 feat(dp): Convert height type to upper case in AMC
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/registration.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/registration_test.go
Labels: component: orc8r, size/XS

#12830 chore(agw): typo in session_manager/ is fixed
  lte/gateway/c/session_manager/SessionProxyResponderHandler.cpp
  lte/gateway/c/session_manager/SetMessageManagerHandler.cpp
Labels: component: agw, size/S

#12821 refactor(nms): Move /data, /alerts and /views directories
  nms/api/data/AlertLinks.json
  nms/api/data/LteMetrics.json
  nms/app/state/AlarmsApiUtil.js
  nms/docker-compose-e2e.yml
  nms/docker-compose.yml
  nms/generated/useMagmaAPI.js
  nms/server/alerts/cwfAlerts.js
  nms/server/alerts/fegAlerts.js
  nms/server/alerts/lteAlerts.js
  nms/server/alerts/routes.js
  nms/server/alerts/sync.js
  nms/server/app.js
  nms/server/grafana/routes.js
  nms/server/views/host.pug
  nms/server/views/index.pug
  nms/server/views/login.pug
Labels: component: nms, size/L

#12836 fix(ci): Fix dockerfile build agw
  lte/gateway/docker/services/c/Dockerfile
Labels: component: ci, size/XS

#12829 chore(pipelined): Remove _check_scratch_reg_load
  lte/gateway/python/magma/pipelined/openflow/flows.py
Labels: component: agw, size/S

#12838 chore: Remove obsolete paths from CODEOWNERS
  CODEOWNERS
Labels: size/XS

#12783 fix(agw): Added flaky report generation for CI
  lte/gateway/python/integ_tests/Makefile
  lte/gateway/python/integ_tests/s1aptests/s1ap_wrapper.py
  lte/gateway/python/integ_tests/s1aptests/test_s1setup_failure_incorrect_plmn.py
  lte/gateway/python/integ_tests/s1aptests/test_s1setup_failure_incorrect_tac.py
Labels: component: agw, size/M

#12514 feat(pipelined): QFI value Set in RYU
  lte/gateway/deploy/roles/magma/files/patches/0002-QFI-value-set-in-Openflow-controller-using-RYU.patch
  lte/gateway/deploy/roles/magma/files/patches/0003-QFI-value-set-in-Openflow-controller-using-RYU.patch
  lte/gateway/deploy/roles/magma/tasks/main.yml
  orc8r/gateway/python/python.mk
Labels: component: orc8r, component: agw, size/L

#12833 chore(pipelined): Fix selection of mypy errors
  lte/gateway/python/magma/pipelined/app/classifier.py
  lte/gateway/python/magma/pipelined/app/he.py
  lte/gateway/python/magma/pipelined/app/uplink_bridge.py
  lte/gateway/python/magma/pipelined/bridge_util.py
  lte/gateway/python/magma/pipelined/directoryd_client.py
  lte/gateway/python/magma/pipelined/encoding.py
  lte/gateway/python/magma/pipelined/ng_manager/session_state_manager_util.py
  lte/gateway/python/magma/pipelined/qos/common.py
  lte/gateway/python/magma/pipelined/qos/qos_tc_impl.py
  lte/gateway/python/magma/pipelined/qos/utils.py
  lte/gateway/python/magma/pipelined/rpc_servicer.py
  lte/gateway/python/magma/pipelined/rule_mappers.py
  lte/gateway/python/magma/pipelined/tests/app/flow_query.py
  lte/gateway/python/magma/pipelined/tests/app/subscriber.py
  lte/gateway/python/magma/pipelined/tests/pipelined_test_util.py
  lte/gateway/python/magma/pipelined/tests/test_inout_non_nat.py
  lte/gateway/python/magma/pipelined/tests/test_uplink_bridge.py
Labels: component: agw, size/L

#12847 Fix magma_dev vm registry
  lte/gateway/deploy/magma_test.yml
  lte/gateway/deploy/roles/magma_test_registry/files/jfrog.pub
  lte/gateway/deploy/roles/magma_test_registry/tasks/main.yml
Labels: component: agw, size/M

#12810 fix(orc8r): Specifying platform to enable orchestrator in MacOS with M1
  orc8r/cloud/docker/docker-compose.yml
Labels: component: orc8r, size/XS

#12849 chore(dp): Deploy fakesas before helm charts installation
  dp/Makefile
  dp/skaffold.yaml
Labels: size/S, component: dp

#12839 chore(magmad): Remove unused test from magmad
  bazel/scripts/check_py_bazel.sh
  orc8r/gateway/python/magma/magmad/tests/BUILD.bazel
  orc8r/gateway/python/magma/magmad/tests/Dockerfile
  orc8r/gateway/python/magma/magmad/tests/docker-compose.yml
  orc8r/gateway/python/magma/magmad/tests/dummy_service.py
  orc8r/gateway/python/magma/magmad/tests/magma@dummy_service.service
  orc8r/gateway/python/magma/magmad/tests/service_manager_tests.py
Labels: component: orc8r, size/L, bazel-cleanup

#12859 fix(pipelined): Remove problematic type annotation
  lte/gateway/python/magma/pipelined/qos/common.py
Labels: component: agw, size/XS

#12860 chore(orc8r): Adapt bootstrap test script to run on Linux
  orc8r/tools/scripts/bootstrap.bash
  orc8r/tools/scripts/consolidate_protos.bash
Labels: component: orc8r, size/S

#12699 fix(orc8r): Make check-in status check in the backend
  lte/cloud/go/services/lte/obsidian/handlers/handlers.go
  lte/cloud/go/services/lte/obsidian/handlers/handlers_test.go
  lte/cloud/go/services/lte/obsidian/models/conversion.go
  lte/cloud/go/services/lte/obsidian/models/gateway_checked_in_recently_swaggergen.go
  lte/cloud/go/services/lte/obsidian/models/lte_gateway_swaggergen.go
  lte/cloud/go/services/lte/obsidian/models/swagger.v1.yml
  nms/app/components/GatewayUtils.js
  nms/app/components/__tests__/KPI-test.js
  nms/app/views/equipment/__tests__/EquipmentGatewayPoolTest.js
  nms/app/views/equipment/__tests__/EquipmentGatewayTest.js
  nms/app/views/equipment/__tests__/GatewayConfigTest.js
  nms/app/views/equipment/__tests__/GatewaySummaryTest.js
  nms/app/views/network/__tests__/FEGServicingAccessGatewayTableTest.js
  nms/app/views/network/__tests__/NetworkTest.js
  nms/generated/MagmaAPIBindings.js
  orc8r/cloud/go/models/gateway_checked_in_recently_swaggergen.go
  orc8r/cloud/go/models/swagger-common.yml
  orc8r/cloud/go/obsidian/swagger/v1/swagger.yml
  orc8r/cloud/go/services/orchestrator/obsidian/models/conversion.go
  orc8r/cloud/go/services/orchestrator/obsidian/models/conversion_test.go
Labels: component: orc8r, component: nms, size/L

#12800 docs: Updated onboarding documentation
  docs/readmes/basics/prerequisites.md
  docs/readmes/basics/quick_start_guide.md
Labels: component: docs, size/S, ready2merge

#12729 refactor: replace deprecated errors module in src
  src/go/README.md
  src/go/agwd/config/config.go
  src/go/agwd/config/config_test.go
  src/go/agwd/server/server.go
  src/go/crash/crash_test.go
  src/go/crash/sentry/sentry.go
  src/go/go.mod
  src/go/log/zap/zap.go
Labels: size/L, ready2merge

#12866 fix(ci): go 1.18 is used in ghz builds in order to be compatible to ghz v0.109.0
  lte/gateway/docker/ghz/Dockerfile
Labels: component: ci, size/S

#12844 chore(ci): bazel workflows are using the latest image
  .github/workflows/agw-workflow.yml
  .github/workflows/bazel.yml
  .github/workflows/gcc-problems.yml
Labels: component: ci, size/XS, bazel

#12735 feat(nms): use proper check in status from orcestrator for lteGateways
  nms/app/components/FEGServicingAccessGatewayKPIs.js
  nms/app/components/GatewayKPIs.js
  nms/app/components/GatewayUtils.js
  nms/app/components/__tests__/KPI-test.js
  nms/app/views/equipment/EquipmentGateway.js
  nms/app/views/equipment/EquipmentGatewayKPIs.js
  nms/app/views/equipment/GatewayDetailStatus.js
  nms/app/views/equipment/__tests__/EquipmentGatewayTest.js
  nms/app/views/network/FEGServicingAccessGatewayTable.js
  nms/app/views/network/__tests__/FEGServicingAccessGatewayTableTest.js
Labels: component: nms, size/M

#12875 chore(pipelined): Fix selection of mypy errors
  lte/gateway/python/magma/pipelined/encoding.py
  lte/gateway/python/magma/pipelined/policy_converters.py
  lte/gateway/python/magma/pipelined/qos/common.py
  lte/gateway/python/magma/pipelined/rpc_servicer.py
  lte/gateway/python/magma/pipelined/tests/test_ebpf_dl_dp.py
  lte/gateway/python/magma/pipelined/tests/test_ebpf_ul_dp.py
  lte/gateway/python/magma/pipelined/tests/test_enforcement.py
  lte/gateway/python/magma/pipelined/tests/test_he.py
  lte/gateway/python/magma/pipelined/tests/test_inout_non_nat.py
Labels: component: agw, size/M, ready2merge

#12813 chore(ci): Modify the gcc-problems workflow to use remote caching
  .github/workflows/check-bazel-cache-dir-size.sh
  .github/workflows/gcc-problems.yml
Labels: component: ci, size/M, bazel

#12880 fix(ci): magma_test uses latest version of libgnutls30
  lte/gateway/deploy/roles/magma_test_registry/tasks/main.yml
Labels: component: agw, size/XS

#12804 feat(dp): Enodebd triggered update
  dp/cloud/go/protos/cbsd.pb.go
  dp/cloud/go/services/dp/builders/builders.go
  dp/cloud/go/services/dp/dp/main.go
  dp/cloud/go/services/dp/obsidian/cbsd/handlers.go
  dp/cloud/go/services/dp/obsidian/cbsd/handlers_test.go
  dp/cloud/go/services/dp/obsidian/models/capabilities_swaggergen.go
  dp/cloud/go/services/dp/obsidian/models/cbsd_swaggergen.go
  dp/cloud/go/services/dp/obsidian/models/conversion.go
  dp/cloud/go/services/dp/obsidian/models/conversion_test.go
  dp/cloud/go/services/dp/obsidian/models/installation_param_swaggergen.go
  dp/cloud/go/services/dp/obsidian/models/mutable_cbsd_swaggergen.go
  dp/cloud/go/services/dp/obsidian/models/swagger.v1.yml
  dp/cloud/go/services/dp/obsidian/models/validation_test.go
  dp/cloud/go/services/dp/obsidian/to_pointer/to_pointer.go
  dp/cloud/go/services/dp/servicers/cbsd_manager.go
  dp/cloud/go/services/dp/servicers/cbsd_manager_test.go
  dp/cloud/go/services/dp/servicers/db_field_setters.go
  dp/cloud/go/services/dp/servicers/sql_to_proto_fields.go
  dp/cloud/go/services/dp/storage/cbsd_manager.go
  dp/cloud/go/services/dp/storage/cbsd_manager_test.go
  dp/cloud/go/services/dp/storage/db/finishing.go
  dp/cloud/go/services/dp/storage/db/query.go
  dp/cloud/python/magma/test_runner/tests/test_dp_with_orc8r.py
  dp/protos/cbsd.proto
  nms/generated/MagmaAPIBindings.js
  orc8r/cloud/go/obsidian/swagger/v1/swagger.yml
  orc8r/cloud/go/sqorc/locker.go
  orc8r/cloud/go/sqorc/locker_test.go
Labels: component: orc8r, component: nms, size/XXL, ready2merge, component: dp

#12837 fix(deps): Removing redundant deb packages on aarch64
  lte/gateway/docker/services/python/Dockerfile
Labels: component: ci, size/XS

#12718 refactor(nms): Reset and restore mocks automatically after every test
  nms/app/components/__tests__/DashboardAlertTableTest.js
  nms/app/components/__tests__/EventAlertChartTest.js
  nms/app/components/__tests__/GatewayCommandTest.js
  nms/app/components/__tests__/KPI-test.js
  nms/app/components/__tests__/Main-test.js
  nms/app/components/cwf/__tests__/CWFGateways-test.js
  nms/app/components/feg/__tests__/FEGGatewaysTest.js
  nms/app/components/layout/__tests__/useSections-test.js
  nms/app/views/alarms/components/alertmanager/AlertDetails/__tests__/AlertDetailsPane-test.js
  nms/app/views/alarms/components/alertmanager/Receivers/__tests__/GlobalConfig-test.js
  nms/app/views/alarms/components/alertmanager/Receivers/__tests__/Receivers-test.js
  nms/app/views/alarms/components/alertmanager/__tests__/FiringAlerts-test.js
  nms/app/views/alarms/components/rules/PrometheusEditor/__tests__/PrometheusEditor-test.js
  nms/app/views/alarms/components/rules/__tests__/AddEditRule-test.js
  nms/app/views/alarms/components/rules/__tests__/LabelsEditor-test.js
  nms/app/views/alarms/components/table/__tests__/SimpleTable-test.js
  nms/app/views/alarms/legacy/__tests__/Alarms-test.js
  nms/app/views/alarms/test/testHelpers.js
  nms/app/views/equipment/__tests__/EnodebConfigTest.js
  nms/app/views/equipment/__tests__/EnodebDetailMainTest.js
  nms/app/views/equipment/__tests__/EquipmentEnodebTest.js
  nms/app/views/equipment/__tests__/EquipmentGatewayPoolTest.js
  nms/app/views/equipment/__tests__/EquipmentGatewayTest.js
  nms/app/views/equipment/__tests__/FEGEquipmentGatewayTest.js
  nms/app/views/equipment/__tests__/FEGGatewayDetailConfigTest.js
  nms/app/views/equipment/__tests__/FEGGatewayDetailStatusTest.js
  nms/app/views/equipment/__tests__/FEGGatewayDetailSubscribersTest.js
  nms/app/views/equipment/__tests__/GatewayConfigTest.js
  nms/app/views/equipment/__tests__/GatewayLogsTest.js
  nms/app/views/events/__tests__/EventsTableTest.js
  nms/app/views/network/__tests__/FEGServicingAccessGatewayTableTest.js
  nms/app/views/network/__tests__/NetworkTest.js
  nms/app/views/subscriber/__tests__/SubscriberAddEditTest.js
  nms/app/views/subscriber/__tests__/SubscriberChartTest.js
  nms/app/views/subscriber/__tests__/SubscriberTest.js
  nms/app/views/traffic/__tests__/ApnAddTest.js
  nms/app/views/traffic/__tests__/PolicyAddEditTest.js
  nms/app/views/traffic/__tests__/TrafficOverviewTest.js
  nms/jest.config.js
Labels: component: nms, size/XXL

#12745 fix(agw): Move the c files to cpp and fixed compilation errors
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/common/common_utility_funs.cpp
  lte/gateway/c/core/oai/common/common_utility_funs.hpp
  lte/gateway/c/core/oai/common/conversions.h
  lte/gateway/c/core/oai/include/mme_config.h
  lte/gateway/c/core/oai/include/s1ap_state.hpp
  lte/gateway/c/core/oai/include/s1ap_types.hpp
  lte/gateway/c/core/oai/oai_mme/oai_mme.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_config.c
  lte/gateway/c/core/oai/tasks/s1ap/3gpp_requirements_36.413.h
  lte/gateway/c/core/oai/tasks/s1ap/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_common.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_decoder.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_decoder.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_encoder.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_encoder.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_itti_messaging.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_itti_messaging.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_ta.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_ta.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_timer.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_timer_management.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_timer_management.hpp
  lte/gateway/c/core/oai/test/s1ap_task/s1ap_mme_test_utils.h
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_handle_new_association.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers_with_injected_state.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_state_converter.cpp
Labels: component: agw, size/XL

#12709 chore(sessiond): GRPC printing
  lte/gateway/c/session_manager/DirectorydClient.cpp
  lte/gateway/c/session_manager/RestartHandler.cpp
  lte/gateway/c/session_manager/UpfMsgManageHandler.cpp
Labels: component: agw, size/XS

#12857 chore(directoryd): Adding load test script for directoryd
  lte/gateway/python/load_tests/loadtest_directoryd.py
Labels: component: agw, size/L
