Repository magma/magma, pull requests merged in 2022-08, with the labels that each got.

#13453 feat(dp): Support fetching multiple grants for given cbsd
  dp/cloud/go/protos/cbsd.pb.go
  dp/cloud/go/services/dp/builders/builders.go
  dp/cloud/go/services/dp/obsidian/models/cbsd_swaggergen.go
  dp/cloud/go/services/dp/obsidian/models/conversion.go
  dp/cloud/go/services/dp/obsidian/models/conversion_test.go
  dp/cloud/go/services/dp/obsidian/models/grant_swaggergen.go
  dp/cloud/go/services/dp/obsidian/models/swagger.v1.yml
  dp/cloud/go/services/dp/servicers/cbsd_manager.go
  dp/cloud/go/services/dp/servicers/cbsd_manager_test.go
  dp/cloud/go/services/dp/storage/cbsd_manager.go
  dp/cloud/go/services/dp/storage/cbsd_manager_test.go
  dp/cloud/python/magma/test_runner/tests/api_data_builder.py
  dp/cloud/python/magma/test_runner/tests/test_dp_with_orc8r.py
  dp/protos/cbsd.proto
  nms/app/views/domain-proxy/CbsdsTable.tsx
  nms/generated/api.ts
  orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml
Labels: component: orc8r, component: nms, size/XL, component: dp

#13465 chore(dp): do not create idle grants
  dp/cloud/go/services/dp/storage/cbsd_manager.go
  dp/cloud/go/services/dp/storage/cbsd_manager_test.go
  dp/cloud/python/magma/configuration_controller/response_processor/response_db_processor.py
  dp/cloud/python/magma/configuration_controller/response_processor/strategies/response_processing.py
  dp/cloud/python/magma/configuration_controller/tests/unit/test_response_processor.py
  dp/cloud/python/magma/db_service/migrations/versions/017_remove_idle_grants.py
  dp/cloud/python/magma/db_service/tests/unit/test_017_remove_idle_grants.py
  dp/cloud/python/magma/db_service/tests/unit/test_db_initialization.py
  dp/cloud/python/magma/mappings/types.py
  dp/cloud/python/magma/radio_controller/services/active_mode_controller/service.py
  dp/cloud/python/magma/radio_controller/services/dp/service.py
  dp/cloud/python/magma/radio_controller/tests/unit/test_active_mode_controller_service.py
  dp/cloud/python/magma/radio_controller/tests/unit/test_dp_service.py
Labels: component: orc8r, size/L

#13031 fix(amf): Service-accept for request without uplink data status
  lte/gateway/c/core/oai/tasks/amf/amf_recv.cpp
  lte/gateway/c/core/oai/test/amf/test_amf_procedures.cpp
Labels: component: agw, size/L, product: 5g sa

#13435 chore(lte): Bazelify the S1AP precommit tests
  bazel/scripts/run_integ_tests.sh
  bazel/test_constants.bzl
  lte/gateway/python/integ_tests/s1aptests/BUILD.bazel
Labels: component: agw, size/XXL, bazel

#13464 fix(nms): clean up node installation with make
  orc8r/cloud/Makefile
Labels: component: orc8r, component: ci, size/S

#13403 feat(nms): Add new style to the Login page
  nms/app/components/FormField.tsx
  nms/app/e2e/LoginUtils.ts
  nms/app/login.tsx
  nms/app/views/login/LoginForm.tsx
Labels: component: nms, size/L

#13443 fix(ci): Update macos runner to versions 12
  .github/workflows/cwf-integ-test.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test.yml
Labels: component: ci, size/S

#13457 refactor(nms): restyle feg gateway add dialog
  nms/app/components/AddGatewayDialog.tsx
  nms/app/components/KeyValueFields.tsx
  nms/app/components/feg/FEGGatewayDialog.tsx
  nms/app/theme/design-system/DialogTitle.tsx
Labels: component: nms, size/XL

#13477 fix(nms): set e2e test timeout including setup
  nms/app/e2e/__tests__/Apn-test.ts
  nms/app/e2e/__tests__/App-test.ts
  nms/app/e2e/__tests__/FegLte-test.ts
  nms/app/e2e/__tests__/Policy-test.ts
  nms/app/e2e/__tests__/Subscriber-test.ts
Labels: component: nms, size/M

#13478 fix(nms): fix v1.7.0 bug with getting organizations
  nms/package.json
  nms/yarn.lock
Labels: component: agw, component: ci, component: feg, size/M, component: dp

#13481 chore(dp): add 401 GRANT_CONFLICT response handling
  dp/cloud/python/magma/configuration_controller/custom_types/custom_types.py
  dp/cloud/python/magma/configuration_controller/response_processor/strategies/response_processing.py
  dp/cloud/python/magma/configuration_controller/tests/unit/test_response_processor.py
Labels: component: orc8r, size/L

#13335 fix(agw): Migrate hash list of mmeueid2imsi to protobuf_map
  lte/cloud/go/protos/oai/s1ap_state.pb.go
  lte/gateway/c/core/oai/include/s1ap_types.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_itti_messaging.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.hpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_handle_new_association.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_state_converter.cpp
  lte/protos/oai/s1ap_state.proto
Labels: component: orc8r, component: agw, size/L

#13487 chore(ci): OVS packages are upgraded in magma_dev VM
  .github/workflows/build_all.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test.yml
  lte/gateway/Vagrantfile
  orc8r/tools/packer/magma-focal-virtualbox-patch-upgrade-ovs-1.1.20210618.json
  orc8r/tools/packer/scripts/upgrade-ovs-patch-1.1.20210618.sh
Labels: component: ci, size/M

#13504 feat(dp): Add integration tests for carrier aggregation
  dp/cloud/go/services/dp/storage/cbsd_manager.go
  dp/cloud/python/magma/test_runner/tests/api_data_builder.py
  dp/cloud/python/magma/test_runner/tests/test_dp_with_orc8r.py
  dp/tools/fake_sas/fake_sas.py
Labels: component: orc8r, size/L, component: dp

#13447 fix(agw): Ported c files to cpp for sgw_s8 module
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/include/sgw_context_manager.hpp
  lte/gateway/c/core/oai/include/sgw_s8_state.hpp
  lte/gateway/c/core/oai/include/spgw_service_handler.hpp
  lte/gateway/c/core/oai/include/spgw_state.hpp
  lte/gateway/c/core/oai/include/spgw_types.hpp
  lte/gateway/c/core/oai/lib/mobility_client/MobilityClientAPI.cpp
  lte/gateway/c/core/oai/lib/pcef/pcef_handlers.cpp
  lte/gateway/c/core/oai/lib/pcef/pcef_handlers.hpp
  lte/gateway/c/core/oai/lib/pipelined_client/PipelinedClientAPI.cpp
  lte/gateway/c/core/oai/oai_mme/oai_mme.c
  lte/gateway/c/core/oai/tasks/grpc_service/SpgwServiceImpl.cpp
  lte/gateway/c/core/oai/tasks/grpc_service/SpgwServiceImpl.hpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_procedures.cpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_procedures.hpp
  lte/gateway/c/core/oai/tasks/sgw/sgw.hpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_context_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_defs.hpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_paging.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_task.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_converter.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_converter.hpp
  lte/gateway/c/core/oai/tasks/sgw_s8/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_defs.hpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_s11_handlers.hpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_converter.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_converter.hpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_task.cpp
  lte/gateway/c/core/oai/test/sgw_s8_task/sgw_s8_utility.hpp
  lte/gateway/c/core/oai/test/spgw_task/spgw_procedures_test_fixture.cpp
  lte/gateway/c/core/oai/test/spgw_task/spgw_procedures_test_fixture.hpp
  lte/gateway/c/core/oai/test/spgw_task/spgw_test_util.h
  lte/gateway/c/core/oai/test/spgw_task/state_creators.cpp
  lte/gateway/c/core/oai/test/spgw_task/state_creators.hpp
  lte/gateway/c/core/oai/test/spgw_task/test_spgw_procedures_dedicated_bearer.cpp
  lte/gateway/c/core/oai/test/spgw_task/test_spgw_procedures_session.cpp
  lte/gateway/c/core/oai/test/spgw_task/test_spgw_procedures_with_injected_state.cpp
Labels: component: agw, size/L

#13513 chore: Remove unused Bazel target eventd_cpp_proto
  orc8r/protos/BUILD.bazel
Labels: component: orc8r, size/XS, bazel

#12941 feat(orc8r): Protect Service 303 endpoints
  cwf/gateway/services/gateway_health/gateway_health/main.go
  cwf/gateway/services/uesim/uesim/main.go
  feg/gateway/services/aaa/aaa_server/main.go
  feg/gateway/services/aaa/test/pipelined/main.go
  feg/gateway/services/csfb/csfb/main.go
  feg/gateway/services/eap/eap_router/main.go
  feg/gateway/services/eap/providers/aka/eap_aka/main.go
  feg/gateway/services/eap/providers/sim/eap_sim/main.go
  feg/gateway/services/envoy_controller/main.go
  feg/gateway/services/feg_hello/main.go
  feg/gateway/services/gateway_health/gateway_health/main.go
  feg/gateway/services/n7_n40_proxy/n7_n40_proxy/main.go
  feg/gateway/services/radiusd/radiusd/main.go
  feg/gateway/services/s6a_proxy/s6a_proxy/main.go
  feg/gateway/services/s8_proxy/s8_proxy/main.go
  feg/gateway/services/session_proxy/session_proxy/main.go
  feg/gateway/services/swx_proxy/swx_proxy/main.go
  feg/gateway/services/testcore/hss/hss/main.go
  feg/gateway/services/testcore/ocs/main.go
  feg/gateway/services/testcore/pcf/pcf/main.go
  feg/gateway/services/testcore/pcrf/main.go
  orc8r/cloud/configs/service_registry.yml
  orc8r/cloud/go/service/service.go
  orc8r/cloud/go/service/service_test.go
  orc8r/cloud/go/service/test_utils.go
  orc8r/cloud/helm/orc8r/templates/analytics.deployment.yaml
  orc8r/cloud/helm/orc8r/templates/analytics.service.yaml
  orc8r/cloud/helm/orc8r/templates/bootstrapper.deployment.yaml
  orc8r/cloud/helm/orc8r/templates/bootstrapper.service.yaml
  orc8r/cloud/helm/orc8r/templates/dispatcher.deployment.yaml
  orc8r/cloud/helm/orc8r/templates/dispatcher.service.yaml
  orc8r/cloud/helm/orc8r/templates/obsidian.deployment.yaml
  orc8r/cloud/helm/orc8r/templates/obsidian.service.yaml
  orc8r/cloud/helm/orc8r/templates/orc8r_worker.deployment.yaml
  orc8r/cloud/helm/orc8r/templates/orc8r_worker.service.yaml
  orc8r/cloud/helm/orc8r/templates/streamer.deployment.yaml
  orc8r/cloud/helm/orc8r/templates/streamer.service.yaml
  orc8r/gateway/go/services/magmad/service/magmad.go
  orc8r/lib/go/service/client/client_api.go
  orc8r/lib/go/service/service.go
Labels: component: orc8r, component: feg, size/L, ready2merge, component: cwf

#13431 feat(ci): Added initial build and upload workflow
  .github/workflows/build_magma_dep.yml
Labels: component: ci, size/M

#13519 chore: Bazelify the envoy_controller service
  bazel/go_repositories.bzl
  feg/cloud/go/protos/BUILD.bazel
  feg/gateway/registry/BUILD.bazel
  feg/gateway/services/envoy_controller/BUILD.bazel
  feg/gateway/services/envoy_controller/control_plane/BUILD.bazel
  feg/gateway/services/envoy_controller/control_plane/mocks/BUILD.bazel
  feg/gateway/services/envoy_controller/servicers/BUILD.bazel
  lte/cloud/go/protos/BUILD.bazel
  orc8r/gateway/go/service_registry/BUILD.bazel
  orc8r/lib/go/initflag/BUILD.bazel
  orc8r/lib/go/metrics/BUILD.bazel
  orc8r/lib/go/protos/BUILD.bazel
  orc8r/lib/go/protos/mconfig/BUILD.bazel
  orc8r/lib/go/registry/BUILD.bazel
  orc8r/lib/go/registry/client/BUILD.bazel
  orc8r/lib/go/service/BUILD.bazel
  orc8r/lib/go/service/config/BUILD.bazel
Labels: component: orc8r, component: feg, size/XL, bazel

#13516 fix(agw): adding sqlite3 dependencies
  .devcontainer/bazel-base/Dockerfile
  lte/gateway/deploy/roles/magma/tasks/main.yml
  lte/gateway/docker/services/c/Dockerfile
Labels: component: agw, component: ci, size/S

#13511 fix(nms): Remove unused and incorrect mock
  nms/app/views/equipment/__tests__/EquipmentEnodebTest.tsx
Labels: component: nms, size/XS

#13142 chore: fix misspelled error codes in protobuf
  feg/cloud/go/protos/s6a_proxy.pb.go
  feg/gateway/diameter/definitions.go
  feg/gateway/diameter/util.go
  feg/gateway/services/aaa/servicers/responders.go
  feg/gateway/services/swx_proxy/servicers/rt.go
  feg/protos/s6a_proxy.proto
  lte/cloud/go/protos/diam_errors.pb.go
  lte/gateway/c/core/oai/lib/s6a_proxy/s6a_client_api.cpp
  lte/protos/diam_errors.proto
Labels: component: orc8r, component: agw, component: feg, size/L

#13456 feat(nms): Integrate FEG gateway upgrade UI into equipment page
  nms/app/components/feg/FEGContext.tsx
  nms/app/context/FEGGatewayContext.tsx
  nms/app/views/equipment/EquipmentGateway.tsx
  nms/app/views/equipment/FEGEquipmentDashboard.tsx
  nms/app/views/equipment/FEGGatewayTable.tsx
  nms/app/views/equipment/__tests__/FEGGatewayConnectionStatusTest.tsx
  nms/app/views/equipment/__tests__/FEGGatewayDetailStatusTest.tsx
  nms/app/views/equipment/__tests__/FEGGatewaySummaryTest.tsx
Labels: component: nms, size/L

#13509 chore(dp): make CRLValidator always enabled for SAS POSTs, add error handling
  dp/cloud/python/magma/configuration_controller/config.py
  dp/cloud/python/magma/configuration_controller/crl_validator/certificate.py
  dp/cloud/python/magma/configuration_controller/crl_validator/crl_validator.py
  dp/cloud/python/magma/configuration_controller/run.py
  dp/cloud/python/magma/configuration_controller/tests/unit/fixtures/crl/certs.py
  dp/cloud/python/magma/configuration_controller/tests/unit/test_crl_validator.py
Labels: component: orc8r, size/L

#13308 docs(orc8r): removes juju action create-orchestrator-admin-user
  docs/readmes/orc8r/deploy_using_juju.md
Labels: component: docs, DONOTLAND, size/M

#13532 chore(orc8r): Add sources to initflag library in bazel
  orc8r/lib/go/initflag/BUILD.bazel
Labels: component: orc8r, size/XS, bazel

#13493 refactor(nms): correct swagger spec for `networksNetworkIdTracingGet`
  nms/app/context/TraceContext.tsx
  nms/generated/api.ts
  orc8r/cloud/go/services/ctraced/obsidian/models/swagger.v1.yml
  orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml
Labels: component: orc8r, component: nms, size/S

#13527 chore: Remove unused import
  dev_tools/gen_compilation_database.py
Labels: size/XS

#13528 docs(agw): Remove extra verb
  docs/readmes/lte/architecture_overview.md
Labels: component: docs, size/XS

#13498 fix(nms): Repair hot module replacement
  nms/babel.config.js
  nms/config/webpack.config.ts
  nms/package.json
  nms/server/middleware/webpackSmartMiddleware.ts
  nms/yarn.lock
Labels: component: nms, size/L

#13462 refactor(orc8r): correct swagger spec for `networksNetworkIdRatingGroupsGet`
  lte/cloud/go/services/policydb/obsidian/models/swagger.v1.yml
  nms/app/context/PolicyContext.tsx
  nms/app/views/traffic/__tests__/PolicyAddEditTest.tsx
  nms/app/views/traffic/__tests__/TrafficOverviewTest.tsx
  nms/generated/api.ts
  orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml
Labels: component: orc8r, component: nms, size/M

#13485 refactor(orc8r): correct swagger spec for `networksNetworkIdPrometheusAlertReceiverRouteGet`
  nms/app/util/AlarmsApiUtil.ts
  nms/app/views/alarms/components/AlarmAPIType.ts
  nms/app/views/alarms/components/AlarmsApi.ts
  nms/app/views/alarms/components/hooks.ts
  nms/generated/api.ts
  orc8r/cloud/go/services/metricsd/obsidian/models/alert_routing_tree_swaggergen.go
  orc8r/cloud/go/services/metricsd/obsidian/models/swagger.v1.yml
  orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml
Labels: component: orc8r, component: nms, size/L

#13497 chore(lte): Bazelify the S1AP nonsanity tests
  bazel/scripts/run_integ_tests.sh
  bazel/test_constants.bzl
  lte/gateway/python/integ_tests/s1aptests/BUILD.bazel
Labels: component: agw, size/XL, bazel

#12529 feat(pipelined): QFI support in Pipelined and Sessiond
  lte/cloud/go/protos/pipelined.pb.go
  lte/gateway/c/session_manager/SessionStateEnforcer.cpp
  lte/gateway/python/magma/pipelined/app/classifier.py
  lte/gateway/python/magma/pipelined/ng_manager/session_state_manager_util.py
  lte/gateway/python/magma/pipelined/rpc_servicer.py
  lte/gateway/python/magma/pipelined/tests/BUILD.bazel
  lte/gateway/python/magma/pipelined/tests/snapshots/test_qfi_gtp.QfigtpTest.test_qfi_delete_tunnel_flows.snapshot
  lte/gateway/python/magma/pipelined/tests/snapshots/test_qfi_gtp.QfigtpTest.test_qfi_set_tunnel_flows.snapshot
  lte/gateway/python/magma/pipelined/tests/test_qfi_gtp.py
  lte/protos/pipelined.proto
Labels: component: orc8r, component: agw, size/XL

#12646 test(agw): Adding ipv6 data testcases
  lte/gateway/python/integ_tests/defs.mk
  lte/gateway/python/integ_tests/s1aptests/test_ipv6_non_nat_dp_dl_tcp.py
  lte/gateway/python/integ_tests/s1aptests/test_ipv6_non_nat_dp_dl_udp.py
  lte/gateway/python/integ_tests/s1aptests/test_ipv6_non_nat_dp_ul_tcp.py
Labels: component: agw, size/L

#13542 fix(nms): correct a copy paste error
  nms/app/components/GatewayCommandFields.tsx
  nms/app/views/equipment/GatewayYMLConfig.tsx
Labels: component: nms, size/XS

#13534 fix(nms): Remove non-existing parameter
  nms/app/views/events/EventsTable.tsx
Labels: component: nms, size/XS

#13514 fix(orc8r): Fix typos in swagger spec
  nms/app/views/events/EventsTable.tsx
  nms/app/views/events/__tests__/EventsTableTest.tsx
  nms/generated/api.ts
  orc8r/cloud/go/services/eventd/obsidian/models/swagger.v1.yml
  orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml
Labels: component: orc8r, component: nms, size/S

#12975 chore(agw): remove docker container privileges in agw
  lte/gateway/docker/docker-compose.yaml
Labels: component: ci, size/S

#13554 fix(ci): re-enable backport
  .github/workflows/backport.yml
Labels: component: ci, size/XS

#13556 fix(pipelined): fix lte integration issue
  lte/gateway/python/magma/pipelined/tests/snapshots/test_qfi_gtp.QfigtpTest.test_qfi_delete_tunnel_flows.snapshot
  lte/gateway/python/magma/pipelined/tests/test_qfi_gtp.py
Labels: component: agw, size/XS

#13553 chore(sessiond): Remove legacy subscriber_state
  lte/gateway/c/session_manager/OperationalStatesHandler.cpp
  lte/gateway/c/session_manager/test/test_operational_states_handler.cpp
Labels: component: agw, size/M

#13523 chore: Allow Bazel commands to run in repository subdirectories
  .bazelrc
Labels: component: agw, size/XS, bazel

#13559 Revert "fix(nms): Repair hot module replacement (#13498)"
  nms/babel.config.js
  nms/config/webpack.config.ts
  nms/package.json
  nms/server/middleware/webpackSmartMiddleware.ts
  nms/yarn.lock
Labels: component: nms, size/L, backport-v1.8

#13388 chore(agw): Changes for new magma-dev base image
  .github/workflows/build_all.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test.yml
  lte/gateway/Vagrantfile
  lte/gateway/deploy/magma_dev_focal.yml
  lte/gateway/deploy/roles/bazel/tasks/main.yml
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
  lte/gateway/deploy/roles/magma/tasks/main.yml
  orc8r/tools/ansible/roles/pkgrepo/tasks/main.yml
  orc8r/tools/packer/magma-focal-virtualbox.json
  orc8r/tools/packer/vagrant-box-upload.sh
Labels: component: orc8r, component: agw, component: ci, size/L

#13501 chore(ci): start traffic_server only once
  lte/gateway/fabfile.py
Labels: component: agw, size/XS, ready2merge

#13543 fix: selected nonsanity tests are stabilized
  lte/gateway/python/integ_tests/s1aptests/test_activate_deactivate_multiple_dedicated.py
  lte/gateway/python/integ_tests/s1aptests/test_no_attach_complete_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_sctp_shutdown_while_mme_is_stopped.py
Labels: component: agw, size/M

#13332 fix(agw): Fixed cleanup for successful integ test
  lte/gateway/python/integ_tests/defs.mk
  lte/gateway/python/integ_tests/s1aptests/s1ap_wrapper.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_flaky_retry_success.py
Labels: component: agw, size/L

#13517 feat(dp): Merge get state and enodebd update
  dp/cloud/go/protos/cbsd.pb.go
  dp/cloud/go/protos/enodebd_dp.pb.go
  dp/cloud/go/services/dp/builders/builders.go
  dp/cloud/go/services/dp/obsidian/log/handlers.go
  dp/cloud/go/services/dp/obsidian/log/handlers_test.go
  dp/cloud/go/services/dp/obsidian/models/conversion.go
  dp/cloud/go/services/dp/servicers/cbsd_manager.go
  dp/cloud/go/services/dp/servicers/cbsd_manager_test.go
  dp/cloud/go/services/dp/storage/cbsd_manager.go
  dp/cloud/go/services/dp/storage/cbsd_manager_test.go
  dp/cloud/go/services/dp/storage/diff.go
  dp/cloud/go/services/dp/storage/diff_test.go
  dp/cloud/python/magma/configuration_controller/tests/unit/test_dp_logs.py
  dp/cloud/python/magma/fluentd_client/client.py
  dp/cloud/python/magma/fluentd_client/dp_logs.py
  dp/cloud/python/magma/radio_controller/enodebd_client.py
  dp/cloud/python/magma/radio_controller/run.py
  dp/cloud/python/magma/radio_controller/services/dp/__init__.py
  dp/cloud/python/magma/radio_controller/services/dp/service.py
  dp/cloud/python/magma/radio_controller/tests/unit/test_dp_logs.py
  dp/cloud/python/magma/radio_controller/tests/unit/test_dp_service.py
  dp/cloud/python/magma/test_runner/tests/api_data_builder.py
  dp/cloud/python/magma/test_runner/tests/integration_testcase.py
  dp/cloud/python/magma/test_runner/tests/test_active_mode_controller.py
  dp/cloud/python/magma/test_runner/tests/test_dp_with_orc8r.py
  dp/protos/BUILD.bazel
  dp/protos/cbsd.proto
  dp/protos/enodebd_dp.proto
  lte/gateway/python/magma/enodebd/BUILD.bazel
  lte/gateway/python/magma/enodebd/devices/BUILD.bazel
  lte/gateway/python/magma/enodebd/devices/baicells_qrtb.py
  lte/gateway/python/magma/enodebd/devices/freedomfi_one.py
  lte/gateway/python/magma/enodebd/dp_client.py
  lte/gateway/python/magma/enodebd/tests/BUILD.bazel
  lte/gateway/python/magma/enodebd/tests/baicells_qrtb_tests.py
  lte/gateway/python/magma/enodebd/tests/freedomfi_one_tests.py
Labels: component: orc8r, component: agw, size/XXL, ready2merge, component: dp

#13578 fix(ci): Revert start traffic_server only once (#13501)
  lte/gateway/fabfile.py
Labels: component: agw, size/XS

#13580 fix(ci): allow backports to v1.8 branch
  .github/workflows/backport.yml
  .github/workflows/scripts/fabfile.py
Labels: component: ci, size/XS

#13423 fix(agw): Enhanced debugging in CI for agw
  lte/gateway/fabfile.py
  lte/gateway/python/integ_tests/Makefile
Labels: component: agw, size/S

#13572 fix(nms): Make sure hot module replacement works for the e2e test
  nms/app/context/VersionContext.tsx
  nms/app/e2e/__tests__/FegLte-test.ts
  nms/babel.config.js
  nms/config/webpack.config.ts
  nms/package.json
  nms/server/middleware/webpackSmartMiddleware.ts
  nms/yarn.lock
Labels: component: nms, size/L

#13587 chore: obsolete vagrant plugin vagrant-disksize is removed
  .github/workflows/build_all.yml
  .github/workflows/cwf-integ-test.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test.yml
  cwf/gateway/Vagrantfile
  docs/readmes/cwf/dev_testing.md
Labels: component: docs, component: ci, size/S

#13568 fix(agw): Fixed file not found error in publishing integ test status
  ci-scripts/firebase_publish_report.py
Labels: component: ci, size/XS

#13573 feat(nms): Run e2e tests against prod build
  nms/docker-compose-e2e.yml
  nms/docker/docker_ssl_proxy/proxy_ssl.conf
Labels: component: nms, size/XS

#12892 test(mme): Additional tests for ipv6 data
  lte/gateway/python/integ_tests/defs.mk
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/integ_tests/s1aptests/test_ipv4v6_non_nat_ded_bearer_dl_tcp.py
  lte/gateway/python/integ_tests/s1aptests/test_ipv4v6_non_nat_ded_bearer_ul_tcp.py
  lte/gateway/python/integ_tests/s1aptests/test_ipv4v6_non_nat_ul_tcp.py
  lte/gateway/python/integ_tests/s1aptests/test_ipv6_non_nat_ded_bearer_dl_tcp.py
  lte/gateway/python/integ_tests/s1aptests/test_ipv6_non_nat_ded_bearer_ul_tcp.py
  lte/gateway/python/integ_tests/s1aptests/util/traffic_util.py
Labels: component: agw, size/XL

#13515 chore: fix security/issues/112
  feg/radius/src/config/samples/radius.ofpanalytics.config.json.template
  feg/radius/src/config/samples/radius.tataipx.config.json
  feg/radius/src/config/samples/radius.xwfv3.config.json.template
  feg/radius/src/deploy.sh
Labels: size/S, ready2merge, component: cwf

#13595 fix(ci): disabling unstable integ test for now
  lte/gateway/python/integ_tests/defs.mk
Labels: component: agw, size/XS

#13589 fix(ci): cloning with token only works via https not via ssh
  .github/workflows/scripts/fabfile.py
Labels: component: ci, size/XS

#13565 test(orc8r): Stabilize flaky test TestListSubscriberStates
  lte/cloud/go/services/subscriberdb/obsidian/handlers/handlers_test.go
Labels: component: orc8r, size/M

#13601 fix(ci): Don't tag and push xwfm docker images
  .github/workflows/deploy-build-from-pr.yml
Labels: component: ci, size/S

#13440 fix(agw): agw_health_cli.py fails sometimes due to presence of unread…
  lte/gateway/python/magma/health/health_service.py
Labels: component: agw, size/XS

#13503 chore(ci): reboot after dist upgrade in fabfile
  lte/gateway/fabfile.py
Labels: component: agw, size/XS

#13615 Revert "chore(ci): reboot after dist upgrade in fabfile"
  lte/gateway/fabfile.py
Labels: component: agw, size/XS

#13585 chore(ci): Use the bazel-built envoy_controller service in the LTE integ test bazel workflow
  .github/workflows/lte-integ-test-bazel.yml
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@envoy_controller.service
Labels: component: agw, component: ci, size/M, bazel

#13598 fix(orc8r): Fix orc8r helm chart bugs
  dp/cloud/helm/dp/charts/domain-proxy/examples/orc8r_minikube_values.yaml
  dp/cloud/helm/dp/charts/domain-proxy/examples/orc8r_secrets_values.yaml
  dp/tools/skaffold_hooks/hooks.sh
  orc8r/cloud/helm/orc8r/charts/logging/templates/fluentd-daemon.configmap.yaml
  orc8r/cloud/helm/orc8r/templates/dp.deployment.yaml
Labels: component: orc8r, size/M, component: dp, candidate-for-backporting

#13576 fix(ci): updated deb build CI job
  .github/workflows/build_magma_dep.yml
Labels: component: ci, size/XS

#13625 fix(agw): Remove unused python symlink
  lte/gateway/docker/services/python/Dockerfile
Labels: component: ci, size/XS

#13044 chore(pipelined): Get patched aioeventlet from fork
  .devcontainer/Dockerfile
  bazel/python_repositories.bzl
  cwf/gateway/docker/python/Dockerfile
  lte/gateway/deploy/roles/magma/files/patches/aioeventlet.py38.patch
  lte/gateway/deploy/roles/magma/files/patches/aioeventlet_fd_exception.patch
  lte/gateway/deploy/roles/magma/tasks/main.yml
  lte/gateway/python/setup.py
  orc8r/gateway/python/python.mk
  third_party/build/bin/aioeventlet_build.sh
Labels: component: orc8r, component: agw, component: ci, size/L, component: cwf

#13626 ci: remove testim-workflow
  .github/workflows/testim-workflow.yml
Labels: component: ci, size/M

#13575 fix(mme): Add libsqlite3 dependency in containers for OAI pipeline
  ci-scripts/docker/Dockerfile.mme.ci.rhel8
  ci-scripts/docker/Dockerfile.mme.ci.ubuntu18
  lte/gateway/docker/mme/Dockerfile.rhel8
  lte/gateway/docker/mme/Dockerfile.ubuntu18.04
Labels: component: ci, size/XS

#13607 feat(ci): implement proper backporting workflow
  .github/workflows/backport-pull-request.yml
  .github/workflows/backport.yml
  .github/workflows/scripts/fabfile.py
Labels: component: ci, size/L

#13622 fix(ci): Moved setting up the hostname to ansible as reloading the vm would fail.
  lte/gateway/Vagrantfile
  lte/gateway/deploy/roles/magma/tasks/main.yml
  lte/gateway/deploy/roles/magma_test/tasks/main.yml
  lte/gateway/deploy/roles/trfserver/tasks/main.yml
Labels: component: agw, component: ci, size/S

#13562 chore(ci): Run the bazel workflow as a matrix job with relevant configs
  .github/workflows/agw-workflow.yml
  .github/workflows/bazel.yml
Labels: component: ci, size/L, bazel

#13629 chore(agw): bump version of ovs that is required
  lte/gateway/release/build-magma.sh
Labels: component: ci, size/XS, ready2merge

#13603 chore(nms): Remove deprecated xwf functionality from frontend
  nms/app/components/admin/AddNetworkDialog.tsx
  nms/app/components/layout/__tests__/useSections-test.tsx
  nms/server/grafana/dashboards/XWFMDashboards.ts
  nms/server/grafana/handlers.ts
  nms/server/network/routes.ts
  nms/shared/types/network.ts
Labels: component: nms, size/L

#13567 chore(ci): Make it possible to manually start the Bazel build and test job
  .github/workflows/bazel.yml
Labels: component: ci, size/S

#13451 chore: py production scripts are bazelified
  bazel/external/requirements.in
  bazel/external/requirements.txt
  bazel/scripts/check_py_bazel.sh
  feg/protos/BUILD.bazel
  lte/gateway/python/integ_tests/s1aptests/ovs/BUILD.bazel
  lte/gateway/python/load_tests/BUILD.bazel
  lte/gateway/python/magma/health/BUILD.bazel
  lte/gateway/python/magma/mobilityd/BUILD.bazel
  lte/gateway/python/magma/pipelined/BUILD.bazel
  lte/gateway/python/magma/pipelined/tests/app/BUILD.bazel
  lte/gateway/python/magma/policydb/BUILD.bazel
  lte/gateway/python/scripts/BUILD.bazel
  lte/protos/BUILD.bazel
  lte/protos/oai/BUILD.bazel
  orc8r/gateway/python/magma/common/BUILD.bazel
  orc8r/gateway/python/magma/common/health/BUILD.bazel
  orc8r/gateway/python/magma/magmad/BUILD.bazel
  orc8r/gateway/python/scripts/BUILD.bazel
Labels: component: orc8r, component: agw, component: feg, size/XXL

#13611 docs(agw): Added Docker AGW install docs
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/readmes/lte/deploy_install_docker.md
Labels: component: docs, size/L

#13638 fix(ci): the semantic-pr should also run on additional actions
  .github/workflows/semantic-pr.yml
Labels: component: ci, size/XS

#13592 refactor: Remove deprecated xwf functionality
  feg/radius/src/config/samples/radius.xwfv3.config.json.template
  feg/radius/src/deploy.sh
  orc8r/tools/docker/install_gateway.sh
Labels: component: orc8r, size/L, ready2merge, component: cwf

#13640 fix(ci): a personal access token must be used to be able to trigger workflows
  .github/workflows/backport-pull-request.yml
Labels: component: ci, size/XS

#13627 refactor: remove xwf functionality from backend
  cwf/cloud/go/services/cwf/obsidian/models/network_carrier_wifi_configs_swaggergen.go
  cwf/cloud/go/services/cwf/obsidian/models/swagger.v1.yml
  nms/generated/api.ts
  orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml
Labels: component: orc8r, component: nms, size/S, component: cwf

#13146 fix(agw): Fixed SCTP abort issue by setting finite timeout in sctp_sendmsg
  lte/gateway/c/sctpd/src/sctp_connection.cpp
Labels: component: agw, size/XS

#13619 refactor: remove xwf from helm
  cwf/gateway/helm/cwf-kubevirt/templates/bin/_install_gateway.sh.tpl
  cwf/gateway/helm/cwf-virtlet/templates/bin/_install_gateway.sh.tpl
  feg/gateway/helm/feg-kubevirt/templates/bin/_install_gateway.sh.tpl
  feg/gateway/helm/feg-virtlet/templates/bin/_install_gateway.sh.tpl
Labels: component: feg, size/M, component: cwf

#13649 fix(cwg): Install patched aioeventlet from Magma fork
  cwf/gateway/docker/python/Dockerfile
Labels: size/XS, component: cwf

#13582 refactor(nms): Migrate Alert Rules Overview to new style
  nms/app/views/alarms/components/AlertRules.tsx
  nms/app/views/alarms/components/table/SimpleTable.tsx
Labels: component: nms, size/L

#13621 refactor: Remove xwf from pipelined
  lte/gateway/python/magma/pipelined/BUILD.bazel
  lte/gateway/python/magma/pipelined/app/BUILD.bazel
  lte/gateway/python/magma/pipelined/app/egress.py
  lte/gateway/python/magma/pipelined/app/ingress.py
  lte/gateway/python/magma/pipelined/app/middle.py
  lte/gateway/python/magma/pipelined/app/xwf_passthru.py
  lte/gateway/python/magma/pipelined/service_manager.py
  lte/gateway/python/magma/pipelined/tests/snapshots/test_inout.InOutTestXWF.testFlowSnapshotMatch.snapshot
  lte/gateway/python/magma/pipelined/tests/test_inout.py
Labels: component: agw, size/L

#13593 refactor(nms): Migrate Alerts Receivers Overview to new style
  nms/app/views/alarms/components/alertmanager/Receivers/Receivers.tsx
  nms/app/views/alarms/components/alertmanager/Receivers/__tests__/Receivers-test.tsx
Labels: component: nms, size/L

#13017 docs(agw): fixing instructions to connect enodeb to gateway VM
  docs/readmes/lte/dev_notes.md
Labels: component: docs, size/XS

#13652 fix: sentry_sdk is pinned to <1.9
  lte/gateway/python/setup.py
  orc8r/gateway/python/setup.py
Labels: component: orc8r, component: agw, size/XS

#13667 refactor: remove xwf entry from dockerignore file
  .dockerignore
Labels: size/XS

#13656 fix(pipelined): Updating pipelined production configuration
  lte/gateway/configs/pipelined.yml_prod
Labels: component: agw, size/S

#13660 feat(ci): Publishing feg-integ test result in firebase
  .github/workflows/federated-integ-test.yml
  ci-scripts/firebase_publish_report.py
Labels: component: ci, size/M

#13657 chore(ci): Add option for remote download optimization to bazel remote cache setup
  .bazelrc
  .github/workflows/agw-workflow.yml
  .github/workflows/bazel.yml
  .github/workflows/gcc-problems.yml
  bazel/scripts/remote_cache_bazelrc_setup.sh
Labels: component: ci, size/M, bazel

#13677 chore: Remove deleted xwf path from ansible config
  orc8r/cloud/deploy/orc8r_deployer/docker/root/.ansible.cfg
Labels: component: orc8r, size/XS

#13665 chore(dp): Don't follow PODs logs in integration tests
  dp/Makefile
Labels: size/XS, component: dp

#13636 chore(dp): optimizing queries
  dp/cloud/python/magma/configuration_controller/custom_types/custom_types.py
  dp/cloud/python/magma/configuration_controller/response_processor/response_db_processor.py
  dp/cloud/python/magma/configuration_controller/response_processor/strategies/response_processing.py
  dp/cloud/python/magma/db_service/migrations/versions/48e8b58fcc24_.py
  dp/cloud/python/magma/db_service/models.py
  dp/cloud/python/magma/db_service/tests/unit/test_48e8b58fcc24.py
  dp/cloud/python/magma/radio_controller/run.py
  dp/cloud/python/magma/radio_controller/services/radio_controller/service.py
  dp/cloud/python/magma/radio_controller/tests/unit/test_radio_controller_service.py
  dp/cloud/python/magma/test_runner/tests/test_dp_with_orc8r.py
Labels: component: orc8r, size/L

#13583 chore(ci): Use the bazel remote cache in the bazel LTE integ test workflow
  .github/workflows/lte-integ-test-bazel.yml
Labels: component: ci, size/XS, bazel

#13552 feat(agw): Create magma VM based on debian package
  lte/gateway/Vagrantfile
  lte/gateway/deploy/agw_install_ubuntu_vm.sh
  lte/gateway/deploy/agw_network_ubuntu.sh
  lte/gateway/deploy/hosts
  lte/gateway/deploy/magma_deb.yml
  lte/gateway/deploy/roles/magma_deb/files/magma-preferences
  lte/gateway/deploy/roles/magma_deb/tasks/main.yml
  lte/gateway/deploy/roles/magma_deploy/tasks/main.yml
  lte/gateway/deploy/roles/magma_deploy/vars/all_master.yaml
Labels: component: agw, component: ci, size/L

#13668 refactor: remove xwf from workflows
  .github/workflows/autolabel-pullrequests.yml
  .github/workflows/semantic-pr.yml
Labels: component: ci, size/XS

#13680 fix(dp): CBSD might get accidentally removed when removing grant
  dp/cloud/python/magma/configuration_controller/tests/unit/test_response_processor.py
  dp/cloud/python/magma/db_service/models.py
Labels: component: orc8r, size/M

#13623 chore: new integ tests are bazelified
  bazel/external/requirements.in
  bazel/external/requirements.txt
  bazel/scripts/check_py_bazel.sh
  lte/gateway/python/integ_tests/s1aptests/BUILD.bazel
Labels: component: agw, size/L, bazel

#13691 fix(ci): added feg_integ_test in firebase
  .github/workflows/build_all.yml
Labels: component: ci, size/XS

#13694 fix(ci): updated ci report action
  .github/workflows/federated-integ-test.yml
Labels: component: ci, size/S

#13688 feat(ci): deactivate useless linter warnings for yaml document start
  .github/workflows/config/yamllint_config.yml
Labels: component: ci, size/XS

#13704 fix(agw): Fixed ci lte integ test execution issue
  lte/gateway/python/integ_tests/Makefile
  lte/gateway/python/integ_tests/s1aptests/s1ap_wrapper.py
Labels: component: agw, size/XS

#13630 chore: delete config file
  lte/gateway/configs/tarazedd.yml
Labels: component: agw, size/S, ready2merge

#13706 fix(ci): added parser for feg tests
  .github/workflows/federated-integ-test.yml
  ci-scripts/firebase_publish_report.py
Labels: component: ci, size/XS

#13646 test(orc8r): Make TestSingletonRun not flaky
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_singleton_test.go
Labels: component: orc8r, size/L, ready2merge

#13681 docs: Represent the new changes in the charmed-magma repository
  docs/readmes/orc8r/deploy_using_juju.md
Labels: component: docs, size/S

#13700 docs(agw): Update outdated playbook reference
  experimental/cloudstrapper/README.md
Labels: size/XS

#13628 chore: Improve integ test wrapper script
  bazel/external/requirements.in
  bazel/external/requirements.txt
  bazel/python_test.bzl
  bazel/scripts/run_integ_tests.sh
  lte/gateway/python/integ_tests/s1aptests/BUILD.bazel
  lte/gateway/python/scripts/runtime_report.py
Labels: component: agw, size/L, bazel

#13699 chore: Reference magma VM more explicitly
  lte/gateway/Vagrantfile
Labels: component: ci, size/XS

#13696 feat(ci): Add license header to all Github workflows
  .github/stale.yml
  .github/workflows/agw-docker-load-test.yml
  .github/workflows/agw-workflow.yml
  .github/workflows/amis-workflow.yml
  .github/workflows/autolabel-pullrequests.yml
  .github/workflows/backport-pull-request.yml
  .github/workflows/bazel.yml
  .github/workflows/build_all.yml
  .github/workflows/build_magma_dep.yml
  .github/workflows/check-rebase.yml
  .github/workflows/cloud-workflow.yml
  .github/workflows/codeowners-syntax.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/comment-pr-on-check-failure.yml
  .github/workflows/composite/docker-builder/action.yml
  .github/workflows/composite/dp-integ-tests/action.yml
  .github/workflows/composite/maximize-build-space/action.yml
  .github/workflows/composite/sentry-create-and-upload-artifacts/action.yml
  .github/workflows/config/yamllint_config.yml
  .github/workflows/cwag-workflow.yml
  .github/workflows/cwf-integ-test.yml
  .github/workflows/cwf-operator.yml
  .github/workflows/dco-check.yml
  .github/workflows/deploy-build-from-pr.yml
  .github/workflows/docker-builder-devcontainer.yml
  .github/workflows/docker-builder-python-precommit.yml
  .github/workflows/docs-workflow.yml
  .github/workflows/docusaurus-workflow.yml
  .github/workflows/dp-workflow.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/feg-workflow.yml
  .github/workflows/fossa-workflow.yml
  .github/workflows/gcc-problems.yml
  .github/workflows/generate-gcc-warnings.sh
  .github/workflows/golang-build-test.yml
  .github/workflows/helm-chart-dependency-check.yml
  .github/workflows/helm-deploy-on-demand.yml
  .github/workflows/insync-checkin.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/nms-workflow.yml
  .github/workflows/pr_bot.yml
  .github/workflows/python-workflow.yml
  .github/workflows/rebase.yml
  .github/workflows/reviewdog-workflow.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/unit-test-workflow.yml
Labels: component: ci, size/XL

#13713 docs(agw): Fix link to docker installation script in Readme
  lte/gateway/docker/README.md
Labels: component: ci, size/XS

#13712 fix(agw): cpp migration of nas/esm files
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/include/EpsQualityOfService.h
  lte/gateway/c/core/oai/include/mme_app_statistics.h
  lte/gateway/c/core/oai/include/mme_app_ue_context.h
  lte/gateway/c/core/oai/lib/3gpp/3gpp_24.008.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_apn_selection.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer_context.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer_context.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_context.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_defs.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_itti_messaging.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_itti_messaging.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_location.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_pdn_context.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_timer_management.hpp
  lte/gateway/c/core/oai/tasks/nas/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/nas/api/mme/mme_api.h
  lte/gateway/c/core/oai/tasks/nas/emm/Attach.c
  lte/gateway/c/core/oai/tasks/nas/emm/Detach.c
  lte/gateway/c/core/oai/tasks/nas/emm/LowerLayer.c
  lte/gateway/c/core/oai/tasks/nas/emm/NasTransportHdl.c
  lte/gateway/c/core/oai/tasks/nas/emm/ServiceRequestHdl.c
  lte/gateway/c/core/oai/tasks/nas/emm/TrackingAreaUpdate.c
  lte/gateway/c/core/oai/tasks/nas/emm/emm_data.h
  lte/gateway/c/core/oai/tasks/nas/emm/emm_data_ctx.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_cn.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_sap.h
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_send.c
  lte/gateway/c/core/oai/tasks/nas/esm/DedicatedEpsBearerContextActivation.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/DefaultEpsBearerContextActivation.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/EpsBearerContextDeactivation.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/EsmStatusHdl.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/PdnConnectivity.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/PdnDisconnect.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/esm_data.hpp
  lte/gateway/c/core/oai/tasks/nas/esm/esm_data_context.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/esm_ebr.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/esm_ebr.hpp
  lte/gateway/c/core/oai/tasks/nas/esm/esm_ebr_context.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/esm_ebr_context.hpp
  lte/gateway/c/core/oai/tasks/nas/esm/esm_information.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/esm_ip.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/esm_main.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/esm_main.hpp
  lte/gateway/c/core/oai/tasks/nas/esm/esm_proc.hpp
  lte/gateway/c/core/oai/tasks/nas/esm/esm_pt.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/esm_pt.hpp
  lte/gateway/c/core/oai/tasks/nas/esm/sap/esm_recv.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/sap/esm_recv.hpp
  lte/gateway/c/core/oai/tasks/nas/esm/sap/esm_sap.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/sap/esm_sap.hpp
  lte/gateway/c/core/oai/tasks/nas/esm/sap/esm_sapDef.hpp
  lte/gateway/c/core/oai/tasks/nas/esm/sap/esm_send.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/sap/esm_send.hpp
  lte/gateway/c/core/oai/tasks/nas/nas_proc.c
  lte/gateway/c/core/oai/tasks/nas/nas_procedures.h
  lte/gateway/c/core/oai/tasks/nas/nas_state_converter.hpp
  lte/gateway/c/core/oai/tasks/nas/util/nas_timer.h
Labels: component: agw, size/XL

#13547 docs: update nav
  README.md
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/docusaurus/siteConfig.js
  docs/readmes/proposals/p014_proposal_process.md
Labels: component: docs, size/M, ready2merge

#13718 Arm pipeline build
  .github/workflows/arm_workflow.yml
  lte/gateway/deploy/arm_build.yml
Labels: size/L

#13716 fix(sessiond): Fix the session modification bug
  lte/gateway/c/session_manager/SessionStateEnforcer.cpp
Labels: type: bug, component: agw, priority: high, size/XS, product: 5g sa, apply-v1.8, candidate-for-backporting

#13730 chore(ci): Reconfigure the LTE integ test bazel workflow trigger to only run on master branch
  .github/workflows/lte-integ-test-bazel.yml
Labels: component: ci, LTE-Integration-Test, size/XS, bazel

#13499 fix(ci): clean up broken Semantic PR
  .github/workflows/comment-pr-on-check-failure.yml
  .github/workflows/semantic-pr.yml
Labels: component: ci, size/M

#13613 refactor(orc8r): Simplify protected server logic
  cwf/gateway/services/gateway_health/gateway_health/main.go
  cwf/gateway/services/uesim/uesim/main.go
  feg/gateway/services/aaa/aaa_server/main.go
  feg/gateway/services/aaa/test/pipelined/main.go
  feg/gateway/services/csfb/csfb/main.go
  feg/gateway/services/eap/eap_router/main.go
  feg/gateway/services/eap/providers/aka/eap_aka/main.go
  feg/gateway/services/eap/providers/sim/eap_sim/main.go
  feg/gateway/services/envoy_controller/main.go
  feg/gateway/services/feg_hello/main.go
  feg/gateway/services/gateway_health/gateway_health/main.go
  feg/gateway/services/n7_n40_proxy/n7_n40_proxy/main.go
  feg/gateway/services/radiusd/radiusd/main.go
  feg/gateway/services/s6a_proxy/s6a_proxy/main.go
  feg/gateway/services/s8_proxy/s8_proxy/main.go
  feg/gateway/services/session_proxy/session_proxy/main.go
  feg/gateway/services/swx_proxy/swx_proxy/main.go
  feg/gateway/services/testcore/hss/hss/main.go
  feg/gateway/services/testcore/ocs/main.go
  feg/gateway/services/testcore/pcf/pcf/main.go
  feg/gateway/services/testcore/pcrf/main.go
  orc8r/cloud/go/service/service.go
  orc8r/cloud/go/service/test_utils.go
  orc8r/gateway/go/services/magmad/service/magmad.go
  orc8r/lib/go/service/service.go
Labels: component: orc8r, component: feg, size/M, component: cwf

#13726 fix(agw): updated docker install script for agw
  docs/readmes/lte/deploy_install_docker.md
  lte/gateway/deploy/agw_install_docker.sh
  lte/gateway/docker/.env
  lte/gateway/docker/docker-compose.yaml
Labels: component: agw, component: docs, component: ci, size/M

#13735 fix(ci): Add missing paths to the path filter in the bazel workflow
  .github/workflows/bazel.yml
Labels: component: ci, size/XS, bazel

#13737 fix(agw): updated docker install script for agw (#13726)
  docs/readmes/lte/deploy_install_docker.md
  lte/gateway/deploy/agw_install_docker.sh
  lte/gateway/docker/.env
  lte/gateway/docker/docker-compose.yaml
Labels: component: agw, component: docs, component: ci, size/L

#13741 fix: folly can be installed on systems without sudo
  third_party/build/bin/folly_build.sh
Labels: component: ci, size/XS

#13745 docs(orc8r): updated slack link on the docs
  docs/docusaurus/core/Footer.js
Labels: component: docs, size/XS

#13747 fix(ci): Fix debug logging for bazel dependency
  bazel/python_repositories.bzl
Labels: size/XS, bazel

#13753 Revert "fix: bazel base uses same folly version as magma vm (#13743)"
  .devcontainer/bazel-base/Dockerfile
Labels: size/M

#13736 chore(orc8r): Add option to enable http metrics for orc8r services
  cwf/cloud/go/go.mod
  cwf/cloud/go/go.sum
  cwf/gateway/go.mod
  cwf/gateway/go.sum
  cwf/k8s/cwf_operator/go.mod
  cwf/k8s/cwf_operator/go.sum
  dp/cloud/go/go.mod
  dp/cloud/go/go.sum
  feg/cloud/go/go.mod
  feg/cloud/go/go.sum
  feg/gateway/go.mod
  feg/gateway/go.sum
  lte/cloud/go/go.mod
  lte/cloud/go/go.sum
  orc8r/cloud/go/go.mod
  orc8r/cloud/go/go.sum
  orc8r/cloud/go/service/service.go
  orc8r/cloud/go/service/test_utils.go
  orc8r/cloud/go/services/dispatcher/dispatcher/main.go
  orc8r/cloud/go/services/metricsd/metricsd/main.go
  orc8r/cloud/go/services/orchestrator/orchestrator/main.go
  orc8r/cloud/test/go.mod
  orc8r/cloud/test/go.sum
Labels: component: orc8r, component: feg, size/M, component: cwf

#13715 feat(dp): Add relinquish custom action
  dp/cloud/go/active_mode_controller/internal/app/app.go
  dp/cloud/go/active_mode_controller/internal/app/app_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/message/delete.go
  dp/cloud/go/active_mode_controller/internal/message_generator/message/relinquish.go
  dp/cloud/go/active_mode_controller/internal/message_generator/message/relinquish_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/message/sas.go
  dp/cloud/go/active_mode_controller/internal/message_generator/message/sas_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/message/store_available_frequencies.go
  dp/cloud/go/active_mode_controller/internal/message_generator/message/store_available_frequencies_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/message/update.go
  dp/cloud/go/active_mode_controller/internal/message_generator/message/update_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/message_generator.go
  dp/cloud/go/active_mode_controller/internal/message_generator/message_generator_test.go
  dp/cloud/go/active_mode_controller/internal/test_utils/builders/cbsd.go
  dp/cloud/go/active_mode_controller/protos/active_mode/active_mode.pb.go
  dp/cloud/go/active_mode_controller/protos/requests/requests.pb.go
  dp/cloud/go/protos/cbsd.pb.go
  dp/cloud/go/services/dp/obsidian/cbsd/handlers.go
  dp/cloud/go/services/dp/obsidian/cbsd/handlers_test.go
  dp/cloud/go/services/dp/obsidian/models/swagger.v1.yml
  dp/cloud/go/services/dp/servicers/cbsd_manager.go
  dp/cloud/go/services/dp/servicers/cbsd_manager_test.go
  dp/cloud/go/services/dp/storage/cbsd_manager.go
  dp/cloud/go/services/dp/storage/cbsd_manager_test.go
  dp/cloud/go/services/dp/storage/diff.go
  dp/cloud/go/services/dp/storage/models.go
  dp/cloud/go/services/dp/storage/models_test.go
  dp/cloud/python/magma/__init__.py
  dp/cloud/python/magma/db_service/migrations/versions/018_add_indices_for_relations.py
  dp/cloud/python/magma/db_service/migrations/versions/019_add_relinquish.py
  dp/cloud/python/magma/db_service/models.py
  dp/cloud/python/magma/db_service/tests/unit/test_018_add_indices_for_relations.py
  dp/cloud/python/magma/db_service/tests/unit/test_019_add_relinquish.py
  dp/cloud/python/magma/radio_controller/enodebd_client.py
  dp/cloud/python/magma/radio_controller/metrics.py
  dp/cloud/python/magma/radio_controller/run.py
  dp/cloud/python/magma/radio_controller/services/active_mode_controller/service.py
  dp/cloud/python/magma/radio_controller/services/active_mode_controller/strategies/__init__.py
  dp/cloud/python/magma/radio_controller/services/active_mode_controller/strategies/get_cbsd_filters.py
  dp/cloud/python/magma/radio_controller/services/active_mode_controller/strategies/strategies_mapping.py
  dp/cloud/python/magma/radio_controller/services/dp/service.py
  dp/cloud/python/magma/radio_controller/services/radio_controller/service.py
  dp/cloud/python/magma/radio_controller/services/radio_controller/strategies/__init__.py
  dp/cloud/python/magma/radio_controller/tests/test_utils/active_mode_cbsd_builder.py
  dp/cloud/python/magma/radio_controller/tests/test_utils/db_cbsd_builder.py
  dp/cloud/python/magma/radio_controller/tests/unit/test_active_mode_controller_service.py
  dp/cloud/python/magma/radio_controller/tests/unit/test_dp_service.py
  dp/cloud/python/magma/radio_controller/tests/unit/test_radio_controller_service.py
  dp/cloud/python/magma/test_runner/tests/test_dp_with_orc8r.py
  dp/protos/active_mode.proto
  dp/protos/cbsd.proto
  dp/protos/requests.proto
  nms/app/context/CbsdContext.tsx
  nms/app/views/domain-proxy/CbsdsTable.tsx
  nms/app/views/domain-proxy/__tests__/CbsdsTable.tsx
  nms/generated/api.ts
  orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml
Labels: component: orc8r, size/XXL

#13752 fix(dp): fix unique constraint error handling in sqlite
  orc8r/cloud/go/sqorc/error_checker.go
  orc8r/cloud/go/sqorc/error_checker_test.go
Labels: component: orc8r, size/S

#13740 fix(agw): updated env.j2 file
  docs/readmes/lte/deploy_install_docker.md
  lte/gateway/deploy/agw_install_docker.sh
  lte/gateway/deploy/roles/agw_docker/tasks/main.yml
  lte/gateway/deploy/roles/agw_docker/templates/env.j2
  lte/gateway/deploy/roles/agw_docker/vars/all.yaml
Labels: component: agw, component: docs, size/S

#13624 docs: Extended features in 5G SA documentation
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/readmes/assets/lte/IPv4v6.png
  docs/readmes/assets/lte/IPv6.png
  docs/readmes/assets/lte/QoS_in_pdu_session_accept.png
  docs/readmes/assets/lte/Router_Advertisement.png
  docs/readmes/assets/lte/Session_modification_stub_cli_commands
  docs/readmes/assets/lte/Stateless_feature.png
  docs/readmes/lte/extended_5G_sa_features.md
Labels: component: docs, size/L, product: 5g sa

#13318 fix(amf): ICS IE not required for ICS
  lte/gateway/c/core/oai/tasks/amf/amf_app_handler.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_as.cpp
  lte/gateway/c/core/oai/test/amf/test_amf_procedures.cpp
Labels: type: bug, component: agw, size/S, product: 5g sa

#13757 chore: bazel base image is pinned
  .github/workflows/agw-workflow.yml
  .github/workflows/bazel.yml
  .github/workflows/gcc-problems.yml
Labels: component: ci, size/XS

#13759 docs(cloud): updated pdf links in docs
  docs/docusaurus/core/Footer.js
Labels: component: docs, size/XS

#13751 chore(ci): Reconfigure bazel workflow trigger
  .github/workflows/bazel.yml
Labels: component: ci, size/XS, bazel

#13763 docs(cloud): updated blog link
  docs/docusaurus/core/Footer.js
Labels: component: docs, size/XS, candidate-for-backporting

#13769 chore(dp): Remove apt packages version pinning in DP Dockerfiles
  dp/cloud/docker/python/configuration_controller/Dockerfile
  dp/cloud/docker/python/radio_controller/Dockerfile
  dp/cloud/docker/python/test_runner/Dockerfile
Labels: component: orc8r, size/XS

#13734 chore(ci): Mitigate Vagrant cloud rate limiting errors by logging in
  .github/workflows/build_all.yml
  .github/workflows/cwf-integ-test.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test.yml
Labels: component: ci, size/M

#13482 chore(agw): Python dependency upgrades
  bazel/external/requirements.in
  bazel/external/requirements.txt
  lte/gateway/python/magma/pipelined/qos/tc_ops_pyroute2.py
  lte/gateway/python/setup.py
  lte/gateway/release/magma.lockfile.ubuntu
  lte/gateway/release/pydep
  orc8r/gateway/python/magma/common/BUILD.bazel
  orc8r/gateway/python/setup.py
Labels: component: orc8r, component: agw, component: ci, size/XXL, ready2merge

#13738 fix(agw): Removed leaking sysctl from sessiond
  lte/gateway/docker/docker-compose.yaml
Labels: component: ci, size/XS

#13744 chore: Add improvements to the bazel sudo wrapper script
  bazel/scripts/run_integ_tests.sh
  bazel/scripts/run_sudo_tests.sh
Labels: component: ci, size/M, bazel

#13770 fix(agw): updated env file
  lte/gateway/deploy/roles/agw_docker/vars/all.yaml
Labels: component: agw, size/XS

#13608 chore: add security section
  README.md
  SECURITY.md
Labels: component: nms, size/S, ready2merge

#13772 chore(ci): Run the sudo tests with bazel
  .github/workflows/lte-integ-test-bazel.yml
  lte/gateway/fabfile.py
Labels: component: agw, component: ci, size/XS, bazel

#13555 chore(orc8r): upload vagrant box with vagrant cli
  orc8r/tools/packer/vagrant-box-upload.sh
Labels: component: ci, size/M
