Repository magma/magma, pull requests merged in 2022-07, with the labels that each got.

#13148 feat(dp): Update active mode protos for carrier aggregation
  dp/cloud/go/active_mode_controller/internal/message_generator/message_generator_test.go
  dp/cloud/go/active_mode_controller/protos/active_mode/active_mode.pb.go
  dp/cloud/python/magma/radio_controller/services/active_mode_controller/service.py
  dp/protos/active_mode.proto
Labels: component: orc8r, size/XL, component: dp

#13166 docs: fix broken community link
  docs/docusaurus/siteConfig.js
Labels: component: docs, size/XS

#13164 fix(agw): Updated ansible version for deployment script
  lte/gateway/deploy/agw_install_ubuntu.sh
Labels: size/XS

#13170 fix(dp): add filtering logs by networkId
  dp/cloud/go/services/dp/obsidian/log/handlers.go
  dp/cloud/go/services/dp/obsidian/log/handlers_test.go
  dp/cloud/python/magma/test_runner/tests/test_dp_with_orc8r.py
Labels: component: orc8r, size/M

#13178 fix: Document usage of Python 3.8 in Magma prerequisites.
  docs/docusaurus/versioned_docs/version-1.7.0/basics/prerequisites.md
  docs/readmes/basics/prerequisites.md
Labels: component: docs, size/S

#13175 chore(cwg): Remove duplicate imports
  cwf/gateway/integ_tests/gx_enforcement_test.go
  cwf/gateway/integ_tests/gx_qos_enforcement_test.go
  cwf/gateway/integ_tests/gy_enforcement_test.go
  cwf/gateway/integ_tests/omni_rules_test.go
Labels: size/L, component: cwf

#13161 docs(orc8r): Adds how-to guide for deploying orc8r with Juju
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/readmes/orc8r/deploy_using_juju.md
Labels: component: docs, size/L

#13058 chore: Split mme binary by features
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/test/amf/BUILD.bazel
  lte/gateway/c/core/oai/test/gtpv2-c/BUILD.bazel
  lte/gateway/c/core/oai/test/itti/BUILD.bazel
  lte/gateway/c/core/oai/test/lib/BUILD.bazel
  lte/gateway/c/core/oai/test/lib/mme_app/BUILD.bazel
  lte/gateway/c/core/oai/test/mme_app_task/BUILD.bazel
  lte/gateway/c/core/oai/test/mock_tasks/BUILD.bazel
  lte/gateway/c/core/oai/test/n11/BUILD.bazel
  lte/gateway/c/core/oai/test/nas/BUILD.bazel
  lte/gateway/c/core/oai/test/ngap/BUILD.bazel
  lte/gateway/c/core/oai/test/openflow/BUILD.bazel
  lte/gateway/c/core/oai/test/pipelined_client/BUILD.bazel
  lte/gateway/c/core/oai/test/s1ap_task/BUILD.bazel
  lte/gateway/c/core/oai/test/s6a_task/BUILD.bazel
  lte/gateway/c/core/oai/test/sgw_s8_task/BUILD.bazel
  lte/gateway/c/core/oai/test/spgw_task/BUILD.bazel
Labels: component: agw, size/XXL, bazel-cleanup, bazel

#13181 chore(agw): Remove unused functions from pydep
  lte/gateway/release/pydep
Labels: component: ci, size/M

#13081 feat(subscriberdb): Handle NW NGC config nil check correctly
  lte/cloud/go/services/subscriberdb/load.go
  lte/gateway/python/magma/subscriberdb/client.py
Labels: component: orc8r, component: agw, size/M, product: 5g sa

#12579 fix(agw): Ignore health_cli.py error message
  orc8r/gateway/python/scripts/orc8r_health_service.py
Labels: component: orc8r, size/XS

#13194 refactor(nms): Add TypeScript support
  .github/workflows/nms-workflow.yml
  nms/.eslintignore
  nms/.eslintrc.js
  nms/.gitignore
  nms/babel.config.js
  nms/babelRegister.js
  nms/config/webpack.config.js
  nms/config/webpack.production.config.js
  nms/jest.config.js
  nms/package.json
  nms/server/auth/util.js
  nms/tsconfig.json
  nms/yarn.lock
Labels: component: nms, component: ci, size/XL

#12917 fix(agw): Remove unused patch reference on liblfds packet generation
  third_party/build/bin/liblfds_build.sh
Labels: component: ci, size/XS, ready2merge

#13192 fix(agw): Fixed root_versions [DO NOT MERGE BEFORE MANUAL TEST]
  lte/gateway/release/pydep
Labels: component: ci, size/XS

#12341 feat(nms): Add Empty State component
  nms/app/components/EmptyState.js
  nms/app/components/admin/Networks.js
  nms/app/hooks/useInterval.js
  nms/app/views/equipment/EnodebDetailConfigEdit.js
  nms/app/views/equipment/EquipmentEnodeb.js
  nms/app/views/equipment/EquipmentGateway.js
  nms/app/views/equipment/GatewayDetailConfigEdit.js
  nms/app/views/equipment/GatewayDetailSubscribers.js
  nms/app/views/equipment/__tests__/EquipmentEnodebTest.js
  nms/app/views/subscriber/SubscriberTable.js
  nms/app/views/traffic/ApnOverview.js
  nms/app/views/traffic/PolicyOverview.js
Labels: component: nms, size/XXL

#13204 feat(feg): Add Served Party IP Address to S6a proto
  feg/cloud/go/protos/s6a_proxy.pb.go
  feg/protos/s6a_proxy.proto
Labels: component: feg, size/L

#13094 chore(agw): deprecation warnings in the python integration tests are …
  lte/gateway/python/integ_tests/s1aptests/test_eps_bearer_context_status_ded_bearer_deact.py
  lte/gateway/python/integ_tests/s1aptests/test_eps_bearer_context_status_def_bearer_deact.py
  lte/gateway/python/integ_tests/s1aptests/test_eps_bearer_context_status_multiple_ded_bearer_deact.py
  lte/gateway/python/integ_tests/s1aptests/test_tau_mixed_partial_lists.py
  lte/gateway/python/integ_tests/s1aptests/test_tau_periodic_active.py
  lte/gateway/python/integ_tests/s1aptests/test_tau_ta_updating.py
  lte/gateway/python/integ_tests/s1aptests/test_tau_ta_updating_connected_mode.py
  lte/gateway/python/integ_tests/s1aptests/test_tau_ta_updating_reject.py
Labels: component: agw, size/S, ready2merge

#13200 chore: remove experimental_strict_action_env option from bazelrc
  .bazelrc
Labels: size/XS, ready2merge, bazel

#13144 chore(ci): Reuse the bazel build artifacts for the bazel tests
  .github/workflows/bazel.yml
Labels: component: ci, size/L, bazel

#13177 fix(agw): Pin Ansible version to fix installation [v1.7 backport]
  lte/gateway/deploy/agw_install_ubuntu.sh
Labels: component: agw, size/XS

#12990 chore: pin github action
  .github/workflows/agw-docker-load-test.yaml
  .github/workflows/agw-workflow.yml
  .github/workflows/amis-workflow.yml
  .github/workflows/autolabel-pullrequests.yml
  .github/workflows/backport.yml
  .github/workflows/bazel-cache-push.yml
  .github/workflows/bazel.yml
  .github/workflows/build_all.yml
  .github/workflows/check-rebase.yml
  .github/workflows/cloud-workflow.yml
  .github/workflows/codeowners-syntax.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/comment-pr-on-check-failure.yml
  .github/workflows/config/yamllint_config.yml
  .github/workflows/cwag-workflow.yml
  .github/workflows/cwf-integ-test.yml
  .github/workflows/cwf-operator.yml
  .github/workflows/dco-check.yml
  .github/workflows/deploy-build-from-pr.yml
  .github/workflows/docker-builder-devcontainer.yml
  .github/workflows/docker-builder-python-precommit.yml
  .github/workflows/docs-workflow.yml
  .github/workflows/docusaurus-workflow.yml
  .github/workflows/dp-workflow.yml
  .github/workflows/feg-workflow.yml
  .github/workflows/fossa-workflow.yml
  .github/workflows/gcc-problems.yml
  .github/workflows/golang-build-test.yml
  .github/workflows/helm-chart-dependency-check.yml
  .github/workflows/helm-deploy-on-demand.yml
  .github/workflows/insync-checkin.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/nms-workflow.yml
  .github/workflows/pr_bot.yml
  .github/workflows/python-workflow.yml
  .github/workflows/rebase.yml
  .github/workflows/reviewdog-workflow.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/testim-workflow.yml
  .github/workflows/unit-test-workflow.yml
Labels: component: ci, size/XXL, ready2merge

#13009 refactor(agw): Replaced folly with nlohmann in OperationalStatesHandler
  lte/gateway/c/session_manager/BUILD.bazel
  lte/gateway/c/session_manager/OperationalStatesHandler.cpp
  lte/gateway/c/session_manager/OperationalStatesHandler.hpp
Labels: component: agw, size/M, ready2merge

#12970 chore(ci): Consolidate Python versions
  .github/workflows/agw-docker-load-test.yaml
  .github/workflows/agw-workflow.yml
  .github/workflows/amis-workflow.yml
  .github/workflows/backport.yml
  .github/workflows/bazel-cache-push.yml
  .github/workflows/build_all.yml
  .github/workflows/cloud-workflow.yml
  .github/workflows/cwf-integ-test.yml
  .github/workflows/docs-workflow.yml
  .github/workflows/dp-workflow.yml
  .github/workflows/insync-checkin.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/testim-workflow.yml
Labels: component: ci, size/M

#13046 chore: Upgrade Go to version 1.18.3
  .devcontainer/Dockerfile
  .github/workflows/cloud-workflow.yml
  .github/workflows/cwag-workflow.yml
  .github/workflows/cwf-operator.yml
  .github/workflows/dp-workflow.yml
  .github/workflows/feg-workflow.yml
  .github/workflows/golang-build-test.yml
  cwf/gateway/deploy/cwag_dev.yml
  cwf/gateway/deploy/cwag_dev_centos7.yml
  cwf/gateway/deploy/cwag_test.yml
  cwf/gateway/docker/go/Dockerfile
  cwf/k8s/cwf_operator/docker/Dockerfile
  feg/gateway/docker/go/Dockerfile
  lte/gateway/deploy/roles/magma/tasks/main.yml
  lte/gateway/deploy/roles/magma/vars/all.yaml
  lte/gateway/docker/ghz/Dockerfile
  orc8r/cloud/deploy/orc8r_deployer/docker/Dockerfile
  orc8r/cloud/deploy/roles/golang/defaults/main.yml
  orc8r/cloud/docker/controller/Dockerfile
  orc8r/tools/ansible/roles/golang/defaults/main.yml
Labels: component: orc8r, component: agw, component: ci, component: feg, size/M, component: cwf

#13107 docs: Update references to Go version from 1.18 to 1.18.3
  docs/readmes/basics/prerequisites.md
Labels: component: docs, DONOTLAND, size/XS

#13103 fix(amf): PDU-Session accept message coming with extra buffer causing failure of PDU-Session
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_nas_procedures.c
  lte/gateway/c/core/oai/tasks/ngap/ngap_types.h
Labels: type: bug, component: agw, priority: medium, size/M, product: 5g sa

#13080 chore(ci): Add check that all Go versions are consistent
  .github/workflows/golang-build-test.yml
  .github/workflows/scripts/golang_check_version.sh
Labels: component: ci, size/M

#13227 fix(ci): Use same configuration for markdown linters
  .github/workflows/reviewdog-workflow.yml
Labels: component: ci, size/XS

#13191 Revert "chore(agw): Move script-only dependencies to scripts folders (#12773)"
  bazel/scripts/check_py_bazel.sh
  lte/gateway/python/magma/health/entities.py
  lte/gateway/python/magma/health/health_service.py
  lte/gateway/python/magma/pipelined/pg_set_session_msg.py
  lte/gateway/python/scripts/__init__.py
  lte/gateway/python/scripts/agw_health_cli.py
  lte/gateway/python/scripts/cpe_monitoring_cli.py
  lte/gateway/python/scripts/pipelined_cli.py
  orc8r/gateway/python/magma/common/health/docker_health_service.py
  orc8r/gateway/python/magma/common/health/entities.py
  orc8r/gateway/python/magma/common/health/health_service.py
  orc8r/gateway/python/scripts/__init__.py
  orc8r/gateway/python/scripts/health_cli.py
  orc8r/gateway/python/scripts/traffic_cli.py
Labels: component: orc8r, component: agw, size/M

#12940 chore(deps): upgrade fluentd in orc8r to 1.14.6
  orc8r/cloud/docker/fluentd/Dockerfile
  orc8r/cloud/docker/fluentd_daemon/Dockerfile
  orc8r/cloud/docker/fluentd_daemon/Gemfile
  orc8r/cloud/docker/fluentd_daemon/Gemfile.lock
  orc8r/cloud/docker/fluentd_forward/Dockerfile
Labels: component: orc8r, dependencies, size/M, ready2merge, ruby

#13093 chore(agw): several warnings in the python unittests are …
  lte/gateway/python/magma/enodebd/tests/enodeb_status_tests.py
  lte/gateway/python/magma/pipelined/tests/pipelined_test_util.py
  orc8r/gateway/python/magma/common/job.py
  orc8r/gateway/python/magma/common/service.py
Labels: component: orc8r, component: agw, size/S, ready2merge

#13241 fix(ci): Add path to flags to get reviewdog markdownlint working
  .github/workflows/reviewdog-workflow.yml
Labels: component: ci, size/XS

#13232 docs(orc8r): Fixes juju action name in how-to guide
  docs/readmes/orc8r/deploy_using_juju.md
Labels: component: docs, size/XS

#13198 docs: Amendments to AGW installation instructions
  docs/readmes/lte/deploy_install.md
Labels: component: docs, size/M

#13169 feat(ci): styling improvements of issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/proposal.md
Labels: size/M

#13236 feat(feg): Add APNResource data to S6a UL Answer
  feg/cloud/go/protos/s6a_proxy.pb.go
  feg/protos/s6a_proxy.proto
Labels: component: feg, size/L

#13240 chore(dp): Improve Domain-proxy GH actions workflow
  .github/workflows/composite/dp-integ-tests/action.yml
  .github/workflows/dp-workflow.yml
Labels: component: ci, size/L

#13225 fix(nms): Align read-me with markdown linter
  docs/readmes/nms/dev_testing.md
  nms/README.md
Labels: component: nms, component: docs, size/S

#12973 chore(agw): MME retun type fix in nas
  lte/gateway/c/core/oai/tasks/nas/api/mme/mme_api.c
  lte/gateway/c/core/oai/tasks/nas/api/network/nas_message.c
  lte/gateway/c/core/oai/tasks/nas/api/network/nas_message.h
  lte/gateway/c/core/oai/tasks/nas/emm/Attach.c
  lte/gateway/c/core/oai/tasks/nas/emm/Authentication.c
  lte/gateway/c/core/oai/tasks/nas/emm/Detach.c
  lte/gateway/c/core/oai/tasks/nas/emm/EmmCommon.c
  lte/gateway/c/core/oai/tasks/nas/emm/EmmInformation.c
  lte/gateway/c/core/oai/tasks/nas/emm/EmmStatusHdl.c
  lte/gateway/c/core/oai/tasks/nas/emm/Identification.c
  lte/gateway/c/core/oai/tasks/nas/emm/LowerLayer.c
  lte/gateway/c/core/oai/tasks/nas/emm/NasTransportHdl.c
  lte/gateway/c/core/oai/tasks/nas/emm/SecurityModeControl.c
  lte/gateway/c/core/oai/tasks/nas/emm/ServiceRequestHdl.c
  lte/gateway/c/core/oai/tasks/nas/emm/TrackingAreaUpdate.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/EmmCommonProcedureInitiated.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/EmmDeregistered.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/EmmDeregisteredInitiated.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/EmmRegistered.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_as.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_esm.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_fsm.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_recv.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_reg.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_sap.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_send.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_send.h
  lte/gateway/c/core/oai/tasks/nas/esm/DedicatedEpsBearerContextActivation.c
  lte/gateway/c/core/oai/tasks/nas/esm/DefaultEpsBearerContextActivation.c
  lte/gateway/c/core/oai/tasks/nas/esm/EpsBearerContextDeactivation.c
  lte/gateway/c/core/oai/tasks/nas/esm/EsmStatusHdl.c
  lte/gateway/c/core/oai/tasks/nas/esm/PdnConnectivity.c
  lte/gateway/c/core/oai/tasks/nas/esm/PdnDisconnect.c
  lte/gateway/c/core/oai/tasks/nas/esm/esm_ebr.c
  lte/gateway/c/core/oai/tasks/nas/esm/esm_ebr.h
  lte/gateway/c/core/oai/tasks/nas/esm/esm_information.c
  lte/gateway/c/core/oai/tasks/nas/esm/esm_proc.h
  lte/gateway/c/core/oai/tasks/nas/esm/sap/esm_sap.c
  lte/gateway/c/core/oai/tasks/nas/nas_proc.c
  lte/gateway/c/core/oai/test/s1ap_task/s1ap_mme_test_utils.cpp
Labels: component: agw, size/L

#13247 refactor(nms): Fix some simple TypeScript migration TODOs
  nms/app/components/CustomMetrics.tsx
  nms/app/components/insights/AsyncMetric.tsx
  nms/app/components/insights/TimeRangeSelector.tsx
  nms/app/views/subscriber/SubscriberChart.tsx
Labels: component: nms, size/M

#13256 refactor(nms): Use networkIds from AppContext consistently
  nms/app/components/NetworkSelector.tsx
  nms/app/components/__tests__/NetworkSelector-test.tsx
  nms/app/components/admin/AddNetworkDialog.tsx
  nms/app/components/admin/Networks.tsx
  nms/app/components/context/AppContext.tsx
  nms/app/views/network/NetworkInfo.tsx
Labels: component: nms, size/L

#13234 refactor(nms): Remove useRefreshingContext for gatewayContext
  nms/app/components/__tests__/KPI-test.tsx
  nms/app/components/context/GatewayContext.ts
  nms/app/components/context/RefreshContext.ts
  nms/app/components/lte/LteContext.tsx
  nms/app/state/lte/EquipmentState.ts
  nms/app/views/equipment/EquipmentGateway.tsx
  nms/app/views/equipment/GatewayDetailStatus.tsx
  nms/app/views/equipment/__tests__/EquipmentGatewayPoolTest.tsx
  nms/app/views/equipment/__tests__/EquipmentGatewayTest.tsx
  nms/app/views/equipment/__tests__/GatewayConfigTest.tsx
  nms/app/views/network/__tests__/NetworkTest.tsx
Labels: component: nms, size/L

#13244 fix(nms): Add test network to magma-test in dev setup
  docs/readmes/basics/quick_start_guide.md
  nms/scripts/dev_setup.sh
Labels: component: nms, component: docs, size/S

#13231 refactor(nms): remove refreshingContext for EnodebContext
  nms/app/components/__tests__/KPI-test.tsx
  nms/app/components/context/EnodebContext.ts
  nms/app/components/context/RefreshContext.ts
  nms/app/components/lte/LteContext.tsx
  nms/app/state/lte/EquipmentState.ts
  nms/app/views/equipment/EnodebDetailSummaryStatus.tsx
  nms/app/views/equipment/EquipmentEnodeb.tsx
  nms/app/views/equipment/GatewayDetailEnodebs.tsx
  nms/app/views/equipment/__tests__/EnodebConfigTest.tsx
  nms/app/views/equipment/__tests__/EnodebDetailMainTest.tsx
  nms/app/views/equipment/__tests__/EquipmentEnodebTest.tsx
  nms/app/views/network/__tests__/NetworkTest.tsx
Labels: component: nms, size/L

#13128 fix(agw): Migrate hash list of enb_description_t to protobuf_map
  lte/gateway/c/core/common/BUILD.bazel
  lte/gateway/c/core/common/CMakeLists.txt
  lte/gateway/c/core/common/dynamic_memory_check.cpp
  lte/gateway/c/core/common/dynamic_memory_check.h
  lte/gateway/c/core/oai/include/proto_map.hpp
  lte/gateway/c/core/oai/include/s1ap_state.hpp
  lte/gateway/c/core/oai/include/s1ap_types.hpp
  lte/gateway/c/core/oai/include/state_converter.hpp
  lte/gateway/c/core/oai/tasks/grpc_service/S1apServiceImpl.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
  lte/gateway/c/core/oai/test/s1ap_task/s1ap_mme_test_utils.cpp
  lte/gateway/c/core/oai/test/s1ap_task/s1ap_mme_test_utils.h
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_handle_new_association.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers_with_injected_state.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_state_converter.cpp
Labels: component: agw, size/L

#13167 feat(dp): send dp logs when cbsd updated by enodebd
  dp/cloud/configs/dp.yml
  dp/cloud/go/services/dp/builders/builders.go
  dp/cloud/go/services/dp/config.go
  dp/cloud/go/services/dp/dp/main.go
  dp/cloud/go/services/dp/logs_pusher/logs_pusher.go
  dp/cloud/go/services/dp/logs_pusher/logs_pusher_test.go
  dp/cloud/go/services/dp/servicers/cbsd_manager.go
  dp/cloud/go/services/dp/servicers/cbsd_manager_test.go
  dp/cloud/go/services/dp/storage/cbsd_manager.go
  dp/cloud/go/services/dp/storage/cbsd_manager_test.go
  dp/cloud/go/services/dp/storage/db/finishing.go
  dp/cloud/go/services/dp/storage/db/join.go
  dp/cloud/go/services/dp/storage/db/query.go
  dp/cloud/go/services/dp/storage/db/query_test.go
  dp/cloud/go/services/dp/storage/dbtest/resource.go
  dp/cloud/helm/dp/charts/domain-proxy/examples/orc8r_minikube_values.yaml
  dp/cloud/python/magma/fluentd_client/config.py
  dp/cloud/python/magma/test_runner/tests/test_dp_with_orc8r.py
  orc8r/cloud/helm/orc8r/templates/dp.configmap.yaml
  orc8r/cloud/helm/orc8r/values.yaml
Labels: component: orc8r, size/L, ready2merge

#13105 chore(mme): Link the MME binaries statically
  lte/gateway/c/core/BUILD.bazel
Labels: component: agw, size/XS, bazel

#13262 fix(nms): Only show policy placeholder if all tabs are empty
  nms/app/views/traffic/PolicyOverview.tsx
  nms/app/views/traffic/__tests__/PolicyAddEditTest.tsx
Labels: component: nms, size/M

#13212 chore(agw): adapt gateway_subscriber_state format
  lte/gateway/c/session_manager/OperationalStatesHandler.cpp
  lte/gateway/c/session_manager/test/test_operational_states_handler.cpp
Labels: component: agw, size/M

#13226 feat(dp): Add more data to GetCbsdState
  dp/cloud/python/magma/radio_controller/metrics.py
  dp/cloud/python/magma/radio_controller/services/active_mode_controller/service.py
  dp/cloud/python/magma/radio_controller/tests/test_utils/active_mode_cbsd_builder.py
  dp/cloud/python/magma/radio_controller/tests/test_utils/db_cbsd_builder.py
  dp/cloud/python/magma/radio_controller/tests/unit/test_active_mode_controller_service.py
Labels: component: orc8r, size/L

#13268 fix(agw): Adapt nonsanity tests for Python 3.8
  lte/gateway/python/integ_tests/s1aptests/test_attach_and_mme_restart_loop_detach_and_mme_restart_loop_multi_ue.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_mme_restart_detach_multi_ue.py
  lte/gateway/python/integ_tests/s1aptests/test_enb_partial_reset_multi_ue.py
  lte/gateway/python/integ_tests/s1aptests/test_enb_partial_reset_multi_ue_with_mme_restart.py
Labels: component: agw, size/S

#13189 refactor(agw): Refactor pydep script
  lte/gateway/release/pydep
Labels: component: ci, size/L

#13151 fix(orc8r): Read from subscriber storage by IMSI
  lte/cloud/go/services/subscriberdb/obsidian/handlers/handlers.go
  lte/cloud/go/services/subscriberdb/obsidian/handlers/handlers_test.go
  lte/cloud/go/services/subscriberdb/storage/subscriber_state.go
  lte/cloud/go/services/subscriberdb/storage/subscriber_state_test.go
  lte/cloud/go/services/subscriberdb/subscriberdb/main.go
  lte/cloud/go/services/subscriberdb/test_init/test_service_init.go
Labels: component: orc8r, size/XL, ready2merge

#13274 chore(ci): Run the bazel workflow only in the magma repository or if dispatched manually
  .github/workflows/bazel.yml
Labels: component: ci, size/XS, bazel

#13282 fix(nms): fix SubscriberDetailConfig update issue
  nms/app/views/subscriber/SubscriberDetailConfig.tsx
Labels: component: nms, size/S

#13283 fix(nms): Fix context menu postion in some action tables
  nms/app/views/alarms/components/alertmanager/Receivers/Receivers.tsx
  nms/app/views/traffic/ApnOverview.tsx
  nms/app/views/traffic/DataPlanOverview.tsx
  nms/app/views/traffic/PolicyOverview.tsx
Labels: component: nms, size/L

#13277 fix(agw): increase stability of ul dl integ tests
  lte/gateway/python/integ_tests/s1aptests/s1ap_wrapper.py
Labels: component: agw, size/XS

#13286 fix(nms): Fix display of subscriber search result
  nms/app/state/lte/SubscriberState.ts
  nms/app/views/subscriber/__tests__/SubscriberTest.tsx
Labels: component: nms, size/M

#13273 fix(nms): Disable changing the ID of a gateway pool
  nms/app/views/equipment/GatewayPoolConfigEdit.tsx
  nms/app/views/equipment/__tests__/EquipmentGatewayPoolTest.tsx
Labels: component: nms, size/L

#13196 fix(ci): full path required for misspell excludes
  .github/workflows/reviewdog-workflow.yml
Labels: component: ci, size/XS

#13292 fix(nms): close the policyRuleEditDialog on save
  nms/app/components/network/PoliciesConfig.tsx
  nms/app/components/network/PolicyRuleEditDialog.tsx
Labels: component: nms, size/S

#13287 feat(dp): Unsetting frequency for failed grant
  dp/cloud/python/magma/configuration_controller/response_processor/strategies/response_processing.py
  dp/cloud/python/magma/configuration_controller/tests/unit/test_response_processor.py
  dp/cloud/python/magma/fixtures/fake_requests/grant_requests.py
Labels: component: orc8r, size/L

#13296 fix(dp): Add carrier aggregation fields to cbsd write fields
  dp/cloud/go/services/dp/builders/builders.go
  dp/cloud/go/services/dp/storage/cbsd_manager.go
  dp/cloud/go/services/dp/storage/cbsd_manager_test.go
Labels: component: orc8r, size/S

#13299 fix(nms): Fix cwf policy precedence becomes NaN if the field is cleared
  nms/app/components/network/PolicyRuleEditDialog.tsx
Labels: component: nms, size/L

#13221 fix(agw): change regexp to accept flow and ip address
  lte/gateway/python/magma/pipelined/BUILD.bazel
  lte/gateway/python/magma/pipelined/gtp_stats_collector.py
  lte/gateway/python/magma/pipelined/tests/BUILD.bazel
  lte/gateway/python/magma/pipelined/tests/test_gtp_stats_collector.py
Labels: component: agw, size/L

#13281 Revert "feat(pipelined): QFI support in OVS. (#10556)"
  third_party/gtp_ovs/ovs-gtp-patches/2.15/0024-QFI-support-in-OVS.patch
Labels: component: agw, size/S, product: 5g sa

#13304 feat(lte): Add EPS Authenticator support for APN Configs & APN Resources in S6a ULA
  lte/cloud/go/services/eps_authentication/servicers/ai.go
  lte/cloud/go/services/eps_authentication/servicers/ai_test.go
  lte/cloud/go/services/eps_authentication/servicers/config.go
  lte/cloud/go/services/eps_authentication/servicers/eps_auth_suite_test.go
  lte/cloud/go/services/eps_authentication/servicers/pur_test.go
  lte/cloud/go/services/eps_authentication/servicers/server.go
  lte/cloud/go/services/eps_authentication/servicers/test_utils/test_subscribers.go
  lte/cloud/go/services/eps_authentication/servicers/ul.go
  lte/cloud/go/services/eps_authentication/servicers/ul_test.go
  lte/cloud/go/services/eps_authentication/storage/storage.go
  orc8r/cloud/go/identity/identity.go
Labels: component: orc8r, size/L

#13305 chore(deps): bump numpy from 1.20.3 to 1.22.0
  dp/tools/harness/requirements.txt
Labels: size/XS, component: dp

#12723 fix(amf): cppcheck warning clean-up on amf code
  lte/gateway/c/core/oai/tasks/amf/Registration.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_handler.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_state_manager.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_ue_context.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_ue_context_and_proc.hpp
  lte/gateway/c/core/oai/tasks/amf/amf_as.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_authentication.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_identity.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_recv.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_smf_session_qos.cpp
  lte/gateway/c/core/oai/tasks/amf/deregistration_request.cpp
  lte/gateway/c/core/oai/tasks/amf/nas5g_message.cpp
  lte/gateway/c/core/oai/tasks/amf/nas_proc.cpp
Labels: type: bug, component: agw, priority: low, size/M, product: 5g sa

#13139 fix(agw): Fixed test case to pass in ci
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_act_dflt_ber_ctxt_rej.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_active_tau_with_combined_tala_update_reattach.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_complete_after_ics_timer_expiry.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_duplicate_nas_resp_messages.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_enb_rlf_initial_ue_msg.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_esm_info_timerexpiration_max_retries.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_esm_info_with_apn_correction.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_esm_information.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_esm_information_timerexpiration.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_ipv4v6_pdn_type.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_no_initial_context_resp.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_ue_ctxt_release_cmp_delay.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_with_multiple_mme_restarts.py
  lte/gateway/python/integ_tests/s1aptests/test_different_enb_s1ap_id_same_ue.py
  lte/gateway/python/integ_tests/s1aptests/test_duplicate_attach.py
  lte/gateway/python/integ_tests/s1aptests/test_enb_partial_reset_con_dereg.py
  lte/gateway/python/integ_tests/s1aptests/test_eps_bearer_context_status_ded_bearer_deact.py
  lte/gateway/python/integ_tests/s1aptests/test_eps_bearer_context_status_def_bearer_deact.py
  lte/gateway/python/integ_tests/s1aptests/test_eps_bearer_context_status_multiple_ded_bearer_deact.py
  lte/gateway/python/integ_tests/s1aptests/test_guti_attach_with_zero_mtmsi.py
  lte/gateway/python/integ_tests/s1aptests/test_imei_restriction_no_imeisv_in_smc.py
  lte/gateway/python/integ_tests/s1aptests/test_no_attach_complete.py
  lte/gateway/python/integ_tests/s1aptests/test_no_attach_complete_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_outoforder_attach_complete_ICSR.py
  lte/gateway/python/integ_tests/s1aptests/test_resync.py
  lte/gateway/python/integ_tests/s1aptests/test_stateless_multi_ue_mixedstate_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_tau_ta_updating.py
Labels: component: agw, size/XXL

#13211 fix(subscriberdb): Fix tracebacks with supi decrypt cli execution
  lte/gateway/python/magma/subscriberdb/protocols/m5g_auth_servicer.py
  lte/gateway/python/scripts/test_supi_decrypt_imsi_cli.py
Labels: type: bug, component: agw, priority: low, size/S, product: 5g sa

#12455 fix(amf): Handling return type of AMF functions
  lte/gateway/c/core/oai/tasks/amf/Registration.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_Security_Mode.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_defs.hpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_handler.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_pdu_resource_setup_req_rel.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_state_manager.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_state_manager.hpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_transport.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_ue_context.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_ue_context_and_proc.hpp
  lte/gateway/c/core/oai/tasks/amf/amf_as.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_as.hpp
  lte/gateway/c/core/oai/tasks/amf/amf_authentication.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_authentication.hpp
  lte/gateway/c/core/oai/tasks/amf/amf_client_servicer.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_cn.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_fsm.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_identity.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_identity.hpp
  lte/gateway/c/core/oai/tasks/amf/amf_recv.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_recv.hpp
  lte/gateway/c/core/oai/tasks/amf/amf_sap.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_sap.hpp
  lte/gateway/c/core/oai/tasks/amf/amf_security_mode_control.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_smfDefs.hpp
  lte/gateway/c/core/oai/tasks/amf/amf_smf_send.cpp
  lte/gateway/c/core/oai/tasks/amf/deregistration_request.cpp
  lte/gateway/c/core/oai/tasks/amf/include/amf_client_servicer.hpp
  lte/gateway/c/core/oai/tasks/amf/include/amf_smf_packet_handler.hpp
  lte/gateway/c/core/oai/tasks/amf/nas_proc.cpp
  lte/gateway/c/core/oai/tasks/amf/prepare_request_for_smf.cpp
  lte/gateway/c/core/oai/test/amf/amf_app_test_util.cpp
  lte/gateway/c/core/oai/test/amf/amf_app_test_util.h
Labels: component: agw, size/XXL, product: 5g sa

#13264 fix(agw): cpp migration of SPGW files
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/include/pgw_config.h
  lte/gateway/c/core/oai/include/sgw_config.h
  lte/gateway/c/core/oai/include/sgw_context_manager.h
  lte/gateway/c/core/oai/include/spgw_config.h
  lte/gateway/c/core/oai/include/spgw_types.h
  lte/gateway/c/core/oai/lib/openflow/controller/PagingApplication.cpp
  lte/gateway/c/core/oai/oai_mme/oai_mme.c
  lte/gateway/c/core/oai/tasks/gtpv1-u/gtpv1u_task.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_embedded_spgw.h
  lte/gateway/c/core/oai/tasks/sgw/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/sgw/mobilityd_ue_ip_address_alloc.cpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_config.cpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_handlers.hpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_pcef_emulation.cpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_pcef_emulation.hpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_pco.cpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_pco.hpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_procedures.cpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_procedures.hpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_ue_ip_address_alloc.hpp
  lte/gateway/c/core/oai/tasks/sgw/s11_causes.c
  lte/gateway/c/core/oai/tasks/sgw/s11_causes.cpp
  lte/gateway/c/core/oai/tasks/sgw/s11_causes.hpp
  lte/gateway/c/core/oai/tasks/sgw/sgw.hpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_config.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_context_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_defs.hpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_handlers.hpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_paging.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_paging.hpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_task.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_config.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_converter.hpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_handlers.c
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state.cpp
  lte/gateway/c/core/oai/test/sgw_s8_task/sgw_dedicated_bearer.cpp
  lte/gateway/c/core/oai/test/sgw_s8_task/sgw_s8_utility.hpp
  lte/gateway/c/core/oai/test/spgw_task/spgw_procedures_test_fixture.cpp
  lte/gateway/c/core/oai/test/spgw_task/spgw_procedures_test_fixture.hpp
  lte/gateway/c/core/oai/test/spgw_task/spgw_test_util.h
  lte/gateway/c/core/oai/test/spgw_task/state_creators.hpp
  lte/gateway/c/core/oai/test/spgw_task/test_pgw_pco.cpp
  lte/gateway/c/core/oai/test/spgw_task/test_spgw_procedures_dedicated_bearer.cpp
  lte/gateway/c/core/oai/test/spgw_task/test_spgw_procedures_session.cpp
  lte/gateway/c/core/oai/test/spgw_task/test_spgw_procedures_with_injected_state.cpp
  lte/gateway/c/core/oai/test/spgw_task/test_spgw_state_converter.cpp
Labels: component: agw, size/XL, ready2merge

#13309 chore(dp): Update deployment to use go 1.18 for AMC
  .github/workflows/dp-workflow.yml
  dp/cloud/docker/go/active_mode_controller/Dockerfile
Labels: component: orc8r, component: ci, size/S

#13293 fix(dp): add max_ibw_mhz validation
  dp/cloud/go/services/dp/obsidian/cbsd/handlers_test.go
  dp/cloud/go/services/dp/obsidian/models/capabilities_swaggergen.go
  dp/cloud/go/services/dp/obsidian/models/conversion.go
  dp/cloud/go/services/dp/obsidian/models/swagger.v1.yml
  dp/cloud/go/services/dp/obsidian/models/validation.go
  dp/cloud/go/services/dp/obsidian/models/validation_test.go
  orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml
Labels: component: orc8r, size/L

#13320 fix(pipelined): missing sudo test is bazelified
  lte/gateway/python/magma/pipelined/tests/BUILD.bazel
Labels: component: agw, size/S, bazel

#13311 chore(dp): Get rid of NMS UI from integration tests targets
  dp/Makefile
  dp/cloud/docker/python/test_runner/entrypoint.sh
  dp/cloud/helm/dp/charts/domain-proxy/examples/nms_overrides.yaml
  dp/cloud/helm/dp/charts/domain-proxy/examples/orc8r_minikube_values.yaml
  dp/skaffold.yaml
Labels: component: orc8r, size/S, component: dp

#13114 fix(amf): Implicit deregistration for re-registration
  lte/gateway/c/core/oai/tasks/amf/Registration.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_as.hpp
  lte/gateway/c/core/oai/tasks/amf/amf_recv.cpp
  lte/gateway/c/core/oai/test/amf/amf_app_test_util.cpp
  lte/gateway/c/core/oai/test/amf/amf_app_test_util.h
  lte/gateway/c/core/oai/test/amf/test_amf_procedures.cpp
Labels: component: agw, priority: medium, size/L, product: 5g sa

#13322 chore(agw): Remove dead and broken test code for test_async_service
  bazel/scripts/check_c_cpp_bazel.sh
  lte/gateway/c/session_manager/test/test_async_service.cpp
Labels: component: agw, size/L

#13324 fix(ci): Fix scheduled Bazel workflow failure notification
  .github/workflows/bazel.yml
Labels: component: ci, size/XS

#13269 fix(agw): Migrate hash list of mmeid2associd to protobuf_map
  lte/gateway/c/core/oai/include/proto_map.hpp
  lte/gateway/c/core/oai/include/s1ap_types.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers_with_injected_state.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_state_converter.cpp
Labels: component: agw, size/L

#13068 chore(agw): `nose` package is dropped
  lte/gateway/python/Makefile
  lte/gateway/python/setup.py
Labels: component: agw, size/XS, ready2merge

#12451 feat(mme): NGAP Reset ALL
  lte/gateway/c/core/oai/common/itti_free_defined_msg.c
  lte/gateway/c/core/oai/include/ngap_messages_def.h
  lte/gateway/c/core/oai/tasks/amf/amf_app_defs.hpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_handler.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_main.cpp
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf.c
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_encoder.c
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_handlers.c
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_handlers.h
  lte/gateway/c/core/oai/test/amf/amf_app_test_util.cpp
  lte/gateway/c/core/oai/test/amf/amf_app_test_util.h
  lte/gateway/c/core/oai/test/amf/test_amf_procedures.cpp
  lte/gateway/c/core/oai/test/ngap/test_ngap_flows.cpp
  lte/gateway/c/core/oai/test/ngap/util_ngap_amf_nas_procedures.cpp
  lte/gateway/c/core/oai/test/ngap/util_ngap_pkt.hpp
Labels: component: agw, type: feature, size/XL, product: 5g sa

#13336 fix(nms): Make sure every page under /nms has a topbar
  nms/app/components/cwf/CWFGateways.tsx
  nms/app/components/cwf/CWFMetrics.tsx
  nms/app/components/feg/FEGGateways.tsx
  nms/app/components/network/Configure.tsx
  nms/app/views/alarms/legacy/Alarms.tsx
Labels: component: nms, size/L

#13253 chore: delete static sbom
  sbom/README.md
  sbom/sbom-json.tgz
Labels: size/S

#13233 refactor(nms): Replace useRefreshingContext with SubscriberContext.refetch
  nms/app/components/DashboardAlertTable.tsx
  nms/app/components/context/AppContext.tsx
  nms/app/components/context/RefreshContext.ts
  nms/app/components/context/SubscriberContext.ts
  nms/app/components/lte/LteContext.tsx
  nms/app/state/lte/SubscriberState.ts
  nms/app/views/domain-proxy/LogsList.tsx
  nms/app/views/equipment/EnodebDetailSummaryStatus.tsx
  nms/app/views/equipment/EquipmentEnodeb.tsx
  nms/app/views/equipment/EquipmentGateway.tsx
  nms/app/views/equipment/FEGGatewayDetailStatus.tsx
  nms/app/views/equipment/FEGGatewayDetailSubscribers.tsx
  nms/app/views/equipment/FEGGatewayTable.tsx
  nms/app/views/equipment/GatewayDetailEnodebs.tsx
  nms/app/views/equipment/GatewayDetailStatus.tsx
  nms/app/views/equipment/GatewayDetailSubscribers.tsx
  nms/app/views/network/__tests__/NetworkTest.tsx
  nms/app/views/subscriber/SubscriberDetail.tsx
  nms/app/views/subscriber/SubscriberStateTable.tsx
  nms/app/views/subscriber/__tests__/SubscriberAddEditTest.tsx
  nms/app/views/subscriber/__tests__/SubscriberTest.tsx
Labels: component: nms, size/L

#13339 fix(ci): Make markdown check compatible with new linter version
  docs/readmes/Makefile
Labels: component: docs, size/XS

#13303 fix(nms): Make sure that policy is not removed from subscriber when it is updated
  nms/app/components/context/PolicyContext.ts
  nms/app/components/lte/LteContext.tsx
  nms/app/views/network/__tests__/NetworkTest.tsx
  nms/app/views/subscriber/SubscriberEditDialog.tsx
  nms/app/views/subscriber/SubscriberTrafficPolicyEdit.tsx
  nms/app/views/subscriber/SubscriberUtils.tsx
  nms/app/views/subscriber/__tests__/SubscriberAddEditTest.tsx
  nms/app/views/traffic/__tests__/TrafficOverviewTest.tsx
Labels: component: nms, size/L

#13331 ci: Remove bazel-cache-push workflow
  .github/workflows/bazel-cache-push.yml
  CODEOWNERS
Labels: component: ci, size/L

#13314 fix(nms): Omit qos_profile for feg lte profile creation
  nms/app/components/lte/LteContext.tsx
Labels: component: nms, size/XS

#13326 chore(agw): Bazelify the session_state_5g_test
  bazel/scripts/check_c_cpp_bazel.sh
  lte/gateway/c/session_manager/test/BUILD.bazel
Labels: component: agw, size/S, bazel

#13330 chore: codespaces use remote cache
  .devcontainer/post-create-commands.sh
Labels: size/S, bazel

#13348 fix(ci): Pin Github action cache version
  .github/workflows/build_all.yml
  .github/workflows/cwf-integ-test.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/lte-integ-test.yml
Labels: component: ci, size/S

#13341 ci: Create composite action for maximizing the build space
  .github/workflows/agw-workflow.yml
  .github/workflows/bazel.yml
  .github/workflows/composite/maximize-build-space/action.yml
  .github/workflows/gcc-problems.yml
Labels: component: ci, size/M

#13294 chore(dp): allow RC enodebd_client to send EnodebdUpdateCbsd request
  dp/cloud/python/magma/radio_controller/enodebd_client.py
Labels: component: orc8r, size/L

#13349 docs(cwg): Document plugin requirements of CWF Integ Tests
  docs/docusaurus/versioned_docs/version-1.7.0/cwf/dev_testing.md
  docs/readmes/cwf/dev_testing.md
Labels: component: docs, size/S

#13279 chore(ci): Run the LTE integ tests on bazel-built services in new workflow
  .github/workflows/lte-integ-test-bazel.yml
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@connectiond.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@ctraced.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@directoryd.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@enodebd.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@eventd.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@health.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@kernsnoopd.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@liagentd.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@magmad.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@mme.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@mobilityd.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@monitord.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@pipelined.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@policydb.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@redirectd.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@sessiond.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@smsd.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@state.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@subscriberdb.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/sctpd.service
  lte/gateway/fabfile.py
Labels: component: agw, component: ci, size/XL, bazel

#13378 fix(ci): Fix LSAN errors in `s1ap_mme_handlers_with_injected_state` test
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers_with_injected_state.cpp
Labels: component: agw, size/XS

#13385 chore(ci): github runner for build_all is bumped from macos10.15 to 12
  .github/workflows/build_all.yml
Labels: component: ci, size/XS

#13384 chore: Remove unused bazelrc files
  .devcontainer/bazel-base/bazelrcs/devcontainer.bazelrc
  .devcontainer/bazel-base/bazelrcs/docker.bazelrc
  .devcontainer/bazel-base/bazelrcs/vm.bazelrc
Labels: size/XS, bazel

#13022 chore(ci): excessive logging of asn1 builds is mitigated
  bazel/asn1c.bzl
  lte/gateway/c/core/oai/tasks/ngap/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/s1ap/CMakeLists.txt
Labels: component: agw, size/M, bazel-cleanup

#13387 chore(ci): Remove setup pyenv step from agw-workflow
  .github/workflows/agw-workflow.yml
Labels: component: ci, size/XS

#13352 fix(nms): Fix feature flag edit
  nms/server/host/routes.ts
Labels: component: nms, size/S

#13321 refactor(orc8r): Replace moriyoshi routewrapper
  cwf/gateway/go.mod
  cwf/gateway/go.sum
  feg/gateway/go.mod
  feg/gateway/go.sum
  orc8r/gateway/go/go.mod
  orc8r/gateway/go/go.sum
  orc8r/gateway/go/status/gateway_status.go
  orc8r/gateway/go/status/host_info.go
Labels: component: orc8r, component: feg, size/L, ready2merge, component: cwf

#13351 chore(dp): Add fake_crl service deployment
  dp/Makefile
  dp/README.md
  dp/skaffold.yaml
  dp/tools/deployment/certificates/generate_fake_certs.sh
  dp/tools/deployment/vendor/fake_crl.yml
  dp/tools/fake_crl/Dockerfile
  dp/tools/fake_crl/main.py
  dp/tools/fake_crl/openssl.cnf
  dp/tools/fake_crl/requirements.txt
  dp/tools/fake_crl/revoke_and_generate_crl.sh
Labels: size/XXL, component: dp

#13389 chore(dp): Remove old integration-tests job from CI
  .github/workflows/dp-workflow.yml
  dp/Makefile
  dp/skaffold.yaml
  dp/tools/deployment/tests/test_runner_deployment.yml
Labels: component: ci, size/M, component: dp

#13354 refactor(nms): Upgrade react-testing-library
  nms/app/components/__tests__/DashboardAlertTableTest.tsx
  nms/app/components/__tests__/EventAlertChartTest.tsx
  nms/app/components/__tests__/GatewayCommandTest.tsx
  nms/app/components/__tests__/KPI-test.tsx
  nms/app/components/__tests__/Main-test.tsx
  nms/app/components/cwf/__tests__/CWFGateways-test.tsx
  nms/app/components/feg/__tests__/FEGGatewaysTest.tsx
  nms/app/views/alarms/components/alertmanager/Receivers/__tests__/Receivers-test.tsx
  nms/app/views/equipment/__tests__/EnodebConfigTest.tsx
  nms/app/views/equipment/__tests__/EnodebDetailMainTest.tsx
  nms/app/views/equipment/__tests__/EquipmentEnodebTest.tsx
  nms/app/views/equipment/__tests__/EquipmentGatewayPoolTest.tsx
  nms/app/views/equipment/__tests__/EquipmentGatewayTest.tsx
  nms/app/views/equipment/__tests__/FEGEquipmentGatewayTest.tsx
  nms/app/views/equipment/__tests__/FEGGatewayConnectionStatusTest.tsx
  nms/app/views/equipment/__tests__/FEGGatewayDetailConfigTest.tsx
  nms/app/views/equipment/__tests__/FEGGatewayDetailStatusTest.tsx
  nms/app/views/equipment/__tests__/FEGGatewayDetailSubscribersTest.tsx
  nms/app/views/equipment/__tests__/FEGGatewaySummaryTest.tsx
  nms/app/views/equipment/__tests__/GatewayConfigTest.tsx
  nms/app/views/equipment/__tests__/GatewayLogsTest.tsx
  nms/app/views/events/__tests__/EventsTableTest.tsx
  nms/app/views/network/__tests__/FEGServicingAccessGatewayTableTest.tsx
  nms/app/views/network/__tests__/NetworkTest.tsx
  nms/app/views/subscriber/__tests__/SubscriberAddEditTest.tsx
  nms/app/views/subscriber/__tests__/SubscriberChartTest.tsx
  nms/app/views/traffic/__tests__/ApnAddTest.tsx
  nms/app/views/traffic/__tests__/TrafficOverviewTest.tsx
  nms/package.json
  nms/yarn.lock
Labels: component: nms, size/XXL

#13392 fix(ci): path filter is always true is prevented
  .github/workflows/bazel.yml
Labels: component: ci, size/XS

#13254 docs(agw): Adding steps to build containerized AGW on Aarch64
  lte/gateway/docker/README.md
Labels: component: ci, size/XS

#13395 fix(ci): Fix slack notification on bazel LTE integ test failure
  .github/workflows/lte-integ-test-bazel.yml
Labels: component: ci, size/S, ready2merge, bazel

#13397 fix(dp): Fix domain-proxy image building
  .github/workflows/dp-workflow.yml
  dp/skaffold.yaml
Labels: component: ci, size/XS, ready2merge, component: dp

#13390 fix(mme): Supporting multiple qos policies for a given IMSI
  lte/gateway/c/core/oai/tasks/grpc_service/AmfServiceImpl.cpp
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_nas_procedures.c
Labels: component: agw, size/M, product: 5g sa

#13334 chore(agw): Bazelify test_s1ap_mme_handlers_with_injected_state
  bazel/scripts/check_c_cpp_bazel.sh
  lte/gateway/c/core/oai/test/s1ap_task/BUILD.bazel
  lte/gateway/c/core/oai/test/s1ap_task/s1ap_mme_test_utils.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers.cpp
Labels: component: agw, size/M, bazel

#13176 chore(cwg): Remove unused functions from integ test fab file
  cwf/gateway/fabfile.py
Labels: size/S, component: cwf

#12834 chore(feg): drop fbgo support
  feg/radius/src/.gitignore
  feg/radius/src/run.sh
Labels: size/S, component: cwf

#13165 chore: Ansible warnings are fixed
  cwf/gateway/ansible.cfg
  example/gateway/ansible.cfg
  feg/gateway/ansible.cfg
  lte/gateway/ansible.cfg
  orc8r/cloud/deploy/bare-metal-ansible/ansible.cfg
  orc8r/tools/ansible/roles/docker/tasks/install.yml
  orc8r/tools/packer/ansible.cfg
Labels: component: orc8r, component: agw, component: ci, component: feg, size/S, ready2merge, component: cwf

#13379 feat(dp): Add carrier aggregation logic to AMC
  dp/cloud/go/active_mode_controller/internal/app/app.go
  dp/cloud/go/active_mode_controller/internal/app/app_test.go
  dp/cloud/go/active_mode_controller/internal/containers/min_queue_test.go
  dp/cloud/go/active_mode_controller/internal/containers/priority_queue.go
  dp/cloud/go/active_mode_controller/internal/containers/priority_queue_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/message/store_available_frequencies.go
  dp/cloud/go/active_mode_controller/internal/message_generator/message/store_available_frequencies_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/message_generator.go
  dp/cloud/go/active_mode_controller/internal/message_generator/message_generator_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/deregistration.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/deregistration_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/eirp/calculator.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/eirp/calculator_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/eirp/max_eirp.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/eirp/max_eirp_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/grant.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/grant/frequency.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/grant/frequency_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/grant_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/heartbeat.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/heartbeat_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/registration.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/registration_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/relinquishment.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/relinquishment_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/spectrum_inquiry.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas/spectrum_inquiry_test.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas_helpers/builder.go
  dp/cloud/go/active_mode_controller/internal/message_generator/sas_helpers/builder_test.go
  dp/cloud/go/active_mode_controller/internal/ranges/composer.go
  dp/cloud/go/active_mode_controller/internal/ranges/composer_test.go
  dp/cloud/go/active_mode_controller/internal/ranges/decomposer.go
  dp/cloud/go/active_mode_controller/internal/ranges/decomposer_test.go
  dp/cloud/go/active_mode_controller/internal/ranges/selector.go
  dp/cloud/go/active_mode_controller/internal/ranges/selector_test.go
  dp/cloud/go/active_mode_controller/internal/ranges/spliter.go
  dp/cloud/go/active_mode_controller/internal/ranges/spliter_test.go
  dp/cloud/go/active_mode_controller/internal/test_utils/builders/cbsd.go
Labels: component: orc8r, size/XXL

#13394 feat(dp): Remove grant attempts
  dp/cloud/go/active_mode_controller/protos/active_mode/active_mode.pb.go
  dp/cloud/go/services/dp/storage/cbsd_manager.go
  dp/cloud/go/services/dp/storage/cbsd_manager_test.go
  dp/cloud/go/services/dp/storage/models.go
  dp/cloud/go/services/dp/storage/models_test.go
  dp/cloud/python/magma/configuration_controller/response_processor/strategies/response_processing.py
  dp/cloud/python/magma/configuration_controller/tests/unit/test_response_processor.py
  dp/cloud/python/magma/db_service/migrations/versions/016_remove_grant_attempts.py
  dp/cloud/python/magma/db_service/models.py
  dp/cloud/python/magma/db_service/tests/unit/test_016_remove_grant_attempts.py
  dp/cloud/python/magma/radio_controller/services/active_mode_controller/service.py
  dp/cloud/python/magma/radio_controller/tests/test_utils/active_mode_cbsd_builder.py
  dp/cloud/python/magma/radio_controller/tests/test_utils/db_cbsd_builder.py
  dp/cloud/python/magma/radio_controller/tests/unit/test_active_mode_controller_service.py
  dp/protos/active_mode.proto
Labels: component: orc8r, size/XL, component: dp

#13402 chore(nms): Upgrade sequelize and umzug
  nms/package.json
  nms/scripts/createOrganization.ts
  nms/scripts/enableAllNetworkIDsForOrganization.ts
  nms/scripts/runMigrations.ts
  nms/scripts/setPassword.ts
  nms/server/apicontroller/auditLoggingDecorator.ts
  nms/server/grafana/handlers.ts
  nms/server/host/__tests__/organization-test.ts
  nms/server/host/routes.ts
  nms/server/middleware/organizationMiddleware.ts
  nms/shared/logging.ts
  nms/shared/sequelize_models/index.ts
  nms/shared/sequelize_models/migrations/20180824030303-create-user.js
  nms/shared/sequelize_models/migrations/20181009191125-add-network-ids-user.js
  nms/shared/sequelize_models/migrations/20181129155300-create-user.js
  nms/shared/sequelize_models/migrations/20181203215100-create-user.js
  nms/shared/sequelize_models/migrations/20190105000000-create-user.js
  nms/shared/sequelize_models/migrations/20190211030303-create-organization.js
  nms/shared/sequelize_models/migrations/20190211030304-populate-default-organization.js
  nms/shared/sequelize_models/migrations/20190225030305-make-organization-networkIDs-required.js
  nms/shared/sequelize_models/migrations/20190417000000-create-feature-flag.js
  nms/shared/sequelize_models/migrations/20190424161229-add_sso_to_organization.js
  nms/shared/sequelize_models/migrations/20190509000000-make-organization-unique.js
  nms/shared/sequelize_models/migrations/20190523000000-create-audit-log-entry.js
  nms/shared/sequelize_models/migrations/20190814020200-add-tabs-to-user.js
  nms/shared/sequelize_models/migrations/20190814020500-populate-default-user.js
  nms/shared/sequelize_models/migrations/20191029161229-add_csv_charset_to_organization.js
  nms/shared/sequelize_models/migrations/20200312041255-add_sso_oidc.js
  nms/shared/sequelize_models/migrations/20210427134100-user-tabs-default.js
  nms/shared/sequelize_models/migrations/20210616000000-pg-set-id-seq.js
  nms/shared/sequelize_models/migrations/20210621000000-orgs-name-lowercase.js
  nms/shared/sequelize_models/migrations/20220202000000-master-to-org.js
  nms/shared/sequelize_models/migrations/20220512000000-drop-tabs.js
  nms/shared/sequelize_models/models/audit_log_entry.ts
  nms/shared/sequelize_models/models/featureflag.ts
  nms/shared/sequelize_models/models/organization.ts
  nms/shared/sequelize_models/models/user.ts
  nms/shared/sequelize_models/sequelizeConfig.ts
  nms/yarn.lock
Labels: component: nms, size/XL

#13396 chore: fix prerequisites link for 12708
  docs/readmes/basics/prerequisites.md
Labels: component: docs, size/XS, ready2merge

#13406 fix(amf): Registration retry failure due to guti change
  lte/gateway/c/core/oai/tasks/amf/Registration.cpp
Labels: type: bug, component: agw, priority: high, size/M, product: 5g sa

#13408 chore(nms): Upgrade Jest to v28
  nms/app/util/TestUtils.ts
  nms/app/views/domain-proxy/__tests__/CbsdEdit.tsx
  nms/app/views/subscriber/SubscriberAddDialog.tsx
  nms/app/views/subscriber/__tests__/SubscriberAddEditTest.tsx
  nms/app/views/traffic/__tests__/ApnAddTest.tsx
  nms/app/views/traffic/__tests__/PolicyAddEditTest.tsx
  nms/app/views/traffic/__tests__/TrafficOverviewTest.tsx
  nms/jest.config.js
  nms/jest.setup.app.ts
  nms/package.json
  nms/yarn.lock
Labels: component: nms, size/XXL

#13410 refactor(nms): move FEG Gateway Add Button to equipment page
  nms/app/components/feg/FEGGatewayDialog.tsx
  nms/app/components/feg/FEGGateways.tsx
  nms/app/components/feg/FEGSections.tsx
  nms/app/components/feg/__tests__/FEGGatewaysTest.tsx
  nms/app/components/layout/__tests__/useSections-test.tsx
  nms/app/components/network/ApnConst.ts
  nms/app/views/equipment/FEGEquipmentDashboard.tsx
Labels: component: nms, size/L

#13404 chore(dp): Add harness certification service
  dp/Makefile
  dp/skaffold.yaml
  dp/tools/deployment/vendor/harness.yml
  dp/tools/harness/Configuration/CBSDconfig/cbsdc1.xml
  dp/tools/harness/Configuration/CBSDconfig/cbsdc2.xml
  dp/tools/harness/Configuration/conf.xml
  dp/tools/harness/Dockerfile
Labels: size/L, component: dp

#13210 chore(dp): Use magma artifactory in DP helm chart
  dp/cloud/docker/fluentd/Dockerfile
  dp/cloud/helm/dp/charts/domain-proxy/examples/minikube_values.yaml
  dp/cloud/helm/dp/charts/domain-proxy/values.yaml
  dp/skaffold.yaml
Labels: component: orc8r, size/M, component: dp

#13295 fix(agw): Added testcase with support to large number of UEs
  lte/gateway/python/integ_tests/defs.mk
  lte/gateway/python/integ_tests/s1aptests/test_scalability_attach_detach_multi_ue.py
Labels: component: agw, size/L

#13138 fix(agw): Fixed and reenabled enb complete reset scenario
  lte/gateway/python/integ_tests/defs.mk
Labels: component: agw, size/XS

#13359 feat(dp): Add CRL validation for SAS SSL certificate
  dp/cloud/python/magma/configuration_controller/config.py
  dp/cloud/python/magma/configuration_controller/crl_validator/__init__.py
  dp/cloud/python/magma/configuration_controller/crl_validator/certificate.py
  dp/cloud/python/magma/configuration_controller/crl_validator/crl_validator.py
  dp/cloud/python/magma/configuration_controller/request_router/request_router.py
  dp/cloud/python/magma/configuration_controller/requirements.txt
  dp/cloud/python/magma/configuration_controller/run.py
  dp/cloud/python/magma/configuration_controller/tests/requirements.txt
  dp/cloud/python/magma/configuration_controller/tests/unit/fixtures/__init__.py
  dp/cloud/python/magma/configuration_controller/tests/unit/fixtures/crl/__init__.py
  dp/cloud/python/magma/configuration_controller/tests/unit/fixtures/crl/certs.py
  dp/cloud/python/magma/configuration_controller/tests/unit/fixtures/crl/no_crl.crt
  dp/cloud/python/magma/configuration_controller/tests/unit/fixtures/crl/revoked.crt
  dp/cloud/python/magma/configuration_controller/tests/unit/fixtures/crl/revoked_1.crl
  dp/cloud/python/magma/configuration_controller/tests/unit/fixtures/crl/revoked_2.crl
  dp/cloud/python/magma/configuration_controller/tests/unit/fixtures/crl/valid.crt
  dp/cloud/python/magma/configuration_controller/tests/unit/fixtures/crl/valid_1.crl
  dp/cloud/python/magma/configuration_controller/tests/unit/fixtures/crl/valid_2.crl
  dp/cloud/python/magma/configuration_controller/tests/unit/test_crl_validator.py
Labels: component: orc8r, size/L

#13434 fix(nms): Replace broken rootca and control-proxy.yml links with link to the docs
  nms/app/views/equipment/EquipmentGateway.tsx
Labels: component: nms, size/S

#13420 chore(ci): activate MyPy code scanning in CI
  .github/workflows/reviewdog-workflow.yml
  mypy.ini
Labels: component: ci, size/XS

#13427 chore(agw): `magma_trfserver` is upgraded to Ubuntu 20.04
  .github/workflows/cwf-integ-test.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test.yml
  cwf/gateway/fabfile.py
  lte/gateway/Vagrantfile
  lte/gateway/deploy/magma_trfserver.yml
  lte/gateway/deploy/roles/trfserver/files/magma_interfaces
  lte/gateway/deploy/roles/trfserver/tasks/main.yml
  orc8r/tools/packer/magma-trfserver-virtualbox.json
  orc8r/tools/packer/scripts/third_party/README.md
  orc8r/tools/packer/scripts/third_party/aspyatkin/LICENSE_MIT
  orc8r/tools/packer/scripts/third_party/aspyatkin/minimize_ubuntu.sh
  orc8r/tools/packer/scripts/third_party/chef_bento/LICENSE_Apache
  orc8r/tools/packer/scripts/third_party/chef_bento/NOTICE_Bento.md
  orc8r/tools/packer/scripts/third_party/chef_bento/cleanup_ubuntu.sh
  orc8r/tools/packer/scripts/third_party/chef_bento/update_ubuntu.sh
Labels: component: agw, component: ci, size/XL, ready2merge, component: cwf

#13437 chore: missing patches are added to bazel ryu setup
  bazel/python_repositories.bzl
Labels: size/XS, bazel

#13430 fix(nms): Fix some console errors
  docs/readmes/nms/dev_components.md
  nms/app/components/ActionTable.tsx
  nms/app/components/admin/Networks.tsx
  nms/app/views/domain-proxy/CbsdEdit.tsx
  nms/app/views/domain-proxy/Cbsds.tsx
  nms/app/views/domain-proxy/LogsList.tsx
  nms/app/views/equipment/EquipmentEnodeb.tsx
  nms/app/views/equipment/EquipmentGateway.tsx
  nms/app/views/equipment/GatewayDetailConfig.tsx
  nms/app/views/equipment/GatewayDetailMain.tsx
  nms/app/views/equipment/GatewayPoolGatewaysEdit.tsx
  nms/app/views/network/NetworkFederationConfig.tsx
  nms/app/views/subscriber/SubscriberAddDialog.tsx
  nms/app/views/traffic/ApnEdit.tsx
  nms/app/views/traffic/ApnOverview.tsx
  nms/app/views/traffic/PolicyOverview.tsx
  nms/server/grafana/routes.tsx
Labels: component: nms, component: docs, size/M

#13445 chore(orc8r): Disable DP component in orc8r by default
  dp/cloud/helm/dp/charts/domain-proxy/examples/orc8r_minikube_values.yaml
  dp/skaffold.yaml
  orc8r/cloud/helm/orc8r/templates/dp.configmap.yaml
  orc8r/cloud/helm/orc8r/templates/dp.deployment.yaml
  orc8r/cloud/helm/orc8r/templates/dp.service.yaml
  orc8r/cloud/helm/orc8r/values.yaml
Labels: component: orc8r, size/S, component: dp

#13313 feat(nms): Add carrier aggregation fields to CBSD
  nms/app/views/domain-proxy/CbsdEdit.tsx
  nms/app/views/domain-proxy/__tests__/CbsdEdit.tsx
Labels: component: nms, size/L

#13448 chore(nms): Upgrade React to v17
  nms/package.json
  nms/yarn.lock
Labels: component: nms, size/M

#13458 fix(ci): Use yarn for reviewdog eslint
  .github/workflows/reviewdog-workflow.yml
Labels: component: ci, size/XS

#13436 refactor(nms): add FEG Gateway Add Dialog Button Test
  nms/app/components/AddGatewayDialog.tsx
  nms/app/components/feg/FEGGatewayDialog.tsx
  nms/app/views/equipment/FEGEquipmentDashboard.tsx
  nms/app/views/equipment/FEGEquipmentGateway.tsx
  nms/app/views/equipment/__tests__/FEGEquipmentGatewayTest.tsx
Labels: component: nms, size/L

#13428 fix(nms): ignore errors from DP when it's disabled
  nms/app/context/CbsdContext.tsx
Labels: component: nms, size/M, ready2merge

#13454 fix(amf): Reverting Guti creation during reg-accept
  lte/gateway/c/core/oai/tasks/amf/Registration.cpp
Labels: type: bug, component: agw, priority: high, size/M, product: 5g sa
