Repository magma/magma, pull requests merged in 2023-02, with the labels that each got.

#14911 chore(agw): Add description to MME Bazel targets
  lte/gateway/c/core/BUILD.bazel
Labels: component: agw, size/XS, bazel

#14938 docs(orc8r): Removes juju deployment how to from v18
  docs/docusaurus/i18n/en.json
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/deploy_using_juju.md
Labels: component: docs, size/L

#14934 fix(ci): Fix envoy_controller link for integ tests
  lte/gateway/deploy/magma_dev.yml
  lte/gateway/deploy/roles/magma/tasks/main.yml
Labels: component: agw, size/XS

#14923 docs: rename `.md` files to all lower case
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/docusaurus/versioned_docs/version-1.1.X/lte/dev_notes.md
  docs/docusaurus/versioned_docs/version-1.2.X/lte/dev_notes.md
  docs/docusaurus/versioned_docs/version-1.4.X/lte/dev_notes.md
  docs/docusaurus/versioned_docs/version-1.5.X/lte/dev_notes.md
  docs/docusaurus/versioned_docs/version-1.6.X/lte/dev_notes.md
  docs/docusaurus/versioned_docs/version-1.7.0/lte/dev_notes.md
  docs/docusaurus/versioned_docs/version-1.7.0/lte/integrated_5g_sa.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/dev_notes.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/extended_5g_sa_features.md
  docs/docusaurus/versioned_sidebars/version-1.7.0-sidebars.json
  docs/docusaurus/versioned_sidebars/version-1.8.0-sidebars.json
  docs/readmes/bazel/agw_with_bazel.md
  docs/readmes/lte/dev_notes.md
  docs/readmes/lte/extended_5g_sa_features.md
  docs/readmes/lte/integrated_5g_sa.md
  docs/readmes/lte/readme_agw.md
  docs/readmes/lte/readme_callflow.md
  docs/readmes/lte/suci_extensions.md
Labels: component: docs, size/XL

#14892 docs: improve hyperlinks in magma docs
  .devcontainer/README.md
  .github/workflows/comment-pr-on-check-failure.yml
  .github/workflows/pr_bot.yml
  README.md
  docs/docusaurus/versioned_docs/version-1.7.0/lte/integrated_5g_sa.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/extended_5g_sa_features.md
  docs/readmes/cwf/deploy_install.md
  docs/readmes/feg/architecture_overview.md
  docs/readmes/feg/debug_cli.md
  docs/readmes/howtos/inbound_roaming.md
  docs/readmes/howtos/troubleshooting/user_unable_to_attach.md
  docs/readmes/lte/build_install_magma_pkg_in_agw.md
  docs/readmes/lte/datapath.md
  docs/readmes/lte/ha_setup.md
  docs/readmes/lte/pipelined.md
  docs/readmes/lte/readme_agw.md
  docs/readmes/lte/setup_baremetal.md
  docs/readmes/lte/tr069.md
  docs/readmes/nms/alerts_troubleshooting.md
  lte/gateway/docker/README.md
  lte/gateway/python/load_tests/README.md
  nms/README.md
  orc8r/cloud/deploy/bare-metal-ansible/README.md
Labels: component: agw, component: nms, component: docs, component: ci, size/M

#14912 chore: Run integ tests directly without Make
  docs/readmes/feg/s1ap_federated_tests.md
  lte/gateway/deploy/roles/dev_common/defaults/main.yml
  lte/gateway/deploy/roles/magma_test/defaults/main.yml
  lte/gateway/deploy/roles/magma_test/files/generate_python_bindings.sh
  lte/gateway/deploy/roles/magma_test/tasks/main.yml
  lte/gateway/fabfile.py
  lte/gateway/python/integ_tests/Makefile
  lte/gateway/python/integ_tests/common/BUILD.bazel
  lte/gateway/python/integ_tests/federated_tests/fabfile.py
  lte/gateway/python/integ_tests/gateway/BUILD.bazel
  lte/gateway/python/integ_tests/s1aptests/BUILD.bazel
  lte/gateway/python/integ_tests/s1aptests/ovs/BUILD.bazel
  lte/gateway/python/integ_tests/s1aptests/util/BUILD.bazel
Labels: component: agw, component: docs, size/L, bazel

#14943 docs: fix external links
  docs/docusaurus/versioned_docs/version-1.4.X/contributing/contribute_onboarding.md
  docs/docusaurus/versioned_docs/version-1.4.X/nms/alert.md
  docs/docusaurus/versioned_docs/version-1.4.X/nms/metrics.md
  docs/docusaurus/versioned_docs/version-1.5.X/howtos/troubleshooting/agw_unable_to_checkin.md
  docs/docusaurus/versioned_docs/version-1.5.X/howtos/troubleshooting/user_unable_to_attach.md
  docs/docusaurus/versioned_docs/version-1.5.X/nms/alert.md
  docs/docusaurus/versioned_docs/version-1.5.X/nms/metrics.md
  docs/docusaurus/versioned_docs/version-1.5.X/orc8r/debug_logs.md
  docs/docusaurus/versioned_docs/version-1.6.X/contributing/contribute_id_mappings.md
  docs/docusaurus/versioned_docs/version-1.6.X/contributing/contribute_onboarding.md
  docs/docusaurus/versioned_docs/version-1.6.X/nms/metrics.md
  docs/docusaurus/versioned_docs/version-1.7.0/howtos/troubleshooting/agw_unable_to_checkin.md
  docs/docusaurus/versioned_docs/version-1.7.0/howtos/troubleshooting/user_unable_to_attach.md
  docs/docusaurus/versioned_docs/version-1.7.0/nms/alert.md
  docs/docusaurus/versioned_docs/version-1.7.0/nms/metrics.md
  docs/docusaurus/versioned_docs/version-1.8.0/nms/metrics.md
  docs/readmes/howtos/troubleshooting/agw_unable_to_checkin.md
  docs/readmes/howtos/troubleshooting/user_unable_to_attach.md
  docs/readmes/nms/alert.md
  docs/readmes/nms/metrics.md
  docs/readmes/orc8r/debug_logs.md
Labels: component: docs, size/M

#14942 docs: remove docs.magmacore.org from versioned docs
  docs/docusaurus/i18n/en.json
  docs/docusaurus/versioned_docs/version-1.4.X/lte/ha_setup.md
  docs/docusaurus/versioned_docs/version-1.4.X/orc8r/upgrade_1_4.md
  docs/docusaurus/versioned_docs/version-1.5.X/howtos/inbound_roaming.md
  docs/docusaurus/versioned_docs/version-1.5.X/lte/ha_setup.md
  docs/docusaurus/versioned_docs/version-1.5.X/orc8r/upgrade_1_4.md
  docs/docusaurus/versioned_docs/version-1.5.X/orc8r/upgrade_1_5.md
  docs/docusaurus/versioned_docs/version-1.6.X/lte/ha_setup.md
  docs/docusaurus/versioned_docs/version-1.6.X/nms/alerts_troubleshooting.md
  docs/docusaurus/versioned_docs/version-1.6.X/orc8r/rds_upgrade.md
  docs/docusaurus/versioned_docs/version-1.6.X/orc8r/upgrade_1_5.md
  docs/docusaurus/versioned_docs/version-1.6.X/orc8r/upgrade_1_6.md
  docs/docusaurus/versioned_docs/version-1.7.0/howtos/inbound_roaming.md
  docs/docusaurus/versioned_docs/version-1.7.0/lte/ha_setup.md
  docs/docusaurus/versioned_docs/version-1.7.0/nms/alerts_troubleshooting.md
  docs/docusaurus/versioned_docs/version-1.7.0/orc8r/upgrade_1_4.md
  docs/docusaurus/versioned_docs/version-1.7.0/orc8r/upgrade_1_5.md
  docs/docusaurus/versioned_docs/version-1.8.0/howtos/inbound_roaming.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/suci_extensions.md
  docs/docusaurus/versioned_sidebars/version-1.6.X-sidebars.json
  docs/readmes/lte/extended_5g_sa_features.md
  docs/readmes/lte/integrated_5g_sa.md
  docs/readmes/orc8r/upgrade_1_4.md
  docs/readmes/orc8r/upgrade_1_5.md
  docs/readmes/orc8r/upgrade_1_6.md
Labels: component: docs, size/L

#14944 docs: fix internal links
  docs/docusaurus/versioned_docs/version-1.5.X/lte/dev_notes.md
  docs/docusaurus/versioned_docs/version-1.7.0/lte/dev_notes.md
  docs/docusaurus/versioned_docs/version-1.7.0/resources/ref_magma_metrics.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/extended_5g_sa_features.md
  docs/readmes/bazel/agw_with_bazel.md
  docs/readmes/lte/dev_notes.md
  docs/readmes/lte/extended_5g_sa_features.md
  docs/readmes/resources/ref_magma_metrics.md
Labels: component: docs, size/M

#14941 chore(feg): remove pinning of golang.org/x/tools
  feg/gateway/go.mod
  feg/gateway/go.sum
Labels: component: feg, size/M

#14949 fix: order in CODEOWNERS file ensures correct revier group assignment
  CODEOWNERS
Labels: size/M

#14952 fix(mme): S1AP ResetAcknowledge Criticality Fix
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
Labels: component: agw, size/XS

#14946 fix(agw): restart mme as a single service for one single containerize…
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/integ_tests/s1aptests/test_3485_timer_for_default_bearer_with_mme_restart.py
Labels: component: agw, size/M

#14956 docs: Remove unused Tutorials section from sidebars
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/docusaurus/versioned_sidebars/version-1.5.X-sidebars.json
  docs/docusaurus/versioned_sidebars/version-1.6.X-sidebars.json
  docs/docusaurus/versioned_sidebars/version-1.7.0-sidebars.json
  docs/docusaurus/versioned_sidebars/version-1.8.0-sidebars.json
Labels: component: docs, size/XS

#14957 chore(ci): Use reviewdog action for cpplint job
  .github/workflows/reviewdog-workflow.yml
Labels: component: ci, size/S

#14964 docs: Add NMS page to sidebar
  docs/docusaurus/i18n/en.json
  docs/docusaurus/versioned_docs/version-1.6.X/nms/deploy_setup.md
  docs/docusaurus/versioned_docs/version-1.7.0/nms/deploy_setup.md
  docs/docusaurus/versioned_docs/version-1.8.0/nms/deploy_setup.md
  docs/readmes/nms/deploy_setup.md
Labels: component: docs, size/S

#14975 docs: Clean up NMS architecture page in sidebars
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/docusaurus/versioned_docs/version-1.5.X/nms/architecture_overview.md
  docs/docusaurus/versioned_docs/version-1.7.0/nms/architecture_overview.md
  docs/docusaurus/versioned_docs/version-1.8.0/nms/architecture_overview.md
  docs/docusaurus/versioned_sidebars/version-1.5.X-sidebars.json
  docs/docusaurus/versioned_sidebars/version-1.6.X-sidebars.json
  docs/docusaurus/versioned_sidebars/version-1.7.0-sidebars.json
  docs/docusaurus/versioned_sidebars/version-1.8.0-sidebars.json
  docs/readmes/nms/architecture_overview.md
Labels: component: docs, size/M

#14981 chore(agw): bump version number of AGW VMs
  orc8r/tools/packer/vagrant-box-upload.sh
Labels: component: ci, size/XS

#14979 docs: Fix ids of two proposals so they appear in sidebars
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/docusaurus/versioned_docs/version-1.6.X/proposals/p016_nms_regression_testing.md
  docs/docusaurus/versioned_docs/version-1.7.0/proposals/p016_nms_regression_testing.md
  docs/docusaurus/versioned_sidebars/version-1.4.X-sidebars.json
  docs/docusaurus/versioned_sidebars/version-1.5.X-sidebars.json
  docs/docusaurus/versioned_sidebars/version-1.6.X-sidebars.json
  docs/docusaurus/versioned_sidebars/version-1.7.0-sidebars.json
  docs/docusaurus/versioned_sidebars/version-1.8.0-sidebars.json
  docs/readmes/proposals/p016_nms_regression_testing.md
Labels: component: docs, size/S

#14978 chore(ci): Run cpplint job for changes in lte/gateway/python
  .github/workflows/reviewdog-workflow.yml
Labels: component: ci, size/XS

#14983 chore(ci): explicitly cache boxes in Cwf integ test
  .github/workflows/cwf-integ-test.yml
Labels: component: ci, size/S

#14996 docs: Fixed a symbolic link
  lte/README.md
  third_party/build/patches/aioeventlet/aioeventlet.py38.patch
  third_party/build/patches/aioeventlet/aioeventlet_fd_exception.patch
Labels: component: ci, size/XS

#14806 chore: Upgrade fabric to 3.0.0
  .github/workflows/build_all.yml
  .github/workflows/cwf-integ-test.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
  .github/workflows/lte-integ-test-containerized.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/sudo-python-tests.yml
  cwf/gateway/fabfile.py
  cwf/gateway/integ_tests/README.md
  docs/readmes/basics/prerequisites.md
  docs/readmes/basics/quick_start_guide.md
  docs/readmes/cwf/dev_testing.md
  docs/readmes/feg/s1ap_federated_tests.md
  feg/gateway/fabfile.py
  lte/gateway/dev_tools.py
  lte/gateway/fabfile.py
  lte/gateway/python/integ_tests/federated_tests/fabfile.py
  orc8r/gateway/python/python.mk
  orc8r/tools/fab/BUILD.bazel
  orc8r/tools/fab/dev_utils.py
  orc8r/tools/fab/hosts.py
  orc8r/tools/fab/pkg.py
  orc8r/tools/fab/python_utils.py
  orc8r/tools/fab/tests/BUILD.bazel
  orc8r/tools/fab/tests/test_python_utils.py
  orc8r/tools/fab/vagrant.py
Labels: component: orc8r, component: agw, component: docs, component: ci, component: feg, size/XXL, component: cwf

#14992 chore: Require codeowner for go.mod changes
  CODEOWNERS
Labels: size/XS

#15002 chore: improve python syntax in fabric workflows
  feg/gateway/fabfile.py
  lte/gateway/dev_tools.py
  lte/gateway/fabfile.py
  lte/gateway/python/integ_tests/federated_tests/fabfile.py
  orc8r/tools/fab/dev_utils.py
Labels: component: orc8r, component: agw, component: feg, size/M

#15007 chore(agw): Add deprecation warnings to AGW Makefiles
  lte/gateway/Makefile
  lte/gateway/python/Makefile
  lte/gateway/release/Makefile
Labels: component: agw, component: ci, size/M, bazel-cleanup

#15013 chore(smsd): Complete smsd dependencies in build file
  lte/gateway/python/magma/smsd/BUILD.bazel
Labels: component: agw, size/XS, bazel

#14998 chore(ci): refactor getting test summaries from VMs
  .github/workflows/agw-build-publish-container.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
  .github/workflows/lte-integ-test-containerized.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/sudo-python-tests.yml
  lte/gateway/fabfile.py
Labels: component: agw, component: ci, size/L

#15015 fix(ci): fix condition to get test summaries
  lte/gateway/fabfile.py
Labels: component: agw, size/XS

#14994 fix(ci): Bump wemake-python-styleguide action version
  .github/workflows/reviewdog-workflow.yml
  lte/gateway/docker/python-precommit/Dockerfile
  lte/gateway/python/precommit.py
Labels: component: agw, component: ci, size/M

#15017 docs: Add FeG docker page to sidebars
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/docusaurus/versioned_docs/version-1.7.0/feg/docker.md
  docs/docusaurus/versioned_sidebars/version-1.7.0-sidebars.json
  docs/docusaurus/versioned_sidebars/version-1.8.0-sidebars.json
  docs/readmes/feg/docker.md
Labels: component: docs, size/S

#15018 docs: Add missing CWF pages to sidebars
  docs/docusaurus/sidebars.json
  docs/docusaurus/versioned_sidebars/version-1.7.0-sidebars.json
  docs/docusaurus/versioned_sidebars/version-1.8.0-sidebars.json
Labels: component: docs, size/M

#15016 chore(cwg): improve provisioning of CWF VMs
  cwf/gateway/Vagrantfile
  cwf/gateway/deploy/cwag.yml
  cwf/gateway/deploy/cwag_dev.yml
  cwf/gateway/deploy/cwag_test.yml
Labels: component: ci, size/S, component: cwf

#14852 chore: federated integ test running vs magma_deb
  .github/workflows/bazel.yml
  .github/workflows/federated-integ-test.yml
  lte/gateway/deploy/magma_deb.yml
  lte/gateway/dev_tools.py
  lte/gateway/fabfile.py
  lte/gateway/python/integ_tests/federated_tests/fabfile.py
Labels: component: agw, component: ci, size/L

#15023 chore(cwg): Remove unused code from CWF fabfile
  cwf/gateway/fabfile.py
Labels: size/XS, component: cwf

#15020 refactor(agw): Improved error handling in fabfiles
  lte/gateway/fabfile.py
Labels: component: agw, size/S

#15004 refactor(agw): Minor improvements to the fabfiles
  cwf/gateway/fabfile.py
  feg/gateway/fabfile.py
  lte/gateway/fabfile.py
  lte/gateway/python/integ_tests/federated_tests/fabfile.py
Labels: component: agw, component: feg, size/L, component: cwf

#15030 Revert "refactor(agw): Minor improvements to the fabfiles (#15004)"
  cwf/gateway/fabfile.py
  feg/gateway/fabfile.py
  lte/gateway/fabfile.py
  lte/gateway/python/integ_tests/federated_tests/fabfile.py
Labels: component: agw, component: feg, size/L, component: cwf

#15035 chore(agw): Minor fabfile refactoring second attempt
  cwf/gateway/fabfile.py
  feg/gateway/fabfile.py
  lte/gateway/fabfile.py
  lte/gateway/python/integ_tests/federated_tests/fabfile.py
Labels: component: agw, component: feg, size/L, component: cwf

#15024 chore(agw): Move `make format_all` into a separate bash script
  dev_tools/clang_format.sh
  docs/readmes/lte/dev_unit_testing.md
  lte/gateway/Makefile
Labels: component: agw, component: docs, size/M

#15068 fix(ci): results of FEG integ tests are published to CI dashboard again
  .github/workflows/federated-integ-test.yml
Labels: component: ci, size/XS

#15039 docs: update FAQ on IPv6
  docs/docusaurus/versioned_docs/version-1.4.X/faq/faq_magma.md
  docs/docusaurus/versioned_docs/version-1.5.X/faq/faq_magma.md
  docs/docusaurus/versioned_docs/version-1.7.0/faq/faq_magma.md
  docs/readmes/faq/faq_magma.md
Labels: component: docs, size/S

#15037 chore(ci): Update PR Generate Hello message
  .github/workflows/pr_bot.yml
Labels: component: ci, size/XS

#15078 docs: Add missing AGW technical reference pages to sidebars
  docs/docusaurus/sidebars.json
  docs/docusaurus/versioned_sidebars/version-1.7.0-sidebars.json
  docs/docusaurus/versioned_sidebars/version-1.8.0-sidebars.json
Labels: component: docs, size/S

#15082 docs: add missing 5G SA feature page link to sidebars
  docs/docusaurus/versioned_docs/version-1.7.0/lte/integrated_5g_sa.md
Labels: component: docs, size/XS

#15058 docs: Fix orc8r build instructions
  docs/readmes/orc8r/dev_build.md
Labels: component: docs, size/XS

#15076 chore(ci): docker images are published with release tags
  .github/workflows/agw-build-publish-container.yml
Labels: component: ci, size/S

#15097 docs: Add packaging page to sidebars
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/docusaurus/versioned_docs/version-1.7.0/howtos/package.md
  docs/docusaurus/versioned_sidebars/version-1.7.0-sidebars.json
  docs/docusaurus/versioned_sidebars/version-1.8.0-sidebars.json
  docs/readmes/howtos/package.md
Labels: component: docs, size/S

#15080 chore(feg): remove unused vm infrastructure
  feg/gateway/Vagrantfile
  feg/gateway/deploy/envdir/CONTROLLER_HOSTNAME
  feg/gateway/deploy/envdir/GX_DIAM_HOST
  feg/gateway/deploy/envdir/GX_DIAM_REALM
  feg/gateway/deploy/envdir/GX_LOCAL_ADDR
  feg/gateway/deploy/envdir/GX_NETWORK
  feg/gateway/deploy/envdir/GY_DIAM_HOST
  feg/gateway/deploy/envdir/GY_DIAM_REALM
  feg/gateway/deploy/envdir/GY_INIT_METHOD
  feg/gateway/deploy/envdir/GY_NETWORK
  feg/gateway/deploy/envdir/HSS_ADDR
  feg/gateway/deploy/envdir/INSTANCE_NAME
  feg/gateway/deploy/envdir/OCS_ADDR
  feg/gateway/deploy/envdir/OCS_PER_CHARGING_KEY
  feg/gateway/deploy/envdir/PCRF_ADDR
  feg/gateway/deploy/envdir/S6A_DIAM_HOST
  feg/gateway/deploy/envdir/S6A_DIAM_REALM
  feg/gateway/deploy/envdir/S6A_LOCAL_ADDR
  feg/gateway/deploy/envdir/S6A_NETWORK
  feg/gateway/deploy/envdir/SERVICE_HOST_NAME
  feg/gateway/deploy/envdir/VLR_ADDR
  feg/gateway/deploy/feg.dev.bare.yml
  feg/gateway/deploy/feg.dev.docker.yml
  feg/gateway/deploy/feg.yml
  feg/gateway/deploy/hosts
  feg/gateway/deploy/roles/feg_dev/files/magma_hss.service
  feg/gateway/deploy/roles/feg_dev/files/magma_ocs.service
  feg/gateway/deploy/roles/feg_dev/files/magma_pcrf.service
  feg/gateway/deploy/roles/feg_dev/tasks/main.yml
  feg/gateway/deploy/roles/feg_services/files/magma_aaa_server.service
  feg/gateway/deploy/roles/feg_services/files/magma_control_proxy.service
  feg/gateway/deploy/roles/feg_services/files/magma_csfb.service
  feg/gateway/deploy/roles/feg_services/files/magma_eap_aka.service
  feg/gateway/deploy/roles/feg_services/files/magma_eap_router.service
  feg/gateway/deploy/roles/feg_services/files/magma_eap_sim.service
  feg/gateway/deploy/roles/feg_services/files/magma_feg_hello.service
  feg/gateway/deploy/roles/feg_services/files/magma_health.service
  feg/gateway/deploy/roles/feg_services/files/magma_magmad.service
  feg/gateway/deploy/roles/feg_services/files/magma_radius.service
  feg/gateway/deploy/roles/feg_services/files/magma_radiusd.service
  feg/gateway/deploy/roles/feg_services/files/magma_redis.service
  feg/gateway/deploy/roles/feg_services/files/magma_s6a_proxy.service
  feg/gateway/deploy/roles/feg_services/files/magma_session_proxy.service
  feg/gateway/deploy/roles/feg_services/files/magma_swx_proxy.service
  feg/gateway/deploy/roles/feg_services/tasks/main.yml
Labels: component: feg, size/XL

#15077 chore: Remove dead code from orc8r/gateway/docker
  cwf/gateway/docker/docker-compose.override.yml
  orc8r/gateway/docker/.env
  orc8r/gateway/docker/.prod_env
  orc8r/gateway/docker/Dockerfile
  orc8r/gateway/docker/docker-compose.override.yml
  orc8r/gateway/docker/docker-compose.yml
Labels: component: orc8r, size/L, bazel-cleanup, component: cwf
