Repository magma/magma, pull requests merged in 2024-03, with the labels that each got.

#15384 fix(ci): Fix of ci dashboard
  .github/workflows/cwf-integ-test.yml
  .github/workflows/sudo-python-tests.yml
  lte/gateway/fabfile.py
Labels: component: agw, component: ci, size/L

#14976 fix(amf): Added statistics support for AMF
  lte/cloud/go/protos/oai/mme_nas_state.pb.go
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/include/service303.hpp
  lte/gateway/c/core/oai/include/service303_messages_def.hpp
  lte/gateway/c/core/oai/include/service303_messages_types.hpp
  lte/gateway/c/core/oai/lib/message_utils/service303_message_utils.c
  lte/gateway/c/core/oai/lib/message_utils/service303_message_utils.h
  lte/gateway/c/core/oai/tasks/amf/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/amf/amf_app_defs.hpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_handler.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_main.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_state_converter.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_state_manager.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_statistics.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_ue_context.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_fsm.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_smf_send.cpp
  lte/gateway/c/core/oai/tasks/amf/deregistration_request.cpp
  lte/gateway/c/core/oai/tasks/amf/include/amf_app_statistics.hpp
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf.c
  lte/gateway/c/core/oai/tasks/service303/service303_mme_stats.cpp
  lte/gateway/c/core/oai/tasks/service303/service303_task.cpp
  lte/protos/oai/mme_nas_state.proto
  nms/api/data/LteMetrics.json
  nms/app/components/lte/LteMetrics.tsx
  nms/app/components/lte/NetworkKPIs.tsx
  nms/server/grafana/dashboards/Dashboards.ts
Labels: component: orc8r, component: agw, component: nms, size/L

#15391 fix(cwg): Add conntrack configuration
  cwf/gateway/configs/pipelined.yml
Labels: size/XS, component: cwf
