Repository magma/magma, pull requests merged in 2024-07, with the labels that each got.

#15370 fix(orc8r): Sanitizing user input on N/W creation
  nms/server/network/routes.ts
Labels: component: nms, size/S

#14182 fix(agw): Readme Update and Minor fixes
  lte/gateway/deploy/agwc-helm-charts/README.md
  lte/gateway/deploy/agwc-helm-charts/values.yaml
Labels: component: agw, size/M

#15136 fix(nms): Fixing metrics fetching
  nms/app/views/metrics/Explorer.tsx
  nms/server/app.ts
Labels: component: nms, size/XS

#15217 fix(nms): nms yarn test filed
  nms/app/views/traffic/__tests__/TrafficOverviewTest.tsx
Labels: component: nms, size/XS

#13981 chore(dp): remove idle grants in AMC
  dp/cloud/go/services/dp/active_mode_controller/action_generator/action/action.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/action/action_test.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/generators.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/message_generator.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/message_generator_test.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/sas/grant/available_frequencies.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/sas/grant/available_frequencies_test.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/sas/grant/selection.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/sas/grant/selection_test.go
  dp/cloud/go/services/dp/storage/amc_manager.go
Labels: component: orc8r, size/L

#15186 docs(orc8r): Adds docs for Charmed Magma 1.8
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/docusaurus/versioned_docs/version-1.6.X/orc8r/deploy_using_juju.md
  docs/docusaurus/versioned_docs/version-1.7.0/orc8r/deploy_using_juju.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/deploy_agw_using_juju.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/deploy_using_juju.md
  docs/docusaurus/versioned_docs/version-1.8.0/tutorials/00_private_mobile_network_with_charmed_magma.md
  docs/docusaurus/versioned_docs/version-1.8.0/tutorials/01_getting_started.md
  docs/docusaurus/versioned_docs/version-1.8.0/tutorials/02_deploying_magma_orchestrator.md
  docs/docusaurus/versioned_docs/version-1.8.0/tutorials/03_deploying_magma_access_gateway.md
  docs/docusaurus/versioned_docs/version-1.8.0/tutorials/04_integrating_magma_access_gateway_with_magma_orchestrator.md
  docs/docusaurus/versioned_docs/version-1.8.0/tutorials/05_deploying_the_radio_simulator.md
  docs/docusaurus/versioned_docs/version-1.8.0/tutorials/06_simulating_user_traffic.md
  docs/docusaurus/versioned_docs/version-1.8.0/tutorials/07_destroying_the_environment.md
  docs/docusaurus/versioned_sidebars/version-1.8.0-sidebars.json
  docs/readmes/lte/deploy_agw_using_juju.md
  docs/readmes/orc8r/deploy_using_juju.md
  docs/readmes/tutorials/00_private_mobile_network_with_charmed_magma.md
  docs/readmes/tutorials/01_getting_started.md
  docs/readmes/tutorials/02_deploying_magma_orchestrator.md
  docs/readmes/tutorials/03_deploying_magma_access_gateway.md
  docs/readmes/tutorials/04_integrating_magma_access_gateway_with_magma_orchestrator.md
  docs/readmes/tutorials/05_deploying_the_radio_simulator.md
  docs/readmes/tutorials/06_simulating_user_traffic.md
  docs/readmes/tutorials/07_destroying_the_environment.md
Labels: component: docs, size/XXL

#15463 fix: version bumps
  lte/gateway/docker/python-precommit/requirements.txt
  nms/yarn.lock
  orc8r/gateway/python/setup.py
Labels: component: orc8r, component: nms, component: ci, size/S
