Repository magma/magma, pull requests merged in 2024-08, with the labels that each got.

#15453 feat: add support for selecting the default APN per subscriber
  .vscode/settings.json
  lte/cloud/go/protos/apn.pb.go
  lte/cloud/go/services/lte/obsidian/handlers/handlers_test.go
  lte/cloud/go/services/lte/obsidian/models/apn_configuration_swaggergen.go
  lte/cloud/go/services/lte/obsidian/models/swagger.v1.yml
  lte/cloud/go/tools/migrations/m010_default_apns/types/types.go
  lte/gateway/python/magma/subscriberdb/protocols/s6a_proxy_servicer.py
  lte/gateway/python/magma/subscriberdb/store/BUILD.bazel
  lte/gateway/python/magma/subscriberdb/store/sqlite.py
  lte/gateway/python/scripts/subscriber_cli.py
  lte/protos/apn.proto
  nms/app/views/equipment/__tests__/GatewayConfigTest.tsx
  nms/app/views/network/__tests__/NetworkTest.tsx
  nms/app/views/subscriber/__tests__/SubscriberAddEditTest.tsx
  nms/app/views/traffic/ApnEdit.tsx
  nms/app/views/traffic/__tests__/ApnAddTest.tsx
  nms/app/views/traffic/__tests__/TrafficOverviewTest.tsx
  nms/generated/api.ts
  nms/server/util/asyncHandler.ts
  orc8r/cloud/api/v1/go/models/apn_configuration.go
  orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml
Labels: component: orc8r, component: agw, component: nms, size/XL

#15477 fix: glob-parent upgrade
  nms/Found
  nms/yarn.lock
Labels: component: nms, size/L

#15481 fix(ci): Fixing markdown document linter reported with #15472
  docs/docusaurus/versioned_docs/version-1.2.X/orc8r/deploy_install.md
  docs/docusaurus/versioned_docs/version-1.2.X/proposals/p002_scaled_prometheus_pipeline.md
  docs/docusaurus/versioned_docs/version-1.3.X/orc8r/deploy_install.md
  docs/docusaurus/versioned_docs/version-1.4.X/orc8r/architecture_modularity.md
  docs/docusaurus/versioned_docs/version-1.4.X/orc8r/deploy_install.md
  docs/docusaurus/versioned_docs/version-1.5.X/orc8r/architecture_modularity.md
  docs/docusaurus/versioned_docs/version-1.5.X/orc8r/debug_logs.md
  docs/docusaurus/versioned_docs/version-1.5.X/orc8r/deploy_install.md
  docs/docusaurus/versioned_docs/version-1.5.X/proposals/p008_inbound_roaming_with_subscriberdb.md
  docs/docusaurus/versioned_docs/version-1.5.X/proposals/p010_subscriber_scaling.md
  docs/docusaurus/versioned_docs/version-1.5.X/proposals/p011_victoriametrics.md
  docs/docusaurus/versioned_docs/version-1.6.X/orc8r/deploy_install.md
  docs/docusaurus/versioned_docs/version-1.7.0/orc8r/architecture_modularity.md
  docs/docusaurus/versioned_docs/version-1.7.0/orc8r/deploy_install.md
  docs/docusaurus/versioned_docs/version-1.7.0/orc8r/dev_sub_digests.md
  docs/docusaurus/versioned_docs/version-1.7.0/proposals/p002_scaled_prometheus_pipeline.md
  docs/docusaurus/versioned_docs/version-1.7.0/proposals/p008_inbound_roaming_with_subscriberdb.md
  docs/docusaurus/versioned_docs/version-1.7.0/proposals/p010_subscriber_scaling.md
  docs/docusaurus/versioned_docs/version-1.7.0/proposals/p011_victoriametrics.md
  docs/docusaurus/versioned_docs/version-1.7.0/proposals/p020_sgi_tunnel_transport.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/deploy_install.md
  docs/readmes/Dockerfile
  docs/readmes/contributing/contribute_tsc_norms.md
  docs/readmes/lte/deploy_install.md
  docs/readmes/lte/deploy_install_docker.md
  docs/readmes/lte/s1ap_tests.md
  docs/readmes/nms/alerts_troubleshooting.md
  docs/readmes/orc8r/architecture_modularity.md
  docs/readmes/orc8r/debug_logs.md
  docs/readmes/orc8r/deploy_install.md
  docs/readmes/orc8r/deploy_using_ansible.md
  docs/readmes/orc8r/dev_sub_digests.md
  docs/readmes/proposals/p002_scaled_prometheus_pipeline.md
  docs/readmes/proposals/p008_inbound_roaming_with_subscriberdb.md
  docs/readmes/proposals/p010_subscriber_scaling.md
  docs/readmes/proposals/p011_victoriametrics.md
  docs/readmes/proposals/p020_sgi_tunnel_transport.md
  docs/readmes/proposals/p026_magma_inbound_roaming_extensions.md
Labels: component: docs, size/L

#15493 fix(mme): Enforce stricter input validation for S1AP/NGAP/NAS payloads [backport to v1.9]
  lte/gateway/c/core/oai/lib/3gpp/3gpp_24.008_mm_ies.c
  lte/gateway/c/core/oai/lib/3gpp/3gpp_24.008_sm_ies.c
  lte/gateway/c/core/oai/tasks/amf/amf_as.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_as.cpp
  lte/gateway/c/core/oai/tasks/nas/ies/EsmMessageContainer.cpp
  lte/gateway/c/core/oai/tasks/nas/ies/PdnAddress.cpp
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_handlers.c
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_nas_procedures.c
  lte/gateway/c/core/oai/tasks/ngap/ngap_common.h
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
Labels: component: agw, size/L

#15502 fix(orc8r): Release 1.9.0
  .github/workflows/agw-build-publish-container.yml
Labels: component: ci, size/XS
