Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

chore: cpp debug symbols are only created for magma code (size of artifacts is decreased)
  .bazelrc
Owners: @m-govind, @panyogesh

fix(dp): make 37 default value for max_eirp (#13922)
  dp/cloud/python/magma/configuration_controller/response_processor/strategies/response_processing.py
  dp/cloud/python/magma/configuration_controller/tests/unit/test_response_processor.py
  dp/cloud/python/magma/db_service/migrations/versions/021_467ad00fbc83_remove_channels.py
  dp/cloud/python/magma/db_service/tests/unit/test_021_remove_channels.py
  dp/cloud/python/magma/fixtures/fake_responses/spectrum_inquiry_responses.py
Owners: @m-govind, @panyogesh

chore(dp): Implement AmcManager UpdateCbsd func (#13927)
  dp/cloud/go/services/dp/storage/amc_manager.go
  dp/cloud/go/services/dp/storage/amc_manager_test.go
Owners: @m-govind, @panyogesh

fix(agw): Fix wildcard expansion error in magma aliases
  lte/gateway/deploy/roles/service_aliases/tasks/main.yml
Owners: @m-govind, @panyogesh

chore: magma deb build is bazelified (#13749)
  .bazelrc
  WORKSPACE.bazel
  bazel/deb_build.bzl
  bazel/runfiles.bzl
  bazel/test/BUILD.bazel
  bazel/test/runfiles_test.bzl
  feg/gateway/services/envoy_controller/BUILD.bazel
  lte/gateway/c/connection_tracker/src/BUILD.bazel
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/li_agent/src/BUILD.bazel
  lte/gateway/c/session_manager/BUILD.bazel
  lte/gateway/configs/BUILD.bazel
  lte/gateway/configs/templates/BUILD.bazel
  lte/gateway/deploy/roles/magma/files/BUILD.bazel
  lte/gateway/deploy/roles/magma/files/systemd/BUILD.bazel
  lte/gateway/python/load_tests/BUILD.bazel
  lte/gateway/python/magma/health/BUILD.bazel
  lte/gateway/python/magma/kernsnoopd/BUILD.bazel
  lte/gateway/python/magma/kernsnoopd/ebpf/BUILD.bazel
  lte/gateway/python/magma/mobilityd/BUILD.bazel
  lte/gateway/python/magma/monitord/BUILD.bazel
  lte/gateway/python/magma/pipelined/ebpf/BUILD.bazel
  lte/gateway/python/magma/policydb/BUILD.bazel
  lte/gateway/python/magma/redirectd/BUILD.bazel
  lte/gateway/python/magma/smsd/BUILD.bazel
  lte/gateway/python/scripts/BUILD.bazel
  lte/gateway/release/BUILD.bazel
  lte/gateway/release/deb_dependencies.bzl
  lte/gateway/release/magma-postinst-bazel
  orc8r/gateway/configs/templates/BUILD.bazel
  orc8r/gateway/python/BUILD.bazel
  orc8r/gateway/python/magma/eventd/BUILD.bazel
  orc8r/gateway/python/scripts/BUILD.bazel
  orc8r/tools/ansible/roles/fluent_bit/files/BUILD.bazel
  orc8r/tools/ansible/roles/gateway_services/files/BUILD.bazel
Owners: @m-govind, @panyogesh, @magma/approvers-ci

feat(agw): envoy controller is dockerized
  lte/gateway/docker/docker-compose.dev.yaml
  lte/gateway/docker/docker-compose.override.yaml
  lte/gateway/docker/docker-compose.yaml
  lte/gateway/docker/services/envoy_controller/Dockerfile
Owners: @m-govind, @panyogesh

feat(agw): envoy namespace is now configured by the envoy service
  lte/gateway/deploy/roles/magma/files/systemd/magma_dp_envoy.service
  lte/gateway/deploy/roles/magma/files/systemd/magma_envoy_controller.service
  lte/gateway/docker/README.md
Owners: @m-govind, @panyogesh

Addressed review comments
  lte/gateway/c/core/oai/tasks/nas/emm/Attach.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/Authentication.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/Detach.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/EmmCommon.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/Identification.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/emm_proc.hpp
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_fsm.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_recv.cpp
  lte/gateway/c/core/oai/tasks/nas/util/socket.cpp
Owners: @m-govind, @panyogesh

feat(agw): install dhclient in pipelined container
  lte/gateway/docker/docker-compose.yaml
  lte/gateway/docker/services/python/Dockerfile
Owners: @m-govind, @panyogesh

Fixed cpplint error
  lte/gateway/c/core/oai/tasks/nas/util/socket.cpp
Owners: @m-govind, @panyogesh

Fixed cpplint errors
  lte/gateway/c/core/oai/tasks/nas/nas_procedures.cpp
Owners: @m-govind, @panyogesh

fix(agw): Fix wildcard expansion error in magma aliases (#13929)
  lte/gateway/deploy/roles/service_aliases/tasks/main.yml
Owners: @m-govind, @panyogesh

Fixed formatting errors
  lte/gateway/c/core/oai/include/EpsQualityOfService.h
  lte/gateway/c/core/oai/tasks/nas/emm/SecurityModeControl.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/EpsBearerContextDeactivation.cpp
  lte/gateway/c/core/oai/tasks/nas/ies/AdditionalUpdateType.cpp
  lte/gateway/c/core/oai/tasks/nas/ies/DaylightSavingTime.cpp
  lte/gateway/c/core/oai/tasks/nas/ies/EpsQualityOfService.cpp
  lte/gateway/c/core/oai/tasks/nas/ies/ProcedureTransactionIdentity.cpp
  lte/gateway/c/core/oai/tasks/nas/ies/ProtocolDiscriminator.cpp
Owners: @m-govind, @panyogesh

chore(dp): WithinTx should not suppress panic
  dp/cloud/go/services/dp/storage/amc_manager.go
  dp/cloud/go/services/dp/storage/amc_manager_test.go
Owners: @m-govind, @panyogesh

feat(agw): dockerize the agw envoy controller (#13852)
  lte/gateway/deploy/roles/magma/files/systemd/magma_dp_envoy.service
  lte/gateway/deploy/roles/magma/files/systemd/magma_envoy_controller.service
  lte/gateway/docker/README.md
  lte/gateway/docker/docker-compose.dev.yaml
  lte/gateway/docker/docker-compose.override.yaml
  lte/gateway/docker/docker-compose.yaml
  lte/gateway/docker/services/envoy_controller/Dockerfile
  lte/gateway/docker/services/python/Dockerfile
Owners: @m-govind, @panyogesh

chore(agw): cleanup apt installs in agw Dockerfiles
  lte/gateway/docker/services/c/Dockerfile
  lte/gateway/docker/services/python/Dockerfile
Owners: @m-govind, @panyogesh

test(cwag): Reformatted comments
  cwf/gateway/integ_tests/gy_enforcement_test.go
  cwf/gateway/integ_tests/test_runner.go
  cwf/gateway/services/uesim/servicers/uesim.go
Owners: @m-govind, @panyogesh

test(cwag): Modified quotas
  cwf/gateway/integ_tests/gy_enforcement_test.go
Owners: @m-govind, @panyogesh

feat(agw): LTE integration tests run on a containerized AGW (#13853)
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/integ_tests/s1aptests/s1ap_wrapper.py
  lte/gateway/python/integ_tests/s1aptests/test_3485_timer_for_dedicated_bearer_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_3485_timer_for_default_bearer_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_3495_timer_for_dedicated_bearer_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_3495_timer_for_default_bearer_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_and_mme_restart_loop_detach_and_mme_restart_loop_multi_ue.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_multiple_ip_blocks_mobilityd_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_with_corrupt_stateless_mme.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_with_mobilityd_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_esm_info_with_apn_correction.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_mme_restart_detach_multi_ue.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_nw_initiated_detach_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_ul_udp_data_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_ul_udp_data_with_mobilityd_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_ul_udp_data_with_multiple_service_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_ul_udp_data_with_pipelined_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_ul_udp_data_with_sessiond_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_with_multiple_mme_restarts.py
  lte/gateway/python/integ_tests/s1aptests/test_enb_partial_reset_multi_ue_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_ics_timer_expiry_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_idle_mode_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_implicit_detach_timer_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_mobile_reachability_tmr_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_no_attach_complete_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_no_auth_resp_with_mme_restart_reattach.py
  lte/gateway/python/integ_tests/s1aptests/test_no_auth_response_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_no_esm_information_rsp_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_no_identity_rsp_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_no_smc_with_mme_restart_reattach.py
  lte/gateway/python/integ_tests/s1aptests/test_paging_after_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_paging_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_secondary_pdn_with_dedicated_bearer_multiple_services_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_service_req_ul_udp_data_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_standalone_pdn_conn_req_with_apn_correction.py
  lte/gateway/python/integ_tests/s1aptests/test_stateless_multi_ue_mixedstate_mme_restart.py
Owners: @m-govind, @panyogesh

chore(ci): run integ tests again deb installation in ci
  .github/workflows/lte-integ-test-magma-deb.yml
  lte/gateway/deploy/roles/magma_deb/tasks/main.yml
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

chore(dp): Get rid of legacy active-mode controller
  .github/workflows/dp-workflow.yml
  dp/cloud/docker/go/active_mode_controller/Dockerfile
  dp/cloud/go/active_mode_controller/main.go
  dp/cloud/helm/dp/charts/domain-proxy/README.md
  dp/cloud/helm/dp/charts/domain-proxy/examples/aws_nginx_values.yaml
  dp/cloud/helm/dp/charts/domain-proxy/examples/minikube_values.yaml
  dp/cloud/helm/dp/charts/domain-proxy/examples/minikube_values_nginx.yaml
  dp/cloud/helm/dp/charts/domain-proxy/templates/_helpers.tpl
  dp/cloud/helm/dp/charts/domain-proxy/templates/active_mode_controller/deployment.yaml
  dp/cloud/helm/dp/charts/domain-proxy/templates/active_mode_controller/hpa.yaml
  dp/cloud/helm/dp/charts/domain-proxy/templates/active_mode_controller/pdb.yaml
  dp/cloud/helm/dp/charts/domain-proxy/templates/active_mode_controller/serviceaccount.yaml
  dp/cloud/helm/dp/charts/domain-proxy/values.yaml
  dp/skaffold.yaml
Owners: @magma/approvers-ci, @m-govind, @panyogesh

chore(dp): WithinTx should not suppress panic (#13933)
  dp/cloud/go/services/dp/storage/amc_manager.go
  dp/cloud/go/services/dp/storage/amc_manager_test.go
Owners: @m-govind, @panyogesh

chore(ci): add workflow that runs s1ap integ tests against dockerized agw running on magma_dev VM
  .github/workflows/lte-dockerized-integ-test.yml
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

some print logging
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

delete superfluous steps
  .github/workflows/lte-dockerized-integ-test.yml
Owners: @magma/approvers-ci

chore(ci): testing new workflow for containerized AGW
  .github/workflows/lte-dockerized-integ-test.yml
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

chore(ci): testing new workflow for containerized AGW - rename workflow
  .github/workflows/lte-integ-test-containerized.yml
Owners: @magma/approvers-ci

chore(ci): testing new workflow for containerized AGW - change workflow trigger
  .github/workflows/lte-integ-test-containerized.yml
Owners: @magma/approvers-ci

chore(ci): testing new workflow for containerized AGW - some debugging
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(ci): testing new workflow for containerized AGW - cleanup commands
  .github/workflows/lte-integ-test-containerized.yml
Owners: @magma/approvers-ci

chore(ci): testing new workflow for containerized AGW - simplify the docker compose start
  lte/gateway/docker/docker-compose.dev.yaml
  lte/gateway/docker/docker-compose.override.yaml
  lte/gateway/docker/docker-compose.yaml
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

Revert "chore(ci): testing new workflow for containerized AGW - test push trigger"
  .github/workflows/lte-integ-test-containerized.yml
Owners: @magma/approvers-ci

chore(ci): testing new workflow for containerized AGW - with dev mode
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(ci): testing new workflow for containerized AGW - naming correction
  .github/workflows/lte-integ-test-containerized.yml
Owners: @magma/approvers-ci

chore(ci): testing new workflow for containerized AGW - add .env variable for registry
  lte/gateway/docker/.env
Owners: @m-govind, @panyogesh

chore(ci): testing new workflow for containerized AGW - trfserver test + typo
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(ci): testing new workflow for containerized AGW - make integ tests
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(ci): testing new workflow for containerized AGW - test_VM test + typo
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(ci): testing new workflow for containerized AGW - set registry
  .github/workflows/lte-integ-test-containerized.yml
Owners: @magma/approvers-ci

chore(ci): testing new workflow for containerized AGW - run attach detach test
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost
