Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @magma/approvers-ci, @magma/approvers-orc8r, @magma/approvers-nms, @magma/approvers-feg, @magma/approvers-cwf, @magma/approvers-openwrt, @magma/approvers-agw, @magma/approvers-agw-python, @magma/approvers-agw-c, @magma/approvers-agw-sessiond, @magma/approvers-agw-mme, @koolzz, @magma/approvers-agw-pipelined, @magma/approvers-agw-integtests, @magma/approvers-xwf, @magma/approvers-showtech, @magma/approvers-docs, @electronjoe, @amarpad, @hcgatewood, @ghost

fix bug where policy versions are overwritten when processing policy (#7393)
  lte/gateway/c/session_manager/SessionState.cpp
  lte/gateway/c/session_manager/test/test_local_enforcer.cpp
Owners: @magma/approvers-agw-sessiond

[feg] s8_proxy add APN operator suffix (#7375)
  feg/cloud/go/protos/mconfig/mconfigs.pb.go
  feg/cloud/go/services/feg/obsidian/models/s8_swaggergen.go
  feg/cloud/go/services/feg/obsidian/models/swagger.v1.yml
  feg/gateway/services/s8_proxy/servicers/config.go
  feg/gateway/services/s8_proxy/servicers/config_test.go
  feg/gateway/services/s8_proxy/servicers/ie_conversions.go
  feg/gateway/services/s8_proxy/servicers/s8_proxy.go
  feg/gateway/services/s8_proxy/servicers/s8_proxy_test.go
  feg/protos/mconfig/mconfigs.proto
  orc8r/cloud/go/obsidian/swagger/v1/models/s8.go
  orc8r/cloud/go/obsidian/swagger/v1/swagger.yml
  orc8r/cloud/test/go.sum
Owners: @ghost, @magma/approvers-feg

update `session_terminated` event definition to have all recently updated fields (#7370)
  lte/swagger/session_manager_events.v1.yml
Owners: none

WIP AGW containerization, mobilityd service
  lte/gateway/docker/build.sh
  lte/gateway/docker/services/build/Dockerfile
  lte/gateway/docker/services/build/grpc.patch
  lte/gateway/docker/services/enodebd/Dockerfile
  lte/gateway/docker/services/health/Dockerfile
  lte/gateway/docker/services/mobilityd/Dockerfile
  lte/gateway/docker/services/monitord/Dockerfile
  lte/gateway/docker/services/pipelined/Dockerfile
  lte/gateway/docker/services/pkt_tester/Dockerfile
  lte/gateway/docker/services/policydb/Dockerfile
  lte/gateway/docker/services/redirectd/Dockerfile
  lte/gateway/docker/services/smsd/Dockerfile
  lte/gateway/docker/services/subscriberdbd/Dockerfile
  lte/gateway/docker/services/tests/Dockerfile
  third_party/build/bin/grpc_build.sh
Owners: @magma/approvers-agw, @magma/approvers-ci

WIP AGW containerization, mobilityd service
  lte/gateway/docker/build.sh
  lte/gateway/docker/services/build/Dockerfile
  lte/gateway/docker/services/build/grpc.patch
  third_party/build/bin/gnutls_build.sh
  third_party/build/bin/grpc_build.sh
  third_party/build/bin/nettle_build.sh
Owners: @magma/approvers-agw, @magma/approvers-ci

WIP AGW containerization, mobilityd service
  lte/gateway/docker/services/build/Dockerfile
Owners: @magma/approvers-agw

WIP AGW containerization, mobilityd service
  lte/gateway/docker/build.sh
  lte/gateway/docker/services/build/Dockerfile
  lte/gateway/docker/services/build/gnutls-build.patch
  lte/gateway/docker/services/build/gnutls-glibc.patch
  lte/gateway/docker/services/build/grpc.patch
  third_party/build/bin/freediameter_build.sh
Owners: @magma/approvers-agw, @magma/approvers-ci

WIP AGW containerization, mobilityd service
  lte/gateway/docker/services/build/Dockerfile
  lte/gateway/docker/services/build/freediameter.patch
Owners: @magma/approvers-agw

WIP AGW containerization, mobilityd service
  lte/gateway/docker/build.sh
  lte/gateway/docker/docker-compose.yml
  lte/gateway/docker/services/build/Dockerfile
  lte/gateway/docker/services/enodebd/Dockerfile
  lte/gateway/docker/services/health/Dockerfile
  lte/gateway/docker/services/mobilityd/Dockerfile
  lte/gateway/docker/services/policydb/Dockerfile
  lte/gateway/docker/services/smsd/Dockerfile
  lte/gateway/docker/services/subscriberdbd/Dockerfile
Owners: @magma/approvers-agw

WIP AGW containerization, mobilityd service
  lte/gateway/docker/services/build/Dockerfile.python
  lte/gateway/docker/services/control_proxy/Dockerfile
  lte/gateway/docker/services/ctraced/Dockerfile
  lte/gateway/docker/services/directoryd/Dockerfile
  lte/gateway/docker/services/eventd/Dockerfile
  lte/gateway/docker/services/magmad/Dockerfile
  lte/gateway/docker/services/state/Dockerfile
  lte/gateway/docker/services/subscriberdb/Dockerfile
Owners: @magma/approvers-agw

WIP AGW containerization, mobilityd service
  lte/gateway/docker/build.sh
  lte/gateway/docker/services/pipelined/Dockerfile
Owners: @magma/approvers-agw

WIP AGW containerization, mobilityd service
  lte/gateway/docker/docker-compose.yml
  lte/gateway/docker/example/directoryd.yml
  lte/gateway/docker/example/policydb.yml
  lte/gateway/docker/example/subscriberdb.yml
  lte/gateway/docker/services/mobilityd/Dockerfile
  lte/gateway/docker/services/subscriberdb/Dockerfile
Owners: @magma/approvers-agw

WIP AGW containerization, mobilityd service
  lte/gateway/docker/docker-compose.yml
  lte/gateway/docker/example/control_proxy.yml
  lte/gateway/docker/example/gateway.mconfig
  lte/gateway/docker/example/magmad.yml
  lte/gateway/docker/example/mobilityd.yml
  lte/gateway/docker/example/redis.yml
  lte/gateway/docker/example/service_registry.yml
Owners: @magma/approvers-agw

WIP AGW containerization, mobilityd service
  lte/gateway/docker/build.sh
  lte/gateway/docker/services/build/Dockerfile.c
  lte/gateway/docker/services/sessiond/Dockerfile
Owners: @magma/approvers-agw

WIP AGW containerization, mobilityd service
  lte/gateway/docker/build.sh
Owners: @magma/approvers-agw

WIP AGW containerization, mobilityd service
  lte/gateway/docker/build.sh
  lte/gateway/docker/docker-compose.yml
  lte/gateway/docker/services/build/Dockerfile.c
  lte/gateway/docker/services/mme/Dockerfile
  lte/gateway/docker/services/pipelined/Dockerfile
  lte/gateway/docker/services/sctpd/Dockerfile
Owners: @magma/approvers-agw

WIP AGW containerization, mobilityd service
  lte/gateway/docker/services/build/Dockerfile
  lte/gateway/docker/services/subscriberdbd/Dockerfile
Owners: @magma/approvers-agw

WIP AGW containerization, mobilityd service
  lte/gateway/docker/docker-compose.yml
  lte/gateway/docker/services/build/Dockerfile
  lte/gateway/docker/services/mobilityd/Dockerfile
  lte/gateway/docker/services/subscriberdbd/Dockerfile
Owners: @magma/approvers-agw

WIP AGW containerization, mobilityd service
  lte/gateway/docker/docker-compose.yml
Owners: @magma/approvers-agw

WIP AGW containerization, mobilityd service
  lte/gateway/docker/docker-compose.yml
  lte/gateway/docker/services/mobilityd/Dockerfile
Owners: @magma/approvers-agw

WIP AGW containerization, mobilityd service
  lte/gateway/docker/docker-compose.yml
Owners: @magma/approvers-agw

Fix log messages (#7410)
  lte/gateway/c/core/oai/common/async_system.c
  lte/gateway/c/core/oai/lib/openflow/controller/GTPApplication.cpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_task.c
  lte/gateway/c/core/oai/tasks/sctp/sctp_primitives_server.c
  lte/gateway/c/core/oai/tasks/service303/service303_task.c
  lte/gateway/c/core/oai/tasks/sgs/sgs_task.c
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_task.c
  lte/gateway/c/core/oai/tasks/sms_orc8r/sms_orc8r_task.c
  lte/gateway/c/core/oai/tasks/udp/udp_primitives_server.c
Owners: @magma/approvers-agw-mme

Revert "Added code to remove GUTI state entries from hashtable (#7322)" (#7407)
  lte/gateway/c/core/oai/include/mme_app_ue_context.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_context.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_detach.c
  lte/gateway/c/core/oai/tasks/nas/emm/Attach.c
  lte/gateway/c/core/oai/tasks/nas/emm/ServiceRequestHdl.c
  lte/gateway/c/core/oai/tasks/nas/emm/TrackingAreaUpdate.c
Owners: @magma/approvers-agw-mme

[agw][liagentd] liagentd service implementation (#7141)
  lte/gateway/c/li_agent/CMakeLists.txt
  lte/gateway/c/li_agent/DirectorydClient.cpp
  lte/gateway/c/li_agent/DirectorydClient.h
  lte/gateway/c/li_agent/InterfaceMonitor.cpp
  lte/gateway/c/li_agent/InterfaceMonitor.h
  lte/gateway/c/li_agent/MobilitydClient.cpp
  lte/gateway/c/li_agent/MobilitydClient.h
  lte/gateway/c/li_agent/PDUGenerator.cpp
  lte/gateway/c/li_agent/PDUGenerator.h
  lte/gateway/c/li_agent/ProxyConnector.cpp
  lte/gateway/c/li_agent/ProxyConnector.h
  lte/gateway/c/li_agent/Utilities.cpp
  lte/gateway/c/li_agent/Utilities.h
  lte/gateway/c/li_agent/main.cpp
  lte/gateway/c/li_agent/test/CMakeLists.txt
  lte/gateway/c/li_agent/test/LIAgentdMocks.h
  lte/gateway/c/li_agent/test/test_pdu_generator.cpp
  lte/gateway/configs/liagentd.yml
  lte/gateway/configs/magmad.yml
  lte/gateway/configs/pipelined.yml
  lte/gateway/deploy/roles/magma/tasks/main.yml
  lte/gateway/release/build-magma.sh
Owners: @magma/approvers-agw-c, @magma/approvers-agw

[MME][ZMQ] protect against using a destroyed zmq context (#7384)
  lte/gateway/c/core/oai/lib/itti/intertask_interface.c
  lte/gateway/c/core/oai/lib/itti/intertask_interface.h
Owners: @magma/approvers-agw-mme

[lte][orc8r] deprecates field relay_enabled in lte mconfigs (#7366)
  lte/cloud/go/protos/mconfig/mconfigs.pb.go
  lte/gateway/c/session_manager/sessiond_main.cpp
  lte/gateway/c/session_manager/test/ProtobufCreators.cpp
  lte/gateway/c/session_manager/test/test_local_enforcer_wallet_exhaust.cpp
  lte/gateway/c/session_manager/test/test_set_session_manager_handler.cpp
  lte/gateway/c/session_manager/test/test_upf_node_state.cpp
  lte/protos/mconfig/mconfigs.proto
Owners: @ghost, @magma/approvers-agw-sessiond, @magma/approvers-agw

Create superbuild for sctpd (#7379)
  ci-scripts/docker/Dockerfile.mme.ci.rhel8
  ci-scripts/docker/Dockerfile.mme.ci.ubuntu18
  lte/gateway/Makefile
  lte/gateway/c/sctpd/CMakeLists.txt
  lte/gateway/c/sctpd/src/CMakeLists.txt
  lte/gateway/c/sctpd/src/README.md
  lte/gateway/c/sctpd/src/sctp_assoc.cpp
  lte/gateway/c/sctpd/src/sctp_assoc.h
  lte/gateway/c/sctpd/src/sctp_connection.cpp
  lte/gateway/c/sctpd/src/sctp_connection.h
  lte/gateway/c/sctpd/src/sctp_desc.cpp
  lte/gateway/c/sctpd/src/sctp_desc.h
  lte/gateway/c/sctpd/src/sctpd.cpp
  lte/gateway/c/sctpd/src/sctpd.h
  lte/gateway/c/sctpd/src/sctpd_downlink_impl.cpp
  lte/gateway/c/sctpd/src/sctpd_downlink_impl.h
  lte/gateway/c/sctpd/src/sctpd_event_handler.cpp
  lte/gateway/c/sctpd/src/sctpd_event_handler.h
  lte/gateway/c/sctpd/src/sctpd_uplink_client.cpp
  lte/gateway/c/sctpd/src/sctpd_uplink_client.h
  lte/gateway/c/sctpd/src/test/CMakeLists.txt
  lte/gateway/c/sctpd/src/test/test_event_handler.cpp
  lte/gateway/c/sctpd/src/test/test_sctp_desc.cpp
  lte/gateway/c/sctpd/src/util.cpp
  lte/gateway/c/sctpd/src/util.h
  lte/gateway/deploy/roles/magma/tasks/main.yml
  lte/gateway/docker/mme/Dockerfile.rhel8
  lte/gateway/docker/mme/Dockerfile.ubuntu18.04
  lte/gateway/release/build-magma.sh
Owners: @magma/approvers-ci, @magma/approvers-agw, @magma/approvers-agw-mme

AGW: pipelined: pipelined-cli broken #6963 (#7031)
  lte/gateway/python/magma/pipelined/ng_set_session_msg.py
  lte/gateway/python/magma/pipelined/pg_set_session_msg.py
  lte/gateway/python/magma/pipelined/tests/test_ng_servicer_session.py
  lte/gateway/python/scripts/pipelined_cli.py
Owners: @magma/approvers-agw-pipelined, @magma/approvers-agw-python

[NMS]Made Gateways register only unregistered enodeB's (#7314)
  nms/app/packages/magmalte/app/views/equipment/GatewayDetailConfigEdit.js
Owners: @magma/approvers-nms

Fix Ingress Flow Direction logic for CWF (#7436)
  lte/gateway/python/magma/pipelined/app/inout.py
  lte/gateway/python/magma/pipelined/tests/snapshots/test_li_mirror.LIMirrorTest.testFlowSnapshotMatch.snapshot
  lte/gateway/python/magma/pipelined/tests/snapshots/test_ue_passthrough.UEMacAddressTest.test_passthrough_rules.snapshot
  lte/gateway/python/magma/pipelined/tests/test_ue_passthrough.py
Owners: @magma/approvers-agw-pipelined

Move sentry release from GH action to CircleCI (temporarily) (#6994)
  .circleci/config.yml
  .github/workflows/sentry-release.yml
Owners: @magma/approvers-ci

[docker] links session_manager config files (#7368)
  .devcontainer/devcontainer.json
Owners: none

Add APN refactoring proposal (#7191)
  docs/docusaurus/sidebars.json
  docs/readmes/assets/proposals/p017/apn_new.png
  docs/readmes/assets/proposals/p017/apn_old.png
  docs/readmes/proposals/p017_apn_refactoring.md
Owners: @magma/approvers-docs, @electronjoe

[feg] AAA Server & base acct fixes & log improvements (#7422)
  feg/cloud/go/services/basic_acct/base_acct/main.go
  feg/cloud/go/services/basic_acct/servicers/participants.go
  feg/gateway/services/aaa/servicers/accounting.go
  feg/gateway/services/aaa/store/in_memory.go
Owners: @magma/approvers-feg

DB Alerts (#7316)
  orc8r/cloud/deploy/orc8r_deployer/docker/root/data/vars.yml
  orc8r/cloud/deploy/terraform/orc8r-aws/db.tf
  orc8r/cloud/deploy/terraform/orc8r-aws/variables.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/examples/basic/main.tf
Owners: @magma/approvers-orc8r

Upgrade to latest version of terraform(0.15.5) (#7346)
  orc8r/cloud/deploy/orc8r_deployer/docker/Dockerfile
  orc8r/cloud/deploy/terraform/orc8r-aws/eks.tf
  orc8r/cloud/deploy/terraform/orc8r-aws/providers.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/providers.tf
Owners: @magma/approvers-orc8r

[mme] Remove dead code mcc_mnc_itu.c (#7450)
  lte/gateway/c/core/oai/common/CMakeLists.txt
  lte/gateway/c/core/oai/common/mcc_mnc_itu.c
  lte/gateway/c/core/oai/common/mcc_mnc_itu.h
Owners: @magma/approvers-agw-mme

Upgrade prometheus version and add an option to not lockfile. (#7448)
  orc8r/cloud/deploy/orc8r_deployer/docker/root/data/vars.yml
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/variables.tf
  orc8r/cloud/helm/orc8r/Chart.yaml
  orc8r/cloud/helm/orc8r/charts/metrics/Chart.yaml
  orc8r/cloud/helm/orc8r/charts/metrics/templates/prometheus.deployment.yaml
  orc8r/cloud/helm/orc8r/charts/metrics/values.yaml
Owners: @magma/approvers-orc8r

[feg_relay] add logs to get hwid from teid (#7451)
  feg/cloud/go/services/feg_relay/servicers/feg_to_gw_relay.go
Owners: @magma/approvers-feg

[Non_Sanity_Testing] Updated the s1ap_tests document with non-sanity testing step (#7456)
  docs/readmes/lte/s1ap_tests.md
Owners: @magma/approvers-docs

CODEOWNERS:

# approvers-ci
.circleci/ @magma/approvers-ci
circleci/ @magma/approvers-ci
ci-scripts/ @magma/approvers-ci
.github/workflows/ @magma/approvers-ci
third_party/build/ @magma/approvers-ci
orc8r/tools/packer/ @magma/approvers-ci
orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
lte/gateway/docker @magma/approvers-ci
lte/gateway/release @magma/approvers-ci
lte/gateway/Vagrantfile @magma/approvers-ci
cwf/gateway/Vagrantfile @magma/approvers-ci

# approvers-orc8r
*/cloud/ @magma/approvers-orc8r
.golangci.yml @magma/approvers-orc8r
orc8r/ @magma/approvers-orc8r

# approvers-nms
nms/ @magma/approvers-nms

# approvers-feg
feg/ @magma/approvers-feg

# approvers-cwf
cwf/ @magma/approvers-cwf

# approvers-openwrt
openwrt/ @magma/approvers-openwrt

# approvers-agw / approvers-agw-python / approvers-agw-c
lte/gateway @magma/approvers-agw
lte/protos @magma/approvers-agw
lte/gateway/python @magma/approvers-agw-python
lte/gateway/c @magma/approvers-agw-c
orc8r/gateway/c/ @magma/approvers-agw-c

# approvers-agw-<subsection>
lte/gateway/c/session_manager @magma/approvers-agw-sessiond
lte/gateway/c/core/oai @magma/approvers-agw-mme
lte/gateway/c/sctpd @magma/approvers-agw-mme
lte/gateway/c/connection_tracker @koolzz @magma/approvers-agw-c
lte/gateway/python/magma/pipelined @magma/approvers-agw-pipelined
lte/gateway/python/integ_tests @magma/approvers-agw-integtests

# XWF Magma integrations
xwf/ @magma/approvers-xwf
feg/radius @magma/approvers-xwf @magma/approvers-cwf

# approvers-showtech
show-tech/ @magma/approvers-showtech

docs/ @magma/approvers-docs
docs/readmes/proposals @electronjoe

CODEOWNERS @amarpad @electronjoe @hcgatewood

# Paths excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
orc8r/cloud/go/obsidian/swagger/v1/swagger.yml @ghost
orc8r/cloud/go/obsidian/swagger/v1/client/ @ghost
orc8r/cloud/go/obsidian/swagger/v1/models/ @ghost
