Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost

fix(agw): fix failing agw nonsanity test
  lte/gateway/python/integ_tests/s1aptests/test_no_auth_resp_with_mme_restart_reattach.py
  lte/gateway/python/integ_tests/s1aptests/test_no_esm_information_rsp_with_mme_restart.py
Owners: @m-govind, @panyogesh

chore(agw): cleanup agw nonsanity tests
  lte/gateway/python/integ_tests/s1aptests/test_attach_ics_drop_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_ics_failure_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_continuous_random_attach.py
Owners: @m-govind, @panyogesh

fix(agw): fix flaky agw nonsanity test
  lte/gateway/python/integ_tests/s1aptests/test_agw_offload_idle_active_ue.py
Owners: @m-govind, @panyogesh

Addressed review comments
  lte/gateway/c/core/oai/tasks/ha/ha_defs.hpp
  lte/gateway/c/core/oai/tasks/ha/ha_service_handler.cpp
  lte/gateway/c/core/oai/tasks/ha/ha_task.cpp
Owners: @m-govind, @panyogesh

chore(ci): attempt mitigation of flaky integration test against containerized AGW (#14188)
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

Fixed cpplint errors
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_context.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_edns_emulation.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_fsm.cpp
Owners: @m-govind, @panyogesh

removed elasticsearch variables from main.tf file
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/examples/basic/main.tf
Owners: @m-govind, @panyogesh

updated providers versions
  orc8r/cloud/deploy/terraform/orc8r-aws/providers.tf
  orc8r/cloud/deploy/terraform/orc8r-aws/vpc.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/providers.tf
Owners: @m-govind, @panyogesh

chore(ci): Publish unit-test results for the bazel-workflow (#14145)
  .bazelrc
  .github/workflows/bazel.yml
  lte/gateway/python/scripts/runtime_report.py
Owners: @m-govind, @panyogesh, @magma/approvers-ci

chore(agw): cleanup agw nonsanity tests (#14183)
  lte/gateway/python/integ_tests/s1aptests/test_agw_offload_idle_active_ue.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_ics_drop_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_ics_failure_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_continuous_random_attach.py
  lte/gateway/python/integ_tests/s1aptests/test_no_auth_resp_with_mme_restart_reattach.py
  lte/gateway/python/integ_tests/s1aptests/test_no_esm_information_rsp_with_mme_restart.py
Owners: @m-govind, @panyogesh

updated magma release version
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/examples/basic/main.tf
Owners: @m-govind, @panyogesh

removed commented lines
  orc8r/cloud/deploy/terraform/orc8r-aws/eks.tf
Owners: @m-govind, @panyogesh

removed kubeconfig variable
  orc8r/cloud/deploy/terraform/orc8r-aws/outputs.tf
Owners: @m-govind, @panyogesh

chore(ci): upgrade Github action dorny/paths-filter (everywhere) (#14204)
  .github/workflows/agw-workflow.yml
  .github/workflows/bazel.yml
  .github/workflows/cloud-workflow.yml
  .github/workflows/cwag-workflow.yml
  .github/workflows/cwf-operator.yml
  .github/workflows/docs-workflow.yml
  .github/workflows/dp-workflow.yml
  .github/workflows/feg-workflow.yml
  .github/workflows/gcc-problems.yml
  .github/workflows/golang-build-test.yml
  .github/workflows/nms-workflow.yml
  .github/workflows/python-workflow.yml
  .github/workflows/reviewdog-workflow.yml
Owners: @magma/approvers-ci

feat(ci): prepare integration test CI for special containerized test set (#14202)
  .github/workflows/lte-integ-test-containerized.yml
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

feat(ci): increase granularity of AGW integration test execution
  lte/gateway/python/integ_tests/Makefile
  lte/gateway/python/integ_tests/defs.mk
Owners: @m-govind, @panyogesh

chore: Upgrade labstack/echo Go dependency
  cwf/cloud/go/go.mod
  cwf/cloud/go/go.sum
  cwf/gateway/go.mod
  cwf/gateway/go.sum
  cwf/k8s/cwf_operator/go.mod
  cwf/k8s/cwf_operator/go.sum
  dp/cloud/go/go.mod
  dp/cloud/go/go.sum
  feg/cloud/go/go.mod
  feg/cloud/go/go.sum
  feg/gateway/go.mod
  feg/gateway/go.sum
  lte/cloud/go/go.mod
  lte/cloud/go/go.sum
  orc8r/cloud/go/go.mod
  orc8r/cloud/go/go.sum
Owners: @ghost

feat(ci): increase granularity of AGW integration test execution (#14203)
  lte/gateway/python/integ_tests/Makefile
  lte/gateway/python/integ_tests/defs.mk
Owners: @m-govind, @panyogesh

updated instance block
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/examples/basic/main.tf
Owners: @m-govind, @panyogesh

fix(orc8r): Added Connection failure test hook
  orc8r/cloud/go/services/state/indexer/reindex/reindexer.go
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_singleton.go
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_singleton_test.go
Owners: @m-govind, @panyogesh

fix(orc8r): Some changes for the review
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_singleton_test.go
Owners: @m-govind, @panyogesh

fix(orc8r): Simplified some changes
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_singleton_test.go
Owners: @m-govind, @panyogesh

fix(orc8r): Changed += 1 to ++
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_singleton_test.go
Owners: @m-govind, @panyogesh

fix(orc8r): Some refactoring to existing changes
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_singleton_test.go
Owners: @m-govind, @panyogesh

fix(orc8r): Improved `TestRunBrokenIndexer` stability
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_queue_test.go
Owners: @m-govind, @panyogesh

fix(orc8r): Stabilized TestRunBrokenIndexer
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_queue_test.go
Owners: @m-govind, @panyogesh

fix(orc8r): Added safe checks for reindexing failures
  orc8r/cloud/go/services/state/indexer/reindex/reindexer.go
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_singleton.go
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_singleton_test.go
Owners: @m-govind, @panyogesh

fix(agw): Remove speed check for GTP-U
  lte/gateway/python/magma/pipelined/qos/qos_tc_impl.py
Owners: @m-govind, @panyogesh

fix(amf): QOS flow descriptors are not updated correctly as configured
  lte/gateway/c/core/oai/tasks/amf/amf_smf_session_qos.cpp
  lte/gateway/c/core/oai/tasks/nas5g/include/ies/M5GQosFlowParam.hpp
  lte/gateway/c/core/oai/tasks/nas5g/src/ies/M5GQosFlowParam.cpp
Owners: @m-govind, @panyogesh

updated blue green code
  orc8r/cloud/deploy/terraform/orc8r-aws/variables.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/examples/remote/main.tf
Owners: @m-govind, @panyogesh

Addressed Review comments
  lte/gateway/c/core/oai/include/messages_def.h
  lte/gateway/c/core/oai/include/s6a_messages_def.hpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_c_iface.hpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_cancel_loc.cpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_fd_iface.cpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_grpc_iface.cpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_hss_reset.cpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_purge_ue.cpp
  lte/gateway/c/core/oai/test/amf/util_s6a_update_location.hpp
Owners: @m-govind, @panyogesh

Addressed review comments
  lte/gateway/c/core/oai/include/ha_messages_def.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_ha.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_ha.hpp
Owners: @m-govind, @panyogesh

fix(agw): fix some nonsanity tests for the containerized agw
  lte/gateway/python/integ_tests/s1aptests/test_no_identity_rsp_with_mme_restart.py
Owners: @m-govind, @panyogesh

chore(agw): type hints are added to the MagmadUtil class
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

fix(agw): fix more nonsanity tests
  lte/gateway/python/integ_tests/s1aptests/test_agw_offload_idle_active_ue.py
  lte/gateway/python/integ_tests/s1aptests/test_no_identity_rsp_with_mme_restart.py
Owners: @m-govind, @panyogesh

chore(agw): switch all respective commands to systemctl
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

chore(agw): fix compatibility with docker and systemd init system
  lte/gateway/python/integ_tests/s1aptests/test_continuous_random_attach.py
Owners: @m-govind, @panyogesh

feat(ci): parallelize integration tests for containerised AGW
  .github/workflows/lte-integ-test-containerized.yml
Owners: @magma/approvers-ci

chore(ci): wall time benchmarking for integration test CI
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(ci): commit for testing the CI
  .github/workflows/lte-integ-test-containerized.yml
Owners: @magma/approvers-ci
