Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

fix(ci): activate carryforward + apply best practise for flag management (#13878)
  codecov.yml
Owners: @m-govind, @panyogesh

fix(agw): removed only_upgrade from ansible script
  lte/gateway/deploy/roles/magma_deploy/tasks/main.yml
Owners: @m-govind, @panyogesh

chore(agw): Create convenient aliases in magma-dev VM for service commands (#13874)
  ci-scripts/JenkinsFile-GitLab
  docs/readmes/lte/s1ap_tests.md
  feg/gateway/Makefile
  lte/gateway/Makefile
  lte/gateway/deploy/magma_dev_focal.yml
  lte/gateway/deploy/roles/service_aliases/tasks/main.yml
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

[skip ci] Deploy website
  docs/next/lte/s1ap_tests.html
  docs/next/lte/s1ap_tests/index.html
Owners: @m-govind, @panyogesh

chore(magmad): Improve error handling of generic commands
  orc8r/gateway/python/magma/magmad/generic_command/command_executor.py
  orc8r/gateway/python/magma/magmad/rpc_servicer.py
Owners: @m-govind, @panyogesh

chore(ci): Parallelize the LTE integ tests and the sudo python tests
  .github/workflows/sudo-python-tests.yml
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

chore(ci): Parallelize the LTE integ tests and the sudo python tests (#13865)
  .github/workflows/sudo-python-tests.yml
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

imports
  dp/cloud/go/services/dp/storage/amc_manager.go
  dp/cloud/go/services/dp/storage/amc_manager_test.go
Owners: @m-govind, @panyogesh

fix TestWithinTx tests
  dp/cloud/go/services/dp/storage/amc_manager.go
  dp/cloud/go/services/dp/storage/amc_manager_test.go
Owners: @m-govind, @panyogesh

chore(dp): New AmcManager CreateRequest func
  dp/cloud/go/go.mod
  dp/cloud/go/go.sum
  dp/cloud/go/services/dp/storage/amc_manager.go
  dp/cloud/go/services/dp/storage/amc_manager_test.go
  dp/cloud/go/services/dp/storage/cbsd_manager.go
  dp/cloud/go/services/dp/storage/dp_manager.go
  dp/cloud/go/services/dp/storage/models.go
Owners: @ghost, @m-govind, @panyogesh

fix: ansible is pinned because of ansible-core 2.13.4 breaking change
  lte/gateway/deploy/agw_install_docker.sh
Owners: @m-govind, @panyogesh

fix: ansible is pinned because of ansible-core 2.13.4 breaking change (#13916)
  lte/gateway/deploy/agw_install_docker.sh
Owners: @m-govind, @panyogesh

fix: ansible is pinned because of ansible-core 2.13.4 breaking change (#13916)
  lte/gateway/deploy/agw_install_docker.sh
Owners: @m-govind, @panyogesh

fix: ansible is pinned because of ansible-core 2.13.4 breaking change (#13916) (#13919)
  lte/gateway/deploy/agw_install_docker.sh
Owners: @m-govind, @panyogesh

fix(amf): Adding Reject if Static ip configured is in subset of ip_pool (#13472)
  lte/gateway/c/core/oai/tasks/amf/amf_smf_send.cpp
Owners: @m-govind, @panyogesh

Addressed review comments
  lte/gateway/c/core/BUILD.bazel
Owners: @m-govind, @panyogesh

docs(agw): Mark the AGWC Helm chart as experimental
  lte/gateway/deploy/agwc-helm-charts/README.md
Owners: @m-govind, @panyogesh

chore(dp): New AmcManager CreateRequest func (#13908)
  dp/cloud/go/go.mod
  dp/cloud/go/go.sum
  dp/cloud/go/services/dp/storage/amc_manager.go
  dp/cloud/go/services/dp/storage/amc_manager_test.go
  dp/cloud/go/services/dp/storage/cbsd_manager.go
  dp/cloud/go/services/dp/storage/dp_manager.go
  dp/cloud/go/services/dp/storage/models.go
Owners: @ghost, @m-govind, @panyogesh

chore(dp): Implement AmcManager DeleteCbsd func
  dp/cloud/go/services/dp/storage/amc_manager.go
  dp/cloud/go/services/dp/storage/amc_manager_test.go
Owners: @m-govind, @panyogesh

Migrated files under ies to cpp
  lte/gateway/c/core/oai/common/TLVDecoder.h
  lte/gateway/c/core/oai/common/TLVEncoder.h
  lte/gateway/c/core/oai/tasks/nas/emm/SecurityModeControl.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/EpsBearerContextDeactivation.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/msg/ActivateDefaultEpsBearerContextRequest.hpp
  lte/gateway/c/core/oai/tasks/nas/esm/msg/BearerResourceAllocationReject.hpp
  lte/gateway/c/core/oai/tasks/nas/esm/msg/BearerResourceAllocationRequest.hpp
  lte/gateway/c/core/oai/tasks/nas/esm/msg/BearerResourceModificationReject.hpp
  lte/gateway/c/core/oai/tasks/nas/esm/msg/BearerResourceModificationRequest.hpp
  lte/gateway/c/core/oai/tasks/nas/esm/msg/DeactivateEpsBearerContextRequest.hpp
  lte/gateway/c/core/oai/tasks/nas/ies/AdditionalUpdateType.cpp
  lte/gateway/c/core/oai/tasks/nas/ies/Cli.cpp
  lte/gateway/c/core/oai/tasks/nas/ies/Cli.hpp
  lte/gateway/c/core/oai/tasks/nas/ies/EsmMessageContainer.cpp
  lte/gateway/c/core/oai/tasks/nas/ies/EsmMessageContainer.hpp
  lte/gateway/c/core/oai/tasks/nas/ies/LcsClientIdentity.cpp
  lte/gateway/c/core/oai/tasks/nas/ies/LcsClientIdentity.hpp
  lte/gateway/c/core/oai/tasks/nas/ies/NasMessageContainer.cpp
  lte/gateway/c/core/oai/tasks/nas/ies/NasMessageContainer.hpp
  lte/gateway/c/core/oai/tasks/nas/ies/PdnAddress.cpp
  lte/gateway/c/core/oai/tasks/nas/ies/TrackingAreaIdentity.cpp
  lte/gateway/c/core/oai/test/lib/test_3gpp.cpp
  lte/gateway/c/core/oai/test/mme_app_task/mme_app_test_util.h
  lte/gateway/c/core/oai/test/mme_app_task/test_ApnAggregateMaximumBitRate.cpp
  lte/gateway/c/core/oai/test/mme_app_task/test_mme_app_nas_encode_decode.cpp
  lte/gateway/c/core/oai/test/s1ap_task/s1ap_mme_test_utils.cpp
Owners: @m-govind, @panyogesh

fix: golangci is upgraded to 1.47.3 in order to support generics
  .github/workflows/cloud-workflow.yml
  orc8r/cloud/Makefile
Owners: @magma/approvers-ci, @m-govind, @panyogesh

fix(agw): perform install of magma runtime dependencies
  lte/gateway/deploy/roles/magma_deploy/tasks/main.yml
Owners: @m-govind, @panyogesh

docs(agw): Updated AGW Install docs for the 1.8.0 Release
  docs/readmes/lte/deploy_install.md
Owners: @m-govind, @panyogesh

fix(dp): make 37 default value for max_eirp
  dp/cloud/python/magma/configuration_controller/response_processor/strategies/response_processing.py
  dp/cloud/python/magma/configuration_controller/tests/unit/test_response_processor.py
  dp/cloud/python/magma/db_service/migrations/versions/021_467ad00fbc83_remove_channels.py
  dp/cloud/python/magma/db_service/tests/unit/test_021_remove_channels.py
  dp/cloud/python/magma/fixtures/fake_responses/spectrum_inquiry_responses.py
Owners: @m-govind, @panyogesh

chore(dp): Implement AmcManager DeleteCbsd func (#13921)
  dp/cloud/go/services/dp/storage/amc_manager.go
  dp/cloud/go/services/dp/storage/amc_manager_test.go
Owners: @m-govind, @panyogesh

chore(dp): Implement AmcManager UpdateCbsd func
  dp/cloud/go/services/dp/storage/amc_manager.go
  dp/cloud/go/services/dp/storage/amc_manager_test.go
Owners: @m-govind, @panyogesh

fix: golangci is upgraded to 1.47.3 in order to support generics (#13923)
  .github/workflows/cloud-workflow.yml
  orc8r/cloud/Makefile
Owners: @magma/approvers-ci, @m-govind, @panyogesh

chore: configuration files are added
  lte/gateway/configs/BUILD.bazel
  lte/gateway/configs/templates/BUILD.bazel
  lte/gateway/release/BUILD.bazel
  orc8r/gateway/configs/templates/BUILD.bazel
Owners: @m-govind, @panyogesh, @magma/approvers-ci

chore: service definitions are added
  lte/gateway/deploy/roles/magma/files/systemd/BUILD.bazel
  lte/gateway/release/BUILD.bazel
  orc8r/tools/ansible/roles/fluent_bit/files/BUILD.bazel
  orc8r/tools/ansible/roles/gateway_services/files/BUILD.bazel
Owners: @m-govind, @panyogesh, @magma/approvers-ci

chore: python services are added
  lte/gateway/python/magma/health/BUILD.bazel
  lte/gateway/python/magma/kernsnoopd/BUILD.bazel
  lte/gateway/python/magma/mobilityd/BUILD.bazel
  lte/gateway/python/magma/monitord/BUILD.bazel
  lte/gateway/python/magma/policydb/BUILD.bazel
  lte/gateway/python/magma/redirectd/BUILD.bazel
  lte/gateway/python/magma/smsd/BUILD.bazel
  lte/gateway/release/BUILD.bazel
  orc8r/gateway/python/BUILD.bazel
  orc8r/gateway/python/magma/eventd/BUILD.bazel
Owners: @m-govind, @panyogesh, @magma/approvers-ci

chore: misc configuration files are added
  lte/gateway/deploy/roles/magma/files/BUILD.bazel
  lte/gateway/release/BUILD.bazel
  orc8r/tools/ansible/roles/fluent_bit/files/BUILD.bazel
Owners: @m-govind, @panyogesh, @magma/approvers-ci

chore: sctpd bazel build is cleaned-up
  lte/gateway/deploy/roles/magma/files/systemd/BUILD.bazel
  lte/gateway/release/BUILD.bazel
Owners: @m-govind, @panyogesh, @magma/approvers-ci

chore: c binaries are added
  lte/gateway/c/connection_tracker/src/BUILD.bazel
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/li_agent/src/BUILD.bazel
  lte/gateway/c/session_manager/BUILD.bazel
  lte/gateway/release/BUILD.bazel
Owners: @m-govind, @panyogesh, @magma/approvers-ci

chore: python runfiles can be expanded for packaging
  WORKSPACE.bazel
  bazel/runfiles.bzl
  bazel/test/BUILD.bazel
  bazel/test/runfiles_test.bzl
Owners: @m-govind, @panyogesh

chore: ebpf files are added
  lte/gateway/python/magma/kernsnoopd/BUILD.bazel
  lte/gateway/python/magma/kernsnoopd/ebpf/BUILD.bazel
  lte/gateway/python/magma/pipelined/ebpf/BUILD.bazel
  lte/gateway/release/BUILD.bazel
Owners: @m-govind, @panyogesh, @magma/approvers-ci

chore: go binary (envoy_controller) is added
  feg/gateway/services/envoy_controller/BUILD.bazel
  lte/gateway/release/BUILD.bazel
Owners: @m-govind, @panyogesh, @magma/approvers-ci

chore: skeleton for bazel magma deb build is added
  lte/gateway/release/BUILD.bazel
Owners: @magma/approvers-ci

chore: python scripts and dependencies are added
  bazel/deb_build.bzl
  lte/gateway/python/load_tests/BUILD.bazel
  lte/gateway/python/scripts/BUILD.bazel
  lte/gateway/release/BUILD.bazel
  orc8r/gateway/python/scripts/BUILD.bazel
Owners: @m-govind, @panyogesh, @magma/approvers-ci

chore: post install script is added
  lte/gateway/release/BUILD.bazel
  lte/gateway/release/magma-postinst-bazel
Owners: @magma/approvers-ci

chore: magma system dependencies are added
  lte/gateway/release/BUILD.bazel
  lte/gateway/release/deb_dependencies.bzl
Owners: @magma/approvers-ci

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost
