Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

fix(orc8r): Added Connection failure test hook
  orc8r/cloud/go/services/state/indexer/reindex/reindexer.go
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_singleton.go
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_singleton_test.go
Owners: @m-govind, @panyogesh

fix(orc8r): Some refactoring to existing changes
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_singleton_test.go
Owners: @m-govind, @panyogesh

Testing
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_queue_test.go
  orc8r/cloud/go/services/state/indexer/remote_indexer.go
Owners: @m-govind, @panyogesh

fix(orc8r): Reverted some changes
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_queue_test.go
  orc8r/cloud/go/services/state/indexer/remote_indexer.go
Owners: @m-govind, @panyogesh

fix(agw): pipelined initialization dependence
  lte/gateway/deploy/roles/magma/files/systemd/magma_pipelined.service
Owners: @m-govind, @panyogesh

fix: vagrant box cache location is pointing to correct folder (#14092)
  .github/workflows/lte-integ-test-magma-deb.yml
Owners: @magma/approvers-ci

Addressed review comments
  lte/gateway/c/core/oai/include/spgw_types.hpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_procedures.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_handlers.cpp
Owners: @m-govind, @panyogesh

fix(orc8r): Testing
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_queue_test.go
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_singleton_test.go
Owners: @m-govind, @panyogesh

fix(orc8r): Testing
  .github/workflows/lte-integ-test-containerized.yml
Owners: @magma/approvers-ci

Addressed self comments
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
Owners: @m-govind, @panyogesh

fix(orc8r): Testing
  .github/workflows/cloud-workflow.yml
Owners: @magma/approvers-ci

fix(agw): fix always true asserts in s1ap integ tests (#14091)
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/integ_tests/s1aptests/test_agw_offload_idle_active_ue.py
  lte/gateway/python/integ_tests/s1aptests/test_agw_offload_mixed_idle_active_multiue.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_multiple_rar_tcp_data.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_rar_tcp_data.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_rar_tcp_he.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_setsessionrules_tcp_data.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_with_ovs.py
Owners: @m-govind, @panyogesh

fix(orc8r): Testing
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_queue_test.go
Owners: @m-govind, @panyogesh

chore: Clean up boolean arguments in fabfiles
  lte/gateway/fabfile.py
  lte/gateway/python/integ_tests/federated_tests/fabfile.py
Owners: @m-govind, @panyogesh

Add new strtobool function
  orc8r/tools/fab/BUILD.bazel
  orc8r/tools/fab/python_utils.py
  orc8r/tools/fab/tests/BUILD.bazel
  orc8r/tools/fab/tests/test_python_utils.py
Owners: @m-govind, @panyogesh

fix(agw): Downgrade grpcio to fix pylint (#13946)
  bazel/external/requirements.in
  bazel/external/requirements.txt
  lte/gateway/python/setup.py
  orc8r/gateway/python/python.mk
  orc8r/gateway/python/setup.py
Owners: @m-govind, @panyogesh

fix: py cryptography is pinned to a version that works with magma (#13960)
  bazel/external/requirements.in
  bazel/external/requirements.txt
Owners: @m-govind, @panyogesh

Fixed Review Comments
  lte/gateway/c/core/oai/lib/s6a_proxy/s6a_client_api.hpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_auth_info.cpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_error.cpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_iface.cpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_peer.cpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_subscription_data.cpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_supported_features.cpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_task.cpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_up_loc.cpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_viface.hpp
  lte/gateway/c/core/oai/test/amf/util_s6a_update_location.cpp
  lte/gateway/c/core/oai/test/amf/util_s6a_update_location.hpp
  lte/gateway/c/core/oai/test/s6a_task/s6a_recv_async_grpc_messages.cpp
Owners: @m-govind, @panyogesh

Fixed compilation issue with mme_oai_features
  lte/gateway/c/core/oai/tasks/s6a/s6a_dict.cpp
Owners: @m-govind, @panyogesh

Revert "Update gtpv2c_ie_formatter.c"
  lte/gateway/c/core/oai/lib/gtpv2-c/gtpv2c_ie_formatter/src/gtpv2c_ie_formatter.c
Owners: @m-govind, @panyogesh

Fixed oai errors
  lte/gateway/c/core/oai/lib/gtpv2-c/gtpv2c_ie_formatter/src/gtpv2c_ie_formatter.c
  lte/gateway/c/core/oai/tasks/s11/s11_ie_formatter.c
Owners: @m-govind, @panyogesh

chore: Clean up boolean arguments in fabfiles (#14032)
  lte/gateway/fabfile.py
  lte/gateway/python/integ_tests/federated_tests/fabfile.py
  orc8r/tools/fab/BUILD.bazel
  orc8r/tools/fab/python_utils.py
  orc8r/tools/fab/tests/BUILD.bazel
  orc8r/tools/fab/tests/test_python_utils.py
Owners: @m-govind, @panyogesh

chore: Publish test results for the Bazel and Debian integration and sudo tests (#13984)
  .github/workflows/cwf-integ-test.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/sudo-python-tests.yml
  bazel/scripts/run_integ_tests.sh
  bazel/scripts/run_sudo_tests.sh
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

feat(ci): Move and edit release scripts/workflows (#14011)
  .github/workflows/docker-promote.yml
  .github/workflows/helm-promote.yml
  orc8r/tools/docker/promote.sh
  orc8r/tools/helm/promote.sh
Owners: @magma/approvers-ci, @m-govind, @panyogesh

chore: integ test magma restart waits for pipelined to be initialized (#13980)
  lte/gateway/python/integ_tests/s1aptests/ovs/rest_api.py
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

docs: Fix typo in FeG build section (#14088)
  docs/readmes/feg/deploy_build.md
Owners: @m-govind, @panyogesh

chore: Bump node-fetch (#13857)
  nms/package.json
  nms/yarn.lock
Owners: @m-govind, @panyogesh

chore(ci): extracxt magma package version and trigger workflow (#13983)
  .github/workflows/build_all.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  lte/gateway/Vagrantfile
  lte/gateway/deploy/agw_install_ubuntu_vm.sh
  lte/gateway/deploy/roles/magma_deb/tasks/main.yml
  lte/gateway/deploy/roles/magma_deploy/tasks/main.yml
Owners: @magma/approvers-ci, @m-govind, @panyogesh

fix(agw): all `ROOTCA_PATH` variables are deleted (#14037)
  lte/gateway/docker/docker-compose.yaml
Owners: @m-govind, @panyogesh

fix(agw): make redis save state after cleaning the db (#13994)
  lte/gateway/python/scripts/config_stateless_agw.py
Owners: @m-govind, @panyogesh

docs(agw): start-up procedure for containerized AGW is improved (#14077)
  lte/gateway/docker/README.md
Owners: @m-govind, @panyogesh

chore(ci): s1ap integ tests against dockerized agw (#13884)
  .github/workflows/lte-integ-test-containerized.yml
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

docs: Fix double stop of magmad in Quick Start Guide (#14001)
  docs/readmes/basics/quick_start_guide.md
Owners: @m-govind, @panyogesh

chore(agw): s1ap_utils.py is cleaned up (#13854)
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

fix: boolean arguments in fabric calls are interpreted correctly (#14030)
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore: delete non-existing directories from dockerignore file (#14081)
  .dockerignore
Owners: @m-govind, @panyogesh

chore(agw): reduce python container build context (#14085)
  lte/gateway/docker/services/python/Dockerfile
Owners: @m-govind, @panyogesh

fix(mme): Handling qosflowFailedForAddorModify in session modification response (#13655)
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_handlers.c
Owners: @m-govind, @panyogesh

chore(agw): restart of sctpd is adapted (#14000)
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/integ_tests/s1aptests/s1ap_wrapper.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_enb_rlf_initial_ue_msg.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_with_sctpd_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_continuous_random_attach.py
  lte/gateway/python/integ_tests/s1aptests/test_s1setup_failure_incorrect_plmn.py
  lte/gateway/python/integ_tests/s1aptests/test_s1setup_failure_incorrect_tac.py
  lte/gateway/python/integ_tests/s1aptests/test_sctp_shutdown_after_multi_ue_attach.py
Owners: @m-govind, @panyogesh

fix(amf): VoNR configuration support (#14039)
  lte/gateway/c/core/oai/tasks/amf/amf_config.c
Owners: @m-govind, @panyogesh

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost
