Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

chore: Upgrade labstack/echo Go dependency (#14217)
  cwf/cloud/go/go.mod
  cwf/cloud/go/go.sum
  cwf/gateway/go.mod
  cwf/gateway/go.sum
  cwf/k8s/cwf_operator/go.mod
  cwf/k8s/cwf_operator/go.sum
  dp/cloud/go/go.mod
  dp/cloud/go/go.sum
  feg/cloud/go/go.mod
  feg/cloud/go/go.sum
  feg/gateway/go.mod
  feg/gateway/go.sum
  lte/cloud/go/go.mod
  lte/cloud/go/go.sum
  orc8r/cloud/go/go.mod
  orc8r/cloud/go/go.sum
Owners: @ghost

fix(agw): Converted gtpv1 task files to cpp
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/include/gtpv1_u_messages_def.hpp
  lte/gateway/c/core/oai/include/gtpv1_u_messages_types.hpp
  lte/gateway/c/core/oai/include/gtpv1u_types.h
  lte/gateway/c/core/oai/include/messages_def.h
  lte/gateway/c/core/oai/include/messages_types.h
  lte/gateway/c/core/oai/include/spgw_state.hpp
  lte/gateway/c/core/oai/include/spgw_types.hpp
  lte/gateway/c/core/oai/lib/openflow/controller/ControllerEvents.hpp
  lte/gateway/c/core/oai/lib/openflow/controller/ControllerMain.hpp
  lte/gateway/c/core/oai/lib/openflow/controller/GTPApplication.cpp
  lte/gateway/c/core/oai/lib/openflow/controller/GTPApplication.hpp
  lte/gateway/c/core/oai/lib/pipelined_client/PipelinedClientAPI.hpp
  lte/gateway/c/core/oai/lib/pipelined_client/proto_converters.hpp
  lte/gateway/c/core/oai/tasks/gtpv1-u/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/gtpv1-u/gtp_tunnel_openflow.cpp
  lte/gateway/c/core/oai/tasks/gtpv1-u/gtp_tunnel_openflow.hpp
  lte/gateway/c/core/oai/tasks/gtpv1-u/gtp_tunnel_upf.cpp
  lte/gateway/c/core/oai/tasks/gtpv1-u/gtp_tunnel_upf.hpp
  lte/gateway/c/core/oai/tasks/gtpv1-u/gtpv1u.hpp
  lte/gateway/c/core/oai/tasks/gtpv1-u/gtpv1u_sgw_defs.hpp
  lte/gateway/c/core/oai/tasks/gtpv1-u/gtpv1u_task.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_handlers.hpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_task.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_handlers.cpp
  lte/gateway/c/core/oai/test/openflow/test_gtp_app.cpp
  lte/gateway/c/core/oai/test/sgw_s8_task/sgw_s8_utility.hpp
Owners: @m-govind, @panyogesh

Adding missing file
  lte/gateway/c/core/oai/include/gtpv1u_types.hpp
Owners: @m-govind, @panyogesh

feat(ci): bump and pin github action in federated integ test
  .github/workflows/federated-integ-test.yml
Owners: @magma/approvers-ci

feat(ci): bump and pin github action in federated integ test (#14221)
  .github/workflows/federated-integ-test.yml
Owners: @magma/approvers-ci

docs(agw): Documentation for systemd configuation
  docs/readmes/lte/dev_notes.md
Owners: @m-govind, @panyogesh

feat(ci): parallelize integration tests for containerised AGW
  .github/workflows/lte-integ-test-containerized.yml
Owners: @magma/approvers-ci

docs(agw): Add review comments
  docs/readmes/lte/dev_notes.md
Owners: @m-govind, @panyogesh

docs(agw): Documentation for systemd configuation (#14218)
  docs/readmes/lte/dev_notes.md
Owners: @m-govind, @panyogesh

[skip ci] Deploy website
  docs/next/lte/dev_notes.html
  docs/next/lte/dev_notes/index.html
Owners: @m-govind, @panyogesh

fix(agw): Converted service303 task files to cpp
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/include/messages_def.h
  lte/gateway/c/core/oai/include/messages_types.h
  lte/gateway/c/core/oai/include/service303.hpp
  lte/gateway/c/core/oai/include/service303_messages_def.hpp
  lte/gateway/c/core/oai/include/service303_messages_types.hpp
  lte/gateway/c/core/oai/tasks/service303/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/service303/service303_mme_stats.cpp
  lte/gateway/c/core/oai/tasks/service303/service303_spgw_stats.cpp
  lte/gateway/c/core/oai/tasks/service303/service303_task.cpp
Owners: @m-govind, @panyogesh

fix(agw): Converted sctp task files to cpp
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/common/itti_free_defined_msg.c
  lte/gateway/c/core/oai/include/messages_def.h
  lte/gateway/c/core/oai/include/messages_types.h
  lte/gateway/c/core/oai/include/sctp_messages_def.hpp
  lte/gateway/c/core/oai/include/sctp_messages_types.hpp
  lte/gateway/c/core/oai/oai_mme/oai_mme.c
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf.c
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_handlers.h
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_itti_messaging.c
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_itti_messaging.cpp
  lte/gateway/c/core/oai/tasks/sctp/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/sctp/sctp_itti_messaging.cpp
  lte/gateway/c/core/oai/tasks/sctp/sctp_itti_messaging.hpp
  lte/gateway/c/core/oai/tasks/sctp/sctp_primitives_server.cpp
  lte/gateway/c/core/oai/tasks/sctp/sctp_primitives_server.hpp
  lte/gateway/c/core/oai/tasks/sctp/sctpd_downlink_client.cpp
  lte/gateway/c/core/oai/tasks/sctp/sctpd_downlink_client.hpp
  lte/gateway/c/core/oai/tasks/sctp/sctpd_uplink_server.cpp
Owners: @m-govind, @panyogesh

updated thanos code
  orc8r/cloud/deploy/terraform/orc8r-aws/variables.tf
Owners: @m-govind, @panyogesh

fix(lte): Remove speed check for GTP-U
  lte/gateway/python/magma/pipelined/qos/qos_tc_impl.py
Owners: @m-govind, @panyogesh

fix(agw): Converted sms_orc8r task files to cpp
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/include/sms_orc8r_service_handler.hpp
  lte/gateway/c/core/oai/oai_mme/oai_mme.c
  lte/gateway/c/core/oai/tasks/grpc_service/SMSOrc8rGatewayServiceImpl.cpp
  lte/gateway/c/core/oai/tasks/sms_orc8r/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/sms_orc8r/sms_orc8r_defs.hpp
  lte/gateway/c/core/oai/tasks/sms_orc8r/sms_orc8r_messages.hpp
  lte/gateway/c/core/oai/tasks/sms_orc8r/sms_orc8r_service_handler.cpp
  lte/gateway/c/core/oai/tasks/sms_orc8r/sms_orc8r_task.cpp
Owners: @m-govind, @panyogesh

reactor(feg): Removed ruckus
  feg/radius/lib/go/radius/coa/coa_sender.go
  feg/radius/lib/go/radius/coa/coa_sender_test.go
  feg/radius/lib/go/radius/dictionaries/ruckus/dictionary.ruckus
  feg/radius/lib/go/radius/dictionaries/ruckus/generated.go
  feg/radius/lib/go/radius/ruckus/generate.go
  feg/radius/lib/go/radius/ruckus/generated.go
  feg/radius/lib/go/radius/ruckus/ruckus.dictionary
  feg/radius/src/config/samples/radius.cwf.config.json.template
  feg/radius/src/config/samples/radius.cwf_analytics_disabled.config.json.template
  feg/radius/src/loader/static_loader.go
  feg/radius/src/modules/adaptruckus/adapt_ruckus.go
  feg/radius/src/modules/adaptruckus/adapt_ruckus_test.go
  feg/radius/src/modules/analytics/client_test.go
  feg/radius/src/modules/analytics/xwf_vendors.go
  feg/radius/src/radius.config.json
  feg/radius/src/server/sse_listener.go
  lte/gateway/python/magma/pipelined/qos/qos_tc_impl.py
Owners: @m-govind, @panyogesh

fix(agw): Converted ha task files to cpp (#14148)
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/include/ha_messages_def.hpp
  lte/gateway/c/core/oai/include/ha_messages_types.hpp
  lte/gateway/c/core/oai/include/messages_def.h
  lte/gateway/c/core/oai/include/messages_types.h
  lte/gateway/c/core/oai/tasks/ha/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/ha/ha_defs.hpp
  lte/gateway/c/core/oai/tasks/ha/ha_service_handler.cpp
  lte/gateway/c/core/oai/tasks/ha/ha_task.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_ha.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_ha.hpp
Owners: @m-govind, @panyogesh

fix(orc8r): Stabilize cloud tests (#14083)
  orc8r/cloud/go/services/state/indexer/reindex/reindexer.go
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_queue_test.go
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_singleton.go
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_singleton_test.go
Owners: @m-govind, @panyogesh

fix(agw): Remove speed check for GTP-U (#14210)
  lte/gateway/python/magma/pipelined/qos/qos_tc_impl.py
Owners: @m-govind, @panyogesh

chore(ci): Add option to store bazel profile data to bazel.yml workflow
  .github/workflows/bazel.yml
Owners: @magma/approvers-ci

docs: Fix warning rendering re building the AGW with Bazel
  docs/readmes/lte/s1ap_tests.md
Owners: @m-govind, @panyogesh

docs: Fix warning rendering re building the AGW with Bazel (#14224)
  docs/readmes/lte/s1ap_tests.md
Owners: @m-govind, @panyogesh

[skip ci] Deploy website
  docs/next/lte/s1ap_tests.html
  docs/next/lte/s1ap_tests/index.html
Owners: @m-govind, @panyogesh

feat(ci): parallelize integration tests for containerised AGW (#14214)
  .github/workflows/lte-integ-test-containerized.yml
Owners: @magma/approvers-ci

fix(orc8r): Handle absent NGC config correctly
  lte/cloud/go/services/lte/obsidian/models/conversion.go
Owners: @m-govind, @panyogesh

fix(ci): Remove redundant for loop
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_rar_tcp_data.py
Owners: @m-govind, @panyogesh

fix: Do not set HOME in Dockerfile
  .devcontainer/Dockerfile
Owners: @m-govind, @panyogesh

chore(ci): Remove sudo tests from make LTE integ test workflow
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

fix: Do not set HOME in Dockerfile (#14232)
  .devcontainer/Dockerfile
Owners: @m-govind, @panyogesh

Pr/fix test interdependency in test attach detach rar tcp data (#14230)
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_rar_tcp_data.py
Owners: @m-govind, @panyogesh

added efs support
  orc8r/cloud/deploy/terraform/orc8r-aws/efs-iam.tf
  orc8r/cloud/deploy/terraform/orc8r-aws/outputs.tf
  orc8r/cloud/deploy/terraform/orc8r-aws/variables.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/efs.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/examples/basic/main.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/k8s.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/storage.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/variables.tf
Owners: @m-govind, @panyogesh

removed efs_provisioner
  orc8r/cloud/deploy/terraform/orc8r-aws/efs.tf
  orc8r/cloud/deploy/terraform/orc8r-aws/outputs.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/examples/basic/main.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/examples/poc/main.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/examples/remote/main.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/variables.tf
Owners: @m-govind, @panyogesh

chore(ci): Add option to store bazel profile data to bazel.yml workflow (#14226)
  .github/workflows/bazel.yml
Owners: @magma/approvers-ci

fix(agw): pipelined initialization dependence (#14105)
  lte/gateway/deploy/roles/magma/files/systemd/magma_pipelined.service
Owners: @m-govind, @panyogesh

fix(feg): Pin Go tools package
  feg/gateway/go.mod
  feg/gateway/go.sum
Owners: @ghost

fix(feg): Pin Go tools package (#14245)
  feg/gateway/go.mod
  feg/gateway/go.sum
Owners: @ghost

docs: Tidy up containerized AGW instructions
  lte/gateway/docker/README.md
Owners: @m-govind, @panyogesh

chore(ci): Update FEG integ test job dependency on docker build jobs
  .github/workflows/federated-integ-test.yml
Owners: @magma/approvers-ci

feat(nms): Show NGC AMF config for gateways
  nms/app/views/equipment/GatewayDetailConfig.tsx
  nms/app/views/equipment/__tests__/GatewayConfigTest.tsx
Owners: @m-govind, @panyogesh

feat(ci): publish python sudo test results to firebase
  .github/workflows/sudo-python-tests.yml
  ci-scripts/firebase_publish_report.py
Owners: @magma/approvers-ci

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost
