Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

chore(ci): remove flaky integration tests from containerized AGW tests (#14241)
  lte/gateway/python/integ_tests/defs.mk
Owners: @m-govind, @panyogesh

fix(ci): install missing firebase_admin python module
  .github/workflows/lte-integ-test-magma-deb.yml
Owners: @magma/approvers-ci

Addressed review comments
  lte/gateway/c/core/oai/include/state_utility.hpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_state_converter.cpp
Owners: @m-govind, @panyogesh

fix(ci): format html output correctly
  ci-scripts/firebase_publish_report.py
Owners: @magma/approvers-ci

fix(ci): install missing firebase_admin python module (#14289)
  .github/workflows/lte-integ-test-magma-deb.yml
Owners: @magma/approvers-ci

fix(ci): Add debug output to in order to make it easier to investigate services not starting in integ tests. Add debug output to ntpdate as this seems to cause the failed integ tests. (#14238)
  lte/gateway/deploy/roles/magma/files/systemd/magma_eventd.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@eventd.service
  lte/gateway/python/integ_tests/s1aptests/test_services_are_running.py
Owners: @m-govind, @panyogesh

fix(ci): format html output correctly (#14295)
  ci-scripts/firebase_publish_report.py
Owners: @magma/approvers-ci

fix: Restore import path logic in load tests (#14287)
  lte/gateway/python/load_tests/common.py
Owners: @m-govind, @panyogesh

Addressed review comments
  lte/gateway/c/core/oai/include/s1ap_state.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_itti_messaging.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
Owners: @m-govind, @panyogesh

Catching exception on failing to allocate memory
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
Owners: @m-govind, @panyogesh

chore(ci): Remove dead env variables in agw-workflow
  .github/workflows/agw-workflow.yml
Owners: @magma/approvers-ci

Addressed review comments
  lte/gateway/c/core/oai/include/mme_app_ue_context.h
  lte/gateway/c/core/oai/tasks/mme_app/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_apn_selection.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_apn_selection.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_authentication.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer_context.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer_context.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_defs.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_embedded_spgw.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_embedded_spgw.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_ha.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_ip_imsi.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_itti_messaging.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_timer.hpp
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_cn.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/DefaultEpsBearerContextActivation.cpp
Owners: @m-govind, @panyogesh

chore(ci): Remove dead env variables in agw-workflow (#14301)
  .github/workflows/agw-workflow.yml
Owners: @magma/approvers-ci

Updated bazel build
  lte/gateway/c/core/BUILD.bazel
Owners: @m-govind, @panyogesh

fix(amf): Handled Registration and Periodic Registration Failure Issues
  lte/gateway/c/core/oai/tasks/amf/amf_app_transport.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_ue_context.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_recv.cpp
  lte/gateway/c/core/oai/tasks/nas5g/include/ies/M5GSMobileIdentity.hpp
  lte/gateway/c/core/oai/tasks/nas5g/src/ies/M5GSMobileIdentity.cpp
Owners: @m-govind, @panyogesh

fix(amf): Handled Registration and Periodic Registration Failure Issues (#14309)
  lte/gateway/c/core/oai/tasks/amf/amf_app_transport.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_ue_context.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_recv.cpp
  lte/gateway/c/core/oai/tasks/nas5g/include/ies/M5GSMobileIdentity.hpp
  lte/gateway/c/core/oai/tasks/nas5g/src/ies/M5GSMobileIdentity.cpp
Owners: @m-govind, @panyogesh

fix(agw): Modified code at s1ap to remove dependency on common state manager class (#14116)
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/include/s1ap_state.hpp
  lte/gateway/c/core/oai/include/state_utility.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.hpp
  lte/gateway/c/core/oai/test/s1ap_task/mock_s1ap_op.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_state_converter.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_state_manager.cpp
Owners: @m-govind, @panyogesh

chore: Set parameter for both build and test
  .bazelrc
Owners: @m-govind, @panyogesh

chore: Set parameter for both build and test (#14311)
  .bazelrc
Owners: @m-govind, @panyogesh

fix(ci): move the comment the correct place
  lte/gateway/python/integ_tests/Makefile
Owners: @m-govind, @panyogesh

fix(ci): ignore exit status from single test sets
  lte/gateway/fabfile.py
  lte/gateway/python/integ_tests/Makefile
Owners: @m-govind, @panyogesh

fix(amf): QOS flow descriptors are not updated correctly as configured (#13974)
  lte/gateway/c/core/oai/tasks/amf/amf_smf_session_qos.cpp
  lte/gateway/c/core/oai/tasks/nas5g/include/ies/M5GQosFlowParam.hpp
  lte/gateway/c/core/oai/tasks/nas5g/src/ies/M5GQosFlowParam.cpp
Owners: @m-govind, @panyogesh

chore: Introduce "util_script" and "service" Bazel tags
  .github/workflows/lte-integ-test-bazel.yml
  bazel/scripts/link_scripts_for_bazel_integ_tests.sh
  bazel/scripts/test_python_service_imports.sh
  bazel/test_constants.bzl
  feg/gateway/services/envoy_controller/BUILD.bazel
  lte/gateway/c/connection_tracker/src/BUILD.bazel
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/li_agent/src/BUILD.bazel
  lte/gateway/c/sctpd/src/BUILD.bazel
  lte/gateway/c/session_manager/BUILD.bazel
  lte/gateway/deploy/roles/bazel_aliases/tasks/main.yml
  lte/gateway/python/magma/enodebd/BUILD.bazel
  lte/gateway/python/magma/health/BUILD.bazel
  lte/gateway/python/magma/kernsnoopd/BUILD.bazel
  lte/gateway/python/magma/mobilityd/BUILD.bazel
  lte/gateway/python/magma/monitord/BUILD.bazel
  lte/gateway/python/magma/pipelined/BUILD.bazel
  lte/gateway/python/magma/policydb/BUILD.bazel
  lte/gateway/python/magma/redirectd/BUILD.bazel
  lte/gateway/python/magma/smsd/BUILD.bazel
  lte/gateway/python/magma/subscriberdb/BUILD.bazel
  lte/gateway/python/scripts/BUILD.bazel
  orc8r/gateway/python/magma/ctraced/BUILD.bazel
  orc8r/gateway/python/magma/directoryd/BUILD.bazel
  orc8r/gateway/python/magma/eventd/BUILD.bazel
  orc8r/gateway/python/magma/magmad/BUILD.bazel
  orc8r/gateway/python/magma/state/BUILD.bazel
  orc8r/gateway/python/scripts/BUILD.bazel
Owners: @magma/approvers-ci, @m-govind, @panyogesh

fix(ci): ignore exit status from single test sets (#14278)
  lte/gateway/fabfile.py
  lte/gateway/python/integ_tests/Makefile
Owners: @m-govind, @panyogesh

chore: Introduce "util_script" and "service" Bazel tags (#14215)
  .github/workflows/lte-integ-test-bazel.yml
  bazel/scripts/link_scripts_for_bazel_integ_tests.sh
  bazel/scripts/test_python_service_imports.sh
  bazel/test_constants.bzl
  feg/gateway/services/envoy_controller/BUILD.bazel
  lte/gateway/c/connection_tracker/src/BUILD.bazel
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/li_agent/src/BUILD.bazel
  lte/gateway/c/sctpd/src/BUILD.bazel
  lte/gateway/c/session_manager/BUILD.bazel
  lte/gateway/deploy/roles/bazel_aliases/tasks/main.yml
  lte/gateway/python/magma/enodebd/BUILD.bazel
  lte/gateway/python/magma/health/BUILD.bazel
  lte/gateway/python/magma/kernsnoopd/BUILD.bazel
  lte/gateway/python/magma/mobilityd/BUILD.bazel
  lte/gateway/python/magma/monitord/BUILD.bazel
  lte/gateway/python/magma/pipelined/BUILD.bazel
  lte/gateway/python/magma/policydb/BUILD.bazel
  lte/gateway/python/magma/redirectd/BUILD.bazel
  lte/gateway/python/magma/smsd/BUILD.bazel
  lte/gateway/python/magma/subscriberdb/BUILD.bazel
  lte/gateway/python/scripts/BUILD.bazel
  orc8r/gateway/python/magma/ctraced/BUILD.bazel
  orc8r/gateway/python/magma/directoryd/BUILD.bazel
  orc8r/gateway/python/magma/eventd/BUILD.bazel
  orc8r/gateway/python/magma/magmad/BUILD.bazel
  orc8r/gateway/python/magma/state/BUILD.bazel
  orc8r/gateway/python/scripts/BUILD.bazel
Owners: @magma/approvers-ci, @m-govind, @panyogesh

refactor(pipelined): Use netifaces to get mac addresses
  lte/gateway/python/magma/pipelined/BUILD.bazel
  lte/gateway/python/magma/pipelined/gw_mac_address.py
  lte/gateway/python/magma/pipelined/ifaces.py
  lte/gateway/python/magma/pipelined/main.py
  lte/gateway/python/magma/pipelined/tests/BUILD.bazel
  lte/gateway/python/magma/pipelined/tests/test_ifaces.py
Owners: @m-govind, @panyogesh

refactor(pipelined): Use netifaces to get mac addresses (#14303)
  lte/gateway/python/magma/pipelined/BUILD.bazel
  lte/gateway/python/magma/pipelined/gw_mac_address.py
  lte/gateway/python/magma/pipelined/ifaces.py
  lte/gateway/python/magma/pipelined/main.py
  lte/gateway/python/magma/pipelined/tests/BUILD.bazel
  lte/gateway/python/magma/pipelined/tests/test_ifaces.py
Owners: @m-govind, @panyogesh

Addressed review comments
  lte/gateway/c/core/oai/include/mme_app_ue_context.h
  lte/gateway/c/core/oai/tasks/nas/emm/emm_data_ctx.cpp
Owners: @m-govind, @panyogesh

Removed the null check
  lte/gateway/c/core/oai/tasks/sgw/pgw_procedures.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_context_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_converter.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_manager.cpp
  lte/gateway/c/core/oai/test/spgw_task/mock_spgw_op.cpp
Owners: @m-govind, @panyogesh

chore(agw): Bazelify the load_tests
  bazel/scripts/check_py_bazel.sh
  bazel/scripts/run_load_tests.sh
  lte/gateway/fabfile.py
  lte/gateway/python/load_tests/BUILD.bazel
  lte/gateway/python/load_tests/Makefile
  lte/gateway/python/load_tests/README.md
  lte/gateway/python/load_tests/defs.mk
  lte/gateway/python/load_tests/loadtest_directoryd.py
  lte/gateway/python/load_tests/loadtest_mobilityd.py
  lte/gateway/python/load_tests/loadtest_pipelined.py
  lte/gateway/python/load_tests/loadtest_policydb.py
  lte/gateway/python/load_tests/loadtest_sessiond.py
  lte/gateway/python/load_tests/loadtest_subscriberdb.py
  lte/gateway/release/BUILD.bazel
Owners: @m-govind, @panyogesh, @magma/approvers-ci

chore(ci): Remove Make jobs from AGW Lint & Test workflow that are already covered by bazel jobs
  .github/workflows/agw-workflow.yml
  .github/workflows/unit-test-workflow.yml
Owners: @magma/approvers-ci

Addressed review comments
  lte/gateway/c/core/oai/include/proto_map.hpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state.cpp
Owners: @m-govind, @panyogesh

chore(agw): Bazelify the load_tests (#14317)
  bazel/scripts/check_py_bazel.sh
  bazel/scripts/run_load_tests.sh
  lte/gateway/fabfile.py
  lte/gateway/python/load_tests/BUILD.bazel
  lte/gateway/python/load_tests/Makefile
  lte/gateway/python/load_tests/README.md
  lte/gateway/python/load_tests/defs.mk
  lte/gateway/python/load_tests/loadtest_directoryd.py
  lte/gateway/python/load_tests/loadtest_mobilityd.py
  lte/gateway/python/load_tests/loadtest_pipelined.py
  lte/gateway/python/load_tests/loadtest_policydb.py
  lte/gateway/python/load_tests/loadtest_sessiond.py
  lte/gateway/python/load_tests/loadtest_subscriberdb.py
  lte/gateway/release/BUILD.bazel
Owners: @m-govind, @panyogesh, @magma/approvers-ci

chore(ci): Remove sudo tests from make LTE integ test workflow (#14233)
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

fix(agw): Modified code to fix the issue 14244
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
Owners: @m-govind, @panyogesh

fix(ci): Add copy of package.sh for LF registry
  orc8r/tools/helm/package_lf.sh
Owners: @m-govind, @panyogesh

chore(agw): Create Python environment with bazel
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  WORKSPACE.bazel
  bazel/external/requirements_README.md
  dev_tools/BUILD.bazel
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
Owners: @m-govind, @panyogesh

chore(agw): Remove Make targets that are covered by Bazel
  lte/gateway/Makefile
Owners: @m-govind, @panyogesh

chore(agw): Create Python environment with bazel (#14266)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  WORKSPACE.bazel
  bazel/external/requirements_README.md
  dev_tools/BUILD.bazel
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
Owners: @m-govind, @panyogesh

chore(ci): Send all CI Slack notifications for Bazel jobs to the standard #ci channel
  .github/workflows/agw-coverage.yml
  .github/workflows/bazel.yml
  .github/workflows/gcc-problems.yml
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  .github/workflows/sudo-python-tests.yml
Owners: @magma/approvers-ci

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost
