Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

fix(orc8r): Updated helm chart version for 1.8.0 release (#13731) (#13882)
  cwf/cloud/helm/cwf-orc8r/Chart.yaml
  docs/readmes/orc8r/deploy_install.md
  docs/readmes/orc8r/deploy_intro.md
  dp/cloud/helm/dp/charts/domain-proxy/Chart.yaml
  feg/cloud/helm/feg-orc8r/Chart.yaml
  lte/cloud/helm/lte-orc8r/Chart.yaml
  orc8r/cloud/deploy/orc8r_deployer/docker/root/data/vars.yml
  orc8r/cloud/deploy/orc8r_deployer/docker/root/scripts/test_helm_charts_sync.py
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/variables.tf
  orc8r/cloud/helm/orc8r/Chart.yaml
Owners: @m-govind, @panyogesh

fix(agw): Modiifed code to port hash list of ue contexts to protobuf map
  lte/gateway/c/core/oai/include/sgw_context_manager.hpp
  lte/gateway/c/core/oai/include/spgw_state.hpp
  lte/gateway/c/core/oai/include/spgw_types.hpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_context_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_converter.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_manager.hpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_handlers.cpp
  lte/gateway/c/core/oai/test/spgw_task/mock_spgw_op.cpp
  lte/gateway/c/core/oai/test/spgw_task/spgw_test_util.cpp
  lte/gateway/c/core/oai/test/spgw_task/test_spgw_state_converter.cpp
Owners: @m-govind, @panyogesh

fix(ci): activate carryforward + apply best practise for flag management
  codecov.yml
Owners: @m-govind, @panyogesh

Addressed self review comments
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
Owners: @m-govind, @panyogesh

fix(nms): Show an error message if the user login fails
  nms/app/login.tsx
Owners: @m-govind, @panyogesh

Full ARM pipeline
  .github/workflows/build_all.yml
  lte/gateway/deploy/arm_build.yml
Owners: @magma/approvers-ci, @m-govind, @panyogesh

Remove arm_ci_testing of pool where build all runs
  .github/workflows/build_all.yml
Owners: @magma/approvers-ci

Modified code to port s1ap_state
  lte/gateway/c/core/oai/include/s1ap_state.hpp
  lte/gateway/c/core/oai/tasks/grpc_service/S1apServiceImpl.cpp
  lte/gateway/c/core/oai/tasks/ha/ha_service_handler.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_common.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.hpp
  lte/gateway/c/core/oai/test/s1ap_task/mock_s1ap_op.cpp
  lte/gateway/c/core/oai/test/s1ap_task/s1ap_mme_test_utils.cpp
  lte/gateway/c/core/oai/test/s1ap_task/s1ap_mme_test_utils.h
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_handle_new_association.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers_with_injected_state.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_state_converter.cpp
Owners: @m-govind, @panyogesh

fix(mobilityd): Set daemon flag for mobilityd timers (#13879)
  lte/gateway/python/magma/mobilityd/uplink_gw.py
Owners: @m-govind, @panyogesh

fix(amf): Adding Reject if Static ip configured is in subset of ip_pool
  lte/gateway/c/core/oai/tasks/amf/amf_smf_send.cpp
Owners: @m-govind, @panyogesh

fix(nms): Show an error message if the user login fails (#13888)
  nms/app/login.tsx
Owners: @m-govind, @panyogesh

chore(ci): run integ tests again deb installation in ci
  .github/workflows/lte-integ-test-magma-deb.yml
  lte/gateway/deploy/roles/magma_deb/tasks/main.yml
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

chore(ci): upgrade github action checkout
  .github/workflows/lte-integ-test-magma-deb.yml
Owners: @magma/approvers-ci

chore(ci): job only runs if build-all was successful
  .github/workflows/lte-integ-test-magma-deb.yml
Owners: @magma/approvers-ci

chore(ci): use tee instead of calling a shell
  .github/workflows/lte-integ-test-magma-deb.yml
Owners: @magma/approvers-ci

chore(ci): remove pushing results
  .github/workflows/lte-integ-test-magma-deb.yml
Owners: @magma/approvers-ci

chore(ci): add missing vagrant plugins
  .github/workflows/lte-integ-test-magma-deb.yml
Owners: @magma/approvers-ci

chore(ci): remove typo
  .github/workflows/lte-integ-test-magma-deb.yml
Owners: @magma/approvers-ci

chore(ci): remove unnecessary setup
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(ci): ignore check
  .github/workflows/lte-integ-test-magma-deb.yml
Owners: @magma/approvers-ci

chore(ci): modify cache key for magma_deb
  .github/workflows/lte-integ-test-magma-deb.yml
Owners: @magma/approvers-ci

chore(ci): remove unnecessary firebase package
  .github/workflows/lte-integ-test-magma-deb.yml
Owners: @magma/approvers-ci

chore(ci): refactor function integ_test and integ_test_deb_installation
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(ci): remove unnecessary lines
  .github/workflows/lte-integ-test-magma-deb.yml
Owners: @magma/approvers-ci

chore(ci): revert shell commands
  .github/workflows/lte-integ-test-magma-deb.yml
Owners: @magma/approvers-ci

chore(ci): starting point
  .github/workflows/build_all.yml
  .github/workflows/lte-integ-test-magma-deb.yml
Owners: @magma/approvers-ci

chore(ci): remove unnecessary workflows
  .github/workflows/agw-docker-load-test.yml
  .github/workflows/agw-workflow.yml
  .github/workflows/amis-workflow.yml
  .github/workflows/autolabel-pullrequests.yml
  .github/workflows/backport-pull-request.yml
  .github/workflows/bazel.yml
  .github/workflows/build_magma_dep.yml
  .github/workflows/check-rebase.yml
  .github/workflows/cloud-workflow.yml
  .github/workflows/codeowners-syntax.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/comment-pr-on-check-failure.yml
  .github/workflows/cwag-workflow.yml
  .github/workflows/cwf-integ-test.yml
  .github/workflows/cwf-operator.yml
  .github/workflows/dco-check.yml
  .github/workflows/deploy-build-from-pr.yml
  .github/workflows/docker-builder-devcontainer.yml
  .github/workflows/docker-builder-python-precommit.yml
  .github/workflows/docs-workflow.yml
  .github/workflows/docusaurus-workflow.yml
  .github/workflows/dp-workflow.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/feg-workflow.yml
  .github/workflows/fossa-workflow.yml
  .github/workflows/gcc-problems.yml
  .github/workflows/golang-build-test.yml
  .github/workflows/helm-chart-dependency-check.yml
  .github/workflows/helm-deploy-on-demand.yml
  .github/workflows/insync-checkin.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/nms-workflow.yml
  .github/workflows/pr_bot.yml
  .github/workflows/python-workflow.yml
  .github/workflows/reviewdog-workflow.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/unit-test-workflow.yml
Owners: @magma/approvers-ci

fix: bazel base uses same folly version as magma vm (#13867)
  .devcontainer/bazel-base/Dockerfile
Owners: @m-govind, @panyogesh

feat(agw): service restart is adapted to new syntax
  lte/gateway/python/integ_tests/s1aptests/test_3485_timer_for_dedicated_bearer_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_3485_timer_for_default_bearer_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_3495_timer_for_dedicated_bearer_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_3495_timer_for_default_bearer_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_and_mme_restart_loop_detach_and_mme_restart_loop_multi_ue.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_multiple_ip_blocks_mobilityd_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_with_corrupt_stateless_mme.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_with_mobilityd_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_esm_info_with_apn_correction.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_mme_restart_detach_multi_ue.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_nw_initiated_detach_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_ul_udp_data_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_ul_udp_data_with_mobilityd_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_ul_udp_data_with_multiple_service_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_ul_udp_data_with_pipelined_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_ul_udp_data_with_sessiond_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_with_multiple_mme_restarts.py
  lte/gateway/python/integ_tests/s1aptests/test_enb_partial_reset_multi_ue_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_ics_timer_expiry_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_idle_mode_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_implicit_detach_timer_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_mobile_reachability_tmr_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_no_attach_complete_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_no_auth_resp_with_mme_restart_reattach.py
  lte/gateway/python/integ_tests/s1aptests/test_no_auth_response_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_no_esm_information_rsp_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_no_identity_rsp_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_no_smc_with_mme_restart_reattach.py
  lte/gateway/python/integ_tests/s1aptests/test_paging_after_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_paging_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_secondary_pdn_with_dedicated_bearer_multiple_services_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_service_req_ul_udp_data_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_standalone_pdn_conn_req_with_apn_correction.py
  lte/gateway/python/integ_tests/s1aptests/test_stateless_multi_ue_mixedstate_mme_restart.py
Owners: @m-govind, @panyogesh

feat(agw): cleanup redis if not empty
  lte/gateway/python/integ_tests/s1aptests/s1ap_wrapper.py
Owners: @m-govind, @panyogesh

feat(agw): handling of redis states is improved
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

feat(agw): restart functions can now handle docker containers and systemd services
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

fix(dp): Adjust dp config to deployment names
  dp/cloud/go/services/dp/config.go
Owners: @m-govind, @panyogesh

fix(agw): Modiifed code to port hash list of ue contexts to protobuf map
  lte/gateway/c/core/oai/include/sgw_context_manager.hpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_context_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_manager.hpp
  lte/gateway/c/core/oai/test/spgw_task/spgw_test_util.cpp
Owners: @m-govind, @panyogesh

fix(ci): Add repository with grpc-dev version 1.43 Co-authored-by: Jan Heidbrink <jan.heidbrink@tngtech.com>
  .devcontainer/bazel-base/Dockerfile
Owners: @m-govind, @panyogesh

fix(dp): Adjust dp config to deployment names (#13893)
  dp/cloud/go/services/dp/config.go
Owners: @m-govind, @panyogesh

Resolved undefined reference errors
  lte/gateway/c/core/oai/tasks/nas/api/mme/mme_api.cpp
  lte/gateway/c/core/oai/tasks/nas/api/mme/mme_api.hpp
  lte/gateway/c/core/oai/tasks/nas/api/network/nas_message.cpp
  lte/gateway/c/core/oai/tasks/nas/api/network/nas_message.hpp
  lte/gateway/c/core/oai/tasks/nas/nas_network.cpp
  lte/gateway/c/core/oai/tasks/nas/nas_network.hpp
  lte/gateway/c/core/oai/tasks/nas/nas_proc.cpp
  lte/gateway/c/core/oai/tasks/nas/nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/nas/nas_procedures.hpp
Owners: @m-govind, @panyogesh

fix(ci): Add repository with grpc-dev version 1.43 (#13896)
  .devcontainer/bazel-base/Dockerfile
Owners: @m-govind, @panyogesh

chore: bump postcss (#13675)
  nms/package.json
  nms/yarn.lock
Owners: @m-govind, @panyogesh

fix(nms): bump network timeout to avoid preventable build failures (#13775)
  nms/Dockerfile
Owners: @m-govind, @panyogesh

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost
