Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

Fixed compilation error
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
Owners: @m-govind, @panyogesh

fix(agw): review comments
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_with_corrupt_stateless_mme.py
Owners: @m-govind, @panyogesh

fix(mme): Handling qosflowFailedForAddorModify in session modification response (#13655)
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_handlers.c
Owners: @m-govind, @panyogesh

docs: Fix double stop of magmad in Quick Start Guide
  docs/readmes/basics/quick_start_guide.md
Owners: @m-govind, @panyogesh

fix(agw): make redis save state after cleaning the db (#13994)
  lte/gateway/python/scripts/config_stateless_agw.py
Owners: @m-govind, @panyogesh

chore: Publish test results for the Bazel and Debian integration and sudo tests
  .github/workflows/cwf-integ-test.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/sudo-python-tests.yml
  bazel/scripts/run_integ_tests.sh
  bazel/scripts/run_sudo_tests.sh
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

fix(pipelined): Handling for GTPU end-marker
  third_party/gtp_ovs/ovs-gtp-patches/2.15/0025-fix-ovs-kernel-panic-on-receiving-end-marker.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.15/dev.sh
Owners: @m-govind, @panyogesh

fix(agw): sctpd needs explicit restart for docker as it is restarted … (#14015)
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_with_corrupt_stateless_mme.py
Owners: @m-govind, @panyogesh

fix(agw): Updated AGW Install script branch to v1.8 (#13996) (#13997)
  lte/gateway/deploy/agw_install_ubuntu.sh
Owners: @m-govind, @panyogesh

chore: an integ test checks if all magma services are running
  lte/gateway/python/integ_tests/defs.mk
  lte/gateway/python/integ_tests/s1aptests/BUILD.bazel
  lte/gateway/python/integ_tests/s1aptests/test_services_are_running.py
Owners: @m-govind, @panyogesh

chore: Publish test results for the Bazel and Debian integration and sudo tests (#13984)
  .github/workflows/cwf-integ-test.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/sudo-python-tests.yml
  bazel/scripts/run_integ_tests.sh
  bazel/scripts/run_sudo_tests.sh
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

chore: an integ test checks if all magma services are running (#14013)
  lte/gateway/python/integ_tests/defs.mk
  lte/gateway/python/integ_tests/s1aptests/BUILD.bazel
  lte/gateway/python/integ_tests/s1aptests/test_services_are_running.py
Owners: @m-govind, @panyogesh

chore: the init system check is less chatty (#14004)
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

chore(agw): restart of sctpd is adapted (#14000)
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/integ_tests/s1aptests/s1ap_wrapper.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_enb_rlf_initial_ue_msg.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_with_sctpd_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_continuous_random_attach.py
  lte/gateway/python/integ_tests/s1aptests/test_s1setup_failure_incorrect_plmn.py
  lte/gateway/python/integ_tests/s1aptests/test_s1setup_failure_incorrect_tac.py
  lte/gateway/python/integ_tests/s1aptests/test_sctp_shutdown_after_multi_ue_attach.py
Owners: @m-govind, @panyogesh

feat(agw): Basic eDRX support
  lte/gateway/c/core/oai/lib/3gpp/3gpp_24.008_gmm_ies.c
Owners: @m-govind, @panyogesh

feat(agw): Basic eDRX support
  lte/gateway/c/core/oai/lib/3gpp/3gpp_24.008_gmm_ies.c
Owners: @m-govind, @panyogesh

fix(agw): fix incorrect usage of self.assertTrue
  lte/gateway/python/integ_tests/s1aptests/test_agw_offload_idle_active_ue.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_auth_failure.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_auth_mac_failure.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_service_with_multi_pdns_and_bearers_mt_data.py
  lte/gateway/python/integ_tests/s1aptests/test_ipv4v6_paging_with_dedicated_bearer.py
  lte/gateway/python/integ_tests/s1aptests/test_ipv6_paging_with_dedicated_bearer.py
  lte/gateway/python/integ_tests/s1aptests/test_multi_enb_paging_request.py
  lte/gateway/python/integ_tests/s1aptests/test_paging_after_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_paging_request.py
  lte/gateway/python/integ_tests/s1aptests/test_paging_with_mme_restart.py
Owners: @m-govind, @panyogesh

chore(agw): cleanup line lengths from previous commits
  lte/gateway/python/integ_tests/s1aptests/test_3485_timer_for_dedicated_bearer_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_3485_timer_for_default_bearer_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_activate_deactivate_multiple_dedicated.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_dedicated_bearer_deactivation_invalid_lbi.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_multiple_rar_tcp_data.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_multiple_secondary_pdn.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_secondary_pdn_disconnect_dedicated_bearer.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_esm_information_timerexpiration.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_restricted_plmn.py
  lte/gateway/python/integ_tests/s1aptests/test_data_flow_after_service_request.py
  lte/gateway/python/integ_tests/s1aptests/test_enb_partial_reset_multi_ue_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_gateway_metrics_attach_detach.py
  lte/gateway/python/integ_tests/s1aptests/test_implicit_detach_timer_with_mme_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_outoforder_erab_setup_rsp_default_bearer.py
  lte/gateway/python/integ_tests/s1aptests/test_paging_request.py
  lte/gateway/python/integ_tests/s1aptests/test_x2_handover.py
Owners: @m-govind, @panyogesh

refactor(orc8r): Minor improvements to sql.go
  orc8r/cloud/go/services/configurator/storage/sql.go
Owners: @m-govind, @panyogesh

refactor(orc8r): Remove proto.Clone calls from sql_test.go
  orc8r/cloud/go/services/configurator/storage/sql_test.go
Owners: @m-govind, @panyogesh

refactor(orc8r): Remove proto.Clone calls from client_api.go
  orc8r/cloud/go/services/tenants/client_api.go
Owners: @m-govind, @panyogesh

refactor(orc8r): Remove proto.Clone calls from sql_entity_write_helpers.go
  orc8r/cloud/go/services/configurator/storage/sql_entity_write_helpers.go
Owners: @m-govind, @panyogesh

refactor(orc8r): Remove proto.Clone calls from storage.go
  orc8r/cloud/go/services/configurator/storage/storage.go
Owners: @m-govind, @panyogesh

refactor(orc8r): Remove proto.Clone calls from sql_integ_test.go
  orc8r/cloud/go/services/configurator/storage/sql_integ_test.go
Owners: @m-govind, @panyogesh

refactor(orc8r): Revert changes in sql_integ_test.go
  orc8r/cloud/go/services/configurator/storage/sql_integ_test.go
Owners: @m-govind, @panyogesh

refactor(orc8r): Revert changes to import order
  orc8r/cloud/go/services/configurator/storage/sql_entity_write_helpers.go
  orc8r/cloud/go/services/configurator/storage/storage.go
  orc8r/cloud/go/services/tenants/client_api.go
Owners: @m-govind, @panyogesh

fix: boolean arguments in fabric calls are interpreted correctly
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

fix(agw): fix certificate issue for containerized AGW deployment (#13862)
  lte/gateway/docker/.env
  lte/gateway/docker/README.md
  lte/gateway/docker/docker-compose.yaml
Owners: @m-govind, @panyogesh

chore(ci): extracxt magma package version and trigger workflow
  .github/workflows/build_all.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  lte/gateway/Vagrantfile
  lte/gateway/deploy/agw_install_ubuntu_vm.sh
  lte/gateway/deploy/roles/magma_deb/tasks/main.yml
  lte/gateway/deploy/roles/magma_deploy/tasks/main.yml
Owners: @magma/approvers-ci, @m-govind, @panyogesh

fix: boolean arguments in fabric calls are interpreted correctly (#14030)
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

fix(subscriberdb): Detach inactive subscribers when syncing
  lte/gateway/python/magma/subscriberdb/client.py
  lte/gateway/python/magma/subscriberdb/tests/client_tests.py
Owners: @m-govind, @panyogesh

feat(ci): Improved docker-promote workflow
  .github/workflows/docker-promote.yml
Owners: @magma/approvers-ci

feat(ci): Small improvements to the docker promote workflow
  .github/workflows/docker-promote.yml
  orc8r/tools/docker/promote.sh
Owners: @magma/approvers-ci, @m-govind, @panyogesh

feat(ci): Add helm promote workflow
  .github/workflows/helm-promote.yml
Owners: @magma/approvers-ci

feat(ci): Add docker promote script and workflow
  .github/workflows/docker-promote.yml
  orc8r/tools/docker/promote.sh
Owners: @magma/approvers-ci, @m-govind, @panyogesh

feat(ci): Improved the naming of some variables
  .github/workflows/docker-promote.yml
  .github/workflows/helm-promote.yml
  orc8r/tools/docker/promote.sh
Owners: @magma/approvers-ci, @m-govind, @panyogesh

feat(ci): Added license headers
  .github/workflows/docker-promote.yml
  .github/workflows/helm-promote.yml
  orc8r/tools/docker/promote.sh
Owners: @magma/approvers-ci, @m-govind, @panyogesh

feat(ci): Improved docker-promote workflow
  .github/workflows/helm-promote.yml
Owners: @magma/approvers-ci

feat(ci): Improved a logging string
  .github/workflows/helm-promote.yml
  orc8r/tools/docker/promote.sh
  orc8r/tools/helm/promote.sh
Owners: @magma/approvers-ci, @m-govind, @panyogesh

feat(ci): Added double quotes
  orc8r/tools/docker/promote.sh
Owners: @m-govind, @panyogesh

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost
