Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @magma/approvers-infra, @magma/approvers-cloud, @magma/approvers-gw, @magma/approvers-tsc, @ghost

chore: docs example fits to new codeowner groups
  docs/readmes/contributing/contribute_codeowners.md
Owners: @magma/approvers-infra

fix(ci): change reviewdog reporter
  .github/workflows/reviewdog-workflow.yml
Owners: @magma/approvers-infra

chore(ci): bump workflow version
  .github/workflows/reviewdog-workflow.yml
Owners: @magma/approvers-infra

chore: unused and un-documented functions in lte fabfile are removed
  lte/gateway/fabfile.py
Owners: @magma/approvers-gw

chore: wrong syntax in deleting artifacts is fixed (only fed images were deleted)
  .github/workflows/federated-integ-test.yml
Owners: @magma/approvers-infra

chore: unused and un-documented functions in fed fabfile are removed
  lte/gateway/python/integ_tests/federated_tests/fabfile.py
Owners: @magma/approvers-gw

chore: unnecessary steps in fed integ tests are removed
  .github/workflows/federated-integ-test.yml
  lte/gateway/fabfile.py
  lte/gateway/python/integ_tests/federated_tests/fabfile.py
Owners: @magma/approvers-infra, @magma/approvers-gw

fix(feg): wait for radius server in TestProxy
  feg/radius/src/modules/proxy/proxy_test.go
Owners: @magma/approvers-gw

fix(feg): increase wait time for radius server in FEG tests
  feg/radius/src/modules/module_test_utils.go
Owners: @magma/approvers-gw

chore: Do not use MAGMA_ROOT in Starlark format script (#14819)
  .devcontainer/bazel-base/README.md
  bazel/scripts/run_buildifier.sh
  docs/readmes/lte/dev_unit_testing.md
Owners: @magma/approvers-infra

[skip ci] Deploy website
  docs/next/lte/dev_unit_testing.html
  docs/next/lte/dev_unit_testing/index.html
Owners: @magma/approvers-infra

CODEOWNERS:

# approvers-infra
/.github/workflows/ @magma/approvers-infra
/ci-scripts/ @magma/approvers-infra
/cwf/gateway/Vagrantfile @magma/approvers-infra
/lte/gateway/release @magma/approvers-infra
/lte/gateway/Vagrantfile @magma/approvers-infra
/lte/gateway/docker @magma/approvers-infra
/lte/gateway/python/integ_tests @magma/approvers-infra
/orc8r/tools/packer/ @magma/approvers-infra
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-infra
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-infra
/third_party/build/ @magma/approvers-infra
#  docs
/docs/ @magma/approvers-infra
#  bazel related
/.bazel-cache/ @magma/approvers-infra
/.bazel-cache-repo/ @magma/approvers-infra
/.github/workflows/bazel.yml @magma/approvers-infra
/bazel/ @magma/approvers-infra
/.bazelignore @magma/approvers-infra
/.bazelrc @magma/approvers-infra
*.bazel @magma/approvers-infra

# approvers-cloud
*/cloud/ @magma/approvers-cloud
/.golangci.yml @magma/approvers-cloud
/dp/ @magma/approvers-cloud
/nms/ @magma/approvers-cloud
/orc8r/ @magma/approvers-cloud

# approvers-gw
/cwf/ @magma/approvers-gw
/feg/ @magma/approvers-gw
/lte/gateway @magma/approvers-gw
/lte/protos @magma/approvers-gw
/openwrt/ @magma/approvers-gw
/orc8r/gateway/c/ @magma/approvers-gw
/show-tech/ @magma/approvers-gw
/third_party/gtp_ovs @magma/approvers-gw

# agw code related to orc8r
/orc8r/gateway/python @magma/approvers-gw @magma/approvers-cloud

# approvers-tsc
/CODEOWNERS @magma/approvers-tsc
/docs/readmes/proposals @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost
