Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @magma/approvers-ci, @magma/approvers-orc8r, @magma/approvers-nms, @magma/approvers-feg, @magma/approvers-cwf, @magma/approvers-openwrt, @magma/approvers-agw, @magma/approvers-agw-python, @magma/approvers-agw-c, @magma/approvers-agw-sessiond, @magma/approvers-agw-mme, @koolzz, @magma/approvers-agw-pipelined, @magma/approvers-agw-integtests, @magma/approvers-xwf, @magma/approvers-showtech, @magma/approvers-docs, @electronjoe, @amarpad, @hcgatewood, @ghost

CODEOWNERS:

# approvers-ci
.circleci/ @magma/approvers-ci
circleci/ @magma/approvers-ci
ci-scripts/ @magma/approvers-ci
.github/workflows/ @magma/approvers-ci
third_party/build/ @magma/approvers-ci
orc8r/tools/packer/ @magma/approvers-ci
orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
lte/gateway/docker @magma/approvers-ci
lte/gateway/release @magma/approvers-ci
lte/gateway/Vagrantfile @magma/approvers-ci
cwf/gateway/Vagrantfile @magma/approvers-ci

# approvers-orc8r
*/cloud/ @magma/approvers-orc8r
.golangci.yml @magma/approvers-orc8r
orc8r/ @magma/approvers-orc8r

# approvers-nms
nms/ @magma/approvers-nms

# approvers-feg
feg/ @magma/approvers-feg

# approvers-cwf
cwf/ @magma/approvers-cwf

# approvers-openwrt
openwrt/ @magma/approvers-openwrt

# approvers-agw / approvers-agw-python / approvers-agw-c
lte/gateway @magma/approvers-agw
lte/protos @magma/approvers-agw
lte/gateway/python @magma/approvers-agw-python
lte/gateway/c @magma/approvers-agw-c
orc8r/gateway/c/ @magma/approvers-agw-c

# approvers-agw-<subsection>
lte/gateway/c/session_manager @magma/approvers-agw-sessiond
lte/gateway/c/core/oai @magma/approvers-agw-mme
lte/gateway/c/sctpd @magma/approvers-agw-mme
lte/gateway/c/connection_tracker @koolzz @magma/approvers-agw-c
lte/gateway/python/magma/pipelined @magma/approvers-agw-pipelined
lte/gateway/python/integ_tests @magma/approvers-agw-integtests

# XWF Magma integrations
xwf/ @magma/approvers-xwf
feg/radius @magma/approvers-xwf @magma/approvers-cwf

# approvers-showtech
show-tech/ @magma/approvers-showtech

docs/ @magma/approvers-docs
docs/readmes/proposals @electronjoe

CODEOWNERS @amarpad @electronjoe @hcgatewood

# Paths excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
orc8r/cloud/go/obsidian/swagger/v1/swagger.yml @ghost
orc8r/cloud/go/obsidian/swagger/v1/client/ @ghost
orc8r/cloud/go/obsidian/swagger/v1/models/ @ghost

[agw][cloudstrapper] clean ami root ssh keys (#7392)
  experimental/cloudstrapper/playbooks/roles/clean-ami/tasks/main.yaml
Owners: none

fix sentry release circle ci job (#7462)
  .circleci/config.yml
Owners: @magma/approvers-ci

[lte][agw] Add cloud configuration for MME congestion control (#7372)
  lte/cloud/go/protos/mconfig/mconfigs.pb.go
  lte/cloud/go/services/lte/obsidian/models/gateway_epc_configs_swaggergen.go
  lte/cloud/go/services/lte/obsidian/models/swagger.v1.yml
  lte/cloud/go/services/lte/servicers/builder_servicer.go
  lte/gateway/c/core/oai/include/mme_config.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_defs.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_main.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_config.c
  lte/gateway/c/core/oai/tasks/nas/emm/Authentication.c
  lte/gateway/c/core/oai/tasks/nas/emm/Identification.c
  lte/gateway/c/core/oai/tasks/nas/emm/SecurityModeControl.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_recv.c
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.c
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.c
  lte/gateway/configs/gateway.mconfig
  lte/gateway/configs/mme.yml
  lte/gateway/configs/templates/mme.conf.template
  lte/gateway/python/scripts/generate_oai_config.py
  lte/protos/mconfig/mconfigs.proto
  orc8r/cloud/go/obsidian/swagger/v1/models/gateway_epc_configs.go
  orc8r/cloud/go/obsidian/swagger/v1/swagger.yml
Owners: @ghost, @magma/approvers-orc8r, @magma/approvers-agw-mme, @magma/approvers-agw, @magma/approvers-agw-python

[docs] add mermaid support on docusaurus and feg CLI documentation (#7351)
  docs/docusaurus/i18n/en.json
  docs/docusaurus/init.js
  docs/docusaurus/package.json
  docs/docusaurus/sidebars.json
  docs/docusaurus/siteConfig.js
  docs/docusaurus/yarn.lock
  docs/readmes/assets/feg/inbound_roaming_sample.zip
  docs/readmes/feg/debug_cli.md
Owners: @magma/approvers-docs

[orc8r][helm] Fix dependency conflict for orc8r metric chart (#7461)
  orc8r/cloud/helm/orc8r/Chart.lock
  orc8r/cloud/helm/orc8r/Chart.yaml
Owners: @magma/approvers-orc8r

Added new apn data models and did minor refactoring to (#7190)
  lte/cloud/go/protos/apn.pb.go
  lte/cloud/go/protos/pipelined.pb.go
  lte/cloud/go/protos/session_manager.pb.go
  lte/cloud/go/protos/subscriberdb.pb.go
  lte/gateway/c/connection_tracker/CMakeLists.txt
  lte/gateway/c/core/oai/lib/mobility_client/CMakeLists.txt
  lte/gateway/c/core/oai/lib/n11/CMakeLists.txt
  lte/gateway/c/core/oai/lib/pipelined_client/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/grpc_service/CMakeLists.txt
  lte/gateway/c/session_manager/CMakeLists.txt
  lte/gateway/python/load_tests/loadtest_mobilityd.py
  lte/gateway/python/magma/mobilityd/subscriberdb_client.py
  lte/gateway/python/magma/mobilityd/tests/test_multi_apn_ip_alloc.py
  lte/gateway/python/magma/pipelined/rpc_servicer.py
  lte/protos/apn.proto
  lte/protos/pipelined.proto
  lte/protos/session_manager.proto
  lte/protos/subscriberdb.proto
  orc8r/gateway/c/common/async_grpc/CMakeLists.txt
  orc8r/gateway/c/common/datastore/CMakeLists.txt
Owners: @ghost, @koolzz, @magma/approvers-agw-c, @magma/approvers-agw-mme, @magma/approvers-agw-sessiond, @magma/approvers-agw-python, @magma/approvers-agw-pipelined, @magma/approvers-agw

Fixing clang-format path for core build (#7469)
  lte/gateway/Makefile
  lte/gateway/c/core/oai/lib/itti/intertask_interface.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_config.c
Owners: @magma/approvers-agw, @magma/approvers-agw-mme

Cloudstrapper Securitygroups Cleanup (#7449)
  experimental/cloudstrapper/playbooks/roles/aws-cleanup/tasks/orc8r-secgroup.yaml
  experimental/cloudstrapper/playbooks/roles/aws-cleanup/vars/main.yaml
Owners: none

[mme] Remove additional unnecessary AssertFatal calls (#7373)
  lte/gateway/c/core/oai/common/async_system.c
  lte/gateway/c/core/oai/common/itti_free_defined_msg.c
Owners: @magma/approvers-agw-mme

Default value for SNS emails (#7485)
  orc8r/cloud/deploy/terraform/orc8r-aws/variables.tf
Owners: @magma/approvers-orc8r

[helm][ci] Check helm dependencies github action job (#7481)
  .github/workflows/helm-chart-dependency-check.yml
Owners: @magma/approvers-ci

[mme] S6a_client refactor to grab the proper client (#7413)
  lte/gateway/c/core/oai/lib/s6a_proxy/S6aClient.cpp
  lte/gateway/c/core/oai/lib/s6a_proxy/S6aClient.h
Owners: @magma/approvers-agw-mme

AGW: gtp: add support for segmentation offload. (#7470)
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0001-of-match-expand-NXM_NX_TUN_FLAGS-to-include-all-tunn.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0002-userspace-IPFIX-Add-tunnel-type-GTP.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0003-datapath-add-vport-gtp-for-GPRS-Tunneling-Protocol.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0004-ovs-Add-support-to-set-GTP-header-fields.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0005-OVS-gtp-echo-handling.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0006-ovs-test-add-gtp-marker-test.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0007-datapath-Fixes-for-4.9-kernel.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0008-ovs-datapath-enable-kernel-5.6.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0009-AGW-OVS-handle-gtp-tunnel-type.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0010-native-tnl-routing-tunnel-lookup-with-pkt-mark.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0011-fixes-for-2.14.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0012-Add-custom-IPDR-fields-for-IPFIX-export.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0013-ovs-Handle-spaces-in-ovs-arguments.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0014-Add-pdp_start_epoch-custom-field-to-IPFIX-export.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0015-GTP-Extension-header-support-in-ovs2.14.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0016-ODP-action-Fix-L3-port-to-L3-port-traffic.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0017-datapath-GTP-cleanup.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0018-GTP-handle-seq-number-in-HDR.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0019-datapath-gtp-add-segmentation-offloads.patch
Owners: none

orc8r: Fix hanging Swagger UI (#7477)
  orc8r/cloud/go/obsidian/swagger/poll.go
  orc8r/cloud/go/obsidian/swagger/remote_spec.go
  orc8r/lib/go/registry/global_registry.go
  orc8r/lib/go/registry/registry.go
Owners: @magma/approvers-orc8r

commit leftover i18n file (#7494)
  docs/docusaurus/i18n/en.json
Owners: @magma/approvers-docs

Move policydb and datastore out of common (#7453)
  lte/gateway/c/core/oai/lib/n11/CMakeLists.txt
  lte/gateway/c/core/oai/lib/pipelined_client/CMakeLists.txt
  lte/gateway/c/session_manager/CMakeLists.txt
  lte/gateway/c/session_manager/datastore/CMakeLists.txt
  lte/gateway/c/session_manager/datastore/ObjectMap.h
  lte/gateway/c/session_manager/datastore/Serializers.cpp
  lte/gateway/c/session_manager/datastore/includes/RedisMap.hpp
  lte/gateway/c/session_manager/datastore/includes/Serializers.h
  lte/gateway/c/session_manager/policydb/CMakeLists.txt
  lte/gateway/c/session_manager/policydb/PolicyLoader.cpp
  lte/gateway/c/session_manager/policydb/includes/PolicyLoader.h
  lte/gateway/c/session_manager/sessiond_main.cpp
  orc8r/gateway/c/common/CMakeLists.txt
Owners: @magma/approvers-agw-mme, @magma/approvers-agw-sessiond, @magma/approvers-agw-c

[feg] Add NH support to FeG 2 GW relay (issue #7473) (#7474)
  feg/cloud/go/services/feg_relay/servicers/feg_to_gw_relay.go
Owners: @magma/approvers-feg

AGW: add script to upgrade OVS kmod. (#7499)
  lte/gateway/deploy/roles/magma/files/ovs-kmod-upgrade.sh
  lte/gateway/release/build-magma.sh
Owners: @magma/approvers-agw

AGW: add IRQ CPU affinity configuration (#7490)
  lte/gateway/configs/pipelined.yml
  lte/gateway/configs/pipelined.yml_prod
  lte/gateway/deploy/roles/magma/files/set_irq_affinity
  lte/gateway/deploy/roles/magma/tasks/main.yml
  lte/gateway/python/magma/pipelined/datapath_setup.py
  lte/gateway/python/magma/pipelined/main.py
  lte/gateway/release/build-magma.sh
Owners: @magma/approvers-agw, @magma/approvers-agw-pipelined

[AGW] Bump upgrade script + force apt (#7503)
  lte/gateway/release/upgrade_magma.sh
Owners: @magma/approvers-agw

[mme] Change various AssertFatal calls to Fatal (#7338)
  lte/gateway/c/core/oai/common/common_defs.h
  lte/gateway/c/core/oai/lib/3gpp/3gpp_24.008_common_ies.c
  lte/gateway/c/core/oai/lib/3gpp/3gpp_24.008_gmm_ies.c
  lte/gateway/c/core/oai/lib/3gpp/3gpp_24.008_mm_ies.c
  lte/gateway/c/core/oai/lib/3gpp/3gpp_24.008_sm_ies.c
  lte/gateway/c/core/oai/lib/gtpv2-c/nwgtpv2c-0.11/include/NwGtpv2cPrivate.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_config.c
  lte/gateway/c/core/oai/tasks/nas/api/mme/mme_api.c
  lte/gateway/c/core/oai/tasks/nas/emm/Attach.c
  lte/gateway/c/core/oai/tasks/nas/emm/Identification.c
  lte/gateway/c/core/oai/tasks/nas/esm/PdnConnectivity.c
  lte/gateway/c/core/oai/tasks/nas/ies/TrafficFlowAggregateDescription.c
  lte/gateway/c/core/oai/tasks/nas/nas_procedures.c
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.c
  lte/gateway/c/core/oai/tasks/sgw/pgw_config.c
  lte/gateway/c/core/oai/tasks/sgw/pgw_handlers.c
  lte/gateway/c/core/oai/tasks/sgw/pgw_pcef_emulation.c
  lte/gateway/c/core/oai/tasks/sgw/sgw_config.c
  lte/gateway/c/core/oai/tasks/sgw/sgw_handlers.c
  lte/gateway/c/core/oai/tasks/sgw/spgw_config.c
Owners: @magma/approvers-agw-mme

[AGW]Ubuntu ci testing (#7376)
  .circleci/config.yml
  lte/gateway/Vagrantfile
  lte/gateway/deploy/hosts
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
  orc8r/tools/packer/magma-focal-virtualbox.json
Owners: @magma/approvers-ci, @magma/approvers-agw, @magma/approvers-orc8r

Update Orc8r’s subscriberdb servicer to support flat subscriber digests (#7302)
  lte/cloud/configs/subscriberdb.yml
  lte/cloud/go/protos/subscriberdb.pb.go
  lte/cloud/go/services/subscriberdb/config.go
  lte/cloud/go/services/subscriberdb/servicers/subscriberdb_servicer.go
  lte/cloud/go/services/subscriberdb/servicers/subscriberdb_servicer_test.go
  lte/cloud/go/services/subscriberdb/subscriberdb/main.go
  lte/cloud/go/services/subscriberdb/test_init/test_service_init.go
  lte/protos/subscriberdb.proto
  orc8r/cloud/go/mproto/mproto.go
  orc8r/cloud/go/mproto/mproto_test.go
  orc8r/cloud/go/mproto/testdata/determinisic-digest.b64.golden
Owners: @magma/approvers-orc8r, @ghost, @magma/approvers-agw

fix: change patches path after core superbuild (#7406)
  .devcontainer/Dockerfile
Owners: none

[Agw][MME][refactor] New enum explicitly for RETURNok and RETURNerror (#7483)
  lte/gateway/c/core/oai/common/async_system.c
  lte/gateway/c/core/oai/common/async_system.h
  lte/gateway/c/core/oai/common/common_defs.h
  lte/gateway/c/core/oai/common/digest.c
  lte/gateway/c/core/oai/common/digest.h
  lte/gateway/c/core/oai/common/redis_utils/redis_client.cpp
  lte/gateway/c/core/oai/common/redis_utils/redis_client.h
  lte/gateway/c/core/oai/include/state_manager.h
  lte/gateway/c/core/oai/lib/itti/intertask_interface.c
  lte/gateway/c/core/oai/lib/itti/intertask_interface.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_state_manager.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_state_manager.h
  lte/gateway/c/core/oai/tasks/ngap/ngap_state_manager.cpp
  lte/gateway/c/core/oai/tasks/ngap/ngap_state_manager.h
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.h
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_manager.h
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_manager.h
Owners: @magma/approvers-agw-mme

Fix ctests for OAI and SCTPD (#7482)
  lte/gateway/Makefile
  lte/gateway/c/sctpd/CMakeLists.txt
Owners: @magma/approvers-agw, @magma/approvers-agw-mme

Build fix (#7511)
  experimental/cloudstrapper/README.md
  experimental/cloudstrapper/playbooks/build-configure.yaml
  experimental/cloudstrapper/playbooks/roles/vars/build.yaml
  experimental/cloudstrapper/playbooks/roles/vars/defaults.yaml
Owners: none

[mme] Remove AssertFatal from mme_api_get_emm_config (#7377)
  lte/gateway/c/core/oai/tasks/nas/api/mme/mme_api.c
  lte/gateway/c/core/oai/tasks/nas/emm/emm_main.c
Owners: @magma/approvers-agw-mme

Fix metrics collection chunks (#7431)
  orc8r/gateway/python/magma/magmad/main.py
  orc8r/gateway/python/magma/magmad/metrics_collector.py
  orc8r/gateway/python/magma/magmad/tests/collector_tests.py
Owners: @magma/approvers-orc8r

[orc8r] remove usage of `$MAGMA_ROOT` (#7434)
  orc8r/cloud/go/tools/combine_swagger/combine/combine_test.go
  orc8r/cloud/go/tools/combine_swagger/generate/generate.go
  orc8r/cloud/go/tools/combine_swagger/generate/generate_test.go
  orc8r/cloud/go/tools/combine_swagger/main.go
  orc8r/cloud/go/tools/combine_swagger/testdata/configs/base.yml
  orc8r/cloud/go/tools/combine_swagger/testdata/configs/cycle1.yml
  orc8r/cloud/go/tools/combine_swagger/testdata/configs/cycle2.yml
  orc8r/cloud/go/tools/combine_swagger/testdata/configs/importer.yml
  orc8r/cloud/go/tools/combine_swagger/testdata/configs/importer2.yml
  orc8r/cloud/go/tools/swaggergen/generate/generate.go
  orc8r/cloud/go/tools/swaggergen/generate/generate_test.go
  orc8r/cloud/go/tools/swaggergen/generate/rewrite_test.go
  orc8r/cloud/go/tools/swaggergen/testdata/base.yml
  orc8r/cloud/go/tools/swaggergen/testdata/cycle1.yml
  orc8r/cloud/go/tools/swaggergen/testdata/cycle2.yml
  orc8r/cloud/go/tools/swaggergen/testdata/importer.yml
  orc8r/cloud/go/tools/swaggergen/testdata/importer2.yml
Owners: @magma/approvers-orc8r

address pylint in ubuntu (#7507)
  orc8r/gateway/python/magma/magmad/check/subprocess_workflow.py
  orc8r/gateway/python/magma/magmad/check/tests/subprocess_workflow_tests.py
  orc8r/gateway/python/magma/magmad/main.py
  orc8r/gateway/python/magma/magmad/metrics.py
  orc8r/gateway/python/magma/magmad/upgrade/upgrader.py
Owners: @magma/approvers-orc8r

AGW: OVS: add dmks install to upgrade script. (#7514)
  lte/gateway/deploy/roles/magma/files/ovs-kmod-upgrade.sh
Owners: @magma/approvers-agw

Add superbuild for connection tracker (#7512)
  lte/gateway/Makefile
  lte/gateway/c/connection_tracker/CMakeLists.txt
  lte/gateway/c/connection_tracker/src/CMakeLists.txt
  lte/gateway/c/connection_tracker/src/EventTracker.cpp
  lte/gateway/c/connection_tracker/src/EventTracker.h
  lte/gateway/c/connection_tracker/src/PacketGenerator.cpp
  lte/gateway/c/connection_tracker/src/PacketGenerator.h
  lte/gateway/c/connection_tracker/src/main.cpp
  lte/gateway/deploy/roles/magma/tasks/main.yml
Owners: @magma/approvers-agw, @koolzz, @magma/approvers-agw-c

Fix dependency on datastore and policydb (#7519)
  lte/gateway/c/session_manager/CMakeLists.txt
Owners: @magma/approvers-agw-sessiond

Fix segfault raised in issue 7128 (#7523)
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_ip_imsi.cpp
Owners: @magma/approvers-agw-mme

Remove proto dependencies from datastore (#7521)
  lte/gateway/c/session_manager/datastore/CMakeLists.txt
Owners: @magma/approvers-agw-sessiond

fix(ci): extend mme job timeout to 20m (#7532)
  .circleci/config.yml
Owners: @magma/approvers-ci

fix(build): update magma AGW dependency versions (#7529)
  lte/gateway/release/build-magma.sh
  lte/gateway/release/mirrored_packages
Owners: @magma/approvers-agw

commit leftover oai formatting changes (#7534)
  lte/gateway/c/core/oai/common/common_defs.h
  lte/gateway/c/core/oai/common/redis_utils/redis_client.cpp
  lte/gateway/c/core/oai/common/redis_utils/redis_client.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_ip_imsi.cpp
  lte/gateway/c/core/oai/tasks/nas/api/mme/mme_api.c
  lte/gateway/c/core/oai/tasks/nas/emm/emm_main.c
Owners: @magma/approvers-agw-mme

AGW: pipelined: fix typo in datapath tuning. (#7527)
  lte/gateway/python/magma/pipelined/datapath_setup.py
Owners: @magma/approvers-agw-pipelined
