Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

fix(agw): Do not check for health of "shared_mconfig" (#14082)
  orc8r/gateway/python/magma/common/health/health_service.py
Owners: @m-govind, @panyogesh

chore: pip performance is improved by ipv4 over ipv6 precedence (#14057)
  .github/workflows/lte-integ-test-bazel.yml
  lte/gateway/deploy/magma_dev_focal.yml
  lte/gateway/deploy/magma_test.yml
  lte/gateway/deploy/roles/gai_config/tasks/main.yml
Owners: @magma/approvers-ci, @m-govind, @panyogesh

Upgrading magma version to 1.8.0 (#13869)
  docs/readmes/feg/deploy_build.md
  docs/readmes/general/cloudstrapper_install.md
  docs/readmes/lte/build_install_magma_pkg_in_agw.md
  docs/readmes/orc8r/dev_build.md
Owners: @m-govind, @panyogesh

refactor(orc8r): Remove proto.Clone calls (#14029)
  orc8r/cloud/go/services/configurator/storage/sql.go
  orc8r/cloud/go/services/configurator/storage/sql_entity_write_helpers.go
  orc8r/cloud/go/services/configurator/storage/sql_test.go
  orc8r/cloud/go/services/configurator/storage/storage.go
  orc8r/cloud/go/services/tenants/client_api.go
Owners: @m-govind, @panyogesh

fix: vagrant box cache location is pointing to correct folder (#14092)
  .github/workflows/lte-integ-test-magma-deb.yml
Owners: @magma/approvers-ci

fix(ci): use correct variable offered by dispatch action (#14038)
  .github/workflows/lte-integ-test-magma-deb.yml
Owners: @magma/approvers-ci

feat(agw): test_sctp_shutdown_while_mme_is_stopped.py is adapted to containerized AGW (#14009)
  lte/gateway/python/integ_tests/s1aptests/test_sctp_shutdown_while_mme_is_stopped.py
Owners: @m-govind, @panyogesh

fix(amf): Fixing session ambr value when policy attached (#14098)
  lte/gateway/c/core/oai/tasks/grpc_service/AmfServiceImpl.cpp
Owners: @m-govind, @panyogesh

Fixed oai errors
  lte/gateway/c/core/oai/lib/gtpv2-c/gtpv2c_ie_formatter/src/gtpv2c_ie_formatter.c
  lte/gateway/c/core/oai/tasks/s11/s11_ie_formatter.c
Owners: @m-govind, @panyogesh

chore: cache key of bazel base and image tag are updated (#14041)
  .github/workflows/agw-workflow.yml
  .github/workflows/bazel.yml
  .github/workflows/gcc-problems.yml
Owners: @magma/approvers-ci

fix: missing enodebd folders are added to magma debian build (#14007)
  lte/gateway/python/setup.py
Owners: @m-govind, @panyogesh

chore(ci): enable manual execution of the integ test magma_deb in ci (#14076)
  lte/gateway/deploy/roles/magma_deploy/tasks/main.yml
Owners: @m-govind, @panyogesh

chore: an integ test checks if all magma services are running (#14013)
  lte/gateway/python/integ_tests/defs.mk
  lte/gateway/python/integ_tests/s1aptests/BUILD.bazel
  lte/gateway/python/integ_tests/s1aptests/test_services_are_running.py
Owners: @m-govind, @panyogesh

Revert "Update gtpv2c_ie_formatter.c"
  lte/gateway/c/core/oai/lib/gtpv2-c/gtpv2c_ie_formatter/src/gtpv2c_ie_formatter.c
Owners: @m-govind, @panyogesh

fix(agw): Port enb context from C structure to protobuf structure in s1ap module (#13728)
  lte/cloud/go/protos/oai/s1ap_state.pb.go
  lte/gateway/c/core/oai/common/common_types.h
  lte/gateway/c/core/oai/include/proto_map.hpp
  lte/gateway/c/core/oai/include/s1ap_state.hpp
  lte/gateway/c/core/oai/include/s1ap_types.hpp
  lte/gateway/c/core/oai/include/state_converter.hpp
  lte/gateway/c/core/oai/tasks/grpc_service/S1apServiceImpl.cpp
  lte/gateway/c/core/oai/tasks/ha/ha_service_handler.cpp
  lte/gateway/c/core/oai/tasks/nas/api/mme/mme_api.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_ta.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_ta.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
  lte/gateway/c/core/oai/test/s1ap_task/data/s1ap_state_ATTACHED
  lte/gateway/c/core/oai/test/s1ap_task/data/s1ap_state_ATTACHED_encoded
  lte/gateway/c/core/oai/test/s1ap_task/mock_s1ap_op.cpp
  lte/gateway/c/core/oai/test/s1ap_task/mock_s1ap_op.h
  lte/gateway/c/core/oai/test/s1ap_task/s1ap_mme_test_utils.cpp
  lte/gateway/c/core/oai/test/s1ap_task/s1ap_mme_test_utils.h
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_handle_new_association.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers_with_injected_state.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_state_converter.cpp
  lte/protos/oai/s1ap_state.proto
Owners: @ghost, @m-govind, @panyogesh

fix(lte): Fixed `detect_init_system` (#14034)
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

fix(nms): statistics not showing for non super users (#14079)
  nms/app/components/insights/GatewayMetrics.tsx
Owners: @m-govind, @panyogesh

fix(subscriberdb): Detach inactive subscribers when syncing (#14024)
  lte/gateway/python/magma/subscriberdb/client.py
  lte/gateway/python/magma/subscriberdb/tests/client_tests.py
Owners: @m-govind, @panyogesh

fix(agw): fix certificate issue for containerized AGW deployment (#13862)
  lte/gateway/docker/.env
  lte/gateway/docker/README.md
  lte/gateway/docker/docker-compose.yaml
Owners: @m-govind, @panyogesh

chore(agw): Remove unused code from pydep (#14003)
  lte/gateway/release/pydep
Owners: @magma/approvers-ci

chore: deprecated debian stretch specific files and scripts are removed (#14020)
  cwf/gateway/deploy/roles/cwag/tasks/main.yml
  cwf/gateway/deploy/roles/ovs/tasks/main.yml
  cwf/gateway/docker/c/Dockerfile
  lte/gateway/Vagrantfile
  lte/gateway/deploy/magma_dev.yml
  lte/gateway/deploy/magma_trfserver.yml
  lte/gateway/deploy/roles/envoy/tasks/main.yml
  lte/gateway/deploy/roles/stretch_snapshot/defaults/main.yml
  lte/gateway/deploy/roles/stretch_snapshot/tasks/main.yml
  lte/gateway/deploy/roles/uselocalpkgrepo/defaults/main.yml
  lte/gateway/deploy/roles/uselocalpkgrepo/tasks/main.yml
  lte/gateway/deploy/roles/uselocalpkgrepo/templates/99httpsrepo.j2
  lte/gateway/deploy/roles/uselocalpkgrepo/templates/repospec.list.j2
  lte/gateway/release/BUILD.bazel
  lte/gateway/release/build-magma.sh
  orc8r/tools/ansible/roles/docker/tasks/install.yml
  orc8r/tools/ansible/roles/gateway_services/tasks/main.yml
  orc8r/tools/packer/debian-stretch-aws.json
  orc8r/tools/packer/debian-stretch-virtualbox.json
  orc8r/tools/packer/feg-ubuntu-virtualbox.json
  orc8r/tools/packer/focal-vm.json
  orc8r/tools/packer/magma-dev-aws.json
  orc8r/tools/packer/magma-dev-libvirt.json
  orc8r/tools/packer/magma-dev-virtualbox.json
  orc8r/tools/packer/magma-focal-virtualbox-patch-upgrade-ovs-1.1.20210618.json
  orc8r/tools/packer/magma-focal-virtualbox.json
  orc8r/tools/packer/magma-libvirt.seed
  orc8r/tools/packer/magma-test-aws.json
  orc8r/tools/packer/magma-test-libvirt.json
  orc8r/tools/packer/magma-test-virtualbox.json
  orc8r/tools/packer/magma-trfserver-aws.json
  orc8r/tools/packer/magma-trfserver-libvirt.json
  orc8r/tools/packer/magma.seed
  orc8r/tools/packer/scripts/ansible_debian.sh
  orc8r/tools/packer/scripts/provision-stretch.sh
  orc8r/tools/packer/scripts/setup.sh
  orc8r/tools/packer/scripts/upgrade-ovs-patch-1.1.20210618.sh
  orc8r/tools/packer/ubuntu-xenial-aws.json
Owners: @m-govind, @panyogesh, @magma/approvers-ci

chore: the init system check is less chatty (#14004)
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

docs: cut docs for 1.8.0 release (#14065)
  docs/docusaurus/i18n/en.json
  docs/docusaurus/versioned_docs/version-1.8.0/basics/prerequisites.md
  docs/docusaurus/versioned_docs/version-1.8.0/basics/quick_start_guide.md
  docs/docusaurus/versioned_docs/version-1.8.0/cwf/dev_testing.md
  docs/docusaurus/versioned_docs/version-1.8.0/feg/deploy_build.md
  docs/docusaurus/versioned_docs/version-1.8.0/feg/deploy_install.md
  docs/docusaurus/versioned_docs/version-1.8.0/feg/s1ap_federated_tests.md
  docs/docusaurus/versioned_docs/version-1.8.0/general/cloudstrapper_install.md
  docs/docusaurus/versioned_docs/version-1.8.0/howtos/inbound_roaming.md
  docs/docusaurus/versioned_docs/version-1.8.0/howtos/network_probe.md
  docs/docusaurus/versioned_docs/version-1.8.0/howtos/troubleshooting/datapath_connectivity.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/architecture_overview.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/build_install_magma_pkg_in_agw.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/deploy_install.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/deploy_install_docker.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/dev_notes.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/dev_unit_testing.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/extended_5G_sa_features.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/pipelined.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/s1ap_tests.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/suci_extensions.md
  docs/docusaurus/versioned_docs/version-1.8.0/nms/architecture_overview.md
  docs/docusaurus/versioned_docs/version-1.8.0/nms/dev_components.md
  docs/docusaurus/versioned_docs/version-1.8.0/nms/dev_spacing.md
  docs/docusaurus/versioned_docs/version-1.8.0/nms/dev_testing.md
  docs/docusaurus/versioned_docs/version-1.8.0/nms/organizations.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/deploy_install.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/deploy_intro.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/deploy_using_juju.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/dev_build.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/dev_gateway_registration.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/dev_minikube.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/dev_rest_api_auth.md
  docs/docusaurus/versioned_docs/version-1.8.0/proposals/p014_proposal_process.md
  docs/docusaurus/versioned_sidebars/version-1.8.0-sidebars.json
  docs/docusaurus/versions.json
Owners: @m-govind, @panyogesh

chore(nms): Improve generic commands functionality (#14014)
  nms/app/components/GatewayCommandFields.tsx
  orc8r/cloud/go/services/orchestrator/obsidian/handlers/gateway_command_handlers.go
  orc8r/gateway/python/magma/magmad/generic_command/command_executor.py
  orc8r/gateway/python/magma/magmad/generic_command/shell_command_executor.py
  orc8r/gateway/python/magma/magmad/rpc_servicer.py
Owners: @m-govind, @panyogesh

fix(agw): fix always true asserts in s1ap integ tests (#14091)
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/integ_tests/s1aptests/test_agw_offload_idle_active_ue.py
  lte/gateway/python/integ_tests/s1aptests/test_agw_offload_mixed_idle_active_multiue.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_multiple_rar_tcp_data.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_rar_tcp_data.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_rar_tcp_he.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_setsessionrules_tcp_data.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_with_ovs.py
Owners: @m-govind, @panyogesh

fix(agw): sctpd needs explicit restart for docker as it is restarted … (#14015)
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_with_corrupt_stateless_mme.py
Owners: @m-govind, @panyogesh

fix(agw): Allow containerized magmad to restart services (#13993)
  lte/gateway/docker/README.md
  lte/gateway/docker/docker-compose.yaml
  lte/gateway/docker/services/python/Dockerfile
  orc8r/gateway/python/magma/magmad/config_manager.py
  orc8r/gateway/python/magma/magmad/main.py
Owners: @m-govind, @panyogesh

chore: integ test workflows are reproducible (#14097)
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

Fixed cpp lint errors
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
Owners: @m-govind, @panyogesh

Renamed AccessPointName.c to cpp
  lte/gateway/c/core/oai/tasks/nas/ies/AccessPointName.cpp
Owners: @m-govind, @panyogesh

fix(agw): Modified code to port s1ap_state_t structure to protobuf structure (#14072)
  lte/gateway/c/core/oai/include/proto_map.hpp
  lte/gateway/c/core/oai/include/s1ap_state.hpp
  lte/gateway/c/core/oai/include/s1ap_types.hpp
  lte/gateway/c/core/oai/tasks/grpc_service/S1apServiceImpl.cpp
  lte/gateway/c/core/oai/tasks/ha/ha_service_handler.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_common.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.hpp
  lte/gateway/c/core/oai/test/s1ap_task/mock_s1ap_op.cpp
  lte/gateway/c/core/oai/test/s1ap_task/s1ap_mme_test_utils.cpp
  lte/gateway/c/core/oai/test/s1ap_task/s1ap_mme_test_utils.h
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_handle_new_association.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers_with_injected_state.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_state_converter.cpp
Owners: @m-govind, @panyogesh

fix(agw): Modified code at s1ap to remove dependency on common state manager class
  lte/gateway/c/core/oai/include/s1ap_state.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.hpp
  lte/gateway/c/core/oai/test/s1ap_task/mock_s1ap_op.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_state_converter.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_state_manager.cpp
Owners: @m-govind, @panyogesh

fix(agw): Updated Magma version to 1.8.0 for upgrade script
  lte/gateway/release/upgrade_magma.sh
Owners: @magma/approvers-ci

Fixed eview Comments
  lte/gateway/c/core/oai/tasks/s6a/s6a_messages.hpp
Owners: @m-govind, @panyogesh

feat(ci): wait for healthy pods workaround - except liagentd
  lte/gateway/docker/docker-compose.yaml
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

fix(agw): Updated Magma version to 1.8.0 for upgrade script (#14112)
  lte/gateway/release/upgrade_magma.sh
Owners: @magma/approvers-ci

Changed ifdef header check to pragma once
  lte/gateway/c/core/oai/include/messages_types.h
  lte/gateway/c/core/oai/include/mme_app_ue_context.h
  lte/gateway/c/core/oai/include/s6a_messages_types.hpp
  lte/gateway/c/core/oai/tasks/nas/nas_proc.hpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_c_iface.hpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_defs.hpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_fd_iface.hpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_grpc_iface.hpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_messages.hpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_viface.hpp
Owners: @m-govind, @panyogesh

feat(agw): AGW container restart check their health status (#14008)
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_ul_udp_data_with_multiple_service_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_secondary_pdn_with_dedicated_bearer_multiple_services_restart.py
Owners: @m-govind, @panyogesh

chore(agw): activate mypy code scanning for lte integ tests
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/integ_tests/s1aptests/s1ap_wrapper.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_non_nat_dp_ul_tcp.py
  lte/gateway/python/integ_tests/s1aptests/util/traffic_messages.py
  lte/gateway/python/magma/pipelined/pg_set_session_msg.py
Owners: @m-govind, @panyogesh

chore: magma debian package meta info is enhanced
  lte/gateway/release/BUILD.bazel
  lte/gateway/release/build-magma.sh
Owners: @magma/approvers-ci

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost
