Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @magma/approvers-ci, @magma/approvers-orc8r, @magma/approvers-nms, @magma/approvers-feg, @magma/approvers-cwf, @magma/approvers-openwrt, @magma/approvers-agw, @magma/approvers-agw-python, @magma/approvers-agw-c, @magma/approvers-agw-sessiond, @magma/approvers-agw-mme, @koolzz, @magma/approvers-agw-pipelined, @magma/approvers-agw-integtests, @magma/approvers-xwf, @magma/approvers-showtech, @magma/approvers-docs, @electronjoe, @amarpad, @hcgatewood, @ghost

CODEOWNERS:

# approvers-ci
.circleci/ @magma/approvers-ci
circleci/ @magma/approvers-ci
ci-scripts/ @magma/approvers-ci
.github/workflows/ @magma/approvers-ci
third_party/build/ @magma/approvers-ci
orc8r/tools/packer/ @magma/approvers-ci
orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
lte/gateway/docker @magma/approvers-ci
lte/gateway/release @magma/approvers-ci
lte/gateway/Vagrantfile @magma/approvers-ci
cwf/gateway/Vagrantfile @magma/approvers-ci

# approvers-orc8r
*/cloud/ @magma/approvers-orc8r
.golangci.yml @magma/approvers-orc8r
orc8r/ @magma/approvers-orc8r

# approvers-nms
nms/ @magma/approvers-nms

# approvers-feg
feg/ @magma/approvers-feg

# approvers-cwf
cwf/ @magma/approvers-cwf

# approvers-openwrt
openwrt/ @magma/approvers-openwrt

# approvers-agw / approvers-agw-python / approvers-agw-c
lte/gateway @magma/approvers-agw
lte/protos @magma/approvers-agw
lte/gateway/python @magma/approvers-agw-python
lte/gateway/c @magma/approvers-agw-c
orc8r/gateway/c/ @magma/approvers-agw-c

# approvers-agw-<subsection>
lte/gateway/c/session_manager @magma/approvers-agw-sessiond
lte/gateway/c/core/oai @magma/approvers-agw-mme
lte/gateway/c/sctpd @magma/approvers-agw-mme
lte/gateway/c/connection_tracker @koolzz @magma/approvers-agw-c
lte/gateway/python/magma/pipelined @magma/approvers-agw-pipelined
lte/gateway/python/integ_tests @magma/approvers-agw-integtests

# XWF Magma integrations
xwf/ @magma/approvers-xwf
feg/radius @magma/approvers-xwf @magma/approvers-cwf

# approvers-showtech
show-tech/ @magma/approvers-showtech

docs/ @magma/approvers-docs
docs/readmes/proposals @electronjoe

CODEOWNERS @amarpad @electronjoe @hcgatewood

# Paths excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
orc8r/cloud/go/obsidian/swagger/v1/swagger.yml @ghost
orc8r/cloud/go/obsidian/swagger/v1/client/ @ghost
orc8r/cloud/go/obsidian/swagger/v1/models/ @ghost

docs: Add Orc8r v1.6 upgrade docs (#7872)
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/readmes/orc8r/deploy_install.md
  docs/readmes/orc8r/deploy_intro.md
  docs/readmes/orc8r/upgrade_1_6.md
  docs/readmes/orc8r/upgrade_intro.md
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/examples/basic/main.tf
Owners: @magma/approvers-docs, @magma/approvers-orc8r

chore: add a link to GitHub to Slack ID mappings in PR message (#7883)
  .github/workflows/pr_bot.yml
Owners: @magma/approvers-ci

Bump master to 1.6 installation (#7887)
  lte/gateway/deploy/agw_install_ubuntu.sh
  lte/gateway/deploy/roles/magma_deploy/vars/all.yaml
  lte/gateway/release/upgrade_magma.sh
Owners: @magma/approvers-agw

test: Fix ami marketplace pipeline (#7889)
  .circleci/config.yml
  experimental/cloudstrapper/playbooks/ami-configure.yaml
  experimental/cloudstrapper/playbooks/roles/magma-agw/tasks/agw-setup.yaml
  experimental/cloudstrapper/playbooks/roles/magma-agw/tasks/magma-setup.yaml
Owners: @magma/approvers-ci

[feg] feg add commit info on docker image envars (#7836)
  .circleci/config.yml
  feg/gateway/docker/build.py
  feg/gateway/docker/go/Dockerfile
  feg/gateway/docker/python/Dockerfile
  feg/gateway/docker/tools/get_version_info.sh
  orc8r/gateway/python/scripts/show_gateway_info.py
Owners: @magma/approvers-ci, @magma/approvers-feg, @magma/approvers-orc8r

feat(agw): enable GTP-U echo response. (#7885)
  lte/gateway/c/core/oai/tasks/gtpv1-u/gtp_tunnel_openflow.c
Owners: @magma/approvers-agw-mme

Fix the certifier service to register the prometheus gauge (#7893)
  orc8r/cloud/configs/certifier.yml
  orc8r/cloud/go/services/certifier/analytics/analytics.go
  orc8r/cloud/go/services/certifier/analytics/calculations/lifespan.go
Owners: @magma/approvers-orc8r

[lte][agw] Fix itti message construction with correct apn size (#7901)
  lte/gateway/c/core/oai/lib/s6a_proxy/proto_msg_to_itti_msg.cpp
Owners: @magma/approvers-agw-mme

fix(mme) removed a few compilation warnings (#7833)
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_defs.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgs_reset.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_state_converter.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_config.c
  lte/gateway/c/core/oai/tasks/nas/emm/TrackingAreaUpdate.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_recv.c
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.c
Owners: @magma/approvers-agw-mme

feat(agw): ovs: Simplify GTP echo configuration. (#7888)
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0001-of-match-expand-NXM_NX_TUN_FLAGS-to-include-all-tunn.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0002-userspace-IPFIX-Add-tunnel-type-GTP.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0003-datapath-add-vport-gtp-for-GPRS-Tunneling-Protocol.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0004-ovs-Add-support-to-set-GTP-header-fields.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0005-OVS-gtp-echo-handling.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0006-ovs-test-add-gtp-marker-test.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0007-datapath-Fixes-for-4.9-kernel.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0008-ovs-datapath-enable-kernel-5.6.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0009-AGW-OVS-handle-gtp-tunnel-type.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0010-native-tnl-routing-tunnel-lookup-with-pkt-mark.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0011-fixes-for-2.14.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0012-Add-custom-IPDR-fields-for-IPFIX-export.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0013-ovs-Handle-spaces-in-ovs-arguments.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0014-Add-pdp_start_epoch-custom-field-to-IPFIX-export.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0015-GTP-Extension-header-support-in-ovs2.14.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0016-ODP-action-Fix-L3-port-to-L3-port-traffic.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0017-datapath-GTP-cleanup.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0018-GTP-handle-seq-number-in-HDR.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.14/0019-datapath-gtp-add-segmentation-offloads.patch
Owners: none

Removed Fatal for emergency attach and removed names from comments (#7903)
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer.c
  lte/gateway/c/core/oai/tasks/nas/emm/Attach.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_cn.c
Owners: @magma/approvers-agw-mme

ci(agw): Filter lte/gateway/c code coverage (#7715)
  .circleci/config.yml
  lte/gateway/Makefile
Owners: @magma/approvers-ci, @magma/approvers-agw

fix(ci): master sentry release version to be 1.7.0 (#7884)
  .circleci/config.yml
Owners: @magma/approvers-ci

refactor: remove snake case naming from test methods (#7911)
  lte/cloud/go/services/lte/servicers/builder_servicer_test.go
Owners: @magma/approvers-orc8r

fix(enodebd): Add workaround logic for stale msg name in dictionary (#7906)
  lte/gateway/python/magma/enodebd/data_models/transform_for_magma.py
  lte/gateway/python/magma/enodebd/tr069/spyne_mods.py
Owners: @magma/approvers-agw-python

Added tooltip showing more info about federated lte network ids and virtual federation network ids (#7641)
  nms/app/packages/magmalte/app/components/context/FEGNetworkContext.js
  nms/app/packages/magmalte/app/components/feg/FEGContext.js
  nms/app/packages/magmalte/app/components/feg/FEGSections.js
  nms/app/packages/magmalte/app/components/layout/__tests__/useSections-test.js
  nms/app/packages/magmalte/app/components/main/Index.js
  nms/app/packages/magmalte/app/state/feg/NetworkState.js
  nms/app/packages/magmalte/app/views/network/FEGNetworkDashboard.js
  nms/app/packages/magmalte/app/views/network/FEGNetworkInfo.js
  nms/app/packages/magmalte/app/views/network/__tests__/NetworkTest.js
Owners: @magma/approvers-nms, @magma/approvers-feg

feat(sessiond): Variable Poll Stats Interval (#7894)
  cwf/gateway/configs/sessiond.yml
  cwf/gateway/integ_tests/sessiond.yml
  lte/gateway/c/session_manager/sessiond_main.cpp
  lte/gateway/configs/sessiond.yml
  lte/gateway/configs/sessiond.yml_prod
Owners: @magma/approvers-cwf, @magma/approvers-agw-sessiond, @magma/approvers-agw

Adding 1.6 AGW upgrade docs (#7878)
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/readmes/lte/deploy_install.md
  docs/readmes/lte/deploy_install_ubuntu.md
  docs/readmes/lte/upgrade_1_6.md
Owners: @magma/approvers-docs

[docs] Minor updates in 1.6 docs (#7925)
  docs/readmes/basics/prerequisites.md
  docs/readmes/orc8r/deploy_build.md
Owners: @magma/approvers-docs

Adding s1sim TC to test GUTI attach with mtmsi value 0 (#7918)
  lte/gateway/python/integ_tests/s1aptests/test_guti_attach_with_zero_mtmsi.py
Owners: @magma/approvers-agw-integtests

[lte][agw] Add service area restriction documentation (#7927)
  docs/readmes/lte/access_service_restrictions.md
Owners: @magma/approvers-docs

docs: Tidy up docs before v1.6 cut (#7928)
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/readmes/basics/prerequisites.md
  docs/readmes/feg/debug_cli.md
  docs/readmes/feg/deploy_configure.md
  docs/readmes/lte/configure_sentry.md
  docs/readmes/lte/ha_setup.md
  docs/readmes/nms/deploy_setup.md
  docs/readmes/nms/metrics.md
  docs/readmes/orc8r/configure_thanos.md
  docs/readmes/orc8r/deploy_install.md
  docs/readmes/orc8r/deploy_intro.md
  docs/readmes/orc8r/deploy_orcl.md
  docs/readmes/orc8r/deploy_terraform_options.md
  docs/readmes/orc8r/dev_build.md
  docs/readmes/orc8r/dev_minikube.md
  docs/readmes/orc8r/hold_terraform_state_on_s3.md
  docs/readmes/orc8r/override_values_of_terraform_files.md
Owners: @magma/approvers-docs

Pull Stats Model Config (#7920)
  cwf/gateway/configs/sessiond.yml
  cwf/gateway/integ_tests/sessiond.yml
  lte/gateway/c/session_manager/sessiond_main.cpp
  lte/gateway/configs/sessiond.yml
  lte/gateway/configs/sessiond.yml_prod
Owners: @magma/approvers-cwf, @magma/approvers-agw-sessiond, @magma/approvers-agw

Support UPF Paging request#7220 (#7356)
  lte/cloud/go/protos/session_manager.pb.go
  lte/gateway/c/session_manager/CMakeLists.txt
  lte/gateway/c/session_manager/MobilitydClient.cpp
  lte/gateway/c/session_manager/MobilitydClient.h
  lte/gateway/c/session_manager/SessionManagerServer.cpp
  lte/gateway/c/session_manager/SessionManagerServer.h
  lte/gateway/c/session_manager/UpfMsgManageHandler.cpp
  lte/gateway/c/session_manager/UpfMsgManageHandler.h
  lte/gateway/c/session_manager/sessiond_main.cpp
  lte/gateway/python/magma/pipelined/app/classifier.py
  lte/protos/session_manager.proto
Owners: @ghost, @magma/approvers-agw-sessiond, @magma/approvers-agw-pipelined, @magma/approvers-agw

refactor(sessiond): move events and update report callback into LocalEnforcer from LocalSessionManagerHandler (#7815)
  lte/gateway/c/session_manager/LocalEnforcer.cpp
  lte/gateway/c/session_manager/LocalEnforcer.h
  lte/gateway/c/session_manager/LocalSessionManagerHandler.cpp
  lte/gateway/c/session_manager/LocalSessionManagerHandler.h
Owners: @magma/approvers-agw-sessiond

Create subscriberdb_cache logic to register per subscriber digests (#7810)
  lte/cloud/go/protos/subscriberdb.pb.go
  lte/cloud/go/services/subscriberdb/const.go
  lte/cloud/go/services/subscriberdb/digest.go
  lte/cloud/go/services/subscriberdb/digest_test.go
  lte/cloud/go/services/subscriberdb/protos/subscriberdb.pb.go
  lte/cloud/go/services/subscriberdb/protos/subscriberdb.proto
  lte/cloud/go/services/subscriberdb/servicers/subscriberdb_servicer.go
  lte/cloud/go/services/subscriberdb/servicers/subscriberdb_servicer_test.go
  lte/cloud/go/services/subscriberdb/storage/digest.go
  lte/cloud/go/services/subscriberdb/storage/digest_test.go
  lte/cloud/go/services/subscriberdb/storage/per_sub_digest.go
  lte/cloud/go/services/subscriberdb/storage/per_sub_digest_test.go
  lte/cloud/go/services/subscriberdb/subscriberdb/main.go
  lte/cloud/go/services/subscriberdb/test_init/test_service_init.go
  lte/cloud/go/services/subscriberdb_cache/subscriberdb_cache/main.go
  lte/cloud/go/services/subscriberdb_cache/test_init/test_service_init.go
  lte/cloud/go/services/subscriberdb_cache/worker.go
  lte/cloud/go/services/subscriberdb_cache/worker_test.go
  lte/protos/subscriberdb.proto
Owners: @ghost, @magma/approvers-orc8r, @magma/approvers-agw

Servicing Access Gateway Table which is tested (#7642)
  nms/app/packages/magmalte/app/components/GatewayUtils.js
  nms/app/packages/magmalte/app/views/network/FEGNetworkDashboard.js
  nms/app/packages/magmalte/app/views/network/FEGServicingAccessGatewayTable.js
  nms/app/packages/magmalte/app/views/network/__tests__/FEGServicingAccessGatewayTableTest.js
Owners: @magma/approvers-nms

Adding Ubuntu AGW migration guide (#7929)
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/readmes/lte/upgrade_debian_to_ubuntu.md
Owners: @magma/approvers-docs

fix(pipelined): Enforcement Rule Removal Sessiond<->Pipelined (#7921)
  lte/gateway/python/magma/pipelined/app/enforcement_stats.py
Owners: @magma/approvers-agw-pipelined

[orc8r] add swagger per service health status (#7915)
  cwf/gateway/go.mod
  cwf/gateway/go.sum
  cwf/k8s/cwf_operator/go.sum
  feg/cloud/go/services/feg/obsidian/handlers/handlers.go
  feg/cloud/go/services/feg/obsidian/handlers/handlers_test.go
  feg/cloud/go/services/feg/obsidian/models/conversion.go
  feg/cloud/go/services/feg/obsidian/models/federation_gateway_health_status_swaggergen.go
  feg/cloud/go/services/feg/obsidian/models/service_status_health_swaggergen.go
  feg/cloud/go/services/feg/obsidian/models/swagger.v1.yml
  feg/gateway/go.mod
  feg/gateway/go.sum
  orc8r/cloud/go/obsidian/swagger/v1/models/federation_gateway_health_status.go
  orc8r/cloud/go/obsidian/swagger/v1/models/service_status_health.go
  orc8r/cloud/go/obsidian/swagger/v1/swagger.yml
  orc8r/cloud/test/go.mod
  orc8r/cloud/test/go.sum
Owners: @ghost, @magma/approvers-feg

Created Equipment page and added gateway check in chart to it (#7700)
  nms/app/packages/magmalte/app/components/feg/FEGSections.js
  nms/app/packages/magmalte/app/components/layout/__tests__/useSections-test.js
  nms/app/packages/magmalte/app/views/equipment/FEGEquipmentDashboard.js
  nms/app/packages/magmalte/app/views/equipment/FEGEquipmentGateway.js
Owners: @magma/approvers-feg, @magma/approvers-nms

docs: P010 vendor neutral DP proposal update (#6246)
  docs/readmes/proposals/media/p010_vendor_neutral_dp_image1.png
  docs/readmes/proposals/media/p010_vendor_neutral_dp_image2.png
  docs/readmes/proposals/media/p010_vendor_neutral_dp_image3.png
  docs/readmes/proposals/media/p010_vendor_neutral_dp_image4.png
  docs/readmes/proposals/p010_vendor_neutral_dp.md
Owners: @electronjoe

[mme] refactor: Change many func signatures to void, Fatal on unimpl (#7868)
  lte/gateway/c/core/oai/include/service303.h
  lte/gateway/c/core/oai/lib/3gpp/3gpp_24.008_common_ies.c
  lte/gateway/c/core/oai/lib/3gpp/3gpp_24.008_sm_ies.c
  lte/gateway/c/core/oai/lib/mobility_client/MobilityClientAPI.cpp
  lte/gateway/c/core/oai/lib/mobility_client/MobilityClientAPI.h
  lte/gateway/c/core/oai/lib/mobility_client/MobilityServiceClient.cpp
  lte/gateway/c/core/oai/lib/mobility_client/MobilityServiceClient.h
  lte/gateway/c/core/oai/tasks/gtpv1-u/gtp_tunnel_upf.c
  lte/gateway/c/core/oai/tasks/gtpv1-u/gtp_tunnel_upf.h
  lte/gateway/c/core/oai/tasks/nas/ies/AdditionalUpdateType.c
  lte/gateway/c/core/oai/tasks/nas/ies/EpsBearerIdentity.c
  lte/gateway/c/core/oai/tasks/nas/ies/EpsBearerIdentity.h
  lte/gateway/c/core/oai/tasks/nas/ies/MessageType.c
  lte/gateway/c/core/oai/tasks/nas/ies/MobileStationClassmark3.c
  lte/gateway/c/core/oai/tasks/nas/ies/ProcedureTransactionIdentity.c
  lte/gateway/c/core/oai/tasks/nas/ies/ProtocolDiscriminator.c
  lte/gateway/c/core/oai/tasks/nas/ies/SecurityHeaderType.c
  lte/gateway/c/core/oai/tasks/nas/ies/TrafficFlowAggregateDescription.c
  lte/gateway/c/core/oai/tasks/nas/ies/TransactionIdentifier.c
  lte/gateway/c/core/oai/tasks/nas/ies/TransactionIdentifier.h
  lte/gateway/c/core/oai/tasks/sgw/mobilityd_ue_ip_address_alloc.c
  lte/gateway/c/core/oai/tasks/sgw/pgw_ue_ip_address_alloc.h
  lte/gateway/c/core/oai/tasks/sgw/sgw_handlers.c
  lte/gateway/c/core/oai/tasks/udp/udp_primitives_server.c
  lte/gateway/c/session_manager/SentryWrappers.cpp
Owners: @magma/approvers-agw-mme, @magma/approvers-agw-sessiond

docs(ci): Document semantic commit requirement (#7949)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/semantic.yml
  docs/readmes/contributing/contribute_commit_msg.md
  docs/readmes/contributing/contribute_workflow.md
Owners: @magma/approvers-docs

Revert "[mme] refactor: Change many func signatures to void, Fatal on unimpl" (#7948)
  lte/gateway/c/core/oai/include/service303.h
  lte/gateway/c/core/oai/lib/3gpp/3gpp_24.008_common_ies.c
  lte/gateway/c/core/oai/lib/3gpp/3gpp_24.008_sm_ies.c
  lte/gateway/c/core/oai/lib/mobility_client/MobilityClientAPI.cpp
  lte/gateway/c/core/oai/lib/mobility_client/MobilityClientAPI.h
  lte/gateway/c/core/oai/lib/mobility_client/MobilityServiceClient.cpp
  lte/gateway/c/core/oai/lib/mobility_client/MobilityServiceClient.h
  lte/gateway/c/core/oai/tasks/gtpv1-u/gtp_tunnel_upf.c
  lte/gateway/c/core/oai/tasks/gtpv1-u/gtp_tunnel_upf.h
  lte/gateway/c/core/oai/tasks/nas/ies/AdditionalUpdateType.c
  lte/gateway/c/core/oai/tasks/nas/ies/EpsBearerIdentity.c
  lte/gateway/c/core/oai/tasks/nas/ies/EpsBearerIdentity.h
  lte/gateway/c/core/oai/tasks/nas/ies/MessageType.c
  lte/gateway/c/core/oai/tasks/nas/ies/MobileStationClassmark3.c
  lte/gateway/c/core/oai/tasks/nas/ies/ProcedureTransactionIdentity.c
  lte/gateway/c/core/oai/tasks/nas/ies/SecurityHeaderType.c
  lte/gateway/c/core/oai/tasks/nas/ies/TrafficFlowAggregateDescription.c
  lte/gateway/c/core/oai/tasks/nas/ies/TransactionIdentifier.c
  lte/gateway/c/core/oai/tasks/nas/ies/TransactionIdentifier.h
  lte/gateway/c/core/oai/tasks/sgw/mobilityd_ue_ip_address_alloc.c
  lte/gateway/c/core/oai/tasks/sgw/pgw_ue_ip_address_alloc.h
  lte/gateway/c/core/oai/tasks/sgw/sgw_handlers.c
  lte/gateway/c/core/oai/tasks/udp/udp_primitives_server.c
  lte/gateway/c/session_manager/SentryWrappers.cpp
Owners: @magma/approvers-agw-mme, @magma/approvers-agw-sessiond

fix(ci): point mme_test job determinator to check c/core not c/oai (#7950)
  .circleci/config.yml
Owners: @magma/approvers-ci

refactor(sessiond): refactor local create session request handling logic (#7895)
  lte/gateway/c/session_manager/LocalEnforcer.cpp
  lte/gateway/c/session_manager/LocalEnforcer.h
  lte/gateway/c/session_manager/LocalSessionManagerHandler.cpp
  lte/gateway/c/session_manager/LocalSessionManagerHandler.h
  lte/gateway/c/session_manager/SentryWrappers.cpp
  lte/gateway/c/session_manager/SessionState.cpp
  lte/gateway/c/session_manager/SessionState.h
  lte/gateway/c/session_manager/SetMessageManagerHandler.cpp
  lte/gateway/c/session_manager/sessiond_main.cpp
  lte/gateway/c/session_manager/test/SessionStateTester.h
  lte/gateway/c/session_manager/test/test_set_session_manager_handler.cpp
Owners: @magma/approvers-agw-sessiond

Create SyncSubscribers logic for subscriberdb servicer (#7886)
  lte/cloud/configs/subscriberdb.yml
  lte/cloud/go/protos/subscriberdb.pb.go
  lte/cloud/go/services/subscriberdb/config.go
  lte/cloud/go/services/subscriberdb/digest.go
  lte/cloud/go/services/subscriberdb/digest_test.go
  lte/cloud/go/services/subscriberdb/load.go
  lte/cloud/go/services/subscriberdb/servicers/subscriberdb_servicer.go
  lte/cloud/go/services/subscriberdb/servicers/subscriberdb_servicer_test.go
  lte/cloud/go/services/subscriberdb/subscriberdb/main.go
  lte/cloud/go/services/subscriberdb/test_init/test_service_init.go
  lte/cloud/go/services/subscriberdb_cache/worker.go
  lte/gateway/python/magma/subscriberdb/client.py
  lte/gateway/python/magma/subscriberdb/tests/client_tests.py
  lte/protos/subscriberdb.proto
Owners: @magma/approvers-orc8r, @ghost, @magma/approvers-agw-python, @magma/approvers-agw

fix(mme): Stop timer in right service303 thread (#7952)
  lte/gateway/c/core/oai/tasks/service303/service303_task.c
Owners: @magma/approvers-agw-mme

fix(mme): Fix for handling unknown GUTI attach (#7916)
  lte/gateway/c/core/oai/tasks/nas/emm/Attach.c
  lte/gateway/c/core/oai/tasks/nas/emm/EmmCommon.c
  lte/gateway/c/core/oai/tasks/nas/emm/EmmCommon.h
  lte/gateway/c/core/oai/tasks/nas/emm/Identification.c
  lte/gateway/c/core/oai/tasks/nas/emm/emm_data.h
  lte/gateway/c/core/oai/tasks/nas/emm/emm_data_ctx.c
Owners: @magma/approvers-agw-mme
