Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost

fix(agw): Do not check for health of "shared_mconfig" (#14082)
  orc8r/gateway/python/magma/common/health/health_service.py
Owners: @m-govind, @panyogesh

feat(agw): docker restarts handle interdependencies manually
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_ul_udp_data_with_multiple_service_restart.py
  lte/gateway/python/integ_tests/s1aptests/test_secondary_pdn_with_dedicated_bearer_multiple_services_restart.py
Owners: @m-govind, @panyogesh

feat(agw): disable_service() works correctly with both init systems
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

feat(agw): wait for pipelined is adapted for containerized AGW
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

feat(agw): get_service_name_from_init_system() is added
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

feat(agw): enable_service() works correctly with both init systems
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

feat(agw): dockerized AGW waits for all services to become healthy after `restart_all_services()`
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

feat(agw): is_service_active() works correctly with both init systems
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

feat(agw): only wait once for restart
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

feat(agw): wait for restart fct waits for healthy docker containers
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

feat(agw): check if all AGW containers are healthy is added
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

Revert "fix(ci): hotfix for broken init system detection"
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

chore: Bump node-fetch (#13857)
  nms/package.json
  nms/yarn.lock
Owners: @m-govind, @panyogesh

Update nms/app/components/insights/GatewayMetrics.tsx
  nms/app/components/insights/GatewayMetrics.tsx
Owners: @m-govind, @panyogesh

docs: cut docs for 1.8.0 release
  docs/docusaurus/i18n/en.json
  docs/docusaurus/versioned_docs/version-1.8.0/basics/prerequisites.md
  docs/docusaurus/versioned_docs/version-1.8.0/basics/quick_start_guide.md
  docs/docusaurus/versioned_docs/version-1.8.0/cwf/dev_testing.md
  docs/docusaurus/versioned_docs/version-1.8.0/feg/deploy_build.md
  docs/docusaurus/versioned_docs/version-1.8.0/feg/deploy_install.md
  docs/docusaurus/versioned_docs/version-1.8.0/feg/s1ap_federated_tests.md
  docs/docusaurus/versioned_docs/version-1.8.0/general/cloudstrapper_install.md
  docs/docusaurus/versioned_docs/version-1.8.0/howtos/inbound_roaming.md
  docs/docusaurus/versioned_docs/version-1.8.0/howtos/network_probe.md
  docs/docusaurus/versioned_docs/version-1.8.0/howtos/troubleshooting/datapath_connectivity.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/architecture_overview.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/build_install_magma_pkg_in_agw.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/deploy_install.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/deploy_install_docker.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/dev_notes.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/dev_unit_testing.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/extended_5G_sa_features.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/pipelined.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/s1ap_tests.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/suci_extensions.md
  docs/docusaurus/versioned_docs/version-1.8.0/nms/architecture_overview.md
  docs/docusaurus/versioned_docs/version-1.8.0/nms/dev_components.md
  docs/docusaurus/versioned_docs/version-1.8.0/nms/dev_spacing.md
  docs/docusaurus/versioned_docs/version-1.8.0/nms/dev_testing.md
  docs/docusaurus/versioned_docs/version-1.8.0/nms/organizations.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/deploy_install.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/deploy_intro.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/deploy_using_juju.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/dev_build.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/dev_gateway_registration.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/dev_minikube.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/dev_rest_api_auth.md
  docs/docusaurus/versioned_docs/version-1.8.0/proposals/p014_proposal_process.md
  docs/docusaurus/versioned_sidebars/version-1.8.0-sidebars.json
  docs/docusaurus/versions.json
Owners: @m-govind, @panyogesh

fix(nms): statistics not showing for non super users (#14079)
  nms/app/components/insights/GatewayMetrics.tsx
Owners: @m-govind, @panyogesh

chore(agw): reduce python container build context (#14085)
  lte/gateway/docker/services/python/Dockerfile
Owners: @m-govind, @panyogesh

fix(agw): Modified code to port s1ap_imsi_map to protobuf structure
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_itti_messaging.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state.cpp
Owners: @m-govind, @panyogesh

fix(agw): fix always true asserts in s1ap integ tests
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/integ_tests/s1aptests/test_agw_offload_idle_active_ue.py
  lte/gateway/python/integ_tests/s1aptests/test_agw_offload_mixed_idle_active_multiue.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_multiple_rar_tcp_data.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_rar_tcp_data.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_rar_tcp_he.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_setsessionrules_tcp_data.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_with_ovs.py
Owners: @m-govind, @panyogesh

chore(ci): add workflow that runs s1ap integ tests against dockerized agw running on magma_dev VM
  .github/workflows/lte-integ-test-containerized.yml
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

fix: vagrant box cache location is pointing to correct folder
  .github/workflows/lte-integ-test-magma-deb.yml
Owners: @magma/approvers-ci

docs: Fix double stop of magmad in Quick Start Guide (#14001)
  docs/readmes/basics/quick_start_guide.md
Owners: @m-govind, @panyogesh

[skip ci] Deploy website
  docs/next/basics/quick_start_guide.html
  docs/next/basics/quick_start_guide/index.html
Owners: @m-govind, @panyogesh

docs: cut docs for 1.8.0 release (#14065)
  docs/docusaurus/i18n/en.json
  docs/docusaurus/versioned_docs/version-1.8.0/basics/prerequisites.md
  docs/docusaurus/versioned_docs/version-1.8.0/basics/quick_start_guide.md
  docs/docusaurus/versioned_docs/version-1.8.0/cwf/dev_testing.md
  docs/docusaurus/versioned_docs/version-1.8.0/feg/deploy_build.md
  docs/docusaurus/versioned_docs/version-1.8.0/feg/deploy_install.md
  docs/docusaurus/versioned_docs/version-1.8.0/feg/s1ap_federated_tests.md
  docs/docusaurus/versioned_docs/version-1.8.0/general/cloudstrapper_install.md
  docs/docusaurus/versioned_docs/version-1.8.0/howtos/inbound_roaming.md
  docs/docusaurus/versioned_docs/version-1.8.0/howtos/network_probe.md
  docs/docusaurus/versioned_docs/version-1.8.0/howtos/troubleshooting/datapath_connectivity.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/architecture_overview.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/build_install_magma_pkg_in_agw.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/deploy_install.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/deploy_install_docker.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/dev_notes.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/dev_unit_testing.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/extended_5G_sa_features.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/pipelined.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/s1ap_tests.md
  docs/docusaurus/versioned_docs/version-1.8.0/lte/suci_extensions.md
  docs/docusaurus/versioned_docs/version-1.8.0/nms/architecture_overview.md
  docs/docusaurus/versioned_docs/version-1.8.0/nms/dev_components.md
  docs/docusaurus/versioned_docs/version-1.8.0/nms/dev_spacing.md
  docs/docusaurus/versioned_docs/version-1.8.0/nms/dev_testing.md
  docs/docusaurus/versioned_docs/version-1.8.0/nms/organizations.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/deploy_install.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/deploy_intro.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/deploy_using_juju.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/dev_build.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/dev_gateway_registration.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/dev_minikube.md
  docs/docusaurus/versioned_docs/version-1.8.0/orc8r/dev_rest_api_auth.md
  docs/docusaurus/versioned_docs/version-1.8.0/proposals/p014_proposal_process.md
  docs/docusaurus/versioned_sidebars/version-1.8.0-sidebars.json
  docs/docusaurus/versions.json
Owners: @m-govind, @panyogesh

docs: Fix typo in FeG build section
  docs/readmes/feg/deploy_build.md
Owners: @m-govind, @panyogesh

chore: logging from magma_deb can be fetched
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore: vagrant up magma_deb supports installing a local magma debian package
  lte/gateway/Vagrantfile
  lte/gateway/deploy/roles/magma_deploy/tasks/main.yml
Owners: @magma/approvers-ci, @m-govind, @panyogesh

chore: a workflow that runs integ tests vs a bazel magma debian package build is added
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
Owners: @magma/approvers-ci

chore: magma deb is also build regularly in main bazel workflow * this is not relevant for the general change, but a related improvement Signed-off-by: Nils Semmelrock <nils.semmelrock@tngtech.com>
  .github/workflows/bazel.yml
Owners: @magma/approvers-ci

chore(ci): correct spelling of set up
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(ci): shorten and clarify docstring
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(ci): improve whitespace consistency
  .github/workflows/lte-integ-test-containerized.yml
Owners: @magma/approvers-ci

docs: Fix typo in FeG build section (#14088)
  docs/readmes/feg/deploy_build.md
Owners: @m-govind, @panyogesh

[skip ci] Deploy website
  docs/next/feg/deploy_build.html
  docs/next/feg/deploy_build/index.html
Owners: @m-govind, @panyogesh

chore: integ test workflows are reproducible
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(ci): remove debug output
  .github/workflows/lte-integ-test-containerized.yml
Owners: @magma/approvers-ci

fix(amf): Fixing session ambr value when policy attached
  lte/gateway/c/core/oai/tasks/grpc_service/AmfServiceImpl.cpp
Owners: @m-govind, @panyogesh

chore(ci): s1ap integ tests against dockerized agw (#13884)
  .github/workflows/lte-integ-test-containerized.yml
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

fix(amf): Fixing session ambr value when policy attached (#14098)
  lte/gateway/c/core/oai/tasks/grpc_service/AmfServiceImpl.cpp
Owners: @m-govind, @panyogesh

fix(orc8r): Added safe checks for reindexing failures
  orc8r/cloud/go/services/state/indexer/reindex/reindexer.go
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_singleton.go
  orc8r/cloud/go/services/state/indexer/reindex/reindexer_singleton_test.go
Owners: @m-govind, @panyogesh
