Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost

chore(agw): fix oai build
  lte/gateway/docker/mme/Dockerfile.ubuntu18.04
Owners: @m-govind, @panyogesh

chore(agw): Add systemd notification to mme so an mme restart blocks until the mme is ready to go
  bazel/external/system_libraries.BUILD
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/oai_mme/CMakeLists.txt
  lte/gateway/c/core/oai/oai_mme/oai_mme.c
  lte/gateway/deploy/roles/magma/files/systemd/magma_mme.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@mme.service
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/integ_tests/s1aptests/test_3485_timer_for_default_bearer_with_mme_restart.py
  lte/gateway/release/deb_dependencies.bzl
Owners: @m-govind, @panyogesh, @magma/approvers-ci

chore(agw): fix linter
  bazel/external/system_libraries.BUILD
  lte/gateway/release/deb_dependencies.bzl
Owners: @m-govind, @panyogesh, @magma/approvers-ci

chore(agw): Update lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

chore(agw): Add missing dependencies to oai jenkins
  lte/gateway/docker/mme/Dockerfile.rhel8
Owners: @m-govind, @panyogesh

feat(ci): publish python sudo test results to firebase (#14223)
  .github/workflows/sudo-python-tests.yml
  ci-scripts/firebase_publish_report.py
Owners: @magma/approvers-ci

docs: Tidy up containerized AGW instructions (#14240)
  lte/gateway/docker/README.md
Owners: @m-govind, @panyogesh

feat(nms): Show NGC AMF config for gateways (#14243)
  nms/app/views/equipment/GatewayDetailConfig.tsx
  nms/app/views/equipment/__tests__/GatewayConfigTest.tsx
Owners: @m-govind, @panyogesh

fix(agw): copy ryu patch files to agw python container
  lte/gateway/docker/services/python/Dockerfile
Owners: @m-govind, @panyogesh

chore(ci): Update FEG integ test job dependency on docker build jobs (#14239)
  .github/workflows/federated-integ-test.yml
Owners: @magma/approvers-ci

fix(ci): test interdependency in test_attach_detach_multiple_rar_tcp_data
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_multiple_rar_tcp_data.py
Owners: @m-govind, @panyogesh

docs: Fixes symbolic link
  lte/gateway/python/integ_tests/federated_tests/README.md
Owners: @m-govind, @panyogesh

chore(ci): bump `actions/cache` version to remove deprecation warning
  .github/workflows/build_all.yml
  .github/workflows/cwf-integ-test.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test-containerized.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/sudo-python-tests.yml
Owners: @magma/approvers-ci

chore(agw): Add systemd notification to mme so we can detect when the mme has restarted (#14177)
  bazel/external/system_libraries.BUILD
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/oai_mme/CMakeLists.txt
  lte/gateway/c/core/oai/oai_mme/oai_mme.c
  lte/gateway/deploy/roles/magma/files/systemd/magma_mme.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@mme.service
  lte/gateway/docker/mme/Dockerfile.rhel8
  lte/gateway/docker/mme/Dockerfile.ubuntu18.04
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/integ_tests/s1aptests/test_3485_timer_for_default_bearer_with_mme_restart.py
  lte/gateway/release/deb_dependencies.bzl
Owners: @m-govind, @panyogesh, @magma/approvers-ci

fix(agw): copy ryu patch files to agw python container (#14251)
  lte/gateway/docker/services/python/Dockerfile
Owners: @m-govind, @panyogesh

chore(ci): bump `actions/setup-go` version to remove deprecation warning
  .github/workflows/cloud-workflow.yml
  .github/workflows/cwag-workflow.yml
  .github/workflows/cwf-operator.yml
  .github/workflows/feg-workflow.yml
  .github/workflows/golang-build-test.yml
Owners: @magma/approvers-ci

fix(ci): test interdependency in test_attach_detach_multiple_rar_tcp_data (#14242)
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_multiple_rar_tcp_data.py
Owners: @m-govind, @panyogesh

chore(ci): bump `docker/login-action` version to remove deprecation warning
  .github/workflows/composite/docker-builder/action.yml
  .github/workflows/docker-promote.yml
Owners: @magma/approvers-ci

chore(ci): bump `EnricoMi/publish-unit-test-result-action/composite` version to remove deprecation warning
  .github/workflows/bazel.yml
  .github/workflows/cwf-integ-test.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/sudo-python-tests.yml
Owners: @magma/approvers-ci

chore(ci): bump `actions/setup-go` version to remove deprecation warning (#14252)
  .github/workflows/cloud-workflow.yml
  .github/workflows/cwag-workflow.yml
  .github/workflows/cwf-operator.yml
  .github/workflows/feg-workflow.yml
  .github/workflows/golang-build-test.yml
Owners: @magma/approvers-ci

chore(ci): bump `actions/cache` version to remove deprecation warning (#14254)
  .github/workflows/build_all.yml
  .github/workflows/cwf-integ-test.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test-containerized.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/sudo-python-tests.yml
Owners: @magma/approvers-ci

chore(ci): bump `docker/login-action` version to remove deprecation warning (#14256)
  .github/workflows/composite/docker-builder/action.yml
  .github/workflows/docker-promote.yml
Owners: @magma/approvers-ci

chore(ci): bump `EnricoMi/publish-unit-test-result-action/composite` version to remove deprecation warning (#14255)
  .github/workflows/bazel.yml
  .github/workflows/cwf-integ-test.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/sudo-python-tests.yml
Owners: @magma/approvers-ci

chore(ci): bump `actions/checkout` version to remove deprecation warning
  .github/workflows/agw-docker-load-test.yml
  .github/workflows/agw-workflow.yml
  .github/workflows/amis-workflow.yml
  .github/workflows/bazel.yml
  .github/workflows/build_all.yml
  .github/workflows/build_magma_dep.yml
  .github/workflows/check-rebase.yml
  .github/workflows/cloud-workflow.yml
  .github/workflows/codeowners-syntax.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/composite/docker-builder/action.yml
  .github/workflows/composite/dp-integ-tests/action.yml
  .github/workflows/cwag-workflow.yml
  .github/workflows/cwf-integ-test.yml
  .github/workflows/cwf-operator.yml
  .github/workflows/deploy-build-from-pr.yml
  .github/workflows/docker-builder-devcontainer.yml
  .github/workflows/docker-builder-python-precommit.yml
  .github/workflows/docs-workflow.yml
  .github/workflows/docusaurus-workflow.yml
  .github/workflows/dp-workflow.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/feg-workflow.yml
  .github/workflows/fossa-workflow.yml
  .github/workflows/gcc-problems.yml
  .github/workflows/golang-build-test.yml
  .github/workflows/helm-chart-dependency-check.yml
  .github/workflows/helm-deploy-on-demand.yml
  .github/workflows/insync-checkin.yml
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test-containerized.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/nms-workflow.yml
  .github/workflows/python-workflow.yml
  .github/workflows/reviewdog-workflow.yml
  .github/workflows/sudo-python-tests.yml
Owners: @magma/approvers-ci

docs: Fixes symbolic link (#14250)
  lte/gateway/python/integ_tests/federated_tests/README.md
Owners: @m-govind, @panyogesh

chore(ci): bump `actions/checkout` version to remove deprecation warning (#14253)
  .github/workflows/agw-docker-load-test.yml
  .github/workflows/agw-workflow.yml
  .github/workflows/amis-workflow.yml
  .github/workflows/bazel.yml
  .github/workflows/build_all.yml
  .github/workflows/build_magma_dep.yml
  .github/workflows/check-rebase.yml
  .github/workflows/cloud-workflow.yml
  .github/workflows/codeowners-syntax.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/composite/docker-builder/action.yml
  .github/workflows/composite/dp-integ-tests/action.yml
  .github/workflows/cwag-workflow.yml
  .github/workflows/cwf-integ-test.yml
  .github/workflows/cwf-operator.yml
  .github/workflows/deploy-build-from-pr.yml
  .github/workflows/docker-builder-devcontainer.yml
  .github/workflows/docker-builder-python-precommit.yml
  .github/workflows/docs-workflow.yml
  .github/workflows/docusaurus-workflow.yml
  .github/workflows/dp-workflow.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/feg-workflow.yml
  .github/workflows/fossa-workflow.yml
  .github/workflows/gcc-problems.yml
  .github/workflows/golang-build-test.yml
  .github/workflows/helm-chart-dependency-check.yml
  .github/workflows/helm-deploy-on-demand.yml
  .github/workflows/insync-checkin.yml
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test-containerized.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/nms-workflow.yml
  .github/workflows/python-workflow.yml
  .github/workflows/reviewdog-workflow.yml
  .github/workflows/sudo-python-tests.yml
Owners: @magma/approvers-ci

fix(ci): first version of double push
  .github/workflows/build_all.yml
Owners: @magma/approvers-ci

feat(nms): New edit dialog for NGC AMF config
  nms/app/views/equipment/GatewayDetailConfig.tsx
  nms/app/views/equipment/GatewayDetailConfigEdit.tsx
  nms/app/views/equipment/__tests__/GatewayConfigTest.tsx
Owners: @m-govind, @panyogesh

chore(ci): bump `peter-evans/find_comment` version to remove deprecation warning
  .github/workflows/semantic-pr.yml
Owners: @magma/approvers-ci

chore(ci): bump `reviewdog/action-golangci-lint` version to remove deprecation warning
  .github/workflows/reviewdog-workflow.yml
Owners: @magma/approvers-ci

chore(ci): bump `tspascoal/get-user-teams-membership` version to remove deprecation warning
  .github/workflows/docker-promote.yml
  .github/workflows/helm-promote.yml
Owners: @magma/approvers-ci

chore(ci): bump `nick-invision/retry` version to remove deprecation warning
  .github/workflows/cwag-workflow.yml
  .github/workflows/cwf-operator.yml
  .github/workflows/feg-workflow.yml
Owners: @magma/approvers-ci

fix(ci): remove non functional amis workflow
  .github/workflows/amis-workflow.yml
Owners: @magma/approvers-ci

fix(ci): remove the never green amis workflow (#14247)
  .github/workflows/amis-workflow.yml
Owners: @magma/approvers-ci

chore(ci): bump `reviewdog/action-golangci-lint` version to remove deprecation warning (#14260)
  .github/workflows/reviewdog-workflow.yml
Owners: @magma/approvers-ci

chore(ci): bump `nick-invision/retry` version to remove deprecation warning (#14262)
  .github/workflows/cwag-workflow.yml
  .github/workflows/cwf-operator.yml
  .github/workflows/feg-workflow.yml
Owners: @magma/approvers-ci

chore(ci): bump `peter-evans/find_comment` version to remove deprecation warning (#14263)
  .github/workflows/semantic-pr.yml
Owners: @magma/approvers-ci

chore(ci): bump `tspascoal/get-user-teams-membership` version to remove deprecation warning (#14261)
  .github/workflows/docker-promote.yml
  .github/workflows/helm-promote.yml
Owners: @magma/approvers-ci

fix(ci): Add debug output to in order to make it easier to investigate services not starting in integ tests. Add debug output to ntpdate as this seems to cause the failed integ tests.
  lte/gateway/deploy/roles/magma/files/systemd/magma_eventd.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@eventd.service
  lte/gateway/python/integ_tests/s1aptests/test_services_are_running.py
Owners: @m-govind, @panyogesh

chore(ci): Reconfigure workflow triggers to push on master instead of waiting for the build-all workflow to complete
  .github/workflows/cwf-integ-test.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/sudo-python-tests.yml
Owners: @magma/approvers-ci
