Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost

feat(ci): Add docker promote script and workflow
  .github/workflows/docker-promote.yml
  orc8r/tools/docker/promote.sh
Owners: @magma/approvers-ci, @m-govind, @panyogesh

feat(ci): Fixed version pinning
  .github/workflows/docker-promote.yml
  .github/workflows/helm-promote.yml
Owners: @magma/approvers-ci

feat(ci): Simplified use of inputs
  .github/workflows/docker-promote.yml
  .github/workflows/helm-promote.yml
Owners: @magma/approvers-ci

feat(ci): Fixed version pinning
  .github/workflows/docker-promote.yml
Owners: @magma/approvers-ci

feat(ci): Remove default values in promote workflows.
  .github/workflows/docker-promote.yml
  .github/workflows/helm-promote.yml
Owners: @magma/approvers-ci

refactor(orc8r): Remove proto.Clone calls (#14029)
  orc8r/cloud/go/services/configurator/storage/sql.go
  orc8r/cloud/go/services/configurator/storage/sql_entity_write_helpers.go
  orc8r/cloud/go/services/configurator/storage/sql_test.go
  orc8r/cloud/go/services/configurator/storage/storage.go
  orc8r/cloud/go/services/tenants/client_api.go
Owners: @m-govind, @panyogesh

Addressed review comments
  lte/gateway/c/core/oai/include/s1ap_state.hpp
  lte/gateway/c/core/oai/include/s1ap_types.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_ta.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.cpp
  lte/gateway/c/core/oai/test/s1ap_task/s1ap_mme_test_utils.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_handle_new_association.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers_with_injected_state.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_state_converter.cpp
Owners: @m-govind, @panyogesh

chore(ci): extracxt magma package version and trigger workflow (#13983)
  .github/workflows/build_all.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  lte/gateway/Vagrantfile
  lte/gateway/deploy/agw_install_ubuntu_vm.sh
  lte/gateway/deploy/roles/magma_deb/tasks/main.yml
  lte/gateway/deploy/roles/magma_deploy/tasks/main.yml
Owners: @magma/approvers-ci, @m-govind, @panyogesh

chore(magmad): Improve error handling of generic commands
  orc8r/gateway/python/magma/magmad/generic_command/command_executor.py
  orc8r/gateway/python/magma/magmad/rpc_servicer.py
Owners: @m-govind, @panyogesh

Add information about configuration of generic commands
  nms/app/components/GatewayCommandFields.tsx
Owners: @m-govind, @panyogesh

Change default value of parameters field to use shell_params
  nms/app/components/GatewayCommandFields.tsx
Owners: @m-govind, @panyogesh

Propagate Not Found error to orc8r
  orc8r/cloud/go/services/orchestrator/obsidian/handlers/gateway_command_handlers.go
Owners: @m-govind, @panyogesh

Handle further error cases
  nms/app/components/GatewayCommandFields.tsx
  orc8r/cloud/go/services/orchestrator/obsidian/handlers/gateway_command_handlers.go
  orc8r/gateway/python/magma/magmad/generic_command/command_executor.py
  orc8r/gateway/python/magma/magmad/rpc_servicer.py
Owners: @m-govind, @panyogesh

Allow generic command to run with parameters `{"shell_params": []}`
  orc8r/gateway/python/magma/magmad/generic_command/shell_command_executor.py
Owners: @m-govind, @panyogesh

chore(nms): Improve generic commands functionality (#14014)
  nms/app/components/GatewayCommandFields.tsx
  orc8r/cloud/go/services/orchestrator/obsidian/handlers/gateway_command_handlers.go
  orc8r/gateway/python/magma/magmad/generic_command/command_executor.py
  orc8r/gateway/python/magma/magmad/generic_command/shell_command_executor.py
  orc8r/gateway/python/magma/magmad/rpc_servicer.py
Owners: @m-govind, @panyogesh

fix(agw): all `ROOTCA_PATH` variables are deleted
  lte/gateway/docker/docker-compose.yaml
Owners: @m-govind, @panyogesh

fix(ci): use correct variable offered by dispatch action
  .github/workflows/lte-integ-test-magma-deb.yml
Owners: @magma/approvers-ci

fix(agw): all `ROOTCA_PATH` variables are deleted (#14037)
  lte/gateway/docker/docker-compose.yaml
Owners: @m-govind, @panyogesh

fix(ci): use correct variable offered by dispatch action (#14038)
  .github/workflows/lte-integ-test-magma-deb.yml
Owners: @magma/approvers-ci

chore: cache key of bazel base and image tag are updated
  .github/workflows/agw-workflow.yml
  .github/workflows/bazel.yml
  .github/workflows/gcc-problems.yml
Owners: @magma/approvers-ci

fix(amf): VoNR configuration support
  lte/gateway/c/core/oai/tasks/amf/amf_config.c
Owners: @m-govind, @panyogesh

fix(amf): VoNR configuration support (#14039)
  lte/gateway/c/core/oai/tasks/amf/amf_config.c
Owners: @m-govind, @panyogesh

chore(ci): add upterm
  .github/workflows/lte-integ-test-containerized.yml
Owners: @magma/approvers-ci

chore(ci): add workflow that runs s1ap integ tests against dockerized agw running on magma_dev VM
  .github/workflows/lte-integ-test-containerized.yml
  lte/gateway/docker/.env
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

chore(ci): replaced pull_request with dispatch trigger for lte container integ test workflow as running the workflow with every pr would cause to much load
  .github/workflows/lte-integ-test-containerized.yml
Owners: @magma/approvers-ci

fix(ci): hotfix for broken init system detection
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

fix(ci): remove upterm
  .github/workflows/lte-integ-test-containerized.yml
Owners: @magma/approvers-ci

chore(ci): Cleanup agw tests for merge
  .github/workflows/lte-integ-test-containerized.yml
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

chore(ci): make the linter happy
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

feat(ci): Move and edit release scripts/workflows (#14011)
  .github/workflows/docker-promote.yml
  .github/workflows/helm-promote.yml
  orc8r/tools/docker/promote.sh
  orc8r/tools/helm/promote.sh
Owners: @magma/approvers-ci, @m-govind, @panyogesh

fix(subscriberdb): Detach inactive subscribers when syncing (#14024)
  lte/gateway/python/magma/subscriberdb/client.py
  lte/gateway/python/magma/subscriberdb/tests/client_tests.py
Owners: @m-govind, @panyogesh

chore: Documentation changes after the Bazel switchover
  docs/readmes/lte/dev_notes.md
  docs/readmes/lte/dev_unit_testing.md
  docs/readmes/lte/eventd.md
  docs/readmes/lte/s1ap_tests.md
  docs/readmes/lte/setup.md
  lte/gateway/docker/README.md
Owners: @m-govind, @panyogesh

chore(agw): reduce python container build context
  lte/gateway/docker/services/python/Dockerfile
Owners: @m-govind, @panyogesh

fix(orc8r): Correctly initialize array to allow removing assocs
  lte/cloud/go/services/subscriberdb/obsidian/handlers/handlers_test.go
  lte/cloud/go/services/subscriberdb/obsidian/models/conversion.go
Owners: @m-govind, @panyogesh

chore: pip performance is improved by ipv4 over ipv6 precedence
  .github/workflows/lte-integ-test-bazel.yml
  lte/gateway/deploy/magma_dev_focal.yml
  lte/gateway/deploy/magma_test.yml
  lte/gateway/deploy/roles/gai_config/tasks/main.yml
Owners: @magma/approvers-ci, @m-govind, @panyogesh

fix(nms): fix CBSD pagination
  nms/app/context/CbsdContext.tsx
  nms/app/views/domain-proxy/CbsdsTable.tsx
  nms/app/views/domain-proxy/__tests__/CbsdsTable.tsx
Owners: @m-govind, @panyogesh

fix(agw): Port enb context from C structure to protobuf structure in s1ap module (#13728)
  lte/cloud/go/protos/oai/s1ap_state.pb.go
  lte/gateway/c/core/oai/common/common_types.h
  lte/gateway/c/core/oai/include/proto_map.hpp
  lte/gateway/c/core/oai/include/s1ap_state.hpp
  lte/gateway/c/core/oai/include/s1ap_types.hpp
  lte/gateway/c/core/oai/include/state_converter.hpp
  lte/gateway/c/core/oai/tasks/grpc_service/S1apServiceImpl.cpp
  lte/gateway/c/core/oai/tasks/ha/ha_service_handler.cpp
  lte/gateway/c/core/oai/tasks/nas/api/mme/mme_api.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_ta.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_ta.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
  lte/gateway/c/core/oai/test/s1ap_task/data/s1ap_state_ATTACHED
  lte/gateway/c/core/oai/test/s1ap_task/data/s1ap_state_ATTACHED_encoded
  lte/gateway/c/core/oai/test/s1ap_task/mock_s1ap_op.cpp
  lte/gateway/c/core/oai/test/s1ap_task/mock_s1ap_op.h
  lte/gateway/c/core/oai/test/s1ap_task/s1ap_mme_test_utils.cpp
  lte/gateway/c/core/oai/test/s1ap_task/s1ap_mme_test_utils.h
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_handle_new_association.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers_with_injected_state.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_state_converter.cpp
  lte/protos/oai/s1ap_state.proto
Owners: @ghost, @m-govind, @panyogesh

fix(lte): Fixed `detect_init_system`
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

fix(lte): Added _is_installed check back in
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

Addressed self comments
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
Owners: @m-govind, @panyogesh
