Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost

chore(ci): Improve comparison with None
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

fix(ci): Add missing paths to path filter (#13959)
  .github/workflows/cloud-workflow.yml
Owners: @magma/approvers-ci

chore(ci): run integ tests again deb installation in ci (#13842)
  .github/workflows/lte-integ-test-magma-deb.yml
  lte/gateway/deploy/roles/magma_deb/tasks/main.yml
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

fix(nms): Improve sync of NMS organizations and orc8r tenants (#13917)
  nms/app/views/organizations/OrganizationInfoDialog.tsx
  nms/generated/api.ts
  nms/scripts/setPassword.ts
  nms/server/grafana/handlers.ts
  nms/server/host/__tests__/organization-test.ts
  nms/server/host/routes.ts
  orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml
  orc8r/cloud/go/services/tenants/obsidian/models/swagger.v1.yml
Owners: @m-govind, @panyogesh, @ghost

fix(agw): only 1 go service does not need abstraction
  lte/gateway/docker/docker-compose.yaml
Owners: @m-govind, @panyogesh

fix(agw): the envoy controller is in the feg image
  lte/gateway/docker/docker-compose.yaml
Owners: @m-govind, @panyogesh

fix(ci): Mitigate LSAN errors in LTE integ tests
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
Owners: @m-govind, @panyogesh

fix(agw): the envoy controller is in the feg image (#13947)
  lte/gateway/docker/docker-compose.yaml
Owners: @m-govind, @panyogesh

chore: #11633 is reverted manually (#13868)
  bazel/scripts/check_c_cpp_bazel.sh
  lte/gateway/Makefile
  lte/gateway/c/core/oai/CMakeAgwOptions.txt
  lte/gateway/c/core/oai/CMakeMmeOptions.txt
  lte/gateway/c/core/oai/include/mme_app_messages_def.h
  lte/gateway/c/core/oai/include/mme_app_messages_types.h
  lte/gateway/c/core/oai/include/mme_config.h
  lte/gateway/c/core/oai/include/state_manager.hpp
  lte/gateway/c/core/oai/oai_mme/oai_mme.c
  lte/gateway/c/core/oai/tasks/mme_app/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/mme_app/experimental/mme_app_serialization.cpp
  lte/gateway/c/core/oai/tasks/mme_app/experimental/mme_app_serialization.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_embedded_spgw.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_main.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_config.c
Owners: @m-govind, @panyogesh

fix: py cryptography is pinned to a version that works with magma
  bazel/external/requirements.in
  bazel/external/requirements.txt
Owners: @m-govind, @panyogesh

perf(dp): Batch logging in Configuration Controller
  dp/cloud/python/magma/configuration_controller/response_processor/response_db_processor.py
  dp/cloud/python/magma/configuration_controller/run.py
  dp/cloud/python/magma/fluentd_client/client.py
Owners: @m-govind, @panyogesh

fix: py cryptography is pinned to a version that works with magma (#13960)
  bazel/external/requirements.in
  bazel/external/requirements.txt
Owners: @m-govind, @panyogesh

feat(agw): Basic eDRX support
  lte/gateway/c/core/oai/lib/3gpp/3gpp_24.008.h
  lte/gateway/c/core/oai/lib/3gpp/3gpp_24.008_gmm_ies.c
  lte/gateway/c/core/oai/tasks/nas/emm/msg/AttachRequest.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/msg/AttachRequest.hpp
Owners: @m-govind, @panyogesh

fix(agw): Pin version of grpcio_tool in python_dev ansible role
  orc8r/tools/ansible/roles/python_dev/tasks/main.yml
Owners: @m-govind, @panyogesh

feat(agw): all AGW containeres have health checks
  lte/gateway/docker/docker-compose.yaml
Owners: @m-govind, @panyogesh

feat(agw): all AGW containeres have health checks (#13918)
  lte/gateway/docker/docker-compose.yaml
Owners: @m-govind, @panyogesh

fix(ci): do adequate changes following comments on PR
  .github/workflows/build_all.yml
  lte/gateway/deploy/arm_build.yml
Owners: @magma/approvers-ci, @m-govind, @panyogesh

Addressed Review Comments (R2)
  lte/gateway/c/core/oai/tasks/amf/amf_as.cpp
Owners: @m-govind, @panyogesh

Addressed Review Comments (R1)
  lte/gateway/c/core/oai/tasks/nas5g/src/ies/M5GNetworkFeatureSupport.cpp
Owners: @m-govind, @panyogesh

feat(amf): Support for Protocol Configuration Options IE
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/tasks/amf/amf_as.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_session_manager_pco.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_smf_session_qos.cpp
  lte/gateway/c/core/oai/tasks/nas5g/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/nas5g/include/M5GRegistrationAccept.hpp
  lte/gateway/c/core/oai/tasks/nas5g/include/M5gNasMessage.h
  lte/gateway/c/core/oai/tasks/nas5g/include/ies/M5GNetworkFeatureSupport.hpp
  lte/gateway/c/core/oai/tasks/nas5g/src/M5GRegistrationAccept.cpp
  lte/gateway/c/core/oai/tasks/nas5g/src/ies/M5GNetworkFeatureSupport.cpp
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_nas_procedures.c
  lte/gateway/c/core/oai/test/amf/test_amf_encode_decode.cpp
Owners: @m-govind, @panyogesh

fix(agw): Modified code to remove unused files, pgw_pcef_emulation.cpp/hpp and also removed unused structure, deactivated_predefined_pcc_rules (#13943)
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/include/pgw_types.h
  lte/gateway/c/core/oai/include/spgw_state.hpp
  lte/gateway/c/core/oai/tasks/sgw/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/sgw/pgw_config.cpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_pcef_emulation.cpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_pcef_emulation.hpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_procedures.hpp
  lte/gateway/c/core/oai/tasks/sgw/sgw.hpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_task.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_manager.hpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_manager.hpp
Owners: @m-govind, @panyogesh

feat(amf): Support for Protocol Configuration Options IE (#13768)
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/tasks/amf/amf_as.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_session_manager_pco.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_smf_session_qos.cpp
  lte/gateway/c/core/oai/tasks/nas5g/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/nas5g/include/M5GRegistrationAccept.hpp
  lte/gateway/c/core/oai/tasks/nas5g/include/M5gNasMessage.h
  lte/gateway/c/core/oai/tasks/nas5g/include/ies/M5GNetworkFeatureSupport.hpp
  lte/gateway/c/core/oai/tasks/nas5g/src/M5GRegistrationAccept.cpp
  lte/gateway/c/core/oai/tasks/nas5g/src/ies/M5GNetworkFeatureSupport.cpp
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_nas_procedures.c
  lte/gateway/c/core/oai/test/amf/test_amf_encode_decode.cpp
Owners: @m-govind, @panyogesh

Fixed compilation errors
  lte/gateway/c/core/oai/include/mme_app_ue_context.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_defs.hpp
Owners: @m-govind, @panyogesh

fix(agw): Pin version of grpcio_tool in python_dev ansible role (#13957)
  orc8r/tools/ansible/roles/python_dev/tasks/main.yml
Owners: @m-govind, @panyogesh

Try out container images based on RHEL UBIs
  WORKSPACE.bazel
  lte/gateway/c/connection_tracker/src/BUILD.bazel
  lte/gateway/c/li_agent/src/BUILD.bazel
  lte/gateway/deploy/agw_install_docker.sh
  lte/gateway/docker/.env
  lte/gateway/docker/docker-compose.yaml
  lte/gateway/python/BUILD.bazel
  lte/gateway/python/magma/enodebd/BUILD.bazel
Owners: @m-govind, @panyogesh

Addressed review comments
  lte/gateway/c/core/oai/include/mme_config.h
  lte/gateway/c/core/oai/lib/secu/secu_defs.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_defs.h
  lte/gateway/c/core/oai/tasks/nas/api/mme/mme_api.hpp
  lte/gateway/c/core/oai/tasks/nas/api/network/nas_message.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/EmmInformation.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/EmmStatusHdl.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/Identification.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/NasTransportHdl.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/SecurityModeControl.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/ServiceRequestHdl.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/emm_data.hpp
  lte/gateway/c/core/oai/tasks/nas/emm/emm_data_ctx.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/emm_headers.hpp
  lte/gateway/c/core/oai/tasks/nas/emm/emm_proc.hpp
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_cn.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_fsm.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_fsm.hpp
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_send.cpp
  lte/gateway/c/core/oai/tasks/nas/nas_network.cpp
  lte/gateway/c/core/oai/tasks/nas/nas_proc.cpp
  lte/gateway/c/core/oai/tasks/nas/nas_procedures.cpp
Owners: @m-govind, @panyogesh

Typo fix
  lte/gateway/deploy/agwc-helm-charts/README.md
Owners: @m-govind, @panyogesh

chore(ci): pass MAGMA_PACKAGE to magma_deplay script
  .github/workflows/lte-integ-test-magma-deb.yml
  lte/gateway/Vagrantfile
  lte/gateway/deploy/agw_install_ubuntu_vm.sh
  lte/gateway/deploy/roles/magma_deb/tasks/main.yml
  lte/gateway/deploy/roles/magma_deploy/tasks/main.yml
Owners: @magma/approvers-ci, @m-govind, @panyogesh

chore(ci): extract magma package version and tigger integ workflow
  .github/workflows/build_all.yml
Owners: @magma/approvers-ci

feat(agw): Basic eDRX support
  lte/gateway/c/core/oai/lib/3gpp/3gpp_24.008.h
  lte/gateway/c/core/oai/lib/3gpp/3gpp_24.008_gmm_ies.c
Owners: @m-govind, @panyogesh

docs: headlines in src/go/README.md are displayed correctly
  src/go/capture/README.md
Owners: @m-govind, @panyogesh

refactor tenants sync functions in util file
  nms/server/host/routes.ts
  nms/server/util/tenantsSync.ts
Owners: @m-govind, @panyogesh

adapt scripts that are run by dev_setup.sh to sync with orc8r as well if organization is created or updated
  nms/scripts/createOrganization.ts
  nms/scripts/setPassword.ts
Owners: @m-govind, @panyogesh

add modified version of syncTenants to utils, which syncs orc8r tenants with NMS orgs
  nms/server/grafana/handlers.ts
  nms/server/util/tenantsSync.ts
Owners: @m-govind, @panyogesh

add initial sync of orc8r tenants
  nms/scripts/createOrganization.ts
Owners: @m-govind, @panyogesh

Minor changes and fix mock server for e2e test
  nms/scripts/createOrganization.ts
  nms/scripts/mockServer.ts
  nms/scripts/setPassword.ts
  nms/server/grafana/handlers.ts
  nms/server/util/tenantsSync.ts
Owners: @m-govind, @panyogesh

Revert initial tenants-sync when creating organization
  nms/scripts/createOrganization.ts
  nms/scripts/setPassword.ts
  nms/server/grafana/handlers.ts
  nms/server/util/tenantsSync.ts
Owners: @m-govind, @panyogesh

Addressed review comments
  lte/gateway/c/core/oai/include/s1ap_types.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.hpp
Owners: @m-govind, @panyogesh

Fixing the NMS version issue showing in NMS dashboard.
  orc8r/cloud/helm/orc8r/charts/nms/templates/magmalte-deployment.yaml
Owners: @m-govind, @panyogesh

docs: headlines in src/go/README.md are displayed correctly (#13972)
  src/go/capture/README.md
Owners: @m-govind, @panyogesh
