Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @magma/approvers-ci, @magma/approvers-orc8r, @magma/approvers-nms, @magma/approvers-feg, @magma/approvers-cwf, @magma/approvers-openwrt, @magma/approvers-agw, @magma/approvers-agw-python, @magma/approvers-agw-c, @magma/approvers-agw-sessiond, @magma/approvers-agw-mme, @koolzz, @magma/approvers-agw-pipelined, @magma/approvers-agw-integtests, @magma/approvers-xwf, @magma/approvers-showtech, @magma/approvers-docs, @electronjoe, @amarpad, @hcgatewood, @ghost

CODEOWNERS:

# approvers-ci
.circleci/ @magma/approvers-ci
circleci/ @magma/approvers-ci
ci-scripts/ @magma/approvers-ci
.github/workflows/ @magma/approvers-ci
third_party/build/ @magma/approvers-ci
orc8r/tools/packer/ @magma/approvers-ci
orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
lte/gateway/docker @magma/approvers-ci
lte/gateway/release @magma/approvers-ci
lte/gateway/Vagrantfile @magma/approvers-ci
cwf/gateway/Vagrantfile @magma/approvers-ci

# approvers-orc8r
*/cloud/ @magma/approvers-orc8r
.golangci.yml @magma/approvers-orc8r
orc8r/ @magma/approvers-orc8r

# approvers-nms
nms/ @magma/approvers-nms

# approvers-feg
feg/ @magma/approvers-feg

# approvers-cwf
cwf/ @magma/approvers-cwf

# approvers-openwrt
openwrt/ @magma/approvers-openwrt

# approvers-agw / approvers-agw-python / approvers-agw-c
lte/gateway @magma/approvers-agw
lte/protos @magma/approvers-agw
lte/gateway/python @magma/approvers-agw-python
lte/gateway/c @magma/approvers-agw-c
orc8r/gateway/c/ @magma/approvers-agw-c

# approvers-agw-<subsection>
lte/gateway/c/session_manager @magma/approvers-agw-sessiond
lte/gateway/c/core/oai @magma/approvers-agw-mme
lte/gateway/c/sctpd @magma/approvers-agw-mme
lte/gateway/c/connection_tracker @koolzz @magma/approvers-agw-c
lte/gateway/python/magma/pipelined @magma/approvers-agw-pipelined
lte/gateway/python/integ_tests @magma/approvers-agw-integtests

# XWF Magma integrations
xwf/ @magma/approvers-xwf
feg/radius @magma/approvers-xwf @magma/approvers-cwf

# approvers-showtech
show-tech/ @magma/approvers-showtech

docs/ @magma/approvers-docs
docs/readmes/proposals @electronjoe

CODEOWNERS @amarpad @electronjoe @hcgatewood

# Paths excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
orc8r/cloud/go/obsidian/swagger/v1/swagger.yml @ghost
orc8r/cloud/go/obsidian/swagger/v1/client/ @ghost
orc8r/cloud/go/obsidian/swagger/v1/models/ @ghost

fix(mme)(s1_handover) Send UE ctx release cmd to the source eNB after S1 HO (#8046)
  lte/gateway/c/core/oai/include/s1ap_types.h
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.c
Owners: @magma/approvers-agw-mme

refactor: Add cwf GitHub Actions Workflow (#6371)
  .github/workflows/cwf-operator.yml
  .github/workflows/unit-test-workflow.yml
Owners: @magma/approvers-ci

fix: Fix slack color on success (#8117)
  .github/workflows/cloud-workflow.yml
  .github/workflows/feg-workflow.yml
Owners: @magma/approvers-ci

[ci] Add PR comment on python format check failure (#7979)
  .github/workflows/comment-pr-on-check-failure.yml
  .github/workflows/python-formatting-check.yml
Owners: @magma/approvers-ci

feat(ci): enable python formatting checks for all python files (#7628)
  .github/workflows/python-formatting-check.yml
Owners: @magma/approvers-ci

refactor(agw): move sync interval randomization from agw to orc8r (#7719)
  lte/cloud/go/services/lte/servicers/builder_servicer.go
  lte/cloud/go/services/lte/servicers/builder_servicer_test.go
  lte/gateway/configs/gateway.mconfig
  lte/gateway/configs/subscriberdb.yml
  lte/gateway/python/magma/subscriberdb/main.py
Owners: @magma/approvers-orc8r, @magma/approvers-agw, @magma/approvers-agw-python

perf(pipelined): Avoid service reatart on bridge reconfigure (#7851)
  lte/gateway/python/magma/pipelined/app/uplink_bridge.py
  lte/gateway/python/magma/pipelined/main.py
Owners: @magma/approvers-agw-pipelined

fix(feg): multiple imports (#8133)
  feg/gateway/registry/local_registry.go
Owners: @magma/approvers-feg

fix(agw): Process subscriber data before digest data (#7983)
  lte/gateway/python/magma/subscriberdb/client.py
Owners: @magma/approvers-agw-python

docs: add technical reference document for Magma metrics (#8115)
  docs/docusaurus/sidebars.json
  docs/readmes/resources/ref_magma_metrics.md
Owners: @magma/approvers-docs

minor nits: added some return types & code formatting (#7746)
  nms/app/packages/magmalte/app/components/GatewayUtils.js
  nms/app/packages/magmalte/app/components/context/FEGGatewayContext.js
  nms/app/packages/magmalte/app/components/feg/FEGContext.js
  nms/app/packages/magmalte/app/state/feg/EquipmentState.js
  nms/app/packages/magmalte/app/views/equipment/FEGEquipmentGateway.js
  nms/app/packages/magmalte/app/views/equipment/FEGEquipmentGatewayKPIs.js
  nms/app/packages/magmalte/app/views/equipment/__tests__/FEGEquipmentGatewayTest.js
Owners: @magma/approvers-nms, @magma/approvers-feg

fix(agw): set mim memory limit for lower memory AGW setup. (#8136)
  lte/gateway/deploy/roles/magma/files/systemd/magma_mme.service
  lte/gateway/deploy/roles/magma/files/systemd/magma_pipelined.service
  lte/gateway/deploy/roles/magma/files/systemd/magma_sessiond.service
Owners: @magma/approvers-agw

[ci][cwf] Fix propagation of docker credentials to build job of cwf (#8137)
  .github/workflows/cwf-operator.yml
Owners: @magma/approvers-ci

refactor(sessiond): remove unused includes and flatten directory (#8011)
  feg/gateway/go.sum
  lte/gateway/c/session_manager/CMakeLists.txt
  lte/gateway/c/session_manager/ObjectMap.h
  lte/gateway/c/session_manager/PolicyLoader.cpp
  lte/gateway/c/session_manager/PolicyLoader.h
  lte/gateway/c/session_manager/RedisMap.hpp
  lte/gateway/c/session_manager/RedisStoreClient.cpp
  lte/gateway/c/session_manager/SentryWrappers.cpp
  lte/gateway/c/session_manager/Serializers.cpp
  lte/gateway/c/session_manager/Serializers.h
  lte/gateway/c/session_manager/SessionStore.h
  lte/gateway/c/session_manager/StatsPoller.h
  lte/gateway/c/session_manager/Types.h
  lte/gateway/c/session_manager/datastore/CMakeLists.txt
  lte/gateway/c/session_manager/policydb/CMakeLists.txt
  lte/gateway/c/session_manager/sessiond_main.cpp
Owners: @ghost, @magma/approvers-agw-sessiond

style: Apply formatting scripts to XWF Python files (#8061)
  xwf/gateway/deploy/roles/deprovision/files/xwfm_deprovision.py
  xwf/gateway/deploy/roles/ovs/files/nx_actions.py
  xwf/gateway/deploy/roles/provision/files/xwfm_provision.py
  xwf/gateway/deploy/roles/xwfm/files/xwfm_hostname.py
Owners: @magma/approvers-xwf
