Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @magma/approvers-ci, @magma/approvers-orc8r, @magma/approvers-nms, @magma/approvers-feg, @magma/approvers-cwf, @magma/approvers-openwrt, @magma/approvers-agw, @magma/approvers-agw-python, @magma/approvers-agw-c, @magma/approvers-agw-sessiond, @magma/approvers-agw-mme, @koolzz, @magma/approvers-agw-pipelined, @magma/approvers-agw-integtests, @magma/approvers-xwf, @magma/approvers-showtech, @magma/approvers-docs, @electronjoe, @amarpad, @hcgatewood, @ghost

CODEOWNERS:

# approvers-ci
.circleci/ @magma/approvers-ci
circleci/ @magma/approvers-ci
ci-scripts/ @magma/approvers-ci
.github/workflows/ @magma/approvers-ci
third_party/build/ @magma/approvers-ci
orc8r/tools/packer/ @magma/approvers-ci
orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
lte/gateway/docker @magma/approvers-ci
lte/gateway/release @magma/approvers-ci
lte/gateway/Vagrantfile @magma/approvers-ci
cwf/gateway/Vagrantfile @magma/approvers-ci

# approvers-orc8r
*/cloud/ @magma/approvers-orc8r
.golangci.yml @magma/approvers-orc8r
orc8r/ @magma/approvers-orc8r

# approvers-nms
nms/ @magma/approvers-nms

# approvers-feg
feg/ @magma/approvers-feg

# approvers-cwf
cwf/ @magma/approvers-cwf

# approvers-openwrt
openwrt/ @magma/approvers-openwrt

# approvers-agw / approvers-agw-python / approvers-agw-c
lte/gateway @magma/approvers-agw
lte/protos @magma/approvers-agw
lte/gateway/python @magma/approvers-agw-python
lte/gateway/c @magma/approvers-agw-c
orc8r/gateway/c/ @magma/approvers-agw-c

# approvers-agw-<subsection>
lte/gateway/c/session_manager @magma/approvers-agw-sessiond
lte/gateway/c/core/oai @magma/approvers-agw-mme
lte/gateway/c/sctpd @magma/approvers-agw-mme
lte/gateway/c/connection_tracker @koolzz @magma/approvers-agw-c
lte/gateway/python/magma/pipelined @magma/approvers-agw-pipelined
lte/gateway/python/integ_tests @magma/approvers-agw-integtests

# XWF Magma integrations
xwf/ @magma/approvers-xwf
feg/radius @magma/approvers-xwf @magma/approvers-cwf

# approvers-showtech
show-tech/ @magma/approvers-showtech

docs/ @magma/approvers-docs
docs/readmes/proposals @electronjoe

CODEOWNERS @amarpad @electronjoe @hcgatewood

# Paths excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
orc8r/cloud/go/obsidian/swagger/v1/swagger.yml @ghost
orc8r/cloud/go/obsidian/swagger/v1/client/ @ghost
orc8r/cloud/go/obsidian/swagger/v1/models/ @ghost

fix(mobilityd): handle def gw changes. (#7783)
  lte/gateway/python/magma/mobilityd/uplink_gw.py
Owners: @magma/approvers-agw-python

docs(agw): Add step by step guide to debug datapath issues. (#7740)
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/readmes/howtos/troubleshooting/datapath_connectivity.md
Owners: @magma/approvers-docs

feat(agw): upgrade OVS on magma upgrade. (#7820)
  lte/gateway/deploy/roles/magma/files/ovs-kmod-upgrade.sh
  lte/gateway/release/upgrade_magma.sh
Owners: @magma/approvers-agw

[CI][OAI][RHEL8] Adding a sanity check deployment test (#7043)
  ci-scripts/JenkinsFile-OAI-Container-GitHub
  ci-scripts/generateHtmlReport-OAI-pipeline.py
  ci-scripts/generate_html.py
  ci-scripts/html-templates/build-rows.htm
  ci-scripts/html-templates/build-summary-footer.htm
  ci-scripts/html-templates/build-summary-header.htm
  ci-scripts/html-templates/details-footer.htm
  ci-scripts/html-templates/details-header.htm
  ci-scripts/html-templates/details-t-footer.htm
  ci-scripts/html-templates/details-t-header.htm
  ci-scripts/html-templates/details-t-row.htm
  ci-scripts/html-templates/file-footer.htm
  ci-scripts/html-templates/file-header.htm
  ci-scripts/html-templates/git-summary-pr.htm
  ci-scripts/html-templates/git-summary-push.htm
  ci-scripts/html-templates/image-row.htm
Owners: @magma/approvers-ci

[feg] session_proxy add Offline and Online AVPs (#7419)
  feg/gateway/go.mod
  feg/gateway/go.sum
  feg/gateway/services/session_proxy/credit_control/gx/definitions.go
  feg/gateway/services/session_proxy/credit_control/gx/handlers.go
  feg/gateway/services/session_proxy/credit_control/gx/model_conversion.go
  feg/gateway/services/session_proxy/credit_control/gy/gy_client.go
  feg/gateway/services/session_proxy/servicers/policy.go
  feg/gateway/services/session_proxy/servicers/session_controller.go
  feg/gateway/services/session_proxy/servicers/session_controller_test.go
  feg/gateway/services/testcore/pcrf/mock_pcrf/ccr_handler.go
  lte/cloud/go/protos/policydb.pb.go
  lte/cloud/go/protos/session_manager.pb.go
  lte/gateway/c/session_manager/LocalEnforcer.cpp
  lte/gateway/c/session_manager/LocalEnforcer.h
  lte/gateway/c/session_manager/SessionCredit.cpp
  lte/gateway/c/session_manager/SessionCredit.h
  lte/gateway/c/session_manager/SessionState.cpp
  lte/gateway/c/session_manager/StoredState.cpp
  lte/gateway/c/session_manager/Types.h
  lte/gateway/c/session_manager/test/test_local_enforcer.cpp
  lte/protos/policydb.proto
  lte/protos/session_manager.proto
Owners: @ghost, @magma/approvers-feg, @magma/approvers-agw-sessiond, @magma/approvers-agw

[CI][OAI] triggering when PR only touches prototypes (#7329)
  ci-scripts/check_pr_modified_files_for_oai_pipeline.py
Owners: @magma/approvers-ci

feat: use sessiond mconfig to initialize sentry in sessiond (#7718)
  lte/gateway/c/session_manager/SentryWrappers.cpp
  lte/gateway/c/session_manager/SentryWrappers.h
  lte/gateway/c/session_manager/sessiond_main.cpp
  lte/gateway/configs/control_proxy.yml
Owners: @magma/approvers-agw-sessiond, @magma/approvers-agw

[orc8r] Adding network level congestion control config flag (#7694)
  lte/cloud/go/services/lte/obsidian/models/defaults.go
  lte/cloud/go/services/lte/obsidian/models/network_epc_configs_swaggergen.go
  lte/cloud/go/services/lte/obsidian/models/swagger.v1.yml
  lte/cloud/go/services/lte/servicers/builder_servicer.go
  lte/cloud/go/services/lte/servicers/builder_servicer_test.go
  orc8r/cloud/go/obsidian/swagger/v1/models/network_epc_configs.go
  orc8r/cloud/go/obsidian/swagger/v1/swagger.yml
Owners: @magma/approvers-orc8r, @ghost

[AGW][VM] Remove preburn from provisionning (#7839)
  lte/gateway/deploy/magma_dev_focal.yml
Owners: @magma/approvers-agw

fix(pipelined): Fix Null Datapath Case for EnforcementStats Handler (#7835)
  lte/gateway/python/magma/pipelined/app/enforcement_stats.py
Owners: @magma/approvers-agw-pipelined

[agw] Fix pylint issues (#7844)
  lte/gateway/python/magma/enodebd/tr069/rpc_methods.py
  lte/gateway/python/magma/subscriberdb/main.py
  orc8r/gateway/python/magma/common/service.py
  orc8r/gateway/python/magma/magmad/main.py
Owners: @magma/approvers-agw-python, @magma/approvers-orc8r

[MME][LOG] Use unsigned decimal for all UE ID logging (#7788)
  lte/gateway/c/core/oai/common/common_types.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_context.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_itti_messaging.h
Owners: @magma/approvers-agw-mme

[gateway][lib] Add build/commit information API & magmad commit info display (#7840)
  orc8r/gateway/go/Makefile
  orc8r/gateway/go/services/magmad/main.go
  orc8r/lib/go/build_info/build_info.go
  orc8r/lib/go/build_info/build_info_test.go
  orc8r/lib/go/build_info/test_build_info/test_build_info.go
Owners: @magma/approvers-orc8r

Add a GetGauge helper function to read specific stats (#7850)
  orc8r/gateway/c/common/service303/MetricsSingleton.cpp
  orc8r/gateway/c/common/service303/includes/MetricsSingleton.h
Owners: @magma/approvers-agw-c

Reconcile protobuf state with actual state as maintained by MME (#7848)
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.cpp
Owners: @magma/approvers-agw-mme

[5G SA][LTE][AGW][SMF]:Handling PDU_SESSION_INACTIVE_NOTIFY and UE_ID… (#7347)
  lte/cloud/go/protos/session_manager.pb.go
  lte/gateway/c/session_manager/EnumToString.cpp
  lte/gateway/c/session_manager/SessionState.cpp
  lte/gateway/c/session_manager/SessionStateEnforcer.cpp
  lte/gateway/c/session_manager/SessionStateEnforcer.h
  lte/gateway/c/session_manager/SetMessageManagerHandler.cpp
  lte/gateway/c/session_manager/SetMessageManagerHandler.h
  lte/gateway/c/session_manager/test/test_set_session_manager_handler.cpp
  lte/gateway/python/scripts/smf_upf_integration_cli.py
  lte/protos/session_manager.proto
Owners: @ghost, @magma/approvers-agw-sessiond, @magma/approvers-agw-python, @magma/approvers-agw

Fixed Subscriber add dialog to show saved errors (#7816)
  nms/app/packages/magmalte/app/views/subscriber/SubscriberAddDialog.js
Owners: @magma/approvers-nms

docs: Update crash report documentation for current AGW. (#7852)
  docs/readmes/howtos/troubleshooting/analyze_service_crashes_in_agw.md
Owners: @magma/approvers-docs

docs: Update AGW deployment documentation. (#7856)
  docs/docusaurus/i18n/en.json
  docs/readmes/lte/deploy_install.md
  docs/readmes/lte/deploy_install_ubuntu.md
Owners: @magma/approvers-docs

fix(ci): ssh changes on each full provision (#7857)
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
Owners: @magma/approvers-agw

fix: PR template to align with semantic commit msg. (#7819)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/semantic.yml
  docs/readmes/contributing/contribute_commit_msg.md
Owners: @magma/approvers-docs

docs: Add router mode documentation. (#7854)
  docs/readmes/howtos/ue_ip_address_management.md
Owners: @magma/approvers-docs

remove unused apn.proto import from session_manager.proto (#7863)
  lte/cloud/go/protos/session_manager.pb.go
  lte/protos/session_manager.proto
Owners: @ghost, @magma/approvers-agw

[ci] Migrate entirely docusaurus job to gitub action (#7767)
  .circleci/config.yml
  .github/workflows/docusaurus-workflow.yml
Owners: @magma/approvers-ci

Add alerts troubleshooting doc (#7725)
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/readmes/nms/alerts_troubleshooting.md
Owners: @magma/approvers-docs

subscriberdb service misc fixes related to apn resource handling (#7846)
  lte/cloud/go/services/subscriberdb/digest.go
  lte/cloud/go/services/subscriberdb/digest_test.go
  lte/cloud/go/services/subscriberdb/load.go
  lte/cloud/go/services/subscriberdb/load_test.go
  lte/cloud/go/services/subscriberdb/protos/subscriberdb.pb.go
  lte/cloud/go/services/subscriberdb/protos/subscriberdb.proto
  lte/cloud/go/services/subscriberdb/servicers/subscriberdb_servicer.go
  lte/cloud/go/services/subscriberdb/streamer/providers.go
Owners: @magma/approvers-orc8r, @ghost

[orc8r][certifier] Improved cert lifespan error logging and non-fatal (#7585)
  orc8r/cloud/go/services/certifier/analytics/calculations/lifespan.go
Owners: @magma/approvers-orc8r

[agw][cloudstrapper] Export AGW AMI to qcow2 (#7547)
  .circleci/config.yml
  experimental/cloudstrapper/playbooks/devops-convert-to-qcow2.yaml
  experimental/cloudstrapper/playbooks/roles/agw-infra/tasks/provision-instances.yaml
  experimental/cloudstrapper/playbooks/roles/clean-ami/tasks/main.yaml
  experimental/cloudstrapper/playbooks/roles/convert-to-qcow2/tasks/main.yaml
  experimental/cloudstrapper/playbooks/roles/convert-to-qcow2/vars/main.yaml
Owners: @magma/approvers-ci

[ci][devops-migration] Script to tag and push local images (#7707)
  ci-scripts/tag-push-docker.sh
Owners: @magma/approvers-ci

[ci] Fix PR bot on dco check (#7703)
  .github/workflows/dco-check.yml
Owners: @magma/approvers-ci

Poll Pipelined from Sessiond (#7668)
  lte/gateway/c/session_manager/CMakeLists.txt
  lte/gateway/c/session_manager/LocalEnforcer.cpp
  lte/gateway/c/session_manager/LocalEnforcer.h
  lte/gateway/c/session_manager/PipelinedClient.h
  lte/gateway/c/session_manager/StatsPoller.cpp
  lte/gateway/c/session_manager/StatsPoller.h
  lte/gateway/c/session_manager/sessiond_main.cpp
  lte/gateway/c/session_manager/test/SessiondMocks.h
Owners: @magma/approvers-agw-sessiond

[circleci] add names to steps for feg (#7789)
  .circleci/config.yml
Owners: @magma/approvers-ci

[ci] Complete migration of fossa (#7865)
  .circleci/config.yml
Owners: @magma/approvers-ci

[ci][dco] Fix DCO check (#7873)
  .github/workflows/dco-check.yml
Owners: @magma/approvers-ci

Remove stats display from mme thread (#7853)
  lte/gateway/c/core/oai/common/mme_default_values.h
  lte/gateway/c/core/oai/include/mme_app_desc.h
  lte/gateway/c/core/oai/include/mme_app_statistics.h
  lte/gateway/c/core/oai/include/mme_config.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_main.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_state_converter.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_state_manager.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_state_manager.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_statistics.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_config.c
  lte/gateway/configs/templates/mme.conf.template
Owners: @magma/approvers-agw-mme, @magma/approvers-agw

[ci][dco] Replace GHA dco check (#7875)
  .github/workflows/dco-check.yml
Owners: @magma/approvers-ci

build(mme): fix perm error in AGW docker build appliance (#7732)
  lte/gateway/docker/mme/Dockerfile.ubuntu20.04
Owners: @magma/approvers-agw

[ci][dco] Rollback dco gha job change (#7877)
  .github/workflows/dco-check.yml
Owners: @magma/approvers-ci

Add stats display logic to service303 thread (#7847)
  lte/gateway/c/core/oai/common/log.c
  lte/gateway/c/core/oai/common/log.h
  lte/gateway/c/core/oai/include/service303.h
  lte/gateway/c/core/oai/include/service303_messages_types.h
  lte/gateway/c/core/oai/lib/message_utils/service303_message_utils.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_main.c
  lte/gateway/c/core/oai/tasks/service303/service303.cpp
  lte/gateway/c/core/oai/tasks/service303/service303_mme_stats.c
  lte/gateway/c/core/oai/tasks/service303/service303_task.c
Owners: @magma/approvers-agw-mme

docs: add slack/github id mappings for all magma maintainers (#7813)
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/readmes/contributing/contribute_id_mappings.md
Owners: @magma/approvers-docs
