Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

chore(agw): activate mypy code scanning for lte integ tests (#13188)
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/integ_tests/s1aptests/s1ap_wrapper.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_non_nat_dp_ul_tcp.py
  lte/gateway/python/integ_tests/s1aptests/util/traffic_messages.py
  lte/gateway/python/magma/pipelined/pg_set_session_msg.py
Owners: @m-govind, @panyogesh

feat(ci): wait for healthy pods workaround - except liagentd (#14090)
  lte/gateway/docker/docker-compose.yaml
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(ci): upgrade Github checkout action
  .github/workflows/agw-docker-load-test.yml
  .github/workflows/agw-workflow.yml
  .github/workflows/amis-workflow.yml
  .github/workflows/bazel.yml
  .github/workflows/build_all.yml
  .github/workflows/check-rebase.yml
  .github/workflows/cloud-workflow.yml
  .github/workflows/codeowners-syntax.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/composite/docker-builder/action.yml
  .github/workflows/composite/dp-integ-tests/action.yml
  .github/workflows/cwag-workflow.yml
  .github/workflows/cwf-integ-test.yml
  .github/workflows/cwf-operator.yml
  .github/workflows/deploy-build-from-pr.yml
  .github/workflows/docker-builder-devcontainer.yml
  .github/workflows/docker-builder-python-precommit.yml
  .github/workflows/docs-workflow.yml
  .github/workflows/docusaurus-workflow.yml
  .github/workflows/dp-workflow.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/feg-workflow.yml
  .github/workflows/fossa-workflow.yml
  .github/workflows/gcc-problems.yml
  .github/workflows/golang-build-test.yml
  .github/workflows/helm-chart-dependency-check.yml
  .github/workflows/helm-deploy-on-demand.yml
  .github/workflows/insync-checkin.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/nms-workflow.yml
  .github/workflows/python-workflow.yml
  .github/workflows/reviewdog-workflow.yml
Owners: @magma/approvers-ci

chore(ci): the fabfile test option is deprecated
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(ci): Clean up dead code in ci-scripts folder Co-authored-by: Lars Kreutzer <lars.kreutzer@tngtech.com> Co-authored-by: Nils Semmelrock <nils.semmelrock@tngtech.com>
  ci-scripts/JenkinsFile-CWAG-integ-test
  ci-scripts/JenkinsFile-CWAG-integ-test-libvirt
  ci-scripts/JenkinsFile-GitLab
  ci-scripts/JenkinsFile-LTE-integ-test
  ci-scripts/JenkinsFile-autolabel-pull-request
  ci-scripts/JenkinsFile-build-vagrant-boxes
  ci-scripts/adapt-mme-yaml.sed
  ci-scripts/adapt-spgwc-pool-ip.sed
  ci-scripts/adapt-spgwu-pool-ip.sed
  ci-scripts/checkCodingFormattingRules.sh
  ci-scripts/doGitLabMerge.sh
  ci-scripts/generateHtmlReport.py
  ci-scripts/post_testim_report.py
  ci-scripts/registry/aptly/deploy_image.sh
  ci-scripts/removeLastUlTestCases.sed
  ci-scripts/test_agent/FirebaseClient.py
  ci-scripts/test_agent/FirebaseConfig.json
  ci-scripts/test_agent/Tester.py
  ci-scripts/test_agent/magma_ci_agent.service
  ci-scripts/test_agent/main.py
Owners: @magma/approvers-ci

chore(ci): Add upload test results for containerized agw integ tests
  .github/workflows/lte-integ-test-containerized.yml
Owners: @magma/approvers-ci

chore(agw): fix manual workflow trigger
  .github/workflows/lte-integ-test-containerized.yml
Owners: @magma/approvers-ci

chore(ci): upgrade Github checkout action (#14129)
  .github/workflows/agw-docker-load-test.yml
  .github/workflows/agw-workflow.yml
  .github/workflows/amis-workflow.yml
  .github/workflows/bazel.yml
  .github/workflows/build_all.yml
  .github/workflows/check-rebase.yml
  .github/workflows/cloud-workflow.yml
  .github/workflows/codeowners-syntax.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/composite/docker-builder/action.yml
  .github/workflows/composite/dp-integ-tests/action.yml
  .github/workflows/cwag-workflow.yml
  .github/workflows/cwf-integ-test.yml
  .github/workflows/cwf-operator.yml
  .github/workflows/deploy-build-from-pr.yml
  .github/workflows/docker-builder-devcontainer.yml
  .github/workflows/docker-builder-python-precommit.yml
  .github/workflows/docs-workflow.yml
  .github/workflows/docusaurus-workflow.yml
  .github/workflows/dp-workflow.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/feg-workflow.yml
  .github/workflows/fossa-workflow.yml
  .github/workflows/gcc-problems.yml
  .github/workflows/golang-build-test.yml
  .github/workflows/helm-chart-dependency-check.yml
  .github/workflows/helm-deploy-on-demand.yml
  .github/workflows/insync-checkin.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/nms-workflow.yml
  .github/workflows/python-workflow.yml
  .github/workflows/reviewdog-workflow.yml
Owners: @magma/approvers-ci

fix(amf): AMF support SuciProfile Encryption in Identity procedure
  lte/gateway/c/core/oai/tasks/amf/amf_recv.cpp
  lte/gateway/c/core/oai/tasks/amf/nas_proc.cpp
  lte/gateway/c/core/oai/tasks/nas5g/src/ies/M5GSMobileIdentity.cpp
  lte/gateway/c/core/oai/test/amf/test_amf_procedures.cpp
  lte/gateway/python/magma/subscriberdb/protocols/m5g_auth_servicer.py
Owners: @m-govind, @panyogesh

chore(ci): the fabfile test option is deprecated (#14117)
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

Addressed review comments
  lte/gateway/c/core/oai/lib/mobility_client/MobilityClientAPI.hpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_handlers.cpp
Owners: @m-govind, @panyogesh

fix(agw): Modified code to replace state_teid_hash list to protobuf map in spgw task (#13843)
  lte/gateway/c/core/oai/include/spgw_state.hpp
  lte/gateway/c/core/oai/include/spgw_types.hpp
  lte/gateway/c/core/oai/lib/mobility_client/MobilityClientAPI.hpp
  lte/gateway/c/core/oai/lib/pcef/pcef_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_procedures.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_config.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_context_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_task.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_config.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_converter.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_manager.hpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_handlers.cpp
  lte/gateway/c/core/oai/test/spgw_task/spgw_procedures_test_fixture.cpp
  lte/gateway/c/core/oai/test/spgw_task/state_creators.cpp
Owners: @m-govind, @panyogesh

chore(agw): remove docker compose dev file
  lte/gateway/docker/README.md
  lte/gateway/docker/docker-compose.dev.yaml
  lte/gateway/docker/docker-compose.yaml
Owners: @m-govind, @panyogesh

chroe(agw): remove docker compose dev from fab file after merge of containerized integ tests
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(agw): fix ci
  lte/gateway/docker/README.md
Owners: @m-govind, @panyogesh

chore(ci): Add upload test results for containerized agw integ tests (#14131)
  .github/workflows/lte-integ-test-containerized.yml
Owners: @magma/approvers-ci

fix(ci): health check in ci job fails because the container is not healthy after the first docker compose up command
  lte/gateway/docker/docker-compose.yaml
Owners: @m-govind, @panyogesh

fix: Pin libsystem-dev version
  .devcontainer/bazel-base/Dockerfile
  .github/workflows/agw-workflow.yml
  cwf/gateway/docker/go/Dockerfile
  cwf/gateway/docker/python/Dockerfile
  feg/gateway/docker/go/Dockerfile
  feg/gateway/docker/python/Dockerfile
  lte/gateway/docker/services/python/Dockerfile
  lte/gateway/release/build-magma.sh
  orc8r/gateway/docker/Dockerfile
Owners: @m-govind, @panyogesh, @magma/approvers-ci

for testing: write integ test name to file in magma VM and read it with sentry before send hook
  lte/gateway/python/integ_tests/Makefile
  orc8r/gateway/python/magma/common/sentry.py
Owners: @m-govind, @panyogesh

fix(ci): health check in ci job fails because the container is not healthy after the first docker compose up command (#14138)
  lte/gateway/docker/docker-compose.yaml
Owners: @m-govind, @panyogesh

feat(agw): time before killing containers during restart is reduced as otherwise hanging containers take up to 20s to restart and tests run into timeouts.
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

chore(agw): remove docker-compose.dev.file (#14050)
  lte/gateway/docker/README.md
  lte/gateway/docker/docker-compose.dev.yaml
  lte/gateway/docker/docker-compose.yaml
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

Addressed review comments
  lte/gateway/c/core/oai/include/proto_map.hpp
  lte/gateway/c/core/oai/lib/mobility_client/MobilityClientAPI.hpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_procedures.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_context_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_converter.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state.cpp
  lte/gateway/c/core/oai/test/spgw_task/test_spgw_state_converter.cpp
Owners: @m-govind, @panyogesh

feat(agw): time before killing containers during restart is reduced as (#14139)
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

fix(ci): there was a bit too much deleted in #14050
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

fix(ci): there was a bit too much deleted in #14050 (#14143)
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

write "baseline" to integ_test_name when test is finished
  lte/gateway/python/integ_tests/Makefile
Owners: @m-govind, @panyogesh

chore: write event tag instead of fingerprint
  orc8r/gateway/python/magma/common/sentry.py
Owners: @m-govind, @panyogesh

fix(agw): Converted ha task files to cpp
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/include/ha_messages_def.hpp
  lte/gateway/c/core/oai/include/ha_messages_types.hpp
  lte/gateway/c/core/oai/include/messages_def.h
  lte/gateway/c/core/oai/include/messages_types.h
  lte/gateway/c/core/oai/tasks/ha/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/ha/ha_defs.hpp
  lte/gateway/c/core/oai/tasks/ha/ha_service_handler.cpp
  lte/gateway/c/core/oai/tasks/ha/ha_task.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_ha.cpp
Owners: @m-govind, @panyogesh

feat(agw): time before killing containers during restart is reduced as (#14139)
  lte/gateway/c/core/oai/include/spgw_state.hpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_context_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_manager.cpp
  lte/gateway/fabfile.py
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

chore(ci): Clean up dead code in ci-scripts folder (#14130)
  ci-scripts/JenkinsFile-CWAG-integ-test
  ci-scripts/JenkinsFile-CWAG-integ-test-libvirt
  ci-scripts/JenkinsFile-GitLab
  ci-scripts/JenkinsFile-LTE-integ-test
  ci-scripts/JenkinsFile-autolabel-pull-request
  ci-scripts/JenkinsFile-build-vagrant-boxes
  ci-scripts/adapt-mme-yaml.sed
  ci-scripts/adapt-spgwc-pool-ip.sed
  ci-scripts/adapt-spgwu-pool-ip.sed
  ci-scripts/checkCodingFormattingRules.sh
  ci-scripts/doGitLabMerge.sh
  ci-scripts/generateHtmlReport.py
  ci-scripts/post_testim_report.py
  ci-scripts/registry/aptly/deploy_image.sh
  ci-scripts/removeLastUlTestCases.sed
  ci-scripts/test_agent/FirebaseClient.py
  ci-scripts/test_agent/FirebaseConfig.json
  ci-scripts/test_agent/Tester.py
  ci-scripts/test_agent/magma_ci_agent.service
  ci-scripts/test_agent/main.py
Owners: @magma/approvers-ci

Addressed review comment
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_manager.cpp
Owners: @m-govind, @panyogesh

Addressed self comment
  lte/gateway/c/core/oai/include/spgw_types.hpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_manager.cpp
Owners: @m-govind, @panyogesh

Addressed self review comment
  lte/gateway/c/core/oai/include/s1ap_state.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_itti_messaging.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
Owners: @m-govind, @panyogesh

FOR TESTING
  .github/workflows/bazel.yml
Owners: @magma/approvers-ci

chore: a workflow that runs integ tests vs a magma debian package build with bazel (#14093)
  .github/workflows/bazel.yml
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
  lte/gateway/Vagrantfile
  lte/gateway/deploy/roles/magma_deploy/tasks/main.yml
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

chore(ci): remove unnecessary code duplication
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(ci): remove unnecessary code duplication (#14154)
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

exclude errors due to missing orc8r if integ test run is inferred
  lte/gateway/python/magma/subscriberdb/client.py
  orc8r/gateway/python/magma/common/rpc_utils.py
  orc8r/gateway/python/magma/common/streamer.py
  orc8r/gateway/python/magma/magmad/metrics_collector.py
  orc8r/gateway/python/magma/magmad/state_reporter.py
  orc8r/gateway/python/magma/state/garbage_collector.py
Owners: @m-govind, @panyogesh

chore(ci): allow more granular AGW integration test execution
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost
