Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @magma/approvers-ci, @magma/approvers-orc8r, @magma/approvers-nms, @magma/approvers-feg, @magma/approvers-cwf, @magma/approvers-openwrt, @magma/approvers-agw, @magma/approvers-agw-python, @magma/approvers-agw-c, @magma/approvers-agw-sessiond, @magma/approvers-agw-mme, @koolzz, @magma/approvers-agw-pipelined, @magma/approvers-agw-integtests, @magma/approvers-xwf, @magma/approvers-showtech, @magma/approvers-docs, @electronjoe, @amarpad, @hcgatewood, @ghost

CODEOWNERS:

# approvers-ci
.circleci/ @magma/approvers-ci
circleci/ @magma/approvers-ci
ci-scripts/ @magma/approvers-ci
.github/workflows/ @magma/approvers-ci
third_party/build/ @magma/approvers-ci
orc8r/tools/packer/ @magma/approvers-ci
orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
lte/gateway/docker @magma/approvers-ci
lte/gateway/release @magma/approvers-ci
lte/gateway/Vagrantfile @magma/approvers-ci
cwf/gateway/Vagrantfile @magma/approvers-ci

# approvers-orc8r
*/cloud/ @magma/approvers-orc8r
.golangci.yml @magma/approvers-orc8r
orc8r/ @magma/approvers-orc8r

# approvers-nms
nms/ @magma/approvers-nms

# approvers-feg
feg/ @magma/approvers-feg

# approvers-cwf
cwf/ @magma/approvers-cwf

# approvers-openwrt
openwrt/ @magma/approvers-openwrt

# approvers-agw / approvers-agw-python / approvers-agw-c
lte/gateway @magma/approvers-agw
lte/protos @magma/approvers-agw
lte/gateway/python @magma/approvers-agw-python
lte/gateway/c @magma/approvers-agw-c
orc8r/gateway/c/ @magma/approvers-agw-c

# approvers-agw-<subsection>
lte/gateway/c/session_manager @magma/approvers-agw-sessiond
lte/gateway/c/core/oai @magma/approvers-agw-mme
lte/gateway/c/sctpd @magma/approvers-agw-mme
lte/gateway/c/connection_tracker @koolzz @magma/approvers-agw-c
lte/gateway/python/magma/pipelined @magma/approvers-agw-pipelined
lte/gateway/python/integ_tests @magma/approvers-agw-integtests

# XWF Magma integrations
xwf/ @magma/approvers-xwf
feg/radius @magma/approvers-xwf @magma/approvers-cwf

# approvers-showtech
show-tech/ @magma/approvers-showtech

docs/ @magma/approvers-docs
docs/readmes/proposals @electronjoe

CODEOWNERS @amarpad @electronjoe @hcgatewood

# Paths excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
orc8r/cloud/go/obsidian/swagger/v1/swagger.yml @ghost
orc8r/cloud/go/obsidian/swagger/v1/client/ @ghost
orc8r/cloud/go/obsidian/swagger/v1/models/ @ghost

fix(pipelined): Use currect ip-addr value to get the entry (#7526)
  lte/gateway/python/magma/pipelined/rule_mappers.py
Owners: @magma/approvers-agw-pipelined

[agw][lte][new feature] Support for Service area restriction (#7398)
  lte/cloud/go/protos/oai/mme_nas_state.pb.go
  lte/gateway/c/core/oai/common/common_types.c
  lte/gateway/c/core/oai/common/common_types.h
  lte/gateway/c/core/oai/include/mme_app_ue_context.h
  lte/gateway/c/core/oai/include/mme_config.h
  lte/gateway/c/core/oai/lib/s6a_proxy/itti_msg_to_proto_msg.cpp
  lte/gateway/c/core/oai/lib/s6a_proxy/proto_msg_to_itti_msg.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_location.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_state_converter.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_state_converter.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_config.c
  lte/gateway/c/core/oai/tasks/nas/emm/TrackingAreaUpdate.c
  lte/gateway/c/core/oai/tasks/nas/emm/emm_proc.h
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_as.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_recv.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_recv.h
  lte/gateway/configs/templates/mme.conf.template
  lte/gateway/python/scripts/generate_oai_config.py
  lte/protos/oai/mme_nas_state.proto
Owners: @ghost, @magma/approvers-agw-mme, @magma/approvers-agw, @magma/approvers-agw-python

fix(pipelined): update imports of AggregatedMaximumBitrate (#7528)
  lte/gateway/python/load_tests/loadtest_pipelined.py
  lte/gateway/python/scripts/pipelined_cli.py
Owners: @magma/approvers-agw-python

[orc8r] add service indicator to PolicyRules on swagger (#7545)
  feg/gateway/go.mod
  lte/cloud/go/services/policydb/obsidian/models/conversion.go
  lte/cloud/go/services/policydb/obsidian/models/policy_rule_config_swaggergen.go
  lte/cloud/go/services/policydb/obsidian/models/policy_rule_swaggergen.go
  lte/cloud/go/services/policydb/obsidian/models/swagger.v1.yml
  orc8r/cloud/go/obsidian/swagger/v1/models/policy_rule.go
  orc8r/cloud/go/obsidian/swagger/v1/models/policy_rule_config.go
  orc8r/cloud/go/obsidian/swagger/v1/swagger.yml
Owners: @ghost, @magma/approvers-orc8r

perf(pipeilined): Remove rule map entry in rule Deactivate call (#7539)
  lte/gateway/python/magma/pipelined/rpc_servicer.py
  lte/gateway/python/magma/pipelined/rule_mappers.py
  lte/gateway/python/magma/pipelined/tests/test_rule_mappers.py
Owners: @magma/approvers-agw-pipelined

Change the utility function location for service area verification (#7543)
  lte/gateway/c/core/oai/common/common_types.c
  lte/gateway/c/core/oai/common/common_types.h
  lte/gateway/c/core/oai/common/common_utility_funs.cpp
  lte/gateway/c/core/oai/common/common_utility_funs.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_location.c
  lte/gateway/c/core/oai/tasks/nas/emm/TrackingAreaUpdate.c
Owners: @magma/approvers-agw-mme

Fix SessionManager ninja cyclic dependency (#7536)
  lte/gateway/c/session_manager/CMakeLists.txt
  lte/gateway/c/session_manager/datastore/CMakeLists.txt
  lte/gateway/c/session_manager/policydb/CMakeLists.txt
Owners: @magma/approvers-agw-sessiond

Create a super build for LiAgent (#7517)
  lte/gateway/Makefile
  lte/gateway/c/li_agent/CMakeLists.txt
  lte/gateway/c/li_agent/src/CMakeLists.txt
  lte/gateway/c/li_agent/src/InterfaceMonitor.cpp
  lte/gateway/c/li_agent/src/InterfaceMonitor.h
  lte/gateway/c/li_agent/src/MobilitydClient.cpp
  lte/gateway/c/li_agent/src/MobilitydClient.h
  lte/gateway/c/li_agent/src/PDUGenerator.cpp
  lte/gateway/c/li_agent/src/PDUGenerator.h
  lte/gateway/c/li_agent/src/ProxyConnector.cpp
  lte/gateway/c/li_agent/src/ProxyConnector.h
  lte/gateway/c/li_agent/src/Utilities.cpp
  lte/gateway/c/li_agent/src/Utilities.h
  lte/gateway/c/li_agent/src/main.cpp
  lte/gateway/c/li_agent/src/test/CMakeLists.txt
  lte/gateway/c/li_agent/src/test/Consts.h
  lte/gateway/c/li_agent/src/test/LIAgentdMocks.h
  lte/gateway/c/li_agent/src/test/test_pdu_generator.cpp
  lte/gateway/deploy/roles/magma/tasks/main.yml
  lte/gateway/release/build-magma.sh
Owners: @magma/approvers-agw, @magma/approvers-agw-c

Revert "[AGW]Ubuntu ci testing" (#7588)
  .circleci/config.yml
  lte/gateway/Vagrantfile
  lte/gateway/deploy/hosts
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
  orc8r/tools/packer/magma-focal-virtualbox.json
Owners: @magma/approvers-ci, @magma/approvers-agw, @magma/approvers-orc8r

Cleanup events for RDS (#7542)
  experimental/cloudstrapper/playbooks/roles/aws-cleanup/tasks/orc8r-eni-subnet-route.yaml
  experimental/cloudstrapper/playbooks/roles/aws-cleanup/tasks/orc8r-rds.yaml
  experimental/cloudstrapper/playbooks/roles/aws-cleanup/tasks/orc8r-secgroup.yaml
  experimental/cloudstrapper/playbooks/roles/aws-cleanup/tasks/orc8r-sns.yaml
  experimental/cloudstrapper/playbooks/roles/aws-cleanup/tasks/orc8r.yaml
  experimental/cloudstrapper/playbooks/roles/aws-cleanup/vars/main.yaml
  experimental/cloudstrapper/playbooks/roles/vars/cluster.yaml
  orc8r/cloud/deploy/terraform/orc8r-aws/variables.tf
Owners: @magma/approvers-orc8r

[lte][agw] Update timer id for expired NAS procedure timers (#7583)
  lte/gateway/c/core/oai/tasks/nas/emm/Authentication.c
  lte/gateway/c/core/oai/tasks/nas/emm/SecurityModeControl.c
  lte/gateway/c/core/oai/tasks/nas/emm/TrackingAreaUpdate.c
Owners: @magma/approvers-agw-mme

fix(pipelined): improve check to handle missing ethtool (#7591)
  lte/gateway/python/magma/pipelined/datapath_setup.py
Owners: @magma/approvers-agw-pipelined

[feg] s6a_proxy fix bug on feature id 1 flag (#7570)
  feg/gateway/services/s6a_proxy/servicers/test/test_s6a_server.go
  feg/gateway/services/s6a_proxy/servicers/ul.go
Owners: @magma/approvers-feg

[feg] s8_proxy fix wrong mnc on ULI (#7549)
  feg/gateway/services/s8_proxy/servicers/ie_conversions.go
  feg/gateway/services/s8_proxy/servicers/mock_pgw/cs.go
  feg/gateway/services/s8_proxy/servicers/mock_pgw/mock_pgw.go
  feg/gateway/services/s8_proxy/servicers/s8_proxy_test.go
  feg/gateway/tools/s8_cli/main.go
Owners: @magma/approvers-feg

Add ingress, egress stats to dp_probe v2.3 (#7432)
  docs/readmes/lte/debug_dp_probe.md
  lte/gateway/python/scripts/dp_probe_cli.py
Owners: @magma/approvers-docs, @magma/approvers-agw-python

count rule records with 0 usage in sessions_with_reporting_flows (#7435)
  lte/gateway/c/session_manager/LocalEnforcer.cpp
  lte/gateway/c/session_manager/test/test_local_enforcer.cpp
Owners: @magma/approvers-agw-sessiond

Don't build protos in common (#7579)
  lte/gateway/c/session_manager/CMakeLists.txt
  orc8r/gateway/c/common/async_grpc/CMakeLists.txt
Owners: @magma/approvers-agw-sessiond, @magma/approvers-agw-c

build(agw): Fix connectiond packaging failure (#7603)
  lte/gateway/release/build-magma.sh
Owners: @magma/approvers-agw

Fixing generation of congestion control enabled flag for mme.conf (#7595)
  lte/gateway/python/scripts/generate_oai_config.py
Owners: @magma/approvers-agw-python

Fix default rule drop flow metrics (#7447)
  lte/gateway/c/session_manager/SessionState.cpp
  nms/app/packages/magmalte/app/views/subscriber/SubscriberChart.js
Owners: @magma/approvers-agw-sessiond, @magma/approvers-nms

Add Poll Stats GRPC Endpoint Pipelined (#7397)
  lte/cloud/go/protos/pipelined.pb.go
  lte/gateway/python/magma/pipelined/app/enforcement_stats.py
  lte/gateway/python/magma/pipelined/rpc_servicer.py
  lte/gateway/python/magma/pipelined/tests/snapshots/test_pull_stats.PullStatsTest.test_poll.snapshot
  lte/gateway/python/magma/pipelined/tests/test_enforcement_stats.py
  lte/gateway/python/magma/pipelined/tests/test_pull_stats.py
  lte/gateway/python/scripts/pipelined_cli.py
  lte/protos/pipelined.proto
Owners: @ghost, @magma/approvers-agw-pipelined, @magma/approvers-agw-python, @magma/approvers-agw

Carry BUILD_TYPE flag to subprojects (#7582)
  lte/gateway/c/connection_tracker/CMakeLists.txt
  lte/gateway/c/core/CMakeLists.txt
  lte/gateway/c/li_agent/CMakeLists.txt
  lte/gateway/c/sctpd/CMakeLists.txt
  orc8r/gateway/c/common/CMakeLists.txt
Owners: @koolzz, @magma/approvers-agw-c, @magma/approvers-agw-mme

[sessiond] add grpc print logging flag to sessiond.yml (#7587)
  cwf/gateway/configs/sessiond.yml
  cwf/gateway/helm/cwf-kubevirt/templates/bin/_sessiond.yml.tpl
  cwf/gateway/helm/cwf-virtlet/templates/bin/_sessiond.yml.tpl
  cwf/gateway/integ_tests/sessiond.yml
  docs/readmes/lte/dev_notes.md
  lte/gateway/c/session_manager/GrpcMagmaUtils.cpp
  lte/gateway/c/session_manager/GrpcMagmaUtils.h
  lte/gateway/c/session_manager/sessiond_main.cpp
  lte/gateway/configs/sessiond.yml
  lte/gateway/configs/sessiond.yml_prod
Owners: @magma/approvers-cwf, @magma/approvers-docs, @magma/approvers-agw-sessiond, @magma/approvers-agw

Fix IPFIX cleanup, add unit test (#7604)
  lte/gateway/deploy/roles/magma/files/systemd/magma_pipelined.service
  lte/gateway/deploy/roles/magma/tasks/main.yml
  lte/gateway/python/magma/pipelined/app/ipfix.py
  lte/gateway/python/magma/pipelined/bridge_util.py
  lte/gateway/python/magma/pipelined/tests/pipelined_test_util.py
  lte/gateway/python/magma/pipelined/tests/snapshots/test_internal_pkt_ipfix_export.InternalPktIpfixExportTest.test_subscriber_policy.snapshot
  lte/gateway/python/magma/pipelined/tests/test_internal_pkt_ipfix_export.py
Owners: @magma/approvers-agw, @magma/approvers-agw-pipelined

Ansible Patch RYU python3.8 only for ubuntu (#7615)
  lte/gateway/deploy/roles/magma/tasks/main.yml
Owners: @magma/approvers-agw

[cwag] add print CCR message to mock OCS and PCRF (#7609)
  feg/gateway/services/testcore/ocs/mock_ocs/ccr_handler.go
  feg/gateway/services/testcore/pcrf/mock_pcrf/ccr_handler.go
Owners: @magma/approvers-feg

Sending PLMN of mme within serving network in Create Session Request message (#7597)
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_itti_messaging.c
Owners: @magma/approvers-agw-mme

Adding local service config for congestion control flag (#7617)
  lte/gateway/configs/mme.yml
  lte/gateway/python/scripts/generate_oai_config.py
Owners: @magma/approvers-agw, @magma/approvers-agw-python

[LTE][AGW] NSA add UE Additional security capabilities in NAS SMC (#7355)
  lte/cloud/go/protos/oai/nas_state.pb.go
  lte/gateway/c/core/oai/include/mme_app_messages_types.h
  lte/gateway/c/core/oai/lib/3gpp/3gpp_24.301.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer.c
  lte/gateway/c/core/oai/tasks/nas/emm/Attach.c
  lte/gateway/c/core/oai/tasks/nas/emm/SecurityModeControl.c
  lte/gateway/c/core/oai/tasks/nas/emm/emm_data.h
  lte/gateway/c/core/oai/tasks/nas/emm/emm_data_ctx.c
  lte/gateway/c/core/oai/tasks/nas/emm/emm_proc.h
  lte/gateway/c/core/oai/tasks/nas/emm/msg/AttachRequest.c
  lte/gateway/c/core/oai/tasks/nas/emm/msg/TrackingAreaUpdateRequest.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_asDef.h
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_recv.c
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_send.c
  lte/gateway/c/core/oai/tasks/nas/ies/UeAdditionalSecurityCapability.h
  lte/gateway/c/core/oai/tasks/nas/nas_procedures.h
  lte/gateway/c/core/oai/tasks/nas/nas_state_converter.cpp
  lte/gateway/c/core/oai/tasks/nas/nas_state_converter.h
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.c
  lte/protos/oai/nas_state.proto
Owners: @ghost, @magma/approvers-agw-mme, @magma/approvers-agw

update setup.cfg to omit noisy lints (#7590)
  setup.cfg
Owners: none

Ignore nosetest to unblock CI (#7627)
  lte/gateway/python/magma/pipelined/tests/test_internal_pkt_ipfix_export.py
Owners: @magma/approvers-agw-pipelined

Temp disable pipelined unit test to unblock CI (#7625)
  lte/gateway/python/magma/pipelined/tests/test_internal_pkt_ipfix_export.py
Owners: @magma/approvers-agw-pipelined

[NMS] Made the subscriber add button to now call the new bulk add endpoint instead of adding subscribers singly (#7317)
  nms/app/packages/fbcnms-magma-api/__generated__/MagmaAPIBindings.js
  nms/app/packages/magmalte/app/components/context/SubscriberContext.js
  nms/app/packages/magmalte/app/components/lte/LteContext.js
  nms/app/packages/magmalte/app/state/lte/SubscriberState.js
  nms/app/packages/magmalte/app/views/subscriber/SubscriberAddDialog.js
  nms/app/packages/magmalte/app/views/subscriber/__tests__/SubscriberAddEditTest.js
Owners: @magma/approvers-nms

[cwag] Make sure to push latest when building cwf and feg docker images (#7577)
  .circleci/config.yml
Owners: @magma/approvers-ci

Nprobe documentation (#7524)
  docs/readmes/assets/lte/network_probe_architecture.png
  docs/readmes/howtos/network_probe.md
Owners: @magma/approvers-docs

[feg] add Service Identifier to CCR-U (#7616)
  feg/gateway/go.mod
  feg/gateway/services/session_proxy/credit_control/gy/gy_client_test.go
  feg/gateway/services/session_proxy/credit_control/gy/model_conversion.go
Owners: @ghost, @magma/approvers-feg

Apply RYU IPFIX patch in makefile (#7644)
  lte/gateway/deploy/roles/magma/files/patches/ryu_ipfix_args.patch
  lte/gateway/deploy/roles/magma/tasks/main.yml
  orc8r/gateway/python/python.mk
Owners: @magma/approvers-agw, @magma/approvers-orc8r

[CI] Template for Proposal GH Issues (#7636)
  .github/ISSUE_TEMPLATE/proposal.md
Owners: none

remove msisdn label from usage metrics in sessiond (#7495)
  lte/gateway/c/core/oai/tasks/nas/emm/SecurityModeControl.c
  lte/gateway/c/session_manager/SessionState.cpp
  lte/gateway/c/session_manager/SessionState.h
  orc8r/gateway/c/common/service303/MetricsHelpers.cpp
  orc8r/gateway/c/common/service303/MetricsSingleton.cpp
  orc8r/gateway/c/common/service303/includes/MetricsHelpers.h
  orc8r/gateway/c/common/service303/includes/MetricsSingleton.h
Owners: @magma/approvers-agw-mme, @magma/approvers-agw-sessiond, @magma/approvers-agw-c

[nms][fuji] Fix NMS users & organizations not being created (#7651)
  nms/app/packages/magmalte/package.json
  nms/app/packages/magmalte/scripts/fuji-upgrade/runs-on-nms.sh
Owners: @magma/approvers-nms
