Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost

chore: update docu is fixed and upgrade docu is added
  bazel/external/requirements_README.md
Owners: @m-govind, @panyogesh

chore: deb integ test uses artifact from bazel workflow (#14394)
  .github/workflows/bazel.yml
  .github/workflows/build_all.yml
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
Owners: @magma/approvers-ci

chore: update docu is fixed and upgrade docu is added (#14395)
  bazel/external/requirements_README.md
Owners: @m-govind, @panyogesh

docs: Update docs on removed Make targets
  docs/readmes/lte/dev_notes.md
  docs/readmes/lte/dev_unit_testing.md
Owners: @m-govind, @panyogesh

docs: Switch documentation from Make to Bazel. Part I
  docs/readmes/lte/s1ap_tests.md
  docs/readmes/lte/setup.md
Owners: @m-govind, @panyogesh

fix(ci): Remove dev dependencies before building release (#14388)
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(deps): upgrade python protobuf to latest 3.20 version
  bazel/external/requirements.in
  bazel/external/requirements.txt
  lte/gateway/release/build-magma.sh
  lte/gateway/release/magma.lockfile.ubuntu
  orc8r/gateway/python/setup.py
Owners: @m-govind, @panyogesh, @magma/approvers-ci

docs: Update docs on removed Make targets (#14322)
  docs/readmes/lte/dev_notes.md
  docs/readmes/lte/dev_unit_testing.md
Owners: @m-govind, @panyogesh

docs: Switch documentation from Make to Bazel. Part I (#14387)
  docs/readmes/lte/s1ap_tests.md
  docs/readmes/lte/setup.md
Owners: @m-govind, @panyogesh

[skip ci] Deploy website
  docs/next/lte/dev_notes.html
  docs/next/lte/dev_notes/index.html
  docs/next/lte/dev_unit_testing.html
  docs/next/lte/dev_unit_testing/index.html
  docs/next/lte/s1ap_tests.html
  docs/next/lte/s1ap_tests/index.html
  docs/next/lte/setup.html
  docs/next/lte/setup/index.html
Owners: @m-govind, @panyogesh

chore: the module not found check is robust regarding non daemon processes
  bazel/scripts/test_python_service_imports.sh
Owners: @m-govind, @panyogesh

fix: Pass command through shell
  bazel/scripts/setup_bazel_bash_completion.sh
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
Owners: @m-govind, @panyogesh

chore(ci): improve readability in `magma_deb/tasks/main.yml`
  lte/gateway/deploy/roles/magma_deb/tasks/main.yml
Owners: @m-govind, @panyogesh

chore: the module not found check is robust regarding non daemon processes (#14400)
  bazel/scripts/test_python_service_imports.sh
Owners: @m-govind, @panyogesh

Fix: Pass command through shell (#14401)
  bazel/scripts/setup_bazel_bash_completion.sh
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
Owners: @m-govind, @panyogesh

Addressed review comments
  lte/gateway/c/core/oai/include/proto_map.hpp
  lte/gateway/c/core/oai/include/spgw_types.hpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_manager.cpp
Owners: @m-govind, @panyogesh

chore(ci): improve readability in `magma_deb/tasks/main.yml` (#14397)
  lte/gateway/deploy/roles/magma_deb/tasks/main.yml
Owners: @m-govind, @panyogesh

refactor(ci): remove AGW container build from build all job
  .github/workflows/build_all.yml
Owners: @magma/approvers-ci

refactor(ci): add AGW container build to separate workflow
  .github/workflows/agw-build-publish-container.yml
Owners: @magma/approvers-ci

feat(ci): refactor AGW container build composite action
  .github/workflows/composite/docker-builder-agw/action.yml
Owners: @magma/approvers-ci

chore(ci): test workflow without credentials access
  .github/workflows/agw-build-publish-container.yml
Owners: @magma/approvers-ci

fix(agw): Modified code port hash list, temporary_create_session_procedure_id to protobuf map (#14005)
  lte/gateway/c/core/oai/include/proto_map.hpp
  lte/gateway/c/core/oai/include/sgw_s8_state.hpp
  lte/gateway/c/core/oai/include/spgw_types.hpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_converter.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_manager.hpp
  lte/gateway/c/core/oai/test/sgw_s8_task/sgw_s8_test_attach_proc.cpp
Owners: @m-govind, @panyogesh

chore(agw): switch all respective commands to systemctl
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

chore(agw): name of magma health service is not hard-coded twice
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

chore(agw): wait times are defined as class variables
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

chore(agw): type hints are added to the MagmadUtil class
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

feat(agw): multipe services can be enabled/disabled at the same time
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/integ_tests/s1aptests/test_sctp_shutdown_while_mme_is_stopped.py
Owners: @m-govind, @panyogesh

chore(agw): boys scouts cleanup for `s1ap_utils.py`
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

chore(agw): Remove commented out code from Vagrantfile
  lte/gateway/Vagrantfile
Owners: @magma/approvers-ci

Modified code to remove the dependency on hash table from both spgw task and sgw_s8 task
  lte/gateway/c/core/oai/include/sgw_context_manager.hpp
  lte/gateway/c/core/oai/include/sgw_s8_state.hpp
  lte/gateway/c/core/oai/include/spgw_state.hpp
  lte/gateway/c/core/oai/include/spgw_types.hpp
  lte/gateway/c/core/oai/tasks/sgw/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/sgw/pgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_context_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_task.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_converter.hpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_manager.hpp
  lte/gateway/c/core/oai/tasks/sgw_s8/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_converter.hpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_manager.hpp
  lte/gateway/c/core/oai/test/spgw_task/state_creators.cpp
  lte/gateway/c/core/oai/test/spgw_task/test_spgw_state_converter.cpp
Owners: @m-govind, @panyogesh

chore(agw): Remove commented out code from Vagrantfile (#14407)
  lte/gateway/Vagrantfile
Owners: @magma/approvers-ci

Migrating files to cpp
  lte/gateway/c/core/oai/common/common_utility_funs.hpp
  lte/gateway/c/core/oai/include/amf_config.hpp
  lte/gateway/c/core/oai/include/mme_init.hpp
  lte/gateway/c/core/oai/tasks/s6a/s6a_fd_iface.cpp
  lte/gateway/c/core/oai/test/amf/test_amf_encode_decode.cpp
  lte/gateway/c/core/oai/test/itti/test_itti.cpp
  lte/gateway/c/core/oai/test/lib/test_ula_subData.cpp
  lte/gateway/c/core/oai/test/mme_app_task/BUILD.bazel
  lte/gateway/c/core/oai/test/mme_app_task/CMakeLists.txt
  lte/gateway/c/core/oai/test/mme_app_task/mme_app_test_util.cpp
  lte/gateway/c/core/oai/test/mme_app_task/mme_app_test_util.hpp
  lte/gateway/c/core/oai/test/mme_app_task/mme_procedure_test_fixture.cpp
  lte/gateway/c/core/oai/test/mme_app_task/mme_procedure_test_fixture.hpp
  lte/gateway/c/core/oai/test/mme_app_task/test_mme_app_config.cpp
  lte/gateway/c/core/oai/test/mme_app_task/test_mme_app_emm_encode_decode.cpp
  lte/gateway/c/core/oai/test/mme_app_task/test_mme_app_ue_context.cpp
  lte/gateway/c/core/oai/test/mme_app_task/test_mme_procedures.cpp
  lte/gateway/c/core/oai/test/mme_app_task/test_mme_procedures_mobile_reachability_timer.cpp
  lte/gateway/c/core/oai/test/mme_app_task/test_mme_procedures_nas_timer.cpp
  lte/gateway/c/core/oai/test/mme_app_task/test_mme_procedures_network_initiated.cpp
  lte/gateway/c/core/oai/test/mme_app_task/test_mme_procedures_x2_handover.cpp
  lte/gateway/c/core/oai/test/mock_tasks/mock_tasks.hpp
  lte/gateway/c/core/oai/test/n11/test_smf_service_client.cpp
  lte/gateway/c/core/oai/test/ngap/mock_utils.h
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers_with_injected_state.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_state_converter.cpp
  lte/gateway/c/core/oai/test/s6a_task/s6a_recv_async_grpc_messages.cpp
  lte/gateway/c/core/oai/test/sgw_s8_task/sgw_dedicated_bearer.cpp
  lte/gateway/c/core/oai/test/spgw_task/spgw_procedures_test_fixture.cpp
  lte/gateway/c/core/oai/test/spgw_task/spgw_procedures_test_fixture.hpp
  lte/gateway/c/core/oai/test/spgw_task/test_spgw_procedures_with_injected_state.cpp
Owners: @m-govind, @panyogesh

chore: unify indentation in Dockerfiles
  .devcontainer/Dockerfile
  feg/gateway/docker/python/Dockerfile
Owners: @m-govind, @panyogesh

feat(ci): add build workflow for 3rd party deps
  .github/workflows/build_magma_dep.yml
  .github/workflows/magma-build-3rd-party.yml
  third_party/build/bin/freediameter_build.sh
  third_party/build/bin/ryu_build.sh
Owners: @magma/approvers-ci

refactor(ci): use filenames instead titles for dependencies
  .github/workflows/comment-pr-on-check-failure.yml
Owners: @magma/approvers-ci

fix(magmad): Revert service restart metrics to use a Gauge (#14370)
  orc8r/gateway/python/magma/magmad/metrics.py
Owners: @m-govind, @panyogesh

chore(ci): increase consistency for Slack messages
  .github/workflows/agw-coverage.yml
  .github/workflows/bazel.yml
  .github/workflows/build_all.yml
  .github/workflows/cloud-workflow.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cwag-workflow.yml
  .github/workflows/cwf-integ-test.yml
  .github/workflows/cwf-operator.yml
  .github/workflows/docusaurus-workflow.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/feg-workflow.yml
  .github/workflows/fossa-workflow.yml
  .github/workflows/gcc-problems.yml
  .github/workflows/golang-build-test.yml
  .github/workflows/helm-chart-dependency-check.yml
  .github/workflows/insync-checkin.yml
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/nms-workflow.yml
  .github/workflows/sudo-python-tests.yml
Owners: @magma/approvers-ci
