Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

chore(ci): reduce boilerplate code in `firebase_publish.py` (#14328)
  ci-scripts/firebase_publish.py
Owners: @magma/approvers-ci

docs: migrate Documentation Overview from Docusaurus to Contributor Guide (#14235)
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/readmes/contributing/contribute_ci_checks.md
  docs/readmes/contributing/contribute_conventions.md
  docs/readmes/contributing/contribute_github.md
  docs/readmes/contributing/contribute_id_mappings.md
  docs/readmes/contributing/contribute_vscode.md
Owners: @m-govind, @panyogesh

chore: magma <1.9.0 will stay default for provisioning magma_deb locally and manual ci runs
  lte/gateway/deploy/roles/magma_deploy/tasks/main.yml
Owners: @m-govind, @panyogesh

chore: magma and sctpd are published to the artifactory
  .github/workflows/bazel.yml
Owners: @magma/approvers-ci

chore: magma and sctpd meta data can be updated for publishing to artifactory
  .bazelrc
  dev_tools/BUILD.bazel
  lte/gateway/release/BUILD.bazel
  lte/gateway/release/deb_dependencies.bzl
  lte/gateway/release/magma-postinst-bazel
  lte/gateway/release/update_deb_meta_info.sh.template
Owners: @m-govind, @panyogesh, @magma/approvers-ci

chore: jf cli is used for uploading artifacts
  .github/workflows/bazel.yml
  .github/workflows/build_magma_dep.yml
Owners: @magma/approvers-ci

chore: documentation for manual building magma deb artifacts is extended for bazel builds
  docs/readmes/lte/build_install_magma_pkg_in_agw.md
Owners: @m-govind, @panyogesh

chore(ci): remove flaky integration tests from containerized AGW tests
  lte/gateway/python/integ_tests/defs.mk
Owners: @m-govind, @panyogesh

Resolved conflict errors
  lte/gateway/c/core/oai/include/mme_app_ue_context.h
Owners: @m-govind, @panyogesh

chore(ci): remove flaky integration tests from containerized AGW tests (#14351)
  lte/gateway/python/integ_tests/defs.mk
Owners: @m-govind, @panyogesh

fix: ryu (and all other magma dependencies) are upgraded with magma (#14319)
  lte/gateway/release/upgrade_magma.sh
Owners: @magma/approvers-ci

chore(agw): cleanup while loop checks for responses
  lte/gateway/python/integ_tests/s1aptests/test_continuous_random_attach.py
  lte/gateway/python/integ_tests/s1aptests/test_no_identity_rsp_with_mme_restart.py
Owners: @m-govind, @panyogesh

Removed unused files, s1ap_state_converter.hpp and s1ap_state_converter.cpp
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/include/s1ap_types.hpp
  lte/gateway/c/core/oai/tasks/s1ap/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.hpp
  lte/gateway/c/core/oai/test/s1ap_task/BUILD.bazel
  lte/gateway/c/core/oai/test/s1ap_task/CMakeLists.txt
  lte/gateway/c/core/oai/test/s1ap_task/mock_s1ap_op.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_state_converter.cpp
Owners: @m-govind, @panyogesh

fix: py cryptography is pinned to a version that works with magma (#13960)
  bazel/external/requirements.in
  bazel/external/requirements.txt
Owners: @m-govind, @panyogesh

fix(ci): node is pinned to version 17 that can be used on xenial (#14343)
  orc8r/cloud/Makefile
Owners: @m-govind, @panyogesh

fix: workflows on 1.8 are pinned to relevant bazel base image and are using own cache key
  .github/workflows/agw-workflow.yml
  .github/workflows/bazel.yml
  .github/workflows/gcc-problems.yml
Owners: @magma/approvers-ci

fix(agw): Downgrade grpcio to fix pylint (#13946)
  bazel/external/requirements.in
  bazel/external/requirements.txt
  lte/gateway/python/setup.py
  orc8r/gateway/python/python.mk
  orc8r/gateway/python/setup.py
Owners: @m-govind, @panyogesh

Addressed review comment
  lte/gateway/c/core/oai/include/proto_map.hpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_manager.hpp
Owners: @m-govind, @panyogesh

Migrating mme_app files in include folder
  lte/gateway/c/core/oai/include/amf_service_handler.h
  lte/gateway/c/core/oai/include/messages_def.hpp
  lte/gateway/c/core/oai/include/messages_types.hpp
  lte/gateway/c/core/oai/include/mme_app_state.hpp
  lte/gateway/c/core/oai/include/mme_app_statistics.hpp
  lte/gateway/c/core/oai/include/mme_app_ue_context.hpp
  lte/gateway/c/core/oai/include/mme_config.hpp
  lte/gateway/c/core/oai/include/spgw_service_handler.hpp
  lte/gateway/c/core/oai/lib/itti/intertask_interface_init.h
  lte/gateway/c/core/oai/lib/itti/intertask_interface_types.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_defs.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_ip_imsi.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_pdn_context.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_procedures.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgs_status.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_state_converter.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_state_manager.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_config.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/Attach.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/Detach.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/EmmCommon.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/TrackingAreaUpdate.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/emm_data.hpp
  lte/gateway/c/core/oai/tasks/nas/emm/emm_headers.hpp
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_cn.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/DedicatedEpsBearerContextActivation.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/DefaultEpsBearerContextActivation.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/sap/esm_recv.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.hpp
Owners: @m-govind, @panyogesh

fix(amf): Periodic Registration failure
  lte/gateway/c/core/oai/tasks/amf/amf_app_ue_context.cpp
Owners: @m-govind, @panyogesh

chore(ci): Add test for dhcp ip allocator via mobilityd
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_with_non_nat_dhcp.py
Owners: @m-govind, @panyogesh

fix(amf): Periodic Registration failure (#14357)
  lte/gateway/c/core/oai/tasks/amf/amf_app_ue_context.cpp
Owners: @m-govind, @panyogesh

chore(ci): Add udhcpd config to trfserver
  lte/gateway/deploy/roles/trfserver/files/udhcpd.conf
  lte/gateway/deploy/roles/trfserver/tasks/main.yml
Owners: @m-govind, @panyogesh

Addressed review comments
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_context_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_handlers.cpp
  lte/gateway/c/core/oai/test/spgw_task/test_spgw_state_converter.cpp
Owners: @m-govind, @panyogesh

Modified bazel file
  lte/gateway/c/core/BUILD.bazel
Owners: @m-govind, @panyogesh

chore: protobuf mutator is also removed from vm (with next preburn)
  lte/gateway/deploy/roles/dev_common/defaults/main.yml
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
Owners: @m-govind, @panyogesh

chore: the devcontainer uses the same grpc setup as the vm
  .devcontainer/Dockerfile
  .devcontainer/bazel-base/Dockerfile
Owners: @m-govind, @panyogesh

chore: Bazel Bash completion
  .devcontainer/post-create-commands.sh
  bazel/scripts/setup_bazel_bash_completion.sh
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
Owners: @m-govind, @panyogesh

chore: Couple Bazel version
  .devcontainer/post-create-commands.sh
  bazel/scripts/setup_bazel_bash_completion.sh
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
Owners: @m-govind, @panyogesh

chore: bazel debian artifacts are published (#14338)
  .bazelrc
  .github/workflows/bazel.yml
  .github/workflows/build_magma_dep.yml
  dev_tools/BUILD.bazel
  docs/readmes/lte/build_install_magma_pkg_in_agw.md
  lte/gateway/deploy/roles/magma_deploy/tasks/main.yml
  lte/gateway/release/BUILD.bazel
  lte/gateway/release/deb_dependencies.bzl
  lte/gateway/release/magma-postinst-bazel
  lte/gateway/release/update_deb_meta_info.sh.template
Owners: @m-govind, @panyogesh, @magma/approvers-ci

[skip ci] Deploy website
  docs/next/lte/build_install_magma_pkg_in_agw.html
  docs/next/lte/build_install_magma_pkg_in_agw/index.html
Owners: @m-govind, @panyogesh

chore(ci): Remove Make jobs from AGW Lint & Test workflow that are already covered by bazel jobs (#14320)
  .github/workflows/agw-workflow.yml
  .github/workflows/unit-test-workflow.yml
Owners: @magma/approvers-ci

chore(agw): Remove Make targets that are covered by Bazel (#14329)
  lte/gateway/Makefile
Owners: @m-govind, @panyogesh

fix: existing jfrog credentials are used
  .github/workflows/bazel.yml
  .github/workflows/build_magma_dep.yml
Owners: @magma/approvers-ci

fix: correct magma debian package file name is used
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
Owners: @magma/approvers-ci

chore: Link folly dynamically in bazel by default
  .bazelrc
  bazel/bazelrcs/cwag.bazelrc
  bazel/external/system_libraries.BUILD
  lte/gateway/docker/services/c/Dockerfile
Owners: @m-govind, @panyogesh

fix(ci): Update certs for LF new registry
  .github/workflows/build_all.yml
Owners: @magma/approvers-ci

fix(ci): Bumping helm chart version
  orc8r/tools/helm/package.sh
  orc8r/tools/helm/package_lf.sh
Owners: @m-govind, @panyogesh

fix: bazel debian handling is fixed (#14367)
  .github/workflows/bazel.yml
  .github/workflows/build_magma_dep.yml
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
Owners: @magma/approvers-ci

added efs
  orc8r/cloud/deploy/terraform/orc8r-aws/efs.tf
  orc8r/cloud/deploy/terraform/orc8r-aws/outputs.tf
  orc8r/cloud/deploy/terraform/orc8r-aws/variables.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/efs-csi-driver.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/efs-iam.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/efs-security-group.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/efs.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/examples/basic/main.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/secrets-store-csi.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/storage.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/variables.tf
Owners: @m-govind, @panyogesh

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost
