Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @magma/approvers-ci, @magma/approvers-orc8r, @magma/approvers-nms, @magma/approvers-feg, @magma/approvers-cwf, @magma/approvers-openwrt, @magma/approvers-agw, @magma/approvers-agw-python, @magma/approvers-agw-c, @magma/approvers-agw-sessiond, @magma/approvers-agw-mme, @koolzz, @magma/approvers-agw-pipelined, @magma/approvers-agw-integtests, @magma/approvers-xwf, @magma/approvers-showtech, @magma/approvers-docs, @electronjoe, @amarpad, @hcgatewood, @ghost

CODEOWNERS:

# approvers-ci
.circleci/ @magma/approvers-ci
circleci/ @magma/approvers-ci
ci-scripts/ @magma/approvers-ci
.github/workflows/ @magma/approvers-ci
third_party/build/ @magma/approvers-ci
orc8r/tools/packer/ @magma/approvers-ci
orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
lte/gateway/docker @magma/approvers-ci
lte/gateway/release @magma/approvers-ci
lte/gateway/Vagrantfile @magma/approvers-ci
cwf/gateway/Vagrantfile @magma/approvers-ci

# approvers-orc8r
*/cloud/ @magma/approvers-orc8r
.golangci.yml @magma/approvers-orc8r
orc8r/ @magma/approvers-orc8r

# approvers-nms
nms/ @magma/approvers-nms

# approvers-feg
feg/ @magma/approvers-feg

# approvers-cwf
cwf/ @magma/approvers-cwf

# approvers-openwrt
openwrt/ @magma/approvers-openwrt

# approvers-agw / approvers-agw-python / approvers-agw-c
lte/gateway @magma/approvers-agw
lte/protos @magma/approvers-agw
lte/gateway/python @magma/approvers-agw-python
lte/gateway/c @magma/approvers-agw-c
orc8r/gateway/c/ @magma/approvers-agw-c

# approvers-agw-<subsection>
lte/gateway/c/session_manager @magma/approvers-agw-sessiond
lte/gateway/c/core/oai @magma/approvers-agw-mme
lte/gateway/c/sctpd @magma/approvers-agw-mme
lte/gateway/c/connection_tracker @koolzz @magma/approvers-agw-c
lte/gateway/python/magma/pipelined @magma/approvers-agw-pipelined
lte/gateway/python/integ_tests @magma/approvers-agw-integtests

# XWF Magma integrations
xwf/ @magma/approvers-xwf
feg/radius @magma/approvers-xwf @magma/approvers-cwf

# approvers-showtech
show-tech/ @magma/approvers-showtech

docs/ @magma/approvers-docs
docs/readmes/proposals @electronjoe

CODEOWNERS @amarpad @electronjoe @hcgatewood

# Paths excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
orc8r/cloud/go/obsidian/swagger/v1/swagger.yml @ghost
orc8r/cloud/go/obsidian/swagger/v1/client/ @ghost
orc8r/cloud/go/obsidian/swagger/v1/models/ @ghost

perf(datapath): Increase NIC queus size of S1 interface. (#7663)
  lte/gateway/configs/pipelined.yml_prod
Owners: @magma/approvers-agw

Removed AssertFatal if tau_proc is not created (#7660)
  lte/gateway/c/core/oai/tasks/nas/emm/TrackingAreaUpdate.c
Owners: @magma/approvers-agw-mme

fix(spgw): gracefully handle missing ipv4 address on S8 interface. (#7656)
  lte/gateway/python/scripts/generate_oai_config.py
Owners: @magma/approvers-agw-python

fix(datapath): bring up patch-up port on startup (#7659)
  lte/gateway/python/scripts/config_stateless_agw.py
Owners: @magma/approvers-agw-python

[feg] Diameter failed connection recovery (possible fix for issue #7496) (#7637)
  feg/gateway/diameter/connection.go
  feg/gateway/diameter/connection_manager.go
  feg/gateway/diameter/diameter_client.go
Owners: @magma/approvers-feg

docs: add instructions for accessing the Swagger UI (#7586)
  docs/readmes/basics/quick_start_guide.md
Owners: @magma/approvers-docs

Unified templates (#7669)
  experimental/cloudstrapper/playbooks/roles/control/tasks/configure-terraform.yaml
  experimental/cloudstrapper/playbooks/roles/control/templates/main.tf.j2.community
  experimental/cloudstrapper/playbooks/roles/control/templates/main.tf.j2.custom
Owners: none

[LTE][AGW] S6A/Diameter Enable extended bitrates (#7354)
  lte/gateway/c/core/oai/patches/0002-opencoord.org.freeDiameter.patch
  lte/gateway/c/core/oai/tasks/s6a/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/s6a/s6a_defs.h
  lte/gateway/c/core/oai/tasks/s6a/s6a_dict.c
  lte/gateway/c/core/oai/tasks/s6a/s6a_subscription_data.c
  lte/gateway/c/core/oai/tasks/s6a/s6a_supported_features.c
  lte/gateway/c/core/oai/tasks/s6a/s6a_up_loc.c
Owners: @magma/approvers-agw-mme

[Terraform] [AWS] Upgraded Postgres version (#7433)
  orc8r/cloud/deploy/terraform/orc8r-aws/variables.tf
Owners: @magma/approvers-orc8r

Package executables so they can be used in CircleCI nodes (#7665)
  lte/gateway/fabfile.py
  orc8r/tools/fab/pkg.py
Owners: @magma/approvers-agw, @magma/approvers-orc8r

make the test results related operations warn only (#7682)
  circleci/fabfile.py
Owners: @magma/approvers-ci

[AGW] Ubuntu box using snapshot and ovi conversion (#7662)
  .circleci/config.yml
  lte/gateway/Vagrantfile
  lte/gateway/deploy/hosts
  lte/gateway/deploy/roles/magma/tasks/main.yml
  orc8r/tools/packer/focal-vm.json
Owners: @magma/approvers-ci, @magma/approvers-agw, @magma/approvers-orc8r

[doc] Add configuration for non federated case for inbound roaming (#7671)
  docs/docusaurus/i18n/en.json
  docs/docusaurus/versioned_docs/version-1.5.0/howtos/inbound_roaming.md
  docs/readmes/howtos/inbound_roaming.md
Owners: @magma/approvers-docs

Re-enable common tests (#7670)
  lte/gateway/Makefile
  orc8r/gateway/c/common/CMakeLists.txt
  orc8r/gateway/c/common/config/CMakeLists.txt
  orc8r/gateway/c/common/config/test/CMakeLists.txt
  orc8r/gateway/c/common/config/test/test_yaml_utils.cpp
  orc8r/gateway/c/common/service303/CMakeLists.txt
  orc8r/gateway/c/common/service303/test/CMakeLists.txt
  orc8r/gateway/c/common/service303/test/test_magma_service.cpp
  orc8r/gateway/c/common/service303/test/test_metrics.cpp
  orc8r/gateway/c/common/service303/test/test_service303.cpp
  orc8r/gateway/c/common/service_registry/CMakeLists.txt
  orc8r/gateway/c/common/service_registry/test/CMakeLists.txt
  orc8r/gateway/c/common/service_registry/test/test_service_registry.cpp
Owners: @magma/approvers-agw, @magma/approvers-agw-c

docs: Fix header enrichment doc. (#7686)
  docs/readmes/howtos/header_enrichment.md
Owners: @magma/approvers-docs

Move access of MME_APP stats into the MME_APP thread (#7687)
  lte/gateway/c/core/oai/include/service303.h
  lte/gateway/c/core/oai/include/service303_messages_def.h
  lte/gateway/c/core/oai/include/service303_messages_types.h
  lte/gateway/c/core/oai/lib/message_utils/service303_message_utils.c
  lte/gateway/c/core/oai/lib/message_utils/service303_message_utils.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_main.c
  lte/gateway/c/core/oai/tasks/service303/service303_mme_stats.c
  lte/gateway/c/core/oai/tasks/service303/service303_task.c
Owners: @magma/approvers-agw-mme

temporarily disable test summary and logs upload to unblock master CI (#7689)
  circleci/fabfile.py
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @magma/approvers-agw

Make organization query case insensitive (#7677)
  nms/app/packages/magmalte/grafana/handlers.js
  nms/app/packages/magmalte/package.json
  nms/app/packages/magmalte/scripts/createOrganization.js
  nms/app/packages/magmalte/scripts/enableAllNetworkIDsForOrganization.js
  nms/app/packages/magmalte/scripts/setPassword.js
Owners: @magma/approvers-nms

Revert "Move access of MME_APP stats into the MME_APP thread (#7687)"
  lte/gateway/c/core/oai/include/service303.h
  lte/gateway/c/core/oai/include/service303_messages_def.h
  lte/gateway/c/core/oai/include/service303_messages_types.h
  lte/gateway/c/core/oai/lib/message_utils/service303_message_utils.c
  lte/gateway/c/core/oai/lib/message_utils/service303_message_utils.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_main.c
  lte/gateway/c/core/oai/tasks/service303/service303_mme_stats.c
  lte/gateway/c/core/oai/tasks/service303/service303_task.c
Owners: @magma/approvers-agw-mme

Fix NMS placeholder for HE (#7705)
  nms/app/packages/magmalte/app/views/traffic/PolicyHeaderEnrichment.js
Owners: @magma/approvers-nms

fix(pipelined): restart pipelineD service after uplink br reconfig. (#7695)
  lte/gateway/python/magma/pipelined/app/uplink_bridge.py
Owners: @magma/approvers-agw-pipelined

Update @fbcnms/alarms to 0.3.0 (#7680)
  nms/app/packages/magmalte/app/state/AlarmsApiUtil.js
  nms/app/packages/magmalte/app/views/alarms/AlarmsDashboard.js
  nms/app/packages/magmalte/package.json
  nms/app/yarn.lock
Owners: @magma/approvers-nms

Add a function in PipelineDClient to call GetStats RPC endpoint (#7572)
  lte/gateway/c/session_manager/PipelinedClient.cpp
  lte/gateway/c/session_manager/PipelinedClient.h
  lte/gateway/c/session_manager/test/SessiondMocks.h
Owners: @magma/approvers-agw-sessiond

[Agw][MME] Add itti_alloc_new_message_fatal to disambiguate expectation (#7455)
  lte/gateway/c/core/oai/common/async_system.c
  lte/gateway/c/core/oai/lib/itti/intertask_interface.c
  lte/gateway/c/core/oai/lib/itti/intertask_interface.h
  lte/gateway/c/core/oai/lib/itti/signals.c
  lte/gateway/c/core/oai/lib/itti/timer.c
  lte/gateway/c/core/oai/lib/message_utils/service303_message_utils.c
  lte/gateway/c/core/oai/oai_mme/oai_mme.c
  lte/gateway/c/core/oai/tasks/grpc_service/spgw_service_handler.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_context.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_itti_messaging.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgsap_location_update.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_transport.c
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf.c
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_handlers.c
  lte/gateway/c/core/oai/tasks/s11/s11_mme_bearer_manager.c
  lte/gateway/c/core/oai/tasks/s11/s11_mme_session_manager.c
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.c
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.c
  lte/gateway/c/core/oai/tasks/s6a/s6a_auth_info.c
  lte/gateway/c/core/oai/tasks/s6a/s6a_cancel_loc.c
  lte/gateway/c/core/oai/tasks/s6a/s6a_hss_reset.c
  lte/gateway/c/core/oai/tasks/s6a/s6a_peer.c
  lte/gateway/c/core/oai/tasks/s6a/s6a_purge_ue.c
  lte/gateway/c/core/oai/tasks/s6a/s6a_service_handler.c
  lte/gateway/c/core/oai/tasks/s6a/s6a_up_loc.c
  lte/gateway/c/core/oai/tasks/sctp/sctp_itti_messaging.c
  lte/gateway/c/core/oai/tasks/sctp/sctp_primitives_server.c
  lte/gateway/c/core/oai/tasks/sgs/sgs_service_handler.c
  lte/gateway/c/core/oai/tasks/sgw/sgw_paging.c
  lte/gateway/c/core/oai/tasks/sms_orc8r/sms_orc8r_service_handler.c
  lte/gateway/c/core/oai/tasks/udp/udp_primitives_server.c
  lte/gateway/c/core/oai/test/itti/test_itti.cpp
Owners: @magma/approvers-agw-mme

promote build artifacts to sentry in agw deploy step (#7699)
  .circleci/config.yml
Owners: @magma/approvers-ci

Add detach timer to the clean up (#7709)
  lte/gateway/c/core/oai/tasks/nas/nas_procedures.c
Owners: @magma/approvers-agw-mme

fix(envoy_controller): Change log dir, add log cleanup (#7692)
  feg/gateway/services/envoy_controller/main.go
  lte/gateway/deploy/roles/magma/files/systemd/magma_envoy_controller.service
Owners: @magma/approvers-feg, @magma/approvers-agw

[CI][AGW] Fix sctpd config vm for ubuntu + re-enable full test capture (#7714)
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
  lte/gateway/deploy/roles/focal_hacks/tasks/main.yml
Owners: @magma/approvers-agw

[nprobe] disable liagentd and fix x3 timestamp (#7704)
  lte/gateway/c/li_agent/src/PDUGenerator.cpp
  lte/gateway/configs/magmad.yml
Owners: @magma/approvers-agw-c, @magma/approvers-agw

Remove unused CertExpirationTime from serialized state (#7480)
  cwf/cloud/go/services/cwf/obsidian/handlers/handlers_test.go
  feg/cloud/go/services/feg/obsidian/handlers/handlers_test.go
  lte/cloud/go/services/lte/obsidian/handlers/handlers_test.go
  orc8r/cloud/go/services/orchestrator/obsidian/handlers/gateway_handlers_test.go
  orc8r/cloud/go/services/orchestrator/servicers/indexer_servicer_test.go
  orc8r/cloud/go/services/state/indexer/index/index_test.go
  orc8r/cloud/go/services/state/servicers/servicer.go
  orc8r/cloud/go/services/state/types/types.go
Owners: @magma/approvers-cwf, @magma/approvers-feg, @magma/approvers-orc8r

clean up sentry related actions in lte-agw-deploy (#7726)
  .circleci/config.yml
Owners: @magma/approvers-ci

orc8r: Improve AGW subscriber sync scalability (#7513)
  lte/gateway/configs/subscriberdb.yml
  lte/gateway/python/magma/subscriberdb/main.py
  lte/gateway/python/magma/subscriberdb/metrics.py
Owners: @magma/approvers-agw, @magma/approvers-agw-python

Clarification for s1ap tester precondition (#7720)
  docs/readmes/lte/s1ap_tests.md
Owners: @magma/approvers-docs

Bump to 1.7.0 (#7739)
  lte/gateway/release/build-magma.sh
Owners: @magma/approvers-agw

Running focal specific role first in focal_dev playbook (#7742)
  lte/gateway/deploy/magma_dev_focal.yml
Owners: @magma/approvers-agw

Remove default in orc8r database storage (#7484)
  fbinternal/cloud/go/services/testcontroller/testcontroller/main.go
  feg/cloud/go/services/health/health/main.go
  lte/cloud/go/services/lte/lte/main.go
  lte/cloud/go/services/nprobe/nprobe/main.go
  lte/cloud/go/services/smsd/smsd/main.go
  lte/cloud/go/services/subscriberdb/subscriberdb/main.go
  orc8r/cloud/go/services/accessd/accessd/main.go
  orc8r/cloud/go/services/certifier/certifier/main.go
  orc8r/cloud/go/services/configurator/configurator/main.go
  orc8r/cloud/go/services/ctraced/ctraced/main.go
  orc8r/cloud/go/services/device/device/main.go
  orc8r/cloud/go/services/directoryd/directoryd/main.go
  orc8r/cloud/go/services/state/state/main.go
  orc8r/cloud/go/services/tenants/tenants/main.go
  orc8r/cloud/go/storage/storage.go
  orc8r/cloud/go/test_utils/test_db.go
  orc8r/lib/go/definitions/env.go
Owners: @magma/approvers-orc8r, @magma/approvers-feg

Ubuntu as default for build (#7737)
  lte/gateway/fabfile.py
  lte/gateway/release/build-magma.sh
Owners: @magma/approvers-agw

feat: Add support for Semantic Pull Requests (#7684)
  .github/semantic.yml
  .github/workflows/pr_bot.yml
  docs/readmes/contributing/contribute_commit_msg.md
Owners: @magma/approvers-ci, @magma/approvers-docs

Add minor Orc8r deployment changes. (#7717)
  orc8r/cloud/deploy/orc8r_deployer/docker/Dockerfile
  orc8r/cloud/deploy/orc8r_deployer/docker/root/data/default_template.json
  orc8r/cloud/deploy/orc8r_deployer/docker/root/data/vars.yml
  orc8r/cloud/deploy/orc8r_deployer/docker/root/scripts/cli/cleanup.py
  orc8r/cloud/deploy/orc8r_deployer/docker/root/scripts/cli/configlib.py
  orc8r/cloud/deploy/orc8r_deployer/docker/root/scripts/cli/configlib_test.py
  orc8r/cloud/deploy/orc8r_deployer/docker/root/scripts/cli/install.py
  orc8r/cloud/deploy/orc8r_deployer/docker/root/scripts/playbooks/roles/infra/aws/tasks/main.yml
  orc8r/cloud/deploy/orc8r_deployer/docker/root/scripts/playbooks/roles/infra/aws/tasks/secrets.yml
  orc8r/cloud/deploy/orc8r_deployer/docker/root/scripts/playbooks/roles/platform/tasks/elastic.yml
  orc8r/cloud/deploy/orc8r_deployer/docker/root/scripts/playbooks/roles/platform/tasks/rds.yml
  orc8r/cloud/deploy/orc8r_deployer/docker/root/scripts/playbooks/roles/services/tasks/helm.yml
  orc8r/cloud/deploy/orc8r_deployer/docker/root/tf/main.tf.j2
  orc8r/cloud/deploy/orc8r_deployer/docker/run_deployer.bash
  orc8r/cloud/deploy/terraform/orc8r-aws/db.tf
  orc8r/cloud/deploy/terraform/orc8r-aws/outputs.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/examples/basic/main.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/logging.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/variables.tf
  orc8r/cloud/helm/orc8r/Chart.yaml
  orc8r/cloud/helm/orc8r/charts/metrics/Chart.yaml
  orc8r/cloud/helm/orc8r/charts/metrics/templates/prometheus.deployment.yaml
Owners: @magma/approvers-orc8r

fix(pipelined):Cleanup flows on timed out installation (#7724)
  lte/gateway/python/magma/pipelined/rpc_servicer.py
Owners: @magma/approvers-agw-pipelined
