Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

fix(dp): Fix typos in dp config
  dp/cloud/configs/dp.yml
  dp/cloud/go/services/dp/config.go
  dp/cloud/go/services/dp/dp/main.go
  dp/cloud/helm/dp/charts/domain-proxy/examples/orc8r_integration_tests.yaml
  orc8r/cloud/Makefile
  orc8r/cloud/helm/orc8r/values.yaml
Owners: @m-govind, @panyogesh

Addressed review comments
  lte/cloud/go/protos/oai/s1ap_state.pb.go
  lte/gateway/c/core/oai/common/itti_free_defined_msg.c
  lte/gateway/c/core/oai/include/s1ap_state.hpp
  lte/gateway/c/core/oai/tasks/ha/ha_service_handler.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_itti_messaging.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.hpp
  lte/protos/oai/s1ap_state.proto
Owners: @ghost, @m-govind, @panyogesh

Converted nas/util files to cpp
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/include/mme_app_ue_context.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_context.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_timer.h
  lte/gateway/c/core/oai/tasks/nas/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/nas/emm/Attach.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/Authentication.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/Detach.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/Identification.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/SecurityModeControl.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/TrackingAreaUpdate.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/emm_data.hpp
  lte/gateway/c/core/oai/tasks/nas/emm/emm_data_ctx.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/esm_data.hpp
  lte/gateway/c/core/oai/tasks/nas/esm/esm_data_context.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/esm_ebr.hpp
  lte/gateway/c/core/oai/tasks/nas/esm/esm_ebr_context.cpp
  lte/gateway/c/core/oai/tasks/nas/esm/esm_information.cpp
  lte/gateway/c/core/oai/tasks/nas/nas_network.cpp
  lte/gateway/c/core/oai/tasks/nas/nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/nas/nas_procedures.hpp
  lte/gateway/c/core/oai/tasks/nas/nas_state_converter.cpp
  lte/gateway/c/core/oai/tasks/nas/util/nas_timer.cpp
  lte/gateway/c/core/oai/tasks/nas/util/nas_timer.hpp
  lte/gateway/c/core/oai/tasks/nas/util/parser.cpp
  lte/gateway/c/core/oai/tasks/nas/util/parser.hpp
  lte/gateway/c/core/oai/tasks/nas/util/socket.cpp
  lte/gateway/c/core/oai/tasks/nas/util/socket.hpp
Owners: @m-govind, @panyogesh

Build liagentd_image with Bazel
  WORKSPACE.bazel
  lte/gateway/c/li_agent/src/BUILD.bazel
Owners: @m-govind, @panyogesh

Try py3_image
  WORKSPACE.bazel
  lte/gateway/python/magma/enodebd/BUILD.bazel
  orc8r/gateway/python/magma/ctraced/BUILD.bazel
Owners: @m-govind, @panyogesh

First attempt for custom enodebd image
  lte/gateway/python/magma/enodebd/BUILD.bazel
Owners: @m-govind, @panyogesh

try container_push
  lte/gateway/python/magma/enodebd/BUILD.bazel
Owners: @m-govind, @panyogesh

Be less specific about the Python version
  bazel/python_toolchain.bzl
Owners: @m-govind, @panyogesh

Not configuring the Python toolchain also seems to do the job
  bazel/BUILD.bazel
  bazel/python_dependencies.bzl
  bazel/python_toolchain.bzl
Owners: @m-govind, @panyogesh

Add python base image, subscriberdb, directoryd
  lte/gateway/python/BUILD.bazel
  lte/gateway/python/magma/enodebd/BUILD.bazel
  lte/gateway/python/magma/subscriberdb/BUILD.bazel
  orc8r/gateway/python/magma/directoryd/BUILD.bazel
Owners: @m-govind, @panyogesh

Make liagentd work
  WORKSPACE.bazel
  lte/gateway/c/li_agent/src/BUILD.bazel
Owners: @m-govind, @panyogesh

Reference the full image
  lte/gateway/python/magma/enodebd/BUILD.bazel
Owners: @m-govind, @panyogesh

Add missing distutils
  lte/gateway/python/magma/enodebd/BUILD.bazel
Owners: @m-govind, @panyogesh

Increase magma-dev disksize
  lte/gateway/Vagrantfile
Owners: @magma/approvers-ci

Revert "Try out the debs parameter of container_image"
  WORKSPACE.bazel
Owners: @m-govind, @panyogesh

poc: use the distroless approach for the liagentd image
  WORKSPACE.bazel
  lte/gateway/c/li_agent/src/BUILD.bazel
Owners: @m-govind, @panyogesh

demo of building enodebd image without docker
  WORKSPACE.bazel
  lte/gateway/python/magma/enodebd/BUILD.bazel
Owners: @m-govind, @panyogesh

Try out the debs parameter of container_image
  WORKSPACE.bazel
Owners: @m-govind, @panyogesh

Revert "poc: use the distroless approach for the liagentd image"
  WORKSPACE.bazel
  lte/gateway/c/li_agent/src/BUILD.bazel
Owners: @m-govind, @panyogesh

Select docker image depending on CPU
  .bazelrc
  lte/gateway/python/BUILD.bazel
  lte/gateway/python/magma/enodebd/BUILD.bazel
Owners: @m-govind, @panyogesh

Revert "move distroless package definitions out of workspace"
  WORKSPACE.bazel
Owners: @m-govind, @panyogesh

Revert "demo of building enodebd image without docker"
  WORKSPACE.bazel
  lte/gateway/python/magma/enodebd/BUILD.bazel
Owners: @m-govind, @panyogesh

move distroless package definitions out of workspace
  WORKSPACE.bazel
Owners: @m-govind, @panyogesh

Revert "use Python interpreter shipped with rules_python"
  WORKSPACE.bazel
  bazel/python_dependencies.bzl
Owners: @m-govind, @panyogesh

Use some bazel-built containers in the docker-compose setup
  lte/gateway/docker/docker-compose.yaml
Owners: @m-govind, @panyogesh

Cleanup for PR
  WORKSPACE.bazel
  lte/gateway/c/li_agent/src/BUILD.bazel
  lte/gateway/python/magma/enodebd/BUILD.bazel
Owners: @m-govind, @panyogesh

Remove ctraced command from compose file
  lte/gateway/docker/docker-compose.yaml
Owners: @m-govind, @panyogesh

better liagent image target name
  lte/gateway/c/li_agent/src/BUILD.bazel
Owners: @m-govind, @panyogesh

aarch64 images
  WORKSPACE.bazel
  lte/gateway/python/BUILD.bazel
  lte/gateway/python/magma/enodebd/BUILD.bazel
Owners: @m-govind, @panyogesh

use Python interpreter shipped with rules_python
  WORKSPACE.bazel
  bazel/python_dependencies.bzl
Owners: @m-govind, @panyogesh

feat(ci): Add federated integ test for HSS
  lte/gateway/python/integ_tests/defs.mk
Owners: @m-govind, @panyogesh

Addressed self review comments
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_context.c
  lte/gateway/c/core/oai/tasks/nas/emm/Authentication.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/Detach.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/EmmCommon.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/EmmCommon.hpp
  lte/gateway/c/core/oai/tasks/nas/emm/LowerLayer.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/TrackingAreaUpdate.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/emm_data_ctx.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_fsm.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_fsm.hpp
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_recv.cpp
  lte/gateway/c/core/oai/tasks/nas/nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/nas/util/nas_timer.hpp
Owners: @m-govind, @panyogesh

chore(agw): Create convenient aliases in magma-dev VM for service commands
  lte/gateway/deploy/magma_dev_focal.yml
  lte/gateway/deploy/roles/service_aliases/tasks/main.yml
Owners: @m-govind, @panyogesh

chore(agw): Remove service make targets
  ci-scripts/JenkinsFile-GitLab
  docs/readmes/lte/s1ap_tests.md
  feg/gateway/Makefile
  lte/gateway/Makefile
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

feat(ci): Add federated integ test for HSS (#13805)
  lte/gateway/python/integ_tests/defs.mk
Owners: @m-govind, @panyogesh

Fixed clang errors
  lte/gateway/c/core/oai/lib/secu/secu_defs.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_defs.h
  lte/gateway/c/core/oai/tasks/nas/api/mme/mme_api.cpp
  lte/gateway/c/core/oai/tasks/nas/api/mme/mme_api.hpp
  lte/gateway/c/core/oai/tasks/nas/api/network/nas_message.hpp
  lte/gateway/c/core/oai/tasks/nas/emm/Attach.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/Authentication.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/Detach.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/EmmCommon.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/Identification.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/LowerLayer.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/SecurityModeControl.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/ServiceRequestHdl.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/TrackingAreaUpdate.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/emm_data.hpp
  lte/gateway/c/core/oai/tasks/nas/emm/emm_data_ctx.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/emm_proc.hpp
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_as.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_cn.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_fsm.hpp
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_recv.cpp
  lte/gateway/c/core/oai/tasks/nas/nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/nas/nas_procedures.hpp
  lte/gateway/c/core/oai/tasks/nas/util/nas_timer.hpp
Owners: @m-govind, @panyogesh

Adding emm_headers.hpp
  lte/gateway/c/core/oai/tasks/nas/emm/emm_headers.hpp
Owners: @m-govind, @panyogesh

chore(agw): Tidy up fabfile
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(agw): Tidy up fabfile (#13872)
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(dp): New AmcManager CreateRequest func.
  dp/cloud/go/go.mod
  dp/cloud/go/go.sum
  dp/cloud/go/services/dp/storage/amc_manager.go
  dp/cloud/go/services/dp/storage/amc_manager_test.go
  dp/cloud/go/services/dp/storage/cbsd_manager.go
  dp/cloud/go/services/dp/storage/dp_manager.go
  dp/cloud/go/services/dp/storage/models.go
Owners: @ghost, @m-govind, @panyogesh

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost
