Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @magma/approvers-ci, @magma/approvers-orc8r, @magma/approvers-orc8r-infra, @magma/approvers-nms, @magma/approvers-feg, @magma/approvers-cwf, @magma/approvers-agw, @magma/approvers-agw-sessiond, @magma/approvers-agw-mme, @magma/approvers-agw-integtests, @magma/approvers-agw-containers, @magma/approvers-agw-pipelined, @magma/approvers-xwf, @magma/approvers-domain-proxy, @magma/approvers-docs, @magma/approvers-tsc, @magma/approvers-bazel, @ghost

CODEOWNERS:

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

# approvers-orc8r
*/cloud/ @magma/approvers-orc8r
/.golangci.yml @magma/approvers-orc8r
/orc8r/ @magma/approvers-orc8r

# approvers-orc8r-infra
/orc8r/cloud/docker/ @magma/approvers-orc8r-infra
/orc8r/cloud/deploy/ @magma/approvers-orc8r-infra
*/cloud/helm/ @magma/approvers-orc8r-infra

# approvers-nms
/nms/ @magma/approvers-nms

# approvers-feg
/feg/ @magma/approvers-feg

# approvers-cwf
/cwf/ @magma/approvers-cwf
/openwrt/ @magma/approvers-cwf

# approvers-agw
/lte/gateway @magma/approvers-agw
/lte/protos @magma/approvers-agw
/lte/gateway/python @magma/approvers-agw
/lte/gateway/c @magma/approvers-agw
/show-tech/ @magma/approvers-agw

# agw code related to orc8r
/orc8r/gateway/c/ @magma/approvers-agw
/orc8r/gateway/python @magma/approvers-agw @magma/approvers-orc8r
/src/go/ @magma/approvers-orc8r

# approvers-agw-<subsection>
/lte/gateway/c/session_manager @magma/approvers-agw-sessiond
/lte/gateway/c/core/oai @magma/approvers-agw-mme
/lte/gateway/c/sctpd @magma/approvers-agw-mme
/lte/gateway/python/integ_tests @magma/approvers-agw-integtests
/lte/gateway/docker @magma/approvers-agw-containers @magma/approvers-ci

# approvers-agw-pipelined
/lte/gateway/python/magma/pipelined @magma/approvers-agw-pipelined
/third_party/gtp_ovs @magma/approvers-agw-pipelined

# XWF Magma integrations
/xwf/ @magma/approvers-xwf
/feg/radius @magma/approvers-xwf @magma/approvers-cwf

/dp/ @magma/approvers-domain-proxy

/docs/ @magma/approvers-docs
/docs/readmes/proposals @magma/approvers-tsc

# approvers-bazel
/.bazel-cache/ @magma/approvers-bazel
/.bazel-cache-repo/ @magma/approvers-bazel
/.github/workflows/bazel-cache-push.yml @magma/approvers-bazel
/.github/workflows/bazel.yml @magma/approvers-bazel
/bazel/ @magma/approvers-bazel
/.bazelignore @magma/approvers-bazel
/.bazelrc @magma/approvers-bazel
*.bazel @magma/approvers-bazel

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/MagmaAPIBindings.js @ghost
/nms/generated-ts/ @ghost

chore: Remove references to roles/ovs_*
  orc8r/tools/packer/magma-dev-aws.json
  orc8r/tools/packer/magma-dev-libvirt.json
  orc8r/tools/packer/magma-dev-virtualbox.json
  orc8r/tools/packer/magma-focal-virtualbox.json
  orc8r/tools/packer/magma-test-aws.json
  orc8r/tools/packer/magma-test-libvirt.json
  orc8r/tools/packer/magma-test-virtualbox.json
Owners: @magma/approvers-orc8r

fix(agw): Replaced the key for guti hashtable, currently the key is GUTI in string format (#12653)
  lte/gateway/c/core/oai/common/conversions.c
  lte/gateway/c/core/oai/common/conversions.h
  lte/gateway/c/core/oai/tasks/amf/amf_app_state_converter.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_context.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_state_converter.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_state_converter.hpp
  lte/gateway/c/core/oai/tasks/nas/emm/emm_data.h
  lte/gateway/c/core/oai/tasks/nas/emm/emm_data_ctx.c
Owners: @magma/approvers-agw-mme

docs: Update orc8r minikube deployment docs to account for Linux (#12889)
  docs/readmes/orc8r/dev_minikube.md
Owners: @magma/approvers-docs

[skip ci] Deploy website
  docs/next/orc8r/dev_minikube.html
  docs/next/orc8r/dev_minikube/index.html
Owners: @magma/approvers-docs

chore: Remove references to roles/ovs_* (#12820)
  orc8r/tools/packer/magma-dev-aws.json
  orc8r/tools/packer/magma-dev-libvirt.json
  orc8r/tools/packer/magma-dev-virtualbox.json
  orc8r/tools/packer/magma-focal-virtualbox.json
  orc8r/tools/packer/magma-test-aws.json
  orc8r/tools/packer/magma-test-libvirt.json
  orc8r/tools/packer/magma-test-virtualbox.json
Owners: @magma/approvers-orc8r
