Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

auxiliary checks to understand health check failure
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

execute precommit tests only and try to exclude the ones that require trf_server
  lte/gateway/python/integ_tests/defs.mk
Owners: @m-govind, @panyogesh

polish health check
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

Fixed coolint errors
  lte/gateway/c/core/oai/tasks/nas/nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/nas/util/socket.cpp
Owners: @m-govind, @panyogesh

Fixed cpplint errors
  lte/gateway/c/core/oai/tasks/nas/emm/Attach.cpp
Owners: @m-govind, @panyogesh

chore(dp): Get rid of legacy active-mode controller (#13906)
  .github/workflows/dp-workflow.yml
  dp/cloud/docker/go/active_mode_controller/Dockerfile
  dp/cloud/go/active_mode_controller/main.go
  dp/cloud/helm/dp/charts/domain-proxy/README.md
  dp/cloud/helm/dp/charts/domain-proxy/examples/aws_nginx_values.yaml
  dp/cloud/helm/dp/charts/domain-proxy/examples/minikube_values.yaml
  dp/cloud/helm/dp/charts/domain-proxy/examples/minikube_values_nginx.yaml
  dp/cloud/helm/dp/charts/domain-proxy/templates/_helpers.tpl
  dp/cloud/helm/dp/charts/domain-proxy/templates/active_mode_controller/deployment.yaml
  dp/cloud/helm/dp/charts/domain-proxy/templates/active_mode_controller/hpa.yaml
  dp/cloud/helm/dp/charts/domain-proxy/templates/active_mode_controller/pdb.yaml
  dp/cloud/helm/dp/charts/domain-proxy/templates/active_mode_controller/serviceaccount.yaml
  dp/cloud/helm/dp/charts/domain-proxy/values.yaml
  dp/skaffold.yaml
Owners: @magma/approvers-ci, @m-govind, @panyogesh

feat(dp): Implement GetState in DP orc8r service
  dp/cloud/go/services/dp/builders/builders.go
  dp/cloud/go/services/dp/storage/amc_manager.go
  dp/cloud/go/services/dp/storage/amc_manager_test.go
  dp/cloud/go/services/dp/storage/cbsd_manager.go
  dp/cloud/go/services/dp/storage/cbsd_manager_test.go
  dp/cloud/go/services/dp/storage/db/types.go
  dp/cloud/go/services/dp/storage/dp_manager.go
  dp/cloud/go/services/dp/storage/models.go
  dp/cloud/go/services/dp/storage/models_test.go
Owners: @m-govind, @panyogesh

feat(dp): Implement GetState in DP orc8r service (#13914)
  dp/cloud/go/services/dp/builders/builders.go
  dp/cloud/go/services/dp/storage/amc_manager.go
  dp/cloud/go/services/dp/storage/amc_manager_test.go
  dp/cloud/go/services/dp/storage/cbsd_manager.go
  dp/cloud/go/services/dp/storage/cbsd_manager_test.go
  dp/cloud/go/services/dp/storage/db/types.go
  dp/cloud/go/services/dp/storage/dp_manager.go
  dp/cloud/go/services/dp/storage/models.go
  dp/cloud/go/services/dp/storage/models_test.go
Owners: @m-govind, @panyogesh

chore(orc8r): Add missing dp enabled parameter to terraform input template
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/templates/orc8r-values.tpl
Owners: @m-govind, @panyogesh

Fixed bazel build errors
  lte/gateway/c/core/oai/tasks/nas/emm/emm_data.hpp
  lte/gateway/c/core/oai/tasks/nas/emm/emm_data_ctx.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/emm_headers.hpp
Owners: @m-govind, @panyogesh

chore(dp): Fix domain-proxy build job
  dp/skaffold.yaml
Owners: @m-govind, @panyogesh

docs(agw): Mark the AGWC Helm chart as experimental (#13920)
  lte/gateway/deploy/agwc-helm-charts/README.md
Owners: @m-govind, @panyogesh

chore(dp): Fix domain-proxy build job (#13937)
  dp/skaffold.yaml
Owners: @m-govind, @panyogesh

restore docker compose override file which was deleted in rebase
  lte/gateway/docker/docker-compose.override.yaml
Owners: @m-govind, @panyogesh

chore: #11633 is reverted manually
  bazel/scripts/check_c_cpp_bazel.sh
  lte/gateway/Makefile
  lte/gateway/c/core/oai/CMakeAgwOptions.txt
  lte/gateway/c/core/oai/CMakeMmeOptions.txt
  lte/gateway/c/core/oai/include/mme_app_messages_def.h
  lte/gateway/c/core/oai/include/mme_app_messages_types.h
  lte/gateway/c/core/oai/include/mme_config.h
  lte/gateway/c/core/oai/include/state_manager.hpp
  lte/gateway/c/core/oai/oai_mme/oai_mme.c
  lte/gateway/c/core/oai/tasks/mme_app/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/mme_app/experimental/mme_app_serialization.cpp
  lte/gateway/c/core/oai/tasks/mme_app/experimental/mme_app_serialization.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_embedded_spgw.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_main.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_config.c
Owners: @m-govind, @panyogesh

chore(orc8r): Add missing dp enabled parameter to terraform input template (#13934)
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/templates/orc8r-values.tpl
Owners: @m-govind, @panyogesh

fix(agw): perform install of magma runtime dependencies (#13924)
  lte/gateway/deploy/roles/magma_deploy/tasks/main.yml
Owners: @m-govind, @panyogesh

fix(agw): Modified code to port s1ap_state_t structure to protobuf structure,S1apState
  lte/gateway/c/core/oai/include/proto_map.hpp
  lte/gateway/c/core/oai/include/s1ap_state.hpp
  lte/gateway/c/core/oai/include/s1ap_types.hpp
  lte/gateway/c/core/oai/tasks/grpc_service/S1apServiceImpl.cpp
  lte/gateway/c/core/oai/tasks/ha/ha_service_handler.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_common.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.hpp
  lte/gateway/c/core/oai/test/s1ap_task/mock_s1ap_op.cpp
  lte/gateway/c/core/oai/test/s1ap_task/s1ap_mme_test_utils.cpp
  lte/gateway/c/core/oai/test/s1ap_task/s1ap_mme_test_utils.h
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_handle_new_association.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers_with_injected_state.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_state_converter.cpp
Owners: @m-govind, @panyogesh

fix(agw): Modified code to remove unused files, pgw_pcef_emulation.cpp/hpp and also removed unused structure, deactivated_predefined_pcc_rules
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/include/pgw_types.h
  lte/gateway/c/core/oai/include/spgw_state.hpp
  lte/gateway/c/core/oai/tasks/sgw/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/sgw/pgw_config.cpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_pcef_emulation.cpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_pcef_emulation.hpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_procedures.hpp
  lte/gateway/c/core/oai/tasks/sgw/sgw.hpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_task.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_manager.hpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_manager.hpp
Owners: @m-govind, @panyogesh

test(cwag): Made changes for review
  cwf/gateway/integ_tests/gy_enforcement_test.go
Owners: @m-govind, @panyogesh

Addressed review comments
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_defs.h
  lte/gateway/c/core/oai/tasks/nas/api/mme/mme_api.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/Attach.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/Authentication.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/EmmCommon.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/LowerLayer.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/emm_main.cpp
  lte/gateway/c/core/oai/tasks/nas/emm/emm_proc.hpp
  lte/gateway/c/core/oai/tasks/nas/emm/sap/emm_as.cpp
Owners: @m-govind, @panyogesh

chore(dp): Preallocate memory when collecting column pointers
  dp/cloud/go/services/dp/storage/db/join.go
Owners: @m-govind, @panyogesh

Resolved compilation errors
  lte/gateway/c/core/oai/include/mme_app_ue_context.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_context.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_defs.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_extern.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_location.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_main.cpp
Owners: @m-govind, @panyogesh

chore(dp): Preallocate memory when collecting column pointers (#13890)
  dp/cloud/go/services/dp/storage/db/join.go
Owners: @m-govind, @panyogesh

chore(dp): supressed radio controller operation
  dp/cloud/docker/python/radio_controller/Dockerfile
  dp/cloud/python/magma/radio_controller/run.py
Owners: @m-govind, @panyogesh

chore(dp): supressed radio controller operation (#13925)
  dp/cloud/docker/python/radio_controller/Dockerfile
  dp/cloud/python/magma/radio_controller/run.py
Owners: @m-govind, @panyogesh

Add Pre-requisites
  lte/gateway/deploy/agwc-helm-charts/README.md
Owners: @m-govind, @panyogesh

Update README.md
  lte/gateway/deploy/agwc-helm-charts/README.md
Owners: @m-govind, @panyogesh

chore(dp): Add stmt cache to AMC
  dp/cloud/go/services/dp/active_mode_controller/app.go
Owners: @m-govind, @panyogesh

Minor Changes to README
  lte/gateway/deploy/agwc-helm-charts/README.md
Owners: @m-govind, @panyogesh

Add extra line.
  lte/gateway/deploy/agwc-helm-charts/README.md
Owners: @m-govind, @panyogesh

test(cwg): Stabilizing `TestGyCreditExhaustionRedirect` (#13870)
  cwf/gateway/integ_tests/gy_enforcement_test.go
  cwf/gateway/integ_tests/test_runner.go
  cwf/gateway/services/uesim/servicers/uesim.go
Owners: @m-govind, @panyogesh

fix(agw): Modified code to port s1ap_imsi_map to use protobuf structure
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.hpp
Owners: @m-govind, @panyogesh

fix(agw): Downgrade grpcio to fix pylint
  bazel/external/requirements.in
  bazel/external/requirements.txt
  lte/gateway/python/setup.py
  orc8r/gateway/python/python.mk
  orc8r/gateway/python/setup.py
Owners: @m-govind, @panyogesh

chore(agw): cleanup apt installs in agw Dockerfiles (#13932)
  lte/gateway/docker/services/c/Dockerfile
  lte/gateway/docker/services/python/Dockerfile
Owners: @m-govind, @panyogesh

Added changes from Lucas Gonze
  docs/readmes/lte/deploy_install.md
Owners: @m-govind, @panyogesh

fix(ci): Add missing paths to path filter
  .github/workflows/cloud-workflow.yml
Owners: @magma/approvers-ci

fix(agw): Downgrade grpcio to fix pylint (#13946)
  bazel/external/requirements.in
  bazel/external/requirements.txt
  lte/gateway/python/setup.py
  orc8r/gateway/python/python.mk
  orc8r/gateway/python/setup.py
Owners: @m-govind, @panyogesh

fix(nms): Improve sync of NMS organizations and orc8r tenants
  nms/app/views/organizations/OrganizationInfoDialog.tsx
  nms/generated/api.ts
  nms/scripts/setPassword.ts
  nms/server/grafana/handlers.ts
  nms/server/host/__tests__/organization-test.ts
  nms/server/host/routes.ts
  orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml
  orc8r/cloud/go/services/tenants/obsidian/models/swagger.v1.yml
Owners: @m-govind, @panyogesh, @ghost

chore(ci): Add a new CI workflow for running integ tests against magma debian installation
  .github/workflows/lte-integ-test-magma-deb.yml
  lte/gateway/deploy/roles/magma_deb/tasks/main.yml
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost
