Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @magma/approvers-ci, @magma/approvers-orc8r, @magma/approvers-nms, @magma/approvers-feg, @magma/approvers-cwf, @magma/approvers-openwrt, @magma/approvers-agw, @magma/approvers-agw-python, @magma/approvers-agw-c, @magma/approvers-agw-sessiond, @magma/approvers-agw-mme, @koolzz, @magma/approvers-agw-pipelined, @magma/approvers-agw-integtests, @magma/approvers-xwf, @magma/approvers-showtech, @magma/approvers-docs, @electronjoe, @amarpad, @hcgatewood, @ghost

refactor: [ci] dco pr comment job (#7905)
  .github/workflows/dco-check.yml
  .github/workflows/dco-comment-pr.yml
Owners: @magma/approvers-ci

fix(mme): add config flag to control GTP-U echo (#7980)
  lte/gateway/c/core/oai/include/sgw_config.h
  lte/gateway/c/core/oai/tasks/gtpv1-u/gtp_tunnel_openflow.c
  lte/gateway/c/core/oai/tasks/sgw/sgw_config.c
  lte/gateway/configs/spgw.yml
  lte/gateway/configs/templates/spgw.conf.template
Owners: @magma/approvers-agw-mme, @magma/approvers-agw

Commit leftover generated files (#7932)
  lte/gateway/c/core/oai/include/service303.h
Owners: @magma/approvers-agw-mme

refactor(sessiond): Fix threading issues in sessiond (#7975)
  lte/gateway/c/session_manager/sessiond_main.cpp
Owners: @magma/approvers-agw-sessiond

feat: make `subscriberdb_sync_interval` a network-wide orc8r-pushed config item (#7664)
  feg/cloud/go/services/feg/obsidian/models/subscriberdb_sync_interval_swaggergen.go
  lte/cloud/configs/lte.yml
  lte/cloud/go/protos/mconfig/mconfigs.pb.go
  lte/cloud/go/services/lte/config.go
  lte/cloud/go/services/lte/lte/main.go
  lte/cloud/go/services/lte/obsidian/handlers/handlers_test.go
  lte/cloud/go/services/lte/obsidian/models/defaults.go
  lte/cloud/go/services/lte/obsidian/models/gateway_epc_configs_swaggergen.go
  lte/cloud/go/services/lte/obsidian/models/network_epc_configs_swaggergen.go
  lte/cloud/go/services/lte/obsidian/models/subscriberdb_sync_interval_swaggergen.go
  lte/cloud/go/services/lte/obsidian/models/swagger.v1.yml
  lte/cloud/go/services/lte/servicers/builder_servicer.go
  lte/cloud/go/services/lte/servicers/builder_servicer_test.go
  lte/cloud/go/services/lte/test_init/test_service_init.go
  lte/cloud/go/services/subscriberdb/config.go
  lte/cloud/go/services/subscriberdb/const.go
  lte/cloud/go/services/subscriberdb/subscriberdb/main.go
  lte/cloud/go/services/subscriberdb/test_init/test_service_init.go
  lte/protos/mconfig/mconfigs.proto
  orc8r/cloud/go/obsidian/swagger/v1/models/gateway_epc_configs.go
  orc8r/cloud/go/obsidian/swagger/v1/models/network_epc_configs.go
  orc8r/cloud/go/obsidian/swagger/v1/models/subscriberdb_sync_interval.go
  orc8r/cloud/go/obsidian/swagger/v1/swagger.yml
  orc8r/lib/go/service/config/service_config.go
Owners: @ghost, @magma/approvers-orc8r, @magma/approvers-agw

[ci] All helm chart into one job (#7762)
  .github/workflows/helm-chart-dependency-check.yml
Owners: @magma/approvers-ci

feat(agw): SMF is to handle PDU Session Release request from AMF#7216 (#7334)
  lte/gateway/c/session_manager/SessionStateEnforcer.cpp
  lte/gateway/c/session_manager/SessionStateEnforcer.h
  lte/gateway/c/session_manager/SetMessageManagerHandler.cpp
  lte/gateway/c/session_manager/test/test_set_session_manager_handler.cpp
Owners: @magma/approvers-agw-sessiond

test(sessiond): Write Unit Test for Polling Pipelined (#7904)
  lte/gateway/c/session_manager/LocalEnforcer.cpp
  lte/gateway/c/session_manager/LocalEnforcer.h
  lte/gateway/c/session_manager/StatsPoller.cpp
  lte/gateway/c/session_manager/test/CMakeLists.txt
  lte/gateway/c/session_manager/test/test_polling_pipelined.cpp
Owners: @magma/approvers-agw-sessiond

fix(ci): add feg services and alphabetize semantics.yml (#7996)
  .github/semantic.yml
Owners: none

fix(orc8r): [tracing] Context propagation for all modules (#7986)
  fbinternal/cloud/go/services/testcontroller/e2e_client_api.go
  fbinternal/cloud/go/services/testcontroller/node_client_api.go
  fbinternal/cloud/go/services/testcontroller/obsidian/handlers/node_handlers.go
  fbinternal/cloud/go/services/testcontroller/obsidian/handlers/node_handlers_test.go
  fbinternal/cloud/go/services/testcontroller/obsidian/handlers/testcontroller_handlers.go
  fbinternal/cloud/go/services/testcontroller/obsidian/handlers/testcontroller_handlers_test.go
  fbinternal/cloud/go/services/vpnservice/client_api.go
  feg/cloud/go/services/feg/obsidian/handlers/handlers.go
  feg/cloud/go/services/feg_relay/gw_to_feg_relay/feg_connection.go
  feg/cloud/go/services/feg_relay/gw_to_feg_relay/feg_discovery.go
  feg/cloud/go/services/feg_relay/gw_to_feg_relay/gw_to_feg_relay.go
  feg/cloud/go/services/feg_relay/gw_to_feg_relay/tests/relay_test.go
  feg/cloud/go/services/health/client_api.go
  feg/cloud/go/services/health/client_api_test.go
  feg/cloud/go/services/health/reporter/network_health_reporter.go
  feg/cloud/go/tools/health_cli/main.go
  lte/cloud/go/services/ha/servicers/servicer.go
  lte/cloud/go/services/ha/servicers/servicer_test.go
  lte/cloud/go/services/lte/client_api.go
  lte/cloud/go/services/lte/servicers/indexer_servicer.go
  lte/cloud/go/services/lte/servicers/indexer_servicer_test.go
  lte/cloud/go/services/subscriberdb/client_api.go
  lte/cloud/go/services/subscriberdb/obsidian/handlers/handlers.go
  lte/cloud/go/services/subscriberdb/servicers/indexer_servicer.go
  lte/cloud/go/services/subscriberdb/servicers/indexer_servicer_test.go
Owners: @magma/approvers-orc8r, @magma/approvers-feg

[docs] Update troubleshooting agw unable to checkin v2 (#7843)
  docs/docusaurus/versioned_docs/version-1.5.0/howtos/troubleshooting/agw_unable_to_checkin.md
  docs/readmes/howtos/troubleshooting/agw_unable_to_checkin.md
Owners: @magma/approvers-docs

fix(mme)(s1_handover) fix bugs in security context for HandoverRequest msg (#7985)
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer.c
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.c
Owners: @magma/approvers-agw-mme

Upgrading Cloudstrapper for v1.6 (#7998)
  experimental/cloudstrapper/playbooks/roles/build-platform/vars/main.yaml
Owners: none

fix(agw) Add 10.0.2.3 in resolv conf for Virtualbox VMs (#7999)
  lte/gateway/deploy/roles/dev_common/files/magma_resolv.conf
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
Owners: @magma/approvers-agw

fix(feg): (s8_proxy) bump gtp-go to 0.7.26 (#8002)
  .github/semantic.yml
  cwf/gateway/go.mod
  cwf/gateway/go.sum
  docs/docusaurus/versioned_docs/version-1.5.0/howtos/inbound_roaming.md
  docs/readmes/howtos/inbound_roaming.md
  feg/gateway/go.mod
  feg/gateway/go.sum
Owners: @ghost, @magma/approvers-docs

feat(agw): Handling UE_SERVICE_REQUEST_ON_PAGING (Idle state to Active state) in SMF (#7463)
  lte/gateway/c/session_manager/LocalEnforcer.cpp
  lte/gateway/c/session_manager/SessionState.cpp
  lte/gateway/c/session_manager/SessionState.h
  lte/gateway/c/session_manager/SessionStateEnforcer.cpp
  lte/gateway/c/session_manager/SessionStateEnforcer.h
  lte/gateway/c/session_manager/SessionStore.cpp
  lte/gateway/c/session_manager/SetMessageManagerHandler.cpp
  lte/gateway/c/session_manager/SetMessageManagerHandler.h
  lte/gateway/c/session_manager/test/test_set_session_manager_handler.cpp
Owners: @magma/approvers-agw-sessiond

fix(mme): fix compilation warning (#7987)
  lte/gateway/c/core/oai/tasks/nas/emm/Attach.c
Owners: @magma/approvers-agw-mme

fix(ci): update the bot msg to include Semantic Pull Request check (#8004)
  .github/workflows/pr_bot.yml
Owners: @magma/approvers-ci

test(agw): New s1ap testcases to test concurrent pdn sessions (#7880)
  lte/gateway/python/integ_tests/defs.mk
  lte/gateway/python/integ_tests/s1aptests/test_concurrent_secondary_pdn_reject.py
  lte/gateway/python/integ_tests/s1aptests/test_concurrent_secondary_pdns.py
Owners: @magma/approvers-agw-integtests

refactor(ci): Rotate versions in helm test repo (#7960)
  .github/workflows/publish-helmcharts-to-artifactory.yml
  ci-scripts/helm_repo_rotation.py
Owners: @magma/approvers-ci

feat(agw): update OVS dependency for echo response (#7962)
  lte/gateway/release/build-magma.sh
Owners: @magma/approvers-agw

fix(pipelined): avoid cleaning up uplink-br0 in stateless mode. (#7997)
  lte/gateway/python/magma/pipelined/app/uplink_bridge.py
Owners: @magma/approvers-agw-pipelined

perf(agw): set proportional memory limit to the total (#7946)
  lte/gateway/deploy/roles/magma/files/systemd/magma_mme.service
  lte/gateway/deploy/roles/magma/files/systemd/magma_pipelined.service
  lte/gateway/deploy/roles/magma/files/systemd/magma_sessiond.service
  lte/gateway/release/upgrade_magma.sh
Owners: @magma/approvers-agw

refactor(feg): (s8_proxy) split createBearerRequest into request and response (#7855)
  feg/cloud/go/protos/s8_proxy.pb.go
  feg/cloud/go/services/feg_relay/gw_to_feg_relay/servicers/s8_relay.go
  feg/cloud/go/services/feg_relay/servicers/create_bearer_pgw.go
  feg/gateway/go.mod
  feg/gateway/go.sum
  feg/gateway/gtp/session_manager.go
  feg/gateway/services/s8_proxy/servicers/gtp_handlers.go
  feg/gateway/services/s8_proxy/servicers/gw_s8_client_api.go
  feg/gateway/services/s8_proxy/servicers/ie_conversions.go
  feg/gateway/services/s8_proxy/servicers/mock_feg_relay/mock_feg_relay.go
  feg/gateway/services/s8_proxy/servicers/mock_pgw/cb.go
  feg/gateway/services/s8_proxy/servicers/mock_pgw/mock_pgw.go
  feg/gateway/services/s8_proxy/servicers/proto_conversions.go
  feg/gateway/services/s8_proxy/servicers/s8_proxy.go
  feg/gateway/services/s8_proxy/servicers/s8_proxy_test.go
  feg/gateway/services/s8_proxy/servicers/senders.go
  feg/gateway/services/s8_proxy/servicers/tft_proto_conversion.go
  feg/protos/s8_proxy.proto
Owners: @ghost, @magma/approvers-feg

docs: Document proposals process (#8021)
  .github/ISSUE_TEMPLATE/proposal.md
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/docusaurus/versioned_docs/version-1.6.0/contributing/contribute_proposals.md
  docs/docusaurus/versioned_sidebars/version-1.6.0-sidebars.json
  docs/readmes/contributing/contribute_proposals.md
Owners: @magma/approvers-docs

chore: [ci] Fix build and push of container with new github action job (#8024)
  .github/workflows/cloud-workflow.yml
  .github/workflows/unit-test-workflow.yml
Owners: @magma/approvers-ci

refactor: Add cloud GitHub Actions Workflow (#6372)
  .github/workflows/cloud-workflow.yml
  .github/workflows/unit-test-workflow.yml
  orc8r/cloud/deploy/orc8r_deployer/docker/run_deployer.bash
Owners: @magma/approvers-ci, @magma/approvers-orc8r

feat(agw): Add commands and logs in show-tech playbook (#7841)
  docs/docusaurus/versioned_docs/version-1.4.0/debugging_tools/show_tech.md
  docs/docusaurus/versioned_docs/version-1.5.0/lte/debug_show_tech.md
  docs/readmes/lte/debug_show_tech.md
  show-tech/constants.yml
Owners: @magma/approvers-docs, @magma/approvers-showtech

feat(orc8r): add terraform support of nprobe service (#6515)
  lte/cloud/configs/nprobe.yml
  lte/cloud/configs/service_registry.yml
  lte/cloud/go/services/lte/servicers/builder_servicer.go
  lte/cloud/go/services/nprobe/config.go
  lte/cloud/go/services/nprobe/encoding/asn1.go
  lte/cloud/go/services/nprobe/encoding/asn1_test.go
  lte/cloud/go/services/nprobe/encoding/const.go
  lte/cloud/go/services/nprobe/encoding/record.go
  lte/cloud/go/services/nprobe/encoding/record_test.go
  lte/cloud/go/services/nprobe/encoding/testdata/gen_time_encoded.golden
  lte/cloud/go/services/nprobe/encoding/testdata/payload_asn1.golden
  lte/cloud/go/services/nprobe/encoding/testdata/record_encoded.golden
  lte/cloud/go/services/nprobe/encoding/utils.go
  lte/cloud/go/services/nprobe/exporter/exporter.go
  lte/cloud/go/services/nprobe/nprobe/main.go
  lte/cloud/go/services/nprobe/nprobe_manager/nprobe_manager.go
  lte/cloud/go/services/nprobe/obsidian/handlers/handlers_test.go
  lte/cloud/go/services/nprobe/obsidian/models/network_probe_destination_details_swaggergen.go
  lte/cloud/go/services/nprobe/obsidian/models/network_probe_task_details_swaggergen.go
  lte/cloud/go/services/nprobe/obsidian/models/swagger.v1.yml
  lte/cloud/helm/lte-orc8r/templates/nprobe.deployment.yaml
  lte/cloud/helm/lte-orc8r/templates/nprobe.pdb.yaml
  lte/cloud/helm/lte-orc8r/templates/nprobe.service.yaml
  lte/cloud/helm/lte-orc8r/values.yaml
  orc8r/cloud/go/obsidian/swagger/v1/models/network_probe_destination_details.go
  orc8r/cloud/go/obsidian/swagger/v1/models/network_probe_task_details.go
  orc8r/cloud/go/obsidian/swagger/v1/swagger.yml
Owners: @magma/approvers-orc8r, @ghost

docs(ci): Improve semantic commits CI check docs (#8026)
  .github/workflows/pr_bot.yml
  docs/readmes/contributing/contribute_workflow.md
Owners: @magma/approvers-ci, @magma/approvers-docs

fix(mme): Make stats collection and display configurable (#8025)
  lte/gateway/c/core/oai/include/mme_config.h
  lte/gateway/c/core/oai/include/service303.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_main.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_config.c
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.c
  lte/gateway/c/core/oai/tasks/service303/service303_task.c
  lte/gateway/configs/templates/mme.conf.template
Owners: @magma/approvers-agw-mme, @magma/approvers-agw

refactor(sessiond): Remove atomic field (#7993)
  lte/gateway/c/session_manager/StatsPoller.cpp
  lte/gateway/c/session_manager/StatsPoller.h
Owners: @magma/approvers-agw-sessiond

fix(agw): swap python package json-pointer with jsonpointer (#7966)
  lte/gateway/python/setup.py
  lte/gateway/release/magma.lockfile.ubuntu
  lte/gateway/release/pydep
  orc8r/gateway/python/setup.py
Owners: @magma/approvers-agw-python, @magma/approvers-agw, @magma/approvers-orc8r

docs: control path network metrics design doc (#8040)
  docs/readmes/proposals/p018_control_network_metrics.md
Owners: @electronjoe

feat(mme): N11 interface changes and session_manager.proto (#7786)
  lte/cloud/go/protos/session_manager.pb.go
  lte/gateway/c/core/oai/include/amf_service_handler.h
  lte/gateway/c/core/oai/include/n11_messages_def.h
  lte/gateway/c/core/oai/include/n11_messages_types.h
  lte/gateway/c/core/oai/lib/n11/CMakeLists.txt
  lte/gateway/c/core/oai/lib/n11/SmfServiceClient.cpp
  lte/gateway/c/core/oai/lib/n11/SmfServiceClient.h
  lte/gateway/c/core/oai/tasks/grpc_service/AmfServiceImpl.cpp
  lte/gateway/c/core/oai/test/CMakeLists.txt
  lte/gateway/c/core/oai/test/n11/CMakeLists.txt
  lte/gateway/c/core/oai/test/n11/test_n11.cpp
  lte/gateway/c/session_manager/SessionStateEnforcer.cpp
  lte/protos/session_manager.proto
Owners: @ghost, @magma/approvers-agw-mme, @magma/approvers-agw-sessiond, @magma/approvers-agw

refactor: Add feg GitHub Actions Workflow (#6370)
  .github/workflows/feg-workflow.yml
  .github/workflows/unit-test-workflow.yml
Owners: @magma/approvers-ci

fix: Fix secret for slack channel (#8041)
  .github/workflows/cloud-workflow.yml
Owners: @magma/approvers-ci

Fixed memory leaks during execution of s1ap sanity test suite (#8029)
  lte/gateway/c/core/oai/tasks/nas/emm/TrackingAreaUpdate.c
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.cpp
Owners: @magma/approvers-agw-mme

docs: Fix subscriber scaling formatting (#8030)
  docs/readmes/contributing/contribute_id_mappings.md
  docs/readmes/proposals/p010_subscriber_scaling.md
Owners: @magma/approvers-docs, @electronjoe

docs(agw): Fix incorrect command for AGW upgrade script (#8006)
  docs/docusaurus/versioned_docs/version-1.5.0/lte/upgrade_1_5.md
  docs/docusaurus/versioned_docs/version-1.6.0/lte/upgrade_1_5.md
  docs/docusaurus/versioned_docs/version-1.6.0/lte/upgrade_1_6.md
  docs/readmes/lte/upgrade_1_5.md
  docs/readmes/lte/upgrade_1_6.md
Owners: @magma/approvers-docs

CODEOWNERS:

# approvers-ci
.circleci/ @magma/approvers-ci
circleci/ @magma/approvers-ci
ci-scripts/ @magma/approvers-ci
.github/workflows/ @magma/approvers-ci
third_party/build/ @magma/approvers-ci
orc8r/tools/packer/ @magma/approvers-ci
orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
lte/gateway/docker @magma/approvers-ci
lte/gateway/release @magma/approvers-ci
lte/gateway/Vagrantfile @magma/approvers-ci
cwf/gateway/Vagrantfile @magma/approvers-ci

# approvers-orc8r
*/cloud/ @magma/approvers-orc8r
.golangci.yml @magma/approvers-orc8r
orc8r/ @magma/approvers-orc8r

# approvers-nms
nms/ @magma/approvers-nms

# approvers-feg
feg/ @magma/approvers-feg

# approvers-cwf
cwf/ @magma/approvers-cwf

# approvers-openwrt
openwrt/ @magma/approvers-openwrt

# approvers-agw / approvers-agw-python / approvers-agw-c
lte/gateway @magma/approvers-agw
lte/protos @magma/approvers-agw
lte/gateway/python @magma/approvers-agw-python
lte/gateway/c @magma/approvers-agw-c
orc8r/gateway/c/ @magma/approvers-agw-c

# approvers-agw-<subsection>
lte/gateway/c/session_manager @magma/approvers-agw-sessiond
lte/gateway/c/core/oai @magma/approvers-agw-mme
lte/gateway/c/sctpd @magma/approvers-agw-mme
lte/gateway/c/connection_tracker @koolzz @magma/approvers-agw-c
lte/gateway/python/magma/pipelined @magma/approvers-agw-pipelined
lte/gateway/python/integ_tests @magma/approvers-agw-integtests

# XWF Magma integrations
xwf/ @magma/approvers-xwf
feg/radius @magma/approvers-xwf @magma/approvers-cwf

# approvers-showtech
show-tech/ @magma/approvers-showtech

docs/ @magma/approvers-docs
docs/readmes/proposals @electronjoe

CODEOWNERS @amarpad @electronjoe @hcgatewood

# Paths excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
orc8r/cloud/go/obsidian/swagger/v1/swagger.yml @ghost
orc8r/cloud/go/obsidian/swagger/v1/client/ @ghost
orc8r/cloud/go/obsidian/swagger/v1/models/ @ghost
