Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost

test(agw): Fix broken integration test
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_non_nat_dp_ul_tcp.py
Owners: @m-govind, @panyogesh

chore(ci): Send all CI Slack notifications for Bazel jobs to the standard #ci channel (#14330)
  .github/workflows/agw-coverage.yml
  .github/workflows/bazel.yml
  .github/workflows/gcc-problems.yml
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  .github/workflows/sudo-python-tests.yml
Owners: @magma/approvers-ci

test(agw): Fix broken integration test (#14331)
  lte/gateway/python/integ_tests/s1aptests/test_attach_detach_non_nat_dp_ul_tcp.py
Owners: @m-govind, @panyogesh

chore(ci): Replace to-be-deprecated set-output statement in GitHub workflow
  .github/workflows/bazel.yml
Owners: @magma/approvers-ci

fix(ci): Fix upload error in agw-coverage workflow
  .github/workflows/agw-coverage.yml
Owners: @magma/approvers-ci

chore(ci): Remove unused version parameter from build scripts
  third_party/build/bin/aioeventlet_build.sh
  third_party/build/bin/asn1c_build.sh
  third_party/build/bin/bcc-build.sh
  third_party/build/bin/folly_build.sh
  third_party/build/bin/freediameter_build.sh
  third_party/build/bin/gnutls_build.sh
  third_party/build/bin/grpc_build.sh
  third_party/build/bin/libfluid_build.sh
  third_party/build/bin/liblfds_build.sh
  third_party/build/bin/magma-cpp-redis_build.sh
  third_party/build/bin/magma-libtacopie_build.sh
  third_party/build/bin/nettle_build.sh
  third_party/build/bin/ryu_build.sh
  third_party/build/bin/sentry-native-build.sh
Owners: @magma/approvers-ci

fix: ryu (and all other magma dependencies) are upgraded with magma
  lte/gateway/release/upgrade_magma.sh
Owners: @magma/approvers-ci

fix: bazel build and test verbs use same parameter order
  .github/workflows/bazel.yml
Owners: @magma/approvers-ci

fix: bazel build and test verbs use same parameter order (#14336)
  .github/workflows/bazel.yml
Owners: @magma/approvers-ci

fix(amf): Added logs for release cause
  lte/gateway/c/core/oai/tasks/amf/amf_app_msg.cpp
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_handlers.c
Owners: @m-govind, @panyogesh

fix(ci): Fix upload error in agw-coverage workflow (#14332)
  .github/workflows/agw-coverage.yml
Owners: @magma/approvers-ci

fix(agw): Modified code to fix the issue 14244 (#14327)
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
Owners: @m-govind, @panyogesh

fix(amf): Added logs for release cause (#14337)
  lte/gateway/c/core/oai/tasks/amf/amf_app_msg.cpp
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_handlers.c
Owners: @m-govind, @panyogesh

chore(ci): Replace to-be-deprecated set-output statement in GitHub workflow (#14333)
  .github/workflows/bazel.yml
Owners: @magma/approvers-ci

fix(agw): Modifed code to port hash list of ue contexts to protobuf map
  lte/gateway/c/core/oai/include/proto_map.hpp
  lte/gateway/c/core/oai/include/sgw_context_manager.hpp
  lte/gateway/c/core/oai/include/spgw_state.hpp
  lte/gateway/c/core/oai/include/spgw_types.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_procedures.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_context_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_converter.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_manager.hpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state.cpp
  lte/gateway/c/core/oai/test/spgw_task/mock_spgw_op.cpp
  lte/gateway/c/core/oai/test/spgw_task/spgw_test_util.cpp
  lte/gateway/c/core/oai/test/spgw_task/test_spgw_state_converter.cpp
Owners: @m-govind, @panyogesh

fix(ci): node is pinned to version 17 that can be used on xenial
  orc8r/cloud/Makefile
Owners: @m-govind, @panyogesh

fix(ci): node is pinned to version 17 that can be used on xenial (#14343)
  orc8r/cloud/Makefile
Owners: @m-govind, @panyogesh

fix(ci): patch grpc build
  third_party/build/bin/grpc_build.sh
Owners: @magma/approvers-ci

feat(ci): make `aioh2-build.sh` executable
  third_party/build/bin/aioh2-build.sh
Owners: @magma/approvers-ci

fix(ci): enable bcc build
  third_party/build/bin/bcc-build.sh
Owners: @magma/approvers-ci

fix(ci): Disable Werror flag in grpc build
  third_party/build/bin/grpc_build.sh
Owners: @magma/approvers-ci

fix(ci): enable aioeventlet build
  third_party/build/bin/aioeventlet_build.sh
Owners: @magma/approvers-ci

chore(ci): rename scripts to adhere to the `*_build.sh` convention
  third_party/build/bin/aioh2_build.sh
  third_party/build/bin/bcc_build.sh
  third_party/build/bin/sentry-native_build.sh
Owners: @magma/approvers-ci

fix(ci): enable gnutls build
  third_party/build/bin/gnutls_build.sh
Owners: @magma/approvers-ci

fix(ci): enable aioh2 build
  third_party/build/bin/aioh2-build.sh
Owners: @magma/approvers-ci

chore(ci): refactor URI download to separate funtion
  ci-scripts/firebase_publish.py
Owners: @magma/approvers-ci

chore(ci): reduce boilerplate code in `firebase_publish.py`
  ci-scripts/firebase_publish.py
Owners: @magma/approvers-ci

docs: migrate Documentation Overview from Docusaurus to Contributor Guide
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/readmes/contributing/contribute_ci_checks.md
  docs/readmes/contributing/contribute_conventions.md
  docs/readmes/contributing/contribute_github.md
  docs/readmes/contributing/contribute_id_mappings.md
  docs/readmes/contributing/contribute_vscode.md
Owners: @m-govind, @panyogesh

feat(ci): enable build Debian packages of external Magma dependencies (#14326)
  third_party/build/bin/aioeventlet_build.sh
  third_party/build/bin/aioh2-build.sh
  third_party/build/bin/aioh2_build.sh
  third_party/build/bin/bcc_build.sh
  third_party/build/bin/gnutls_build.sh
  third_party/build/bin/grpc_build.sh
  third_party/build/bin/sentry-native_build.sh
Owners: @magma/approvers-ci

refactor(feg): replace sleeps in unit tests
  cwf/gateway/go.mod
  cwf/gateway/go.sum
  feg/radius/src/modules/coadynamic/coa_dynamic_test.go
  feg/radius/src/modules/coafixedip/coa_fixed_ip_test.go
  feg/radius/src/modules/coanas/coa_nas_test.go
Owners: @ghost, @m-govind, @panyogesh

refactor(feg): remove expresswifi
  feg/radius/lib/go/libgraphql/example_test.go
  feg/radius/lib/go/libgraphql/xwf_customer.go
  feg/radius/lib/go/radius/coa/coa_sender.go
  feg/radius/lib/go/radius/coa/coa_sender_test.go
  feg/radius/lib/go/radius/dictionaries/xwf/dictionary.facebook.expresswifi
  feg/radius/lib/go/radius/dictionaries/xwf/generated.go
  feg/radius/lib/go/radius/dictionaries/xwfradiusserver/dictionary.facebook.expresswifi.radius.server
  feg/radius/lib/go/radius/dictionaries/xwfradiusserver/generated.go
  feg/radius/lib/go/radius/expresswifi/generated.go
  feg/radius/src/loader/static_loader.go
  feg/radius/src/modules/addmsisdn/add_msisdn.go
  feg/radius/src/modules/addmsisdn/add_msisdn_test.go
  feg/radius/src/modules/ofpanalytics/ofpanalytics.go
  feg/radius/src/modules/xwfv3/xwfhttp2/http2client.go
  feg/radius/src/modules/xwfv3/xwfhttp2/http2client_test.go
  feg/radius/src/modules/xwfv3/xwfv3.go
  feg/radius/src/server/sse_listener.go
  feg/radius/src/server/sse_listener_test.go
Owners: @m-govind, @panyogesh

fix(feg): remove xwf specific vendors
  feg/radius/src/modules/analytics/radius_session.go
Owners: @m-govind, @panyogesh

refactor(feg): Removed ruckus
  feg/radius/lib/go/radius/coa/coa_sender.go
  feg/radius/lib/go/radius/coa/coa_sender_test.go
  feg/radius/lib/go/radius/dictionaries/ruckus/dictionary.ruckus
  feg/radius/lib/go/radius/dictionaries/ruckus/generated.go
  feg/radius/lib/go/radius/ruckus/generate.go
  feg/radius/lib/go/radius/ruckus/generated.go
  feg/radius/lib/go/radius/ruckus/ruckus.dictionary
  feg/radius/src/config/samples/radius.cwf.config.json.template
  feg/radius/src/config/samples/radius.cwf_analytics_disabled.config.json.template
  feg/radius/src/loader/static_loader.go
  feg/radius/src/modules/adaptruckus/adapt_ruckus.go
  feg/radius/src/modules/adaptruckus/adapt_ruckus_test.go
  feg/radius/src/modules/analytics/client_test.go
  feg/radius/src/modules/analytics/xwf_vendors.go
  feg/radius/src/radius.config.json
  feg/radius/src/server/sse_listener.go
Owners: @m-govind, @panyogesh

refactor(feg): Switch to layeh.com/radius
  cwf/gateway/integ_tests/assertions.go
  cwf/gateway/integ_tests/test_runner.go
  cwf/gateway/services/uesim/servicers/radius.go
  cwf/gateway/services/uesim/servicers/radius_test.go
  cwf/gateway/services/uesim/servicers/start_auth.go
  cwf/gateway/services/uesim/servicers/start_auth_test.go
  cwf/gateway/services/uesim/servicers/uesim.go
  cwf/gateway/tools/uesim_cli/main.go
  feg/radius/lib/go/radius/rfc3576/generate.go
  feg/radius/lib/go/radius/rfc3576/generated.go
  feg/radius/lib/go/radius/rfc5176/generate.go
  feg/radius/lib/go/radius/rfc5176/generated.go
  feg/radius/src/filters/filter.go
  feg/radius/src/filters/lballocate/lb_allocate.go
  feg/radius/src/filters/lbcanary/lb_canary.go
  feg/radius/src/go.mod
  feg/radius/src/go.sum
  feg/radius/src/loader/static_loader.go
  feg/radius/src/modules/alwaysaccept/always_accept.go
  feg/radius/src/modules/analytics/analytics.go
  feg/radius/src/modules/coadynamic/coa_dynamic.go
  feg/radius/src/modules/coadynamic/radiustracker/tracker.go
  feg/radius/src/modules/coafixedip/coa_fixed_ip.go
  feg/radius/src/modules/coanas/coa_nas.go
  feg/radius/src/modules/eap/authstate/manager.go
  feg/radius/src/modules/eap/eap.go
  feg/radius/src/modules/eap/methods/methods.go
  feg/radius/src/modules/eap/packet/packet.go
  feg/radius/src/modules/lbserve/lb_serve.go
  feg/radius/src/modules/magmaacct/magma_acct.go
  feg/radius/src/modules/module.go
  feg/radius/src/modules/ofpanalytics/ofpanalytics.go
  feg/radius/src/modules/proxy/proxy.go
  feg/radius/src/modules/testloopback/test_loopback.go
  feg/radius/src/modules/testsessionstorage/testsessionstorage.go
  feg/radius/src/monitoring/listener.go
Owners: @m-govind, @panyogesh, @ghost

fix(feg): fix address in radius unit tests
  feg/radius/src/modules/coadynamic/coa_dynamic_test.go
  feg/radius/src/modules/coafixedip/coa_fixed_ip_test.go
  feg/radius/src/modules/coanas/coa_nas_test.go
  feg/radius/src/modules/lbserve/lb_serve_test.go
  feg/radius/src/modules/module_test_utils.go
Owners: @m-govind, @panyogesh

fix(agw): Create empty config before running integ tests
  orc8r/tools/fab/vagrant.py
Owners: @m-govind, @panyogesh

Break a test to see if it's run in the CI
  feg/radius/src/server/server_test.go
Owners: @m-govind, @panyogesh

Addressed Review comments
  lte/gateway/c/core/oai/include/mme_app_ue_context.h
  lte/gateway/c/core/oai/oai_mme/oai_mme.c
  lte/gateway/c/core/oai/tasks/grpc_service/CSFBGatewayServiceImpl.cpp
  lte/gateway/c/core/oai/tasks/grpc_service/SMSOrc8rGatewayServiceImpl.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer.c
  lte/gateway/c/core/oai/tasks/nas/api/mme/mme_api.hpp
  lte/gateway/c/core/oai/tasks/nas/nas_proc.cpp
Owners: @m-govind, @panyogesh

fix(agw): Create empty config before running integ tests (#14292)
  orc8r/tools/fab/vagrant.py
Owners: @m-govind, @panyogesh

Break another test
  feg/gateway/multiplex/multiplex_test.go
Owners: @m-govind, @panyogesh
