Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

fix(agw): fix envoy controller docker image name
  lte/gateway/docker/docker-compose.override.yaml
Owners: @m-govind, @panyogesh

fix(agw): Modified code to replace C structure ue_description_t to protobuf structure UeDescription (#13678)
  lte/cloud/go/protos/oai/s1ap_state.pb.go
  lte/gateway/c/core/oai/common/itti_free_defined_msg.c
  lte/gateway/c/core/oai/include/mme_init.hpp
  lte/gateway/c/core/oai/include/s1ap_state.hpp
  lte/gateway/c/core/oai/include/s1ap_types.hpp
  lte/gateway/c/core/oai/tasks/grpc_service/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/ha/ha_service_handler.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer.c
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_itti_messaging.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_itti_messaging.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_timer.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_timer_management.cpp
  lte/gateway/c/core/oai/test/s1ap_task/mock_s1ap_op.cpp
  lte/gateway/c/core/oai/test/s1ap_task/s1ap_mme_test_utils.cpp
  lte/gateway/c/core/oai/test/s1ap_task/s1ap_mme_test_utils.h
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers_with_injected_state.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_state_converter.cpp
  lte/protos/oai/s1ap_state.proto
Owners: @ghost, @m-govind, @panyogesh

fix(amf): Support for 5GS network feature support
  lte/gateway/c/core/oai/include/amf_config.hpp
  lte/gateway/c/core/oai/tasks/amf/amf_as.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_config.c
  lte/gateway/configs/mme.yml
Owners: @m-govind, @panyogesh

Addressed review comments (R1)
  lte/gateway/c/core/oai/tasks/amf/amf_config.c
  lte/gateway/configs/mme.yml
  lte/gateway/configs/templates/mme.conf.template
Owners: @m-govind, @panyogesh

fix(mme): Handling qosflowFailedForAddorModify in session modification response.
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_handlers.c
Owners: @m-govind, @panyogesh

Session modification corner case handling
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_handlers.c
Owners: @m-govind, @panyogesh

fix(nms): improve sync of orc8r tenants with NMS organizations in NMS scripts (#13939)
  nms/scripts/createOrganization.ts
  nms/scripts/mockServer.ts
  nms/scripts/setPassword.ts
  nms/server/host/routes.ts
  nms/server/util/tenantsSync.ts
Owners: @m-govind, @panyogesh

fix(amf): Support for 5GS network feature support (#13413)
  lte/gateway/c/core/oai/include/amf_config.hpp
  lte/gateway/c/core/oai/tasks/amf/amf_as.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_config.c
  lte/gateway/configs/templates/mme.conf.template
Owners: @m-govind, @panyogesh

chore: Bazelify the config_iface_for_ipv6.py script
  lte/gateway/python/scripts/BUILD.bazel
Owners: @m-govind, @panyogesh

chore: Clean up check_py_bazel.sh
  bazel/scripts/check_py_bazel.sh
Owners: @m-govind, @panyogesh

chore: integ test magma restart waits for pipelined to be initialized
  lte/gateway/python/integ_tests/s1aptests/ovs/rest_api.py
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

chore: Refactor ipv6 interface config script (including failure in s1ap_utils.py)
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/scripts/config_iface_for_ipv6.py
Owners: @m-govind, @panyogesh

chore: Remove ntpdate from eventd service, because timesync already handled by systemd-timesyncd
  lte/gateway/deploy/roles/magma/files/systemd/magma_eventd.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@eventd.service
Owners: @m-govind, @panyogesh

chore: Publish environment logging for the Bazel integration tests
  .github/workflows/lte-integ-test-bazel.yml
Owners: @magma/approvers-ci

chore: Fix path for icmpv6.py (use /usr/local/bin)
  lte/gateway/deploy/roles/magma/tasks/main.yml
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

chore: Remove ntpdate from eventd service, because timesync already handled by systemd-timesyncd
  lte/gateway/deploy/roles/magma/files/systemd/magma_eventd.service
  lte/gateway/deploy/roles/magma/files/systemd_bazel/magma@eventd.service
Owners: @m-govind, @panyogesh

Fixed compilation errors
  lte/gateway/c/core/oai/common/conversions.c
  lte/gateway/c/core/oai/common/conversions.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_context.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_defs.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_hss_reset.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_main.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_purge_ue.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgs_detach.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgs_fsm.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgs_fsm.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgs_null.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgsap_location_update.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_transport.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_config.cpp
Owners: @m-govind, @panyogesh

Addressed review comment
  lte/gateway/c/core/oai/tasks/nas/emm/emm_headers.hpp
Owners: @m-govind, @panyogesh

Addressed self review comments
  lte/gateway/c/core/oai/include/s1ap_state.hpp
  lte/gateway/c/core/oai/include/s1ap_types.hpp
  lte/gateway/c/core/oai/tasks/grpc_service/S1apServiceImpl.cpp
  lte/gateway/c/core/oai/tasks/ha/ha_service_handler.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_ta.cpp
  lte/gateway/c/core/oai/test/s1ap_task/mock_s1ap_op.cpp
  lte/gateway/c/core/oai/test/s1ap_task/mock_s1ap_op.h
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_handle_new_association.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers.cpp
Owners: @m-govind, @panyogesh

chore: Publish environment logging for the Bazel integration tests
  .github/workflows/lte-integ-test-bazel.yml
Owners: @magma/approvers-ci

fix: magma_deb integ tests can use config_iface_for_ipv6.py script
  lte/gateway/deploy/roles/magma_deb/tasks/main.yml
Owners: @m-govind, @panyogesh

chore: Clean up check_py_bazel.sh
  bazel/scripts/check_py_bazel.sh
Owners: @m-govind, @panyogesh

chore: Refactor ipv6 interface config script (including failure in s1ap_utils.py)
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
  lte/gateway/python/scripts/config_iface_for_ipv6.py
Owners: @m-govind, @panyogesh

chore: Bazelify the config_iface_for_ipv6.py script
  lte/gateway/python/scripts/BUILD.bazel
Owners: @m-govind, @panyogesh

chore: Fix path for icmpv6.py (use /usr/local/bin)
  lte/gateway/deploy/roles/magma/tasks/main.yml
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

Fixed compilation errors
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_apn_selection.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer_context.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_defs.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_edns_emulation.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_itti_messaging.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_pdn_context.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_procedures.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgs_alert.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgs_associated.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgs_detach.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgs_fsm.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgs_fsm.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgs_la_updated.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgs_paging.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgs_reset.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgsap_service_abort.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgw_selection.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_state_converter.hpp
Owners: @m-govind, @panyogesh

chore: Publish environment logging for the Bazel integration tests (#13977)
  .github/workflows/lte-integ-test-bazel.yml
Owners: @magma/approvers-ci

Upgrading magma version to 1.8.0
  docs/readmes/feg/deploy_build.md
  docs/readmes/general/cloudstrapper_install.md
  docs/readmes/lte/build_install_magma_pkg_in_agw.md
  docs/readmes/lte/deploy_install.md
  docs/readmes/orc8r/deploy_intro.md
  docs/readmes/orc8r/dev_build.md
Owners: @m-govind, @panyogesh

fix: magma_deb integ tests can use config_iface_for_ipv6.py script (#13982)
  lte/gateway/deploy/roles/magma_deb/tasks/main.yml
Owners: @m-govind, @panyogesh

chore: Bump node-fetch
  nms/package.json
  nms/yarn.lock
Owners: @m-govind, @panyogesh

fix(agw): Modified code port hash list, temporary_create_session_procedure_id to protobuf map
  lte/gateway/c/core/oai/include/proto_map.hpp
  lte/gateway/c/core/oai/include/sgw_s8_state.hpp
  lte/gateway/c/core/oai/include/spgw_types.hpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_converter.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state_manager.hpp
  lte/gateway/c/core/oai/test/sgw_s8_task/sgw_s8_test_attach_proc.cpp
Owners: @m-govind, @panyogesh

docs(agw): Updated AGW Install docs for the 1.8.0 Release (#13926)
  docs/readmes/lte/deploy_install.md
Owners: @m-govind, @panyogesh

[skip ci] Deploy website
  docs/next/lte/deploy_install.html
  docs/next/lte/deploy_install/index.html
Owners: @m-govind, @panyogesh

chore(ci): putting the RHEL8 certificates/entitlements in cleaner way
  ci-scripts/JenkinsFile-OAI-Container-GitHub
  lte/gateway/docker/mme/Dockerfile.rhel8
Owners: @magma/approvers-ci, @m-govind, @panyogesh

chore(ci): putting the RHEL8 certificates/entitlements in cleaner way (#13985)
  ci-scripts/JenkinsFile-OAI-Container-GitHub
  lte/gateway/docker/mme/Dockerfile.rhel8
Owners: @magma/approvers-ci, @m-govind, @panyogesh

fix(nms): Display correct axios errors
  nms/app/util/ErrorUtils.ts
  nms/server/auth/express.ts
  nms/server/auth/expressOnboarding.ts
  nms/server/host/routes.ts
Owners: @m-govind, @panyogesh

fix(nms): Display correct axios errors (#13986)
  nms/app/util/ErrorUtils.ts
  nms/server/auth/express.ts
  nms/server/auth/expressOnboarding.ts
  nms/server/host/routes.ts
Owners: @m-govind, @panyogesh

chore(dp): grantManager sets CBSD's available frequencies
  dp/cloud/go/services/dp/active_mode_controller/action_generator/action/cbsd.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/action/cbsd_test.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/generators.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/message_generator.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/message_generator_test.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/sas/deregistration.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/sas/grant/selection.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/sas/grant/selection_test.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/sas/registration.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/sas/relinquishment.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/sas/spectrum_inquiry.go
Owners: @m-govind, @panyogesh

chore(dp): remove idle grants in AMC
  dp/cloud/go/services/dp/active_mode_controller/action_generator/action/action.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/action/action_test.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/generators.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/message_generator.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/message_generator_test.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/sas/grant/available_frequencies.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/sas/grant/available_frequencies_test.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/sas/grant/selection.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/sas/grant/selection_test.go
  dp/cloud/go/services/dp/storage/amc_manager.go
Owners: @m-govind, @panyogesh

goimports
  dp/cloud/go/services/dp/active_mode_controller/action_generator/action/action.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/action/action_test.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/message_generator_test.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/sas/grant/available_frequencies_test.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/sas/grant/selection.go
  dp/cloud/go/services/dp/active_mode_controller/action_generator/sas/grant/selection_test.go
  dp/cloud/go/services/dp/storage/amc_manager.go
Owners: @m-govind, @panyogesh

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost
