Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost

./precommit.py --format --lint --diff
  lte/gateway/python/magma/subscriberdb/client.py
  orc8r/gateway/python/magma/common/rpc_utils.py
  orc8r/gateway/python/magma/common/sentry.py
  orc8r/gateway/python/magma/magmad/metrics_collector.py
  orc8r/gateway/python/magma/magmad/state_reporter.py
  orc8r/gateway/python/magma/state/garbage_collector.py
Owners: @m-govind, @panyogesh

fix: correct action for macos slack notification is used
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
Owners: @magma/approvers-ci

docs: migrate Documentation Overview from Docusaurus to Contributor Guide
  .github/workflows/comment-pr-on-check-failure.yml
  docs/README.md
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/readmes/docs/docs_overview.md
Owners: @magma/approvers-ci, @m-govind, @panyogesh

fix: correct action for macos slack notification is used (#14163)
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
Owners: @magma/approvers-ci

chore(docs): Fix markdownlint error
  docs/README.md
Owners: @m-govind, @panyogesh

chore(ci): upgrade Github action setup-python
  .github/workflows/agw-docker-load-test.yml
  .github/workflows/agw-workflow.yml
  .github/workflows/amis-workflow.yml
  .github/workflows/build_all.yml
  .github/workflows/cloud-workflow.yml
  .github/workflows/cwf-integ-test.yml
  .github/workflows/docs-workflow.yml
  .github/workflows/dp-workflow.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/insync-checkin.yml
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test-containerized.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/sudo-python-tests.yml
Owners: @magma/approvers-ci

docs: migrate Documentation Overview from Docusaurus to Contributor Guide (#14133)
  .github/workflows/comment-pr-on-check-failure.yml
  docs/README.md
  docs/docusaurus/i18n/en.json
  docs/docusaurus/sidebars.json
  docs/readmes/docs/docs_overview.md
Owners: @magma/approvers-ci, @m-govind, @panyogesh

chore(ci): Improvements for RHEL8 Docker Image Builds (#14070)
  ci-scripts/JenkinsFile-OAI-Container-GitHub
  ci-scripts/docker/Dockerfile.mme.ci.rhel8
  ci-scripts/flatten_image.py
  lte/gateway/docker/mme/Dockerfile.rhel8
Owners: @magma/approvers-ci, @m-govind, @panyogesh

chore: the bazel vm setup is more comfortable and documented
  docs/readmes/lte/s1ap_tests.md
  lte/gateway/deploy/magma_dev.yml
  lte/gateway/deploy/roles/bazel_aliases/tasks/main.yml
Owners: @m-govind, @panyogesh

chore(agw): disable interdependent service restarts
  lte/gateway/python/integ_tests/defs.mk
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

Addressed review comment
  lte/gateway/c/core/oai/tasks/sgw/pgw_procedures.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_converter.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_manager.cpp
  lte/gateway/c/core/oai/test/spgw_task/mock_spgw_op.cpp
  lte/gateway/c/core/oai/test/spgw_task/test_spgw_state_converter.cpp
Owners: @m-govind, @panyogesh

chore(ci): directory not used at all in federated integration tests
  .github/workflows/federated-integ-test.yml
Owners: @magma/approvers-ci

chore(ci): upgrade Github action setup-python (#14165)
  .github/workflows/agw-docker-load-test.yml
  .github/workflows/agw-workflow.yml
  .github/workflows/amis-workflow.yml
  .github/workflows/build_all.yml
  .github/workflows/cloud-workflow.yml
  .github/workflows/cwf-integ-test.yml
  .github/workflows/docs-workflow.yml
  .github/workflows/dp-workflow.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/insync-checkin.yml
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test-containerized.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/sudo-python-tests.yml
Owners: @magma/approvers-ci

refactor(ci): increase readability and resiliance for fabfile load test
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

fix(nms): Fix fetching of subscriber config for paginated subscribers
  nms/app/views/subscriber/SubscriberDetailConfig.tsx
Owners: @m-govind, @panyogesh

fix(ci): MME RHEL8 build from scratch was broken
  ci-scripts/docker/Dockerfile.mme.ci.rhel8
  ci-scripts/docker/Dockerfile.mme.ci.ubuntu18
  lte/gateway/docker/mme/Dockerfile.rhel8
  lte/gateway/docker/mme/Dockerfile.ubuntu18.04
Owners: @magma/approvers-ci, @m-govind, @panyogesh

chore(ci): allow more granular AGW integration test execution (#14158)
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

fix: workflows on 1.8 are pinned to relevant bazel base image and are using own cache key
  .github/workflows/agw-workflow.yml
  .github/workflows/bazel.yml
  .github/workflows/gcc-problems.yml
Owners: @magma/approvers-ci

chore(ci): directory not used at all in federated integration tests (#14169)
  .github/workflows/federated-integ-test.yml
Owners: @magma/approvers-ci

refactor(ci): increase readability and resiliance for fabfile load test (#14173)
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(ci): abstract environment preparation
  lte/gateway/python/integ_tests/Makefile
Owners: @m-govind, @panyogesh

fix(nms): Fix fetching of subscriber config for paginated subscribers (#14172)
  nms/app/views/subscriber/SubscriberDetailConfig.tsx
Owners: @m-govind, @panyogesh

feat(agw): gmock/gtest installation is adapted to Ubuntu focal
  lte/gateway/deploy/roles/magma/tasks/main.yml
Owners: @m-govind, @panyogesh

feat(agw): pyenv Ansible role is moved to preburn
  lte/gateway/deploy/roles/pyvenv/tasks/main.yml
Owners: @m-govind, @panyogesh

feat(agw): remove bump in ca-certificate version
  orc8r/tools/ansible/roles/pkgrepo/tasks/main.yml
Owners: @m-govind, @panyogesh

feat(agw): Vagrantfile is adapted to the new base images
  lte/gateway/Vagrantfile
Owners: @magma/approvers-ci

feat(agw): packer build files are adapted
  orc8r/tools/packer/magma-dev-virtualbox.json
  orc8r/tools/packer/magma-test-virtualbox.json
  orc8r/tools/packer/magma-trfserver-virtualbox.json
Owners: @magma/approvers-ci

feat(agw): multipath-tools are installed
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
Owners: @m-govind, @panyogesh

fix(agw): warning in bazel Ansible role is fixed
  lte/gateway/deploy/roles/bazel/tasks/main.yml
Owners: @m-govind, @panyogesh

feat(agw): various Ansible steps are executed in the preburn process
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
  lte/gateway/deploy/roles/magma/tasks/main.yml
  lte/gateway/deploy/roles/magma_test/tasks/main.yml
  orc8r/tools/ansible/roles/docker/tasks/install.yml
  orc8r/tools/ansible/roles/python_dev/tasks/main.yml
Owners: @m-govind, @panyogesh

fix(agw): temporary libprotobuf-mutator directory is deleted after build
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
Owners: @m-govind, @panyogesh

fix(agw): ansible is installed from ppa
  orc8r/tools/packer/scripts/ubuntu_setup.sh
Owners: @magma/approvers-ci

feat(agw): ca-certificates-java is marked as manually installed
  orc8r/tools/packer/scripts/ubuntu_setup.sh
Owners: @magma/approvers-ci

feat(agw): pkgrepo Ansible role is moved to preburn
  orc8r/tools/ansible/roles/pkgrepo/tasks/main.yml
Owners: @m-govind, @panyogesh

chore(agw): unattended upgrade is only called once at the beginning of the packing process
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
  orc8r/tools/ansible/roles/pkgrepo/tasks/main.yml
Owners: @m-govind, @panyogesh

feat(agw): remove apt_cache Anisble role from the AGW VMs
  lte/gateway/deploy/magma_test.yml
  orc8r/tools/ansible/roles/gateway_dev/tasks/main.yml
  orc8r/tools/packer/magma-dev-virtualbox.json
  orc8r/tools/packer/magma-test-virtualbox.json
Owners: @m-govind, @panyogesh, @magma/approvers-ci

feat(agw): box caches are adapted to the new base images
  .github/workflows/build_all.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test-containerized.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/sudo-python-tests.yml
Owners: @magma/approvers-ci

fix(agw): `cleanup_ubuntu.sh` is adapted to our needs
  orc8r/tools/packer/scripts/third_party/chef_bento/cleanup_ubuntu.sh
Owners: @magma/approvers-ci

feat(agw): magma-dev host is changed from 'focal_dev' to 'dev'
  lte/gateway/deploy/hosts
  lte/gateway/deploy/magma_dev.yml
  orc8r/tools/packer/magma-dev-virtualbox.json
Owners: @m-govind, @panyogesh, @magma/approvers-ci

chore(agw): duplicated package installs are removed
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
  lte/gateway/deploy/roles/magma/tasks/main.yml
Owners: @m-govind, @panyogesh
