Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

fix(agw): warning in `cleanup.sh` is addressed
  orc8r/tools/packer/scripts/cleanup.sh
Owners: @magma/approvers-ci

feat(cwg): propagate pkgrepo-changes to CWAG VMs
  cwf/gateway/deploy/cwag.yml
  cwf/gateway/deploy/cwag_dev.yml
  cwf/gateway/deploy/cwag_dev_centos7.yml
  cwf/gateway/deploy/cwag_test.yml
Owners: @m-govind, @panyogesh

chore(ci): abstract environment preparation (#14151)
  lte/gateway/python/integ_tests/Makefile
Owners: @m-govind, @panyogesh

chore: the bazel vm setup is more comfortable and documented (#14166)
  docs/readmes/lte/s1ap_tests.md
  lte/gateway/deploy/magma_dev.yml
  lte/gateway/deploy/roles/bazel_aliases/tasks/main.yml
Owners: @m-govind, @panyogesh

[skip ci] Deploy website
  docs/next/lte/s1ap_tests.html
  docs/next/lte/s1ap_tests/index.html
Owners: @m-govind, @panyogesh

refactor(ci): modularize the federated integration test make command
  docs/readmes/feg/s1ap_federated_tests.md
  lte/gateway/fabfile.py
  lte/gateway/python/integ_tests/Makefile
Owners: @m-govind, @panyogesh

fix(amf): Added t3512 configuration and registration failure handling
  lte/gateway/c/core/oai/include/amf_config.hpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_ue_context.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_as.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_config.c
  lte/gateway/c/core/oai/tasks/amf/amf_recv.cpp
  lte/gateway/c/core/oai/tasks/nas5g/include/M5GNasEnums.h
  lte/gateway/c/core/oai/tasks/ngap/ngap_client_servicer.cpp
  lte/gateway/configs/templates/mme.conf.template
Owners: @m-govind, @panyogesh

refactor(ci): modularize the federated integration test make command (#14170)
  docs/readmes/feg/s1ap_federated_tests.md
  lte/gateway/fabfile.py
  lte/gateway/python/integ_tests/Makefile
Owners: @m-govind, @panyogesh

[skip ci] Deploy website
  docs/next/feg/s1ap_federated_tests.html
  docs/next/feg/s1ap_federated_tests/index.html
Owners: @m-govind, @panyogesh

fix(pipelined): Handling for GTPU end-marker (#14016)
  third_party/gtp_ovs/ovs-gtp-patches/2.15/0025-fix-ovs-kernel-panic-on-receiving-end-marker.patch
  third_party/gtp_ovs/ovs-gtp-patches/2.15/dev.sh
Owners: @m-govind, @panyogesh

chore: magma debian package meta info is enhanced (#14126)
  lte/gateway/release/BUILD.bazel
  lte/gateway/release/build-magma.sh
Owners: @magma/approvers-ci

reverted helm repo and docker tag
  orc8r/cloud/deploy/terraform/orc8r-aws/eks.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/examples/basic/main.tf
Owners: @m-govind, @panyogesh

feat(orc8r): Updated Terraform modules and providers
  orc8r/cloud/deploy/terraform/orc8r-aws/db.tf
  orc8r/cloud/deploy/terraform/orc8r-aws/eks.tf
  orc8r/cloud/deploy/terraform/orc8r-aws/outputs.tf
  orc8r/cloud/deploy/terraform/orc8r-aws/providers.tf
  orc8r/cloud/deploy/terraform/orc8r-aws/variables.tf
  orc8r/cloud/deploy/terraform/orc8r-aws/vpc.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/examples/basic/main.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/examples/remote/main.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/main.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/providers.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/templates/orc8r-values.tftpl
Owners: @m-govind, @panyogesh

updated kubernetes cluster version
  orc8r/cloud/deploy/terraform/orc8r-aws/variables.tf
Owners: @m-govind, @panyogesh

Fixed compilation errors
  lte/gateway/c/core/oai/include/mme_app_ue_context.h
  lte/gateway/c/core/oai/tasks/amf/amf_config.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_apn_selection.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer_context.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_defs.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_edns_emulation.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_edns_emulation.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_embedded_spgw.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_extern.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_if.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_itti_messaging.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_location.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_pdn_context.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_procedures.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgs_fsm.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgs_messages.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgw_selection.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_timer_management.hpp
Owners: @m-govind, @panyogesh

chore(ci): refactor AGW integration test makefile to handle multiple manual tests correctly
  lte/gateway/python/integ_tests/Makefile
Owners: @m-govind, @panyogesh

chore(ci): adopt documentation to single & multiple test execution
  docs/readmes/feg/s1ap_federated_tests.md
  docs/readmes/lte/s1ap_tests.md
Owners: @m-govind, @panyogesh

feat(ci): package RPM packages
  .github/workflows/package-rpm.yml
Owners: @magma/approvers-ci

feat(nms): implement 5G feature switch for LTE EPC
  nms/app/views/network/NetworkEpc.tsx
  nms/app/views/network/__tests__/NetworkTest.tsx
Owners: @m-govind, @panyogesh

chore(ci): refactor AGW integration test makefile to handle multiple manual tests correctly (#14150)
  docs/readmes/feg/s1ap_federated_tests.md
  docs/readmes/lte/s1ap_tests.md
  lte/gateway/python/integ_tests/Makefile
Owners: @m-govind, @panyogesh

[skip ci] Deploy website
  docs/next/feg/s1ap_federated_tests.html
  docs/next/feg/s1ap_federated_tests/index.html
  docs/next/lte/s1ap_tests.html
  docs/next/lte/s1ap_tests/index.html
Owners: @m-govind, @panyogesh

fix(orc8r): Correctly initialize array to allow removing assocs (#14042)
  lte/cloud/go/services/subscriberdb/obsidian/handlers/handlers_test.go
  lte/cloud/go/services/subscriberdb/obsidian/models/conversion.go
Owners: @m-govind, @panyogesh

feat(agw): create new base images of `magma_dev` and `magma_test` (#14096)
  .github/workflows/build_all.yml
  .github/workflows/federated-integ-test.yml
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
  .github/workflows/lte-integ-test-bazel.yml
  .github/workflows/lte-integ-test-containerized.yml
  .github/workflows/lte-integ-test-magma-deb.yml
  .github/workflows/lte-integ-test.yml
  .github/workflows/sudo-python-tests.yml
  cwf/gateway/deploy/cwag.yml
  cwf/gateway/deploy/cwag_dev.yml
  cwf/gateway/deploy/cwag_dev_centos7.yml
  cwf/gateway/deploy/cwag_test.yml
  lte/gateway/Vagrantfile
  lte/gateway/deploy/hosts
  lte/gateway/deploy/magma_dev.yml
  lte/gateway/deploy/magma_test.yml
  lte/gateway/deploy/roles/bazel/tasks/main.yml
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
  lte/gateway/deploy/roles/magma/tasks/main.yml
  lte/gateway/deploy/roles/magma_test/tasks/main.yml
  lte/gateway/deploy/roles/pyvenv/tasks/main.yml
  orc8r/tools/ansible/roles/docker/tasks/install.yml
  orc8r/tools/ansible/roles/gateway_dev/tasks/main.yml
  orc8r/tools/ansible/roles/pkgrepo/tasks/main.yml
  orc8r/tools/ansible/roles/python_dev/tasks/main.yml
  orc8r/tools/packer/magma-dev-virtualbox.json
  orc8r/tools/packer/magma-test-virtualbox.json
  orc8r/tools/packer/magma-trfserver-virtualbox.json
  orc8r/tools/packer/scripts/cleanup.sh
  orc8r/tools/packer/scripts/third_party/chef_bento/cleanup_ubuntu.sh
  orc8r/tools/packer/scripts/ubuntu_setup.sh
Owners: @magma/approvers-ci, @m-govind, @panyogesh

fix(amf): Added t3512 configuration and registration failure handling (#14171)
  lte/gateway/c/core/oai/include/amf_config.hpp
  lte/gateway/c/core/oai/tasks/amf/amf_app_ue_context.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_as.cpp
  lte/gateway/c/core/oai/tasks/amf/amf_config.c
  lte/gateway/c/core/oai/tasks/amf/amf_recv.cpp
  lte/gateway/c/core/oai/tasks/nas5g/include/M5GNasEnums.h
  lte/gateway/c/core/oai/tasks/ngap/ngap_client_servicer.cpp
  lte/gateway/configs/templates/mme.conf.template
Owners: @m-govind, @panyogesh

chore(ci): consistently allow for flaky retries
  lte/gateway/python/integ_tests/Makefile
Owners: @m-govind, @panyogesh

fix(agw): fix bug in latest `magma_dev.yml`
  lte/gateway/deploy/magma_test.yml
Owners: @m-govind, @panyogesh

chore(agw): valid printing and cleanup for fabfile AGW
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

fix(amf): AMF support SuciProfile Encryption in Identity procedure (#13727)
  lte/gateway/c/core/oai/tasks/amf/amf_recv.cpp
  lte/gateway/c/core/oai/tasks/amf/nas_proc.cpp
  lte/gateway/c/core/oai/tasks/nas5g/src/ies/M5GSMobileIdentity.cpp
  lte/gateway/c/core/oai/test/amf/test_amf_procedures.cpp
  lte/gateway/python/magma/subscriberdb/protocols/m5g_auth_servicer.py
Owners: @m-govind, @panyogesh

fix(agw): fix bug in latest `magma_dev.yml` (#14198)
  lte/gateway/deploy/magma_test.yml
Owners: @m-govind, @panyogesh

chore(agw): valid printing and cleanup for fabfile AGW (#14199)
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(ci): consistently allow for flaky retries (#14152)
  lte/gateway/python/integ_tests/Makefile
Owners: @m-govind, @panyogesh

clang formatting
  lte/gateway/c/core/oai/common/conversions.c
  lte/gateway/c/core/oai/common/conversions.h
  lte/gateway/c/core/oai/include/mme_app_ue_context.h
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_bearer_context.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_context.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_defs.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_edns_emulation.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_itti_messaging.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_main.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_pdn_context.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_procedures.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgs_detach.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgs_fsm.hpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgs_paging.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_app_sgsap_location_update.cpp
  lte/gateway/c/core/oai/tasks/mme_app/mme_config.cpp
  lte/gateway/c/core/oai/tasks/nas/api/mme/mme_api.hpp
  lte/gateway/c/core/oai/tasks/nas/ies/ProcedureTransactionIdentity.cpp
Owners: @m-govind, @panyogesh

fix(ci): MME RHEL8 build from scratch was broken (#14175)
  ci-scripts/docker/Dockerfile.mme.ci.rhel8
  ci-scripts/docker/Dockerfile.mme.ci.ubuntu18
  lte/gateway/docker/mme/Dockerfile.rhel8
  lte/gateway/docker/mme/Dockerfile.ubuntu18.04
Owners: @magma/approvers-ci, @m-govind, @panyogesh

refactor(ci): multilining execution command for better readability
  lte/gateway/python/integ_tests/Makefile
Owners: @m-govind, @panyogesh

chore(ci): attempt mitigation of flaky integration test against containerized AGW
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

chore(ci): upgrade Github action dorny/paths-filter (everywhere)
  .github/workflows/agw-workflow.yml
  .github/workflows/bazel.yml
  .github/workflows/cloud-workflow.yml
  .github/workflows/cwag-workflow.yml
  .github/workflows/cwf-operator.yml
  .github/workflows/docs-workflow.yml
  .github/workflows/dp-workflow.yml
  .github/workflows/feg-workflow.yml
  .github/workflows/gcc-problems.yml
  .github/workflows/golang-build-test.yml
  .github/workflows/nms-workflow.yml
  .github/workflows/python-workflow.yml
  .github/workflows/reviewdog-workflow.yml
Owners: @magma/approvers-ci

chore(ci): Publish unit-test results for the bazel-workflow
  .bazelrc
  .github/workflows/bazel.yml
  lte/gateway/python/scripts/runtime_report.py
Owners: @m-govind, @panyogesh, @magma/approvers-ci

refactor(ci): multilining execution command for better readability (#14201)
  lte/gateway/python/integ_tests/Makefile
Owners: @m-govind, @panyogesh

feat(ci): prepare integration test CI for special containerized test set
  .github/workflows/lte-integ-test-containerized.yml
  lte/gateway/fabfile.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

feat(nms): implement 5G feature switch for LTE EPC (#14101)
  nms/app/views/network/NetworkEpc.tsx
  nms/app/views/network/__tests__/NetworkTest.tsx
Owners: @m-govind, @panyogesh

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost
