Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost

chore: Link folly dynamically in bazel by default (#14368)
  .bazelrc
  bazel/bazelrcs/cwag.bazelrc
  bazel/external/system_libraries.BUILD
  lte/gateway/docker/services/c/Dockerfile
Owners: @m-govind, @panyogesh

chore: the devcontainer uses the same grpc setup as the vm (#14360)
  .devcontainer/Dockerfile
  .devcontainer/bazel-base/Dockerfile
  lte/gateway/deploy/roles/dev_common/defaults/main.yml
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
Owners: @m-govind, @panyogesh

fix(agw): Modifed code to port hash list of ue contexts to protobuf map (#14342)
  lte/gateway/c/core/oai/include/proto_map.hpp
  lte/gateway/c/core/oai/include/sgw_context_manager.hpp
  lte/gateway/c/core/oai/include/spgw_state.hpp
  lte/gateway/c/core/oai/include/spgw_types.hpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/pgw_procedures.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_context_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/sgw_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_converter.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_manager.cpp
  lte/gateway/c/core/oai/tasks/sgw/spgw_state_manager.hpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_handlers.cpp
  lte/gateway/c/core/oai/tasks/sgw_s8/sgw_s8_state.cpp
  lte/gateway/c/core/oai/test/spgw_task/mock_spgw_op.cpp
  lte/gateway/c/core/oai/test/spgw_task/spgw_test_util.cpp
  lte/gateway/c/core/oai/test/spgw_task/test_spgw_state_converter.cpp
Owners: @m-govind, @panyogesh

chore: an integ test environment can be created with bazel
  lte/gateway/python/integ_tests/common/BUILD.bazel
  lte/gateway/python/integ_tests/gateway/BUILD.bazel
  lte/gateway/python/integ_tests/s1aptests/BUILD.bazel
  lte/gateway/python/integ_tests/s1aptests/ovs/BUILD.bazel
  lte/gateway/python/integ_tests/s1aptests/util/BUILD.bazel
Owners: @m-govind, @panyogesh

chore: not needed flaky library is removed from ansible setup + drive-by clean-up
  lte/gateway/deploy/roles/dev_common/defaults/main.yml
  lte/gateway/deploy/roles/magma_test/defaults/main.yml
  lte/gateway/deploy/roles/magma_test/files/generate_python_bindings.sh
  lte/gateway/deploy/roles/magma_test/tasks/main.yml
Owners: @m-govind, @panyogesh

chore: starting integ tests with make uses bazel environment
  lte/gateway/fabfile.py
  lte/gateway/python/integ_tests/Makefile
  lte/gateway/python/integ_tests/federated_tests/fabfile.py
Owners: @m-govind, @panyogesh

chore: documentation is updated to not use make for preparing the integ test environment
  docs/readmes/feg/s1ap_federated_tests.md
  docs/readmes/lte/s1ap_tests.md
Owners: @m-govind, @panyogesh

fix(magmad): Revert service restart metrics to use a Gauge
  orc8r/gateway/python/magma/magmad/metrics.py
Owners: @m-govind, @panyogesh

chore(ci): Remove empty workflow
  .github/workflows/amis-workflow.yml
Owners: @magma/approvers-ci

chore(ci): Remove empty workflow (#14371)
  .github/workflows/amis-workflow.yml
Owners: @magma/approvers-ci

fix: the latest magma 1.8.0 is installed on magma_deb as default
  lte/gateway/deploy/roles/magma_deploy/tasks/main.yml
Owners: @m-govind, @panyogesh

fix: the correct arch is set in magma debian artifacts
  lte/gateway/release/BUILD.bazel
Owners: @magma/approvers-ci

fix: bazel debian handling is fixed II (#14372)
  lte/gateway/deploy/roles/magma_deploy/tasks/main.yml
  lte/gateway/release/BUILD.bazel
Owners: @m-govind, @panyogesh, @magma/approvers-ci

fix: missing sctpd min version file is added to magma artifact
  lte/gateway/release/BUILD.bazel
Owners: @magma/approvers-ci

chore: bazel magma deb content is compressed
  lte/gateway/release/BUILD.bazel
Owners: @magma/approvers-ci

chore(agw): cleanup while loop checks for responses (#14354)
  lte/gateway/python/integ_tests/s1aptests/test_continuous_random_attach.py
  lte/gateway/python/integ_tests/s1aptests/test_no_identity_rsp_with_mme_restart.py
Owners: @m-govind, @panyogesh

Addressed Review comments
  lte/gateway/c/core/oai/tasks/sctp/sctp_itti_messaging.cpp
  lte/gateway/c/core/oai/tasks/sctp/sctp_itti_messaging.hpp
Owners: @m-govind, @panyogesh

chore: bazel debian artifacts are only created for master merges and manual runs
  .github/workflows/bazel.yml
Owners: @magma/approvers-ci

fix: missing sctpd min version file is added to magma artifact (#14375)
  lte/gateway/release/BUILD.bazel
Owners: @magma/approvers-ci

chore: bazel magma deb content is compressed (#14376)
  lte/gateway/release/BUILD.bazel
Owners: @magma/approvers-ci

chore(agw): Remove unused Make targets from lte/gateway/Makefile
  lte/gateway/Makefile
Owners: @m-govind, @panyogesh

feat(ci): add docker build for containerized AGW
  .github/workflows/composite/docker-builder-agw/action.yml
Owners: @magma/approvers-ci

feat(ci): use modularized container builder for AGW
  .github/workflows/build_all.yml
Owners: @magma/approvers-ci

feat(ci): Propagate AGW docker images hashes to the integration test job (#14302)
  .github/workflows/build_all.yml
  .github/workflows/composite/docker-builder-agw/action.yml
Owners: @magma/approvers-ci

chore(agw): Remove unused Make targets from lte/gateway/Makefile (#14321)
  lte/gateway/Makefile
Owners: @m-govind, @panyogesh

fix(ci): add typing import to firebase_publish.py
  ci-scripts/firebase_publish.py
Owners: @magma/approvers-ci

chore: Bazel Bash completion (#14361)
  .devcontainer/post-create-commands.sh
  bazel/scripts/setup_bazel_bash_completion.sh
  lte/gateway/deploy/roles/dev_common/tasks/main.yml
Owners: @m-govind, @panyogesh

fix(ci): restrict docker push to Github push event
  .github/workflows/build_all.yml
  .github/workflows/composite/docker-builder-agw/action.yml
Owners: @magma/approvers-ci

fix(ci): add typing import to firebase_publish.py (#14384)
  ci-scripts/firebase_publish.py
Owners: @magma/approvers-ci

fix(ci): restrict docker push to Github push event (#14385)
  .github/workflows/build_all.yml
  .github/workflows/composite/docker-builder-agw/action.yml
Owners: @magma/approvers-ci

fix(ci): Remove dev dependencies before building release
  lte/gateway/fabfile.py
Owners: @m-govind, @panyogesh

refactor(ci): separate AGW container build for better maintainability
  .github/workflows/agw-build-publish-container.yml
  .github/workflows/build_all.yml
Owners: @magma/approvers-ci

chore(ci): commit for testing all but the access
  .github/workflows/agw-build-publish-container.yml
Owners: @magma/approvers-ci

fix(agw): Modified code to port s1ap_imsi_map to protobuf structure (#14155)
  lte/gateway/c/core/BUILD.bazel
  lte/gateway/c/core/oai/include/s1ap_state.hpp
  lte/gateway/c/core/oai/include/s1ap_types.hpp
  lte/gateway/c/core/oai/tasks/s1ap/CMakeLists.txt
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_itti_messaging.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_converter.hpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.cpp
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_state_manager.hpp
  lte/gateway/c/core/oai/test/s1ap_task/BUILD.bazel
  lte/gateway/c/core/oai/test/s1ap_task/CMakeLists.txt
  lte/gateway/c/core/oai/test/s1ap_task/mock_s1ap_op.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_mme_handlers.cpp
  lte/gateway/c/core/oai/test/s1ap_task/test_s1ap_state_converter.cpp
Owners: @m-govind, @panyogesh

chore: deb integ test uses artifact from bazel workflow
  .github/workflows/bazel.yml
  .github/workflows/build_all.yml
  .github/workflows/lte-integ-test-bazel-magma-deb.yml
Owners: @magma/approvers-ci

Added ifaces to epbf_manager dependencies
  lte/gateway/python/magma/pipelined/ebpf/BUILD.bazel
Owners: @m-govind, @panyogesh

refactor(agw): replace get_virtual_iface_mac with get_mac_address
  lte/gateway/python/magma/pipelined/app/arp.py
  lte/gateway/python/magma/pipelined/app/egress.py
  lte/gateway/python/magma/pipelined/app/middle.py
  lte/gateway/python/magma/pipelined/tests/test_arp.py
  lte/gateway/python/magma/pipelined/tests/test_check_quota.py
  lte/gateway/python/magma/pipelined/tests/test_cwf_restart_resilience.py
  lte/gateway/python/magma/pipelined/tests/test_inout.py
  lte/gateway/python/magma/pipelined/tests/test_inout_non_nat.py
  lte/gateway/python/magma/pipelined/tests/test_ue_passthrough.py
  lte/gateway/python/magma/pipelined/utils.py
Owners: @m-govind, @panyogesh

refactor(agw): Introduce getmac.get_mac_address
  bazel/external/requirements.in
  bazel/external/requirements.txt
  lte/gateway/python/magma/pipelined/BUILD.bazel
  lte/gateway/python/magma/pipelined/bridge_util.py
  lte/gateway/python/magma/pipelined/ebpf/ebpf_manager.py
  lte/gateway/python/magma/pipelined/gw_mac_address.py
  lte/gateway/python/magma/pipelined/ifaces.py
  lte/gateway/python/magma/pipelined/main.py
  lte/gateway/python/magma/pipelined/tests/test_ifaces.py
  lte/gateway/python/magma/pipelined/tests/test_uplink_bridge.py
  lte/gateway/python/setup.py
Owners: @m-govind, @panyogesh

fix: Backport fixes to v1.8 (#14108)
  .github/workflows/agw-workflow.yml
  .github/workflows/bazel.yml
  .github/workflows/gcc-problems.yml
  bazel/external/requirements.in
  bazel/external/requirements.txt
  lte/gateway/python/setup.py
  orc8r/cloud/Makefile
  orc8r/gateway/python/python.mk
  orc8r/gateway/python/setup.py
Owners: @magma/approvers-ci, @m-govind, @panyogesh

refactor(agw): Make tests green again
  lte/gateway/python/magma/pipelined/BUILD.bazel
  lte/gateway/python/magma/pipelined/app/BUILD.bazel
  lte/gateway/python/magma/pipelined/app/arp.py
  lte/gateway/python/magma/pipelined/app/egress.py
  lte/gateway/python/magma/pipelined/app/middle.py
  lte/gateway/python/magma/pipelined/ebpf/BUILD.bazel
  lte/gateway/python/magma/pipelined/ebpf/ebpf_manager.py
  lte/gateway/python/magma/pipelined/gw_mac_address.py
  lte/gateway/python/magma/pipelined/ifaces.py
  lte/gateway/python/magma/pipelined/main.py
  lte/gateway/python/magma/pipelined/tests/test_ifaces.py
  lte/gateway/python/magma/pipelined/tests/test_inout.py
  lte/gateway/python/magma/pipelined/tests/test_inout_non_nat.py
  lte/gateway/python/magma/pipelined/tests/test_ue_passthrough.py
  lte/gateway/python/magma/pipelined/tests/test_uplink_bridge.py
  lte/gateway/python/magma/pipelined/utils.py
  lte/gateway/python/setup.py
Owners: @m-govind, @panyogesh
