Repository magma/magma, changes with the owners that CODEOWNERS names for each.
All owners: @m-govind, @panyogesh, @magma/approvers-ci, @magma/approvers-tsc, @ghost

cleanup changes
  lte/gateway/docker/services/python/Dockerfile
Owners: @m-govind, @panyogesh

fix(lte): Improve changes in previous commits
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

fix(lte): Improve changes in previous commits
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

Revert "fix(lte): Improve changes in previous commits"
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

chore: cache key of bazel base and image tag are updated (#14041)
  .github/workflows/agw-workflow.yml
  .github/workflows/bazel.yml
  .github/workflows/gcc-problems.yml
Owners: @magma/approvers-ci

fix(lte): Properly moved installation checks first
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

fix(orc8r): orc8r version
  orc8r/cloud/helm/orc8r/charts/nms/templates/magmalte-deployment.yaml
Owners: @m-govind, @panyogesh

fix(ci): using --squash option to make sure no intermediate layer contains RHEL certificates
  ci-scripts/JenkinsFile-OAI-Container-GitHub
  ci-scripts/flatten_image.py
Owners: @magma/approvers-ci

chore(ci): enable manual execution of the integ test magma_deb in ci
  lte/gateway/deploy/roles/magma_deploy/tasks/main.yml
Owners: @m-govind, @panyogesh

chore: pip performance is improved by ipv4 over ipv6 precedence (#14057)
  .github/workflows/lte-integ-test-bazel.yml
  lte/gateway/deploy/magma_dev_focal.yml
  lte/gateway/deploy/magma_test.yml
  lte/gateway/deploy/roles/gai_config/tasks/main.yml
Owners: @magma/approvers-ci, @m-govind, @panyogesh

chore(ci): enable manual execution of the integ test magma_deb in ci (#14076)
  lte/gateway/deploy/roles/magma_deploy/tasks/main.yml
Owners: @m-govind, @panyogesh

docs(agw): start-up procedure for containerized AGW is improved
  lte/gateway/docker/README.md
Owners: @m-govind, @panyogesh

Upgrading magma version to 1.8.0 (#13869)
  docs/readmes/feg/deploy_build.md
  docs/readmes/general/cloudstrapper_install.md
  docs/readmes/lte/build_install_magma_pkg_in_agw.md
  docs/readmes/orc8r/dev_build.md
Owners: @m-govind, @panyogesh

[skip ci] Deploy website
  docs/next/feg/deploy_build.html
  docs/next/feg/deploy_build/index.html
  docs/next/general/aws_cloudstrapper.html
  docs/next/general/aws_cloudstrapper/index.html
  docs/next/lte/build_install_magma_pkg_in_agw.html
  docs/next/lte/build_install_magma_pkg_in_agw/index.html
  docs/next/orc8r/dev_build.html
  docs/next/orc8r/dev_build/index.html
Owners: @m-govind, @panyogesh

fix(nms) statistics not showing for non super users
  nms/app/components/insights/GatewayMetrics.tsx
Owners: @m-govind, @panyogesh

docs(agw): start-up procedure for containerized AGW is improved (#14077)
  lte/gateway/docker/README.md
Owners: @m-govind, @panyogesh

chore: delete non-existing directories from dockerignore file
  .dockerignore
Owners: @m-govind, @panyogesh

chore: delete non-existing directories from dockerignore file (#14081)
  .dockerignore
Owners: @m-govind, @panyogesh

fix(agw): Do not check for health of "shared_mconfig"
  orc8r/gateway/python/magma/common/health/health_service.py
Owners: @m-govind, @panyogesh

chore: deprecated `uselocalpkgrepo` Ansible role is removed
  lte/gateway/deploy/roles/uselocalpkgrepo/defaults/main.yml
  lte/gateway/deploy/roles/uselocalpkgrepo/tasks/main.yml
  lte/gateway/deploy/roles/uselocalpkgrepo/templates/99httpsrepo.j2
  lte/gateway/deploy/roles/uselocalpkgrepo/templates/repospec.list.j2
  orc8r/tools/packer/magma-test-virtualbox.json
Owners: @m-govind, @panyogesh, @magma/approvers-ci

chore: deprecated packer images for debian machines are removed
  orc8r/tools/packer/debian-stretch-virtualbox.json
  orc8r/tools/packer/magma-dev-virtualbox.json
Owners: @magma/approvers-ci

chore: deprecated `provision_stretch.sh` file is removed
  orc8r/tools/packer/scripts/provision-stretch.sh
Owners: @magma/approvers-ci

chore: `setup.sh` since all steps are included in `ubuntu_setup.sh`
  orc8r/tools/packer/magma-test-virtualbox.json
  orc8r/tools/packer/scripts/setup.sh
Owners: @magma/approvers-ci

chore: packer templates for Ubuntu 16.04 xenial are removed
  orc8r/tools/packer/feg-ubuntu-virtualbox.json
  orc8r/tools/packer/ubuntu-xenial-aws.json
Owners: @magma/approvers-ci

chore: readabilty of `magma-dev-virtualbox.json` is improved
  orc8r/tools/packer/magma-dev-virtualbox.json
Owners: @magma/approvers-ci

chore: several deprecated debian hints are removed
  cwf/gateway/docker/c/Dockerfile
  lte/gateway/release/BUILD.bazel
  lte/gateway/release/build-magma.sh
Owners: @m-govind, @panyogesh, @magma/approvers-ci

chore: deprecated `stretch_snapshot` ansible role is removed
  lte/gateway/deploy/roles/stretch_snapshot/defaults/main.yml
  lte/gateway/deploy/roles/stretch_snapshot/tasks/main.yml
Owners: @m-govind, @panyogesh

chore: next batch of debian scripts are removed
  orc8r/tools/packer/magma.seed
  orc8r/tools/packer/scripts/ansible_debian.sh
Owners: @magma/approvers-ci

chore: deprecated aws images using debian are removed
  orc8r/tools/packer/debian-stretch-aws.json
  orc8r/tools/packer/magma-dev-aws.json
  orc8r/tools/packer/magma-test-aws.json
  orc8r/tools/packer/magma-trfserver-aws.json
Owners: @magma/approvers-ci

chore: packer script for magma-dev vm is renamed
  orc8r/tools/packer/magma-dev-virtualbox.json
  orc8r/tools/packer/scripts/upgrade-ovs-patch-1.1.20210618.sh
Owners: @magma/approvers-ci

chore: temprary packer template for broken OVS are removed
  orc8r/tools/packer/magma-focal-virtualbox-patch-upgrade-ovs-1.1.20210618.json
Owners: @magma/approvers-ci

chore: incomplete packer template is removed
  orc8r/tools/packer/focal-vm.json
Owners: @magma/approvers-ci

chore: hints to debian OS are removed from Ansible roles
  cwf/gateway/deploy/roles/cwag/tasks/main.yml
  cwf/gateway/deploy/roles/ovs/tasks/main.yml
  lte/gateway/deploy/magma_trfserver.yml
  orc8r/tools/ansible/roles/docker/tasks/install.yml
  orc8r/tools/ansible/roles/gateway_services/tasks/main.yml
Owners: @m-govind, @panyogesh

chore: deprecated packer templates for libvirt images are removed
  orc8r/tools/packer/magma-dev-libvirt.json
  orc8r/tools/packer/magma-libvirt.seed
  orc8r/tools/packer/magma-test-libvirt.json
  orc8r/tools/packer/magma-trfserver-libvirt.json
Owners: @magma/approvers-ci

chore: hints to old `magma_dev_focal` are adapted
  lte/gateway/Vagrantfile
  lte/gateway/deploy/magma_dev.yml
  orc8r/tools/packer/magma-dev-virtualbox.json
Owners: @magma/approvers-ci, @m-govind, @panyogesh

chore: unused `envoy` Ansible role is removed
  lte/gateway/deploy/roles/envoy/tasks/main.yml
Owners: @m-govind, @panyogesh

chore: deprecated debian stretch specific files and scripts are removed (#14020)
  cwf/gateway/deploy/roles/cwag/tasks/main.yml
  cwf/gateway/deploy/roles/ovs/tasks/main.yml
  cwf/gateway/docker/c/Dockerfile
  lte/gateway/Vagrantfile
  lte/gateway/deploy/magma_dev.yml
  lte/gateway/deploy/magma_trfserver.yml
  lte/gateway/deploy/roles/envoy/tasks/main.yml
  lte/gateway/deploy/roles/stretch_snapshot/defaults/main.yml
  lte/gateway/deploy/roles/stretch_snapshot/tasks/main.yml
  lte/gateway/deploy/roles/uselocalpkgrepo/defaults/main.yml
  lte/gateway/deploy/roles/uselocalpkgrepo/tasks/main.yml
  lte/gateway/deploy/roles/uselocalpkgrepo/templates/99httpsrepo.j2
  lte/gateway/deploy/roles/uselocalpkgrepo/templates/repospec.list.j2
  lte/gateway/release/BUILD.bazel
  lte/gateway/release/build-magma.sh
  orc8r/tools/ansible/roles/docker/tasks/install.yml
  orc8r/tools/ansible/roles/gateway_services/tasks/main.yml
  orc8r/tools/packer/debian-stretch-aws.json
  orc8r/tools/packer/debian-stretch-virtualbox.json
  orc8r/tools/packer/feg-ubuntu-virtualbox.json
  orc8r/tools/packer/focal-vm.json
  orc8r/tools/packer/magma-dev-aws.json
  orc8r/tools/packer/magma-dev-libvirt.json
  orc8r/tools/packer/magma-dev-virtualbox.json
  orc8r/tools/packer/magma-focal-virtualbox-patch-upgrade-ovs-1.1.20210618.json
  orc8r/tools/packer/magma-focal-virtualbox.json
  orc8r/tools/packer/magma-libvirt.seed
  orc8r/tools/packer/magma-test-aws.json
  orc8r/tools/packer/magma-test-libvirt.json
  orc8r/tools/packer/magma-test-virtualbox.json
  orc8r/tools/packer/magma-trfserver-aws.json
  orc8r/tools/packer/magma-trfserver-libvirt.json
  orc8r/tools/packer/magma.seed
  orc8r/tools/packer/scripts/ansible_debian.sh
  orc8r/tools/packer/scripts/provision-stretch.sh
  orc8r/tools/packer/scripts/setup.sh
  orc8r/tools/packer/scripts/upgrade-ovs-patch-1.1.20210618.sh
  orc8r/tools/packer/ubuntu-xenial-aws.json
Owners: @m-govind, @panyogesh, @magma/approvers-ci

fix(lte): Fixed `detect_init_system` (#14034)
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

fix(agw): fix agw ipv6 paging integ tests
  lte/gateway/python/integ_tests/s1aptests/s1ap_utils.py
Owners: @m-govind, @panyogesh

chore(agw): reduce python container build context
  lte/gateway/docker/services/python/Dockerfile
Owners: @m-govind, @panyogesh

CODEOWNERS:

# releasing team
*   @m-govind @panyogesh

# approvers-ci
/ci-scripts/ @magma/approvers-ci
/.github/workflows/ @magma/approvers-ci
/third_party/build/ @magma/approvers-ci
/orc8r/tools/packer/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal/ @magma/approvers-ci
/orc8r/cloud/deploy/bare-metal-ansible/ @magma/approvers-ci
/lte/gateway/release @magma/approvers-ci
/lte/gateway/Vagrantfile @magma/approvers-ci
/cwf/gateway/Vagrantfile @magma/approvers-ci

/docs/readmes/proposals @magma/approvers-tsc

/CODEOWNERS @magma/approvers-tsc

# Generated code excluded from code ownership
**/go.mod @ghost
**/go.sum @ghost
**/*.pb.go @ghost
**/*_swaggergen.go @ghost
/orc8r/cloud/go/services/obsidian/swagger/v1/swagger.yml @ghost
/orc8r/cloud/api/ @ghost
/nms/generated/ @ghost
